Repository MicrosoftDocs/cpp-docs, pull requests merged in 2020-10, with the labels that each got.

#2508 There are no short integer literals
  docs/cpp/numeric-boolean-and-pointer-literals-cpp.md
Labels: Change sent to author, aq-pr-triaged, cpp-language/tech, do-not-merge, visual-cpp/prod

#2509 fix link
  docs/build/reference/ltcg-link-time-code-generation.md
Labels: Change sent to author, cpp-tools/tech, do-not-merge, visual-cpp/prod

#2510 Repo sync for protected CLA branch
  docs/build/reference/vcxproj-file-structure.md
  docs/build/reference/vcxproj-files-and-wildcards.md
  docs/build/toc.yml
Labels: CLA, Change sent to author, cpp-tools/tech, do-not-merge, visual-cpp/prod

#2515 Fix typo
  docs/code-quality/annotating-structs-and-classes.md
Labels: Change sent to author, cpp-tools/tech, do-not-merge, visual-cpp/prod

#2517 Repo sync for protected CLA branch
  docs/c-runtime-library/global-state.md
Labels: CLA, Change sent to author, cpp-ucrt/tech, do-not-merge, visual-cpp/prod

#2513 The Traits parameter is not a variable
  docs/standard-library/basic-ios-class.md
Labels: Change sent to author, aq-pr-triaged, cpp-standard-libraries/tech, ready-to-merge, visual-cpp/prod

#2518 Repo sync for protected CLA branch
  docs/build/reference/rtc-run-time-error-checks.md
  docs/build/reference/sdl-enable-additional-security-checks.md
  docs/c-language/c-enumeration-declarations.md
  docs/c-runtime-library/internationalization.md
  docs/c-runtime-library/parameter-validation.md
  docs/c-runtime-library/standard-types.md
  docs/c-runtime-library/unicode-the-wide-character-set.md
  docs/c-runtime-library/unix.md
  docs/cpp/address-of-operator-amp.md
  docs/cpp/if-else-statement-cpp.md
  docs/cpp/primary-expressions.md
  docs/windows/resource-editors.md
Labels: CLA, Change sent to author, cpp-ucrt/tech, visual-cpp/prod

#2520 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  docs/c-runtime-library/c-run-time-library-reference.md
  docs/c-runtime-library/function-family-overviews.md
  docs/c-runtime-library/memory-allocation.md
  docs/c-runtime-library/operator-delete-crt.md
  docs/c-runtime-library/operator-new-crt.md
  docs/c-runtime-library/run-time-routines-by-category.md
  docs/c-runtime-library/toc.yml
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4316.md
Labels: CLA, Change sent to author, cpp-ucrt/tech, visual-cpp/prod

#2522 Repo sync for protected CLA branch
  docs/linux/connectionmanager-reference.md
  docs/linux/linux-asan-configuration.md
Labels: CLA, Change sent to author, cpp-linux/tech, visual-cpp/prod

#2523 Update path-class.md
  docs/standard-library/path-class.md
Labels: Change sent to author, aq-pr-triaged, cpp-standard-libraries/tech, do-not-merge, visual-cpp/prod

#2528 Update c26817.md
  docs/code-quality/c26817.md
Labels: Change sent to author, aq-pr-triaged, cpp-tools/tech, do-not-merge, visual-cpp/prod

#2529 Repo sync for protected CLA branch
  docs/code-quality/c33020.md
  docs/code-quality/c33022.md
Labels: CLA, Change sent to author, cpp-tools/tech, visual-cpp/prod

#2531 Repo sync for protected CLA branch
  docs/c-runtime-library/potential-errors-passing-crt-objects-across-dll-boundaries.md
  docs/c-runtime-library/reference/malloca.md
  docs/c-runtime-library/reference/set-se-translator.md
  docs/c-runtime-library/reference/setmode.md
  docs/c-runtime-library/reference/sprintf-p-sprintf-p-l-swprintf-p-swprintf-p-l.md
  docs/c-runtime-library/reference/sprintf-s-sprintf-s-l-swprintf-s-swprintf-s-l.md
  docs/c-runtime-library/reference/sprintf-sprintf-l-swprintf-swprintf-l-swprintf-l.md
  docs/c-runtime-library/reference/strncpy-s-strncpy-s-l-wcsncpy-s-wcsncpy-s-l-mbsncpy-s-mbsncpy-s-l.md
  docs/c-runtime-library/reference/vsnprintf-vsnprintf-vsnprintf-l-vsnwprintf-vsnwprintf-l.md
  docs/cpp/member-function-templates.md
  docs/cpp/move-constructors-and-move-assignment-operators-cpp.md
  docs/cpp/name-resolution-for-locally-declared-names.md
  docs/cpp/new-operator-cpp.md
  docs/cpp/overload-resolution-of-function-template-calls.md
  docs/cpp/selectany.md
  docs/cpp/static-assert.md
  docs/cpp/template-specialization-cpp.md
  docs/cpp/using-declaration.md
  docs/data/oledb/using-dynamic-accessors.md
  docs/dotnet/how-to-do-ddx-ddv-data-binding-with-windows-forms.md
  docs/dotnet/how-to-marshal-structures-using-pinvoke.md
  docs/dotnet/user-defined-operators-cpp-cli.md
  docs/dotnet/utility-stl-clr.md
  docs/error-messages/tool-errors/missing-function-body-or-variable.md
  docs/extensions/attribute-parameter-types-cpp-component-extensions.md
  docs/extensions/nullptr-cpp-component-extensions.md
  docs/parallel/concrt/how-to-use-a-message-block-filter.md
  docs/parallel/concrt/how-to-use-exception-handling-to-break-from-a-parallel-loop.md
  docs/parallel/concrt/how-to-use-parallel-containers-to-increase-efficiency.md
  docs/parallel/concrt/how-to-use-parallel-invoke-to-execute-parallel-operations.md
  docs/parallel/concrt/how-to-write-a-parallel-for-loop.md
  docs/parallel/multithreading-and-locales.md
  docs/standard-library/tuple-element-class-tuple.md
Labels: CLA, Change sent to author, cpp-ucrt/tech, do-not-merge, visual-cpp/prod

#2537 Repo sync for protected CLA branch
  docs/build/how-to-integrate-custom-tools-into-the-project-properties.md
  docs/build/project-property-inheritance.md
  docs/build/reference/msbuild-visual-cpp-overview.md
  docs/build/reference/property-page-xml-files.md
  docs/build/walkthrough-using-msbuild-to-create-a-visual-cpp-project.md
  docs/c-language/c-keywords.md
  docs/c-language/static-assert-c.md
  docs/c-language/toc.yml
  docs/code-quality/c6262.md
Labels: CLA, Change sent to author, cpp-tools/tech, visual-cpp/prod

#2541 Update coblist-class.md
  docs/mfc/reference/coblist-class.md
Labels: Change sent to author, cpp-mfc/tech, do-not-merge, visual-cpp/prod

#2542 Repo sync for protected CLA branch
  docs/build/projects-and-build-systems-cpp.md
  docs/c-language/c-keywords.md
  docs/c-language/noreturn.md
  docs/c-language/toc.yml
  docs/error-messages/compiler-warnings/c4388.md
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4018.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4389.md
  docs/error-messages/compiler-warnings/compiler-warnings-by-compiler-version.md
  docs/error-messages/compiler-warnings/compiler-warnings-c4200-through-c4399.md
  docs/error-messages/compiler-warnings/compiler-warnings-c4800-through-c4999.md
  docs/error-messages/toc.yml
  docs/linux/configure-a-linux-project.md
  docs/linux/create-a-new-linux-project.md
  docs/linux/download-install-and-setup-the-linux-development-workload.md
  docs/linux/media/newproject-vs2019.png
  docs/linux/media/wsl-remote-vs2019.png
  docs/linux/prop-pages/c-cpp-linux.md
  docs/linux/prop-pages/general-linux.md
Labels: CLA, Change sent to author, cpp-diagnostics/tech, visual-cpp/prod

#2545 Repo sync for protected CLA branch
  docs/c-language/noreturn.md
  docs/parallel/concrt/codesnippet/CPP/how-to-create-a-task-that-completes-after-a-delay_2.cpp
  docs/parallel/concrt/codesnippet/CPP/how-to-create-a-task-that-completes-after-a-delay_3.cpp
  docs/parallel/concrt/how-to-create-a-task-that-completes-after-a-delay.md
Labels: CLA, Change sent to author, cpp-c-language/tech, visual-cpp/prod

#2551 Repo sync for protected CLA branch
  docs/build/pgosweep.md
  docs/code-quality/c26400.md
  docs/code-quality/c28230.md
  docs/code-quality/c6308.md
  docs/cppcx/wrl/how-to-create-a-classic-com-component-using-wrl.md
  docs/extensions/literal-cpp-component-extensions.md
  docs/windows/universal-crt-deployment.md
Labels: CLA, Change sent to author, cpp-tools/tech, visual-cpp/prod

#2555 Repo sync for protected CLA branch
  docs/build/reference/clr-common-language-runtime-compilation.md
  docs/c-runtime-library/reference/cwait.md
  docs/c-runtime-library/reference/qsort.md
Labels: CLA, Change sent to author, cpp-ucrt/tech, visual-cpp/prod

#2560 Repo sync for protected CLA branch
  docs/build/reference/clr-common-language-runtime-compilation.md
  docs/build/reference/custom-build-step-property-page-general.md
  docs/c-runtime-library/format-specification-syntax-printf-and-wprintf-functions.md
  docs/c-runtime-library/reference/gmtime-gmtime32-gmtime64.md
  docs/standard-library/basic-string-class.md
  docs/standard-library/ios-base-class.md
Labels: CLA, Change sent to author, cpp-tools/tech, visual-cpp/prod
