Repository MicrosoftDocs/cpp-docs, pull requests merged in 2020-09, with the labels that each got.

#2429 Repo sync for protected CLA branch
  docs/build/reference/cetcompat.md
  docs/build/reference/linker-options.md
  docs/code-quality/c26401.md
  docs/code-quality/c26408.md
  docs/code-quality/c26436.md
  docs/code-quality/c26439.md
  docs/code-quality/c26440.md
  docs/code-quality/c26465.md
  docs/code-quality/c26466.md
  docs/code-quality/c26471.md
  docs/code-quality/c26482.md
  docs/code-quality/c26490.md
  docs/code-quality/c26492.md
  docs/code-quality/c26493.md
  docs/code-quality/c26494.md
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4686.md
  docs/standard-library/bit-enum.md
  docs/standard-library/bit-functions.md
  docs/standard-library/bit.md
  docs/standard-library/cpp-standard-library-header-files.md
  docs/standard-library/toc.yml
Labels: CLA, Change sent to author, cpp-tools/tech, do-not-merge, visual-cpp/prod

#2431 Repo sync for protected CLA branch
  docs/code-quality/c26460.md
  docs/code-quality/c26461.md
Labels: CLA, Change sent to author, cpp-tools/tech, do-not-merge, visual-cpp/prod

#2433 Repo sync for protected CLA branch
  docs/code-quality/c26462.md
  docs/code-quality/c26463.md
  docs/code-quality/c26464.md
  docs/code-quality/c26483.md
  docs/code-quality/c26495.md
  docs/code-quality/c26496.md
  docs/code-quality/c26497.md
  docs/parallel/amp/cpp-amp-cpp-accelerated-massive-parallelism.md
  docs/parallel/amp/cpp-amp-overview.md
Labels: CLA, Change sent to author, cpp-tools/tech, do-not-merge, visual-cpp/prod

#2442 Update install-visual-cpp-for-cross-platform-mobile-development
  docs/cross-platform/install-visual-cpp-for-cross-platform-mobile-development.md
Labels: Change sent to author, cpp-tools/tech, do-not-merge, visual-cpp/prod

#2439 Fix footnote in C++/CLI keywords
  docs/cpp/keywords-cpp.md
Labels: Change sent to author, cpp-language/tech, do-not-merge, visual-cpp/prod

#2428 Fix typo in callback-function-wrl.md
  docs/cppcx/wrl/callback-function-wrl.md
Labels: Change sent to author, aq-pr-triaged, cpp-cx/tech, do-not-merge, visual-cpp/prod

#2445 Fixing a minor typo in `strtod` documentation.
  docs/c-runtime-library/reference/strtod-strtod-l-wcstod-wcstod-l.md
Labels: Change sent to author, cpp-ucrt/tech, do-not-merge, visual-cpp/prod

#2447 Repo sync for protected CLA branch
  docs/atl/setting-up-a-static-link-to-the-registrar-code-cpp-only.md
  docs/build/importing-data-using-declspec-dllimport.md
  docs/build/reference/c-cpp-prop-page.md
  docs/build/reference/u-u-undefine-symbols.md
  docs/c-runtime-library/crt-library-features.md
  docs/c-runtime-library/reference/assert-macro-assert-wassert.md
  docs/cppcx/partial-classes-c-cx.md
  docs/porting/how-to-use-existing-cpp-code-in-a-universal-windows-platform-app.md
Labels: CLA, Change sent to author, cpp-tools/tech, visual-cpp/prod

#2455 Pair constructors are undefined sometimes
  docs/standard-library/pair-structure.md
Labels: Change sent to author, aq-pr-triaged, cpp-standard-libraries/tech, do-not-merge, visual-cpp/prod

#2459 Add a missing space in a syntax example
  docs/extensions/classes-and-structs-cpp-component-extensions.md
Labels: Change sent to author, cpp-cli/tech, do-not-merge, visual-cpp/prod

#2453 Clean up semicolon usage
  docs/cpp/constexpr-cpp.md
Labels: Change sent to author, aq-pr-triaged, cpp-language/tech, do-not-merge, visual-cpp/prod

#2461 Repo sync for protected CLA branch
  docs/build/reference/experimental-module.md
  docs/build/reference/headerunit.md
  docs/build/reference/module-exportheader.md
  docs/build/reference/module-reference.md
  docs/build/reference/std-specify-language-standard-version.md
  docs/build/reference/translateinclude.md
  docs/build/toc.yml
  docs/build/walkthrough-compile-a-c-program-on-the-command-line.md
  docs/c-language/c-keywords.md
  docs/c-runtime-library/compatibility.md
  docs/c-runtime-library/reference/realloc.md
  docs/c-runtime-library/reference/vsnprintf-vsnprintf-vsnprintf-l-vsnwprintf-vsnwprintf-l.md
  docs/overview/install-c17-support.md
  docs/overview/media/c11-7-windows-sdk-installer-select-features.png
  docs/overview/media/c11-9-project-property-page-c-language-standard.png
  docs/overview/toc.yml
  docs/overview/visual-cpp-language-conformance.md
  docs/preprocessor/c-cpp-preprocessor-reference.md
  docs/preprocessor/predefined-macros.md
Labels: CLA, Change sent to author, cpp-language/tech, visual-cpp/prod

#2468 Repo sync for protected CLA branch
  docs/c-runtime-library/complex-math-support.md
  docs/c-runtime-library/floating-point-support.md
  docs/c-runtime-library/recommendations-for-choosing-between-functions-and-macros.md
  docs/code-quality/c33001.md
  docs/code-quality/c33004.md
  docs/code-quality/c33005.md
  docs/code-quality/c33011.md
  docs/code-quality/c33022.md
Labels: CLA, Change sent to author, cpp-tools/tech, do-not-merge, visual-cpp/prod

#2462 Added syntax highlighting to C code examples
  docs/c-language/break-statement-c.md
  docs/c-language/compound-statement-c.md
  docs/c-language/continue-statement-c.md
  docs/c-language/if-statement-c.md
Labels: Change sent to author, aq-pr-triaged, cpp-c-language/tech, do-not-merge, visual-cpp/prod

#2425 missed P2082R1 (Fixing CTAD for aggregates)
  docs/overview/visual-cpp-language-conformance.md
Labels: Change sent to author, aq-pr-triaged, cpp-language/tech, do-not-merge, visual-cpp/prod

#2477 Repo sync for protected CLA branch
  .gitignore
  docs/cpp/bitwise-exclusive-or-operator-hat.md
Labels: CLA, Change sent to author, cpp-language/tech, do-not-merge, visual-cpp/prod

#2489 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  docs/atl/atl-control-containment-faq.md
  docs/atl/reference/atl-active-server-page-component-wizard.md
  docs/atl/reference/atl-com-plus-1-0-component-wizard.md
  docs/atl/reference/atl-control-wizard.md
  docs/atl/reference/atl-ole-db-consumer-wizard.md
  docs/atl/reference/atl-property-page-wizard.md
  docs/atl/reference/atl-simple-object-wizard.md
  docs/atl/reference/caxwindow-class.md
  docs/atl/reference/caxwindow2t-class.md
  docs/atl/reference/composite-control-global-functions.md
  docs/atl/reference/iatlmemmgr-class.md
  docs/atl/reference/iaxwinambientdispatch-interface.md
  docs/atl/reference/iaxwinambientdispatchex-interface.md
  docs/atl/reference/iaxwinhostwindowlic-interface.md
  docs/c-runtime-library/standard-types.md
  docs/cpp/arrays-cpp.md
  docs/cpp/auto-cpp.md
  docs/cpp/lambda-expression-syntax.md
  docs/cpp/program-termination.md
  docs/cpp/welcome-back-to-cpp-modern-cpp.md
  docs/porting/visual-cpp-what-s-new-2003-through-2015.md
  docs/standard-library/cpp-standard-library-header-files.md
  docs/standard-library/map-class.md
  docs/standard-library/multimap-class.md
  docs/standard-library/multiset-class.md
  docs/standard-library/unordered-map-class.md
  docs/standard-library/unordered-multimap-class.md
  docs/standard-library/unordered-multiset-class.md
  docs/windows/accelerator-editor.md
  docs/windows/adding-editing-or-deleting-controls.md
  docs/windows/resource-editors.md
  docs/windows/toolbar-editor.md
Labels: CLA, Change sent to author, cpp-atl/tech, visual-cpp/prod

#2484 Update aligned-msize.md
  docs/c-runtime-library/reference/aligned-msize.md
Labels: Change sent to author, aq-pr-triaged, cpp-ucrt/tech, do-not-merge, visual-cpp/prod

#2498 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  docs/build/media/vs2019-cmake-manage-configurations.png
  docs/c-runtime-library/reference/round-roundf-roundl.md
  docs/c-runtime-library/reference/strerror-s-strerror-s-wcserror-s-wcserror-s.md
  docs/cpp/how-to-create-and-use-ccomptr-and-ccomqiptr-instances.md
  docs/dotnet/debug-class-cpp-cli.md
  docs/dotnet/double-thunking-cpp.md
  docs/dotnet/for-each-in.md
  docs/dotnet/how-to-declare-override-specifiers-in-native-compilations-cpp-cli.md
  docs/dotnet/how-to-define-and-consume-classes-and-structs-cpp-cli.md
  docs/dotnet/how-to-extend-the-marshaling-library.md
  docs/dotnet/how-to-marshal-ansi-strings-using-cpp-interop.md
  docs/dotnet/how-to-marshal-arrays-using-cpp-interop.md
  docs/dotnet/how-to-marshal-callbacks-and-delegates-by-using-cpp-interop.md
  docs/dotnet/how-to-marshal-com-strings-using-cpp-interop.md
  docs/dotnet/how-to-marshal-structures-using-cpp-interop.md
  docs/dotnet/how-to-marshal-unicode-strings-using-cpp-interop.md
  docs/dotnet/initialization-of-mixed-assemblies.md
  docs/error-messages/compiler-errors-1/compiler-error-c2026.md
  docs/error-messages/compiler-errors-2/compiler-error-c3287.md
  docs/error-messages/compiler-errors-2/compiler-error-c3390.md
  docs/error-messages/compiler-errors-2/compiler-error-c3820.md
  docs/extensions/consuming-generics-cpp-cli.md
  docs/extensions/generic-classes-cpp-cli.md
  docs/extensions/generics-cpp-component-extensions.md
  docs/extensions/how-to-declare-value-types-with-the-interior-ptr-keyword-cpp-cli.md
  docs/extensions/how-to-improve-performance-with-generics-visual-cpp.md
  docs/linux/cmake-linux-configure.md
  docs/linux/linux-asan-configuration.md
  docs/linux/media/cmake-linux-configurations.png
  docs/linux/media/cmake-settings-asan-options.png
  docs/mfc/codesnippet/CPP/derived-message-maps_1.cpp
  docs/mfc/derived-message-maps.md
  docs/mfc/documents-views-and-the-framework.md
  docs/parallel/concrt/how-to-create-a-task-that-completes-after-a-delay.md
  docs/parallel/concrt/how-to-implement-various-producer-consumer-patterns.md
  docs/parallel/concrt/how-to-provide-work-functions-to-the-call-and-transformer-classes.md
  docs/parallel/concrt/how-to-use-alloc-and-free-to-improve-memory-performance.md
  docs/text/how-to-convert-between-various-string-types.md
  docs/windows/toolbar-editor.md
Labels: CLA, Change sent to author, cpp-cli/tech, visual-cpp/prod

#2349 Clarify return values of vsnprintf-s-vsnprintf-s-vsnprintf-s-l-vsnwprintf-s-vsnwprintf-s-l
  docs/c-runtime-library/reference/vsnprintf-s-vsnprintf-s-vsnprintf-s-l-vsnwprintf-s-vsnwprintf-s-l.md
Labels: Change sent to author, aq-pr-triaged, cpp-ucrt/tech, ready-to-merge, visual-cpp/prod

#2497 Fix CRect::CRect description
  docs/atl-mfc-shared/reference/crect-class.md
Labels: Change sent to author, aq-pr-triaged, cpp-mfc/tech, do-not-merge, visual-cpp/prod

#2499 fixes #2469 typo correction
  docs/extensions/enum-class-cpp-component-extensions.md
Labels: Change sent to author, cpp-cli/tech, do-not-merge, visual-cpp/prod

#2500 fixes #2451 typo correction
  docs/build/working-with-project-properties.md
Labels: Change sent to author, cpp-tools/tech, do-not-merge, visual-cpp/prod

#2505 Repo sync for protected CLA branch
  docs/c-runtime-library/ansi-c-compliance.md
  docs/c-runtime-library/backward-compatibility.md
  docs/c-runtime-library/byte-and-wide-streams.md
  docs/c-runtime-library/c-run-time-library-reference.md
  docs/c-runtime-library/code-pages.md
  docs/c-runtime-library/compatibility.md
  docs/c-runtime-library/controlling-streams.md
  docs/c-runtime-library/crt-initialization.md
  docs/c-runtime-library/crt-library-features.md
  docs/c-runtime-library/direction-flag.md
  docs/c-runtime-library/files-and-streams.md
  docs/c-runtime-library/global-state.md
  docs/c-runtime-library/internationalization.md
  docs/c-runtime-library/locale-names-languages-and-country-region-strings.md
  docs/c-runtime-library/multithreaded-libraries-performance.md
  docs/c-runtime-library/parameter-validation.md
  docs/c-runtime-library/potential-errors-passing-crt-objects-across-dll-boundaries.md
  docs/c-runtime-library/recommendations-for-choosing-between-functions-and-macros.md
  docs/c-runtime-library/required-and-optional-header-files.md
  docs/c-runtime-library/sal-annotations.md
  docs/c-runtime-library/sbcs-and-mbcs-data-types.md
  docs/c-runtime-library/secure-template-overloads.md
  docs/c-runtime-library/security-features-in-the-crt.md
  docs/c-runtime-library/single-byte-and-multibyte-character-sets.md
  docs/c-runtime-library/text-and-binary-streams.md
  docs/c-runtime-library/tgmath.md
  docs/c-runtime-library/unicode-stream-i-o-in-text-and-binary-modes.md
  docs/c-runtime-library/unicode-the-wide-character-set.md
  docs/c-runtime-library/unix.md
  docs/c-runtime-library/using-generic-text-mappings.md
  docs/c-runtime-library/using-tchar-h-data-types-with-mbcs.md
  docs/docfx.json
Labels: CLA, Change sent to author, cpp-ucrt/tech, visual-cpp/prod
