Repository MicrosoftDocs/cpp-docs, pull requests merged in 2020-11, with the labels that each got.

#2563 Repo sync for protected CLA branch
  docs/c-runtime-library/reference/configthreadlocale.md
Labels: CLA, Change sent to author, cpp-ucrt/tech, do-not-merge, visual-cpp/prod

#2569 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  docs/build/reference/std-specify-language-standard-version.md
  docs/c-language/c-assignment-operators.md
  docs/c-language/c-keywords.md
  docs/c-language/lexical-grammar.md
  docs/c-language/operators-c.md
  docs/c-language/punctuators.md
  docs/c-language/summary-of-constants.md
  docs/c-language/summary-of-declarations.md
  docs/c-language/summary-of-expressions.md
  docs/c-language/summary-of-identifiers.md
  docs/c-language/summary-of-keywords.md
  docs/c-language/summary-of-string-literals.md
  docs/c-language/summary-of-tokens.md
  docs/c-language/toc.yml
  docs/preprocessor/pragma-directives-and-the-pragma-keyword.md
Labels: CLA, Change sent to author, cpp-c-language/tech, visual-cpp/prod

#2570 Repo sync for protected CLA branch
  docs/mfc/walkthrough-updating-the-mfc-scribble-application-part-1.md
Labels: CLA, Change sent to author, cpp-mfc/tech, visual-cpp/prod

#2572 fix formatting error in build configuration
  docs/build/cmake-predefined-configuration-reference.md
Labels: Change sent to author, cpp-tools/tech, do-not-merge, visual-cpp/prod

#2574 Repo sync for protected CLA branch
  docs/build/get-started-linux-cmake.md
  docs/build/reference/hlsl-property-pages.md
  docs/extensions/partial-cpp-component-extensions.md
  docs/mfc/reference/cbitmap-class.md
  docs/mfc/reference/chtmleditctrlbase-class.md
  docs/parallel/amp/cpp-amp-overview.md
  docs/parallel/amp/graphics-cpp-amp.md
  docs/windows/determining-which-dlls-to-redistribute.md
Labels: CLA, Change sent to author, cpp-tools/tech, visual-cpp/prod

#2579 Fix copy / paste typo in example 3
  docs/standard-library/basic-string-class.md
Labels: Change sent to author, cpp-standard-libraries/tech, do-not-merge, visual-cpp/prod

#2580 Repo sync for protected CLA branch
  docs/build/vscpp-step-0-installation.md
  docs/code-quality/c26407.md
  docs/code-quality/using-the-cpp-core-guidelines-checkers.md
  docs/docfx.json
  docs/error-messages/includes/error-boilerplate.md
  docs/error-messages/tool-errors/linker-tools-error-lnk1104.md
  docs/index.yml
  docs/linux/deploy-run-and-debug-your-linux-project.md
  docs/linux/prop-pages/debugging-linux.md
  docs/overview/how-to-report-a-problem-with-the-visual-cpp-toolset.md
  docs/overview/visual-cpp-help-and-community.md
  docs/overview/visual-cpp-in-visual-studio.md
  docs/overview/what-s-new-for-visual-cpp-in-visual-studio.md
  docs/porting/upgrading-projects-from-earlier-versions-of-visual-cpp.md
  docs/porting/visual-cpp-change-history-2003-2015.md
Labels: CLA, review-team-triage

#2582 Update value-classes-and-structs-c-cx.md
  docs/cppcx/value-classes-and-structs-c-cx.md
Labels: Change sent to author, cpp-cx/tech, do-not-merge, visual-cpp/prod

#2587 Explicitly convert streampos to streamoff
  docs/standard-library/ios-typedefs.md
Labels: Change sent to author, aq-pr-triaged, cpp-standard-libraries/tech, do-not-merge, visual-cpp/prod

#2586 Repo sync for protected CLA branch
  docs/c-language/type-qualifiers.md
  docs/cpp/arrays-cpp.md
  docs/cpp/extension-restrict.md
  docs/preprocessor/pragma-directives-and-the-pragma-keyword.md
  docs/standard-library/ios-typedefs.md
Labels: CLA, Change sent to author, cpp-language/tech, visual-cpp/prod

#2585 Document exceptions to the rules for parsing C arguments
  docs/c-language/parsing-c-command-line-arguments.md
Labels: Change sent to author, aq-pr-triaged, cpp-c-language/tech, do-not-merge, visual-cpp/prod

#2590 Repo sync for protected CLA branch
  docs/code-quality/c26443.md
  docs/standard-library/codecvt-class.md
Labels: CLA

#2591 Repo sync for protected CLA branch
  docs/build/reference/guard-enable-eh-continuation-metadata.md
  docs/build/reference/permissive-standards-conformance.md
  docs/build/reference/zc-noexcepttypes.md
  docs/cpp/thiscall.md
  docs/overview/cpp-conformance-improvements.md
  docs/preprocessor/predefined-macros.md
Labels: CLA, Change sent to author, cpp-language/tech, visual-cpp/prod

#2592 Fix typo in the Compiler version number
  docs/error-messages/compiler-warnings/compiler-warnings-by-compiler-version.md
Labels: Change sent to author, cpp-diagnostics/tech, do-not-merge, visual-cpp/prod

#2593 Repo sync for protected CLA branch
  docs/overview/visual-cpp-language-conformance.md
Labels: CLA, Change sent to author, cpp-language/tech, visual-cpp/prod

#2604 Repo sync for protected CLA branch
  docs/atl-mfc-shared/reference/cstringt-class.md
Labels: CLA, Change sent to author, cpp-mfc/tech, visual-cpp/prod

#2605 Repo sync for protected CLA branch
  docs/build/walkthrough-creating-and-using-a-dynamic-link-library-cpp.md
Labels: CLA, Change sent to author, cpp-tools/tech, visual-cpp/prod

#2608 Repo sync for protected CLA branch
  docs/c-runtime-library/memory-allocation.md
Labels: CLA, Change sent to author, cpp-ucrt/tech, visual-cpp/prod

#2613 Update afx-extension-module-structure_1.cpp - inaccurate initialisation of AFX_EXTENSION_MODULE structure
  docs/atl-mfc-shared/codesnippet/CPP/afx-extension-module-structure_1.cpp
Labels: do-not-merge, review-team-triage

#2612 Update run-time-library-behavior.md - inaccurate initialisation of AFX_EXTENSION_MODULE structure
  docs/build/run-time-library-behavior.md
Labels: Change sent to author, cpp-tools/tech, do-not-merge, visual-cpp/prod

#2621 Repo sync for protected CLA branch
  docs/c-language/customizing-c-command-line-processing.md
  docs/c-language/expanding-wildcard-arguments.md
  docs/c-runtime-library/reference/fopen-s-wfopen-s.md
  docs/cpp/event-handling-in-com.md
  docs/cpp/event-handling-in-native-cpp.md
  docs/cpp/event-handling.md
  docs/cpp/event.md
  docs/cpp/hook.md
  docs/cpp/main-function-command-line-args.md
  docs/cpp/raise.md
  docs/cpp/unhook.md
  docs/extensions/event-cpp-component-extensions.md
  docs/windows/attributes/event-receiver.md
  docs/windows/attributes/event-source.md
Labels: CLA, Change sent to author, cpp-language/tech, visual-cpp/prod

#2625 Fix typo
  docs/cpp/argument-passing-and-naming-conventions.md
Labels: Change sent to author, cpp-language/tech, do-not-merge, visual-cpp/prod

#2624 Update extension-dll-macros.md
  docs/mfc/reference/extension-dll-macros.md
Labels: Change sent to author, aq-pr-triaged, cpp-mfc/tech, do-not-merge, visual-cpp/prod
