Repository MicrosoftDocs/cpp-docs, pull requests merged in 2020-03, with the labels that each got.

#1954 Update the Documentation - Typo
  docs/mfc/reference/crecordview-class.md
Labels: Change sent to author, aq-pr-triaged, cpp-mfc/tech, do-not-merge, visual-cpp/prod

#1949 Fixes #1948
  docs/standard-library/basic-filebuf-class.md
Labels: Change sent to author, aq-pr-triaged, cpp-standard-libraries/tech, do-not-merge, visual-cpp/prod

#1971 Fix git push error for protected CLA branch
  docs/preprocessor/preprocessor-experimental-overview.md
Labels: do-not-merge

#1982 Fix typo
  docs/mfc/codesnippet/CPP/cwindowdc-class_1.cpp
Labels: do-not-merge, review-team-triage

#1984 fix: MD033/no-inline-html
  docs/build/cppproperties-schema-reference.md
  docs/data/odbc/data-source-programmatically-configuring-an-odbc-data-source.md
  docs/error-messages/compiler-errors-2/compiler-errors-c3500-through-c3999.md
  docs/error-messages/compiler-warnings/compiler-warnings-by-compiler-version.md
  docs/ide/writing-and-refactoring-code-cpp.md
  docs/index.md
  docs/linux/index.md
  docs/mfc/reference/cmapwordtoob-class.md
  docs/overview/cpp-conformance-improvements.md
  docs/overview/visual-cpp-language-conformance.md
  docs/porting/visual-cpp-what-s-new-2003-through-2015.md
  docs/standard-library/hash-map-class.md
  docs/windows/deploying-visual-cpp-application-by-using-the-vcpp-redistributable-package.md
Labels: Change sent to author, cpp-language/tech, do-not-merge, visual-cpp/prod

#1985 fix: MD003/heading-style/header-style
  docs/cppcx/platform-collections-backinsertiterator-class.md
  docs/dotnet/how-to-wrap-native-class-for-use-by-csharp.md
  docs/parallel/concrt/creating-asynchronous-operations-in-cpp-for-windows-store-apps.md
Labels: Change sent to author, cpp-cx/tech, do-not-merge, visual-cpp/prod

#1990 Fix typo
  docs/mfc/codesnippet/CPP/cpaintdc-class_2.cpp
Labels: do-not-merge, review-team-triage

#1993 fix: MD031/blanks-around-fences
  docs/atl/changing-the-drawing-code-atl-tutorial-part-4.md
  docs/atl/creating-the-project-atl-tutorial-part-1.md
  docs/atl/reference/worker-archetype.md
  docs/build/cmake-predefined-configuration-reference.md
  docs/build/projects-and-build-systems-cpp.md
  docs/cpp/exception-specifications-throw-cpp.md
  docs/cppcx/wrl/hstring-class.md
  docs/cppcx/wrl/hstringreference-class.md
  docs/data/oledb/simplifying-data-access-with-database-attributes.md
  docs/linux/cmake-linux-project.md
  docs/linux/deploy-run-and-debug-your-linux-project.md
  docs/mfc/reference/afx-global-data-structure.md
  docs/mfc/reference/clistctrl-class.md
  docs/mfc/reference/cmfcribboncheckbox-class.md
  docs/mfc/reference/cmfcribbonseparator-class.md
  docs/mfc/reference/cmfctooltipctrl-class.md
  docs/mfc/reference/cstatic-class.md
  docs/mfc/reference/diagnostic-services.md
  docs/mfc/reference/icommandsource-interface.md
  docs/mfc/reference/icommandui-interface.md
  docs/mfc/reference/iview-interface.md
  docs/standard-library/basic-string-view-class.md
  docs/standard-library/execution.md
  docs/standard-library/piecewise-constant-distribution-class.md
  docs/standard-library/string-view-hash.md
  docs/standard-library/string-view-operators.md
Labels: Change sent to author, aq-pr-triaged, cpp-mfc/tech, do-not-merge, visual-cpp/prod

#1987 fix: MD023/heading-start-left/header-start-left
  docs/ide/navigate-code-cpp.md
  docs/mfc/reference/diagnostic-services.md
  docs/mfc/reference/dialog-data-exchange-functions-for-crecordview-and-cdaorecordview.md
Labels: Change sent to author, aq-pr-triaged, cpp-mfc/tech, do-not-merge, visual-cpp/prod

#1994 fix: MD046/code-block-style
  CONTRIBUTING.md
  docs/mfc/containers-advanced-features.md
  docs/mfc/data-objects-and-data-sources-manipulation.md
  docs/mfc/recommendations-for-handling-input-output.md
  docs/mfc/reference/csplitterwnd-class.md
  docs/mfc/reference/mfc-odbc-consumer-wizard.md
  docs/mfc/reference/run-time-object-model-services.md
  docs/mfc/windows-sockets-using-class-casyncsocket.md
Labels: aq-pr-triaged, do-not-merge, review-team-triage

#1992 typo: Double word "the"
  docs/cppcx/events-c-cx.md
Labels: Change sent to author, aq-pr-triaged, cpp-cx/tech, do-not-merge, visual-cpp/prod

#1997 fix: backtick in code sample
  docs/mfc/reference/cmapwordtoob-class.md
Labels: Change sent to author, cpp-mfc/tech, do-not-merge, visual-cpp/prod

#1988 fix: MD018/no-missing-space-atx
  docs/overview/cpp-conformance-improvements.md
Labels: Change sent to author, aq-pr-triaged, cpp-language/tech, do-not-merge, visual-cpp/prod

#2002 Fix git push error for protected CLA branch
  docs/build/reference/await-enable-coroutine-support.md
  docs/build/reference/std-specify-language-standard-version.md
  docs/code-quality/cpp-core-guidelines-warnings.md
  docs/code-quality/using-the-cpp-core-guidelines-checkers.md
  docs/cpp/cpp-language-reference.md
  docs/cpp/functions-cpp.md
  docs/cpp/range-based-for-statement-cpp.md
  docs/cross-platform/build-an-opengl-es-application-on-android-and-ios.md
  docs/dotnet/auto-gcroot-class.md
  docs/overview/cpp-conformance-improvements.md
  docs/porting/visual-cpp-change-history-2003-2015.md
  docs/standard-library/file-system-navigation.md
  docs/standard-library/filesystem.md
  docs/standard-library/integer-sequence-class.md
  docs/standard-library/student-t-distribution-class.md
  docs/standard-library/weibull-distribution-class.md
Labels: do-not-merge

#2004 fix: MD039/no-space-in-links
  docs/data/data-access-in-cpp.md
  docs/linux/configure-a-linux-project.md
  docs/mfc/reference/cwnd-class.md
  docs/standard-library/hash-map-operators.md
Labels: Change sent to author, cpp-data/tech, do-not-merge, visual-cpp/prod

#2014 Update cpp-conformance-improvements.md to reference P1423R3 instead of P1423R0.
  docs/overview/cpp-conformance-improvements.md
Labels: Change sent to author, aq-pr-triaged, cpp-language/tech, do-not-merge, visual-cpp/prod

#2005 fix: MD005/list-indent
  docs/build/reference/creating-a-makefile-project.md
  docs/windows/version-information-editor.md
Labels: Change sent to author, aq-pr-triaged, cpp-tools/tech, do-not-merge, visual-cpp/prod

#2008 Add dependency on ninja-build
  docs/linux/download-install-and-setup-the-linux-development-workload.md
Labels: Change sent to author, aq-pr-triaged, cpp-linux/tech, do-not-merge, visual-cpp/prod

#2026 Fix git push error for protected CLA branch
  docs/data/atl-database-classes-ole-db-templates.md
  docs/data/oledb/commands-and-tables.md
  docs/data/oledb/determining-which-type-of-accessor-to-use.md
  docs/data/oledb/idbschemarowsetimpl-class.md
  docs/data/oledb/obtaining-metadata-with-schema-rowsets.md
  docs/data/oledb/ole-db-programming.md
  docs/data/oledb/ole-db-templates-attributes-and-other-implementations.md
  docs/data/oledb/using-manual-accessors.md
  docs/data/oledb/working-with-ole-db-consumer-templates.md
  docs/mfc/containers-advanced-features.md
  docs/mfc/drawing-in-a-view.md
  docs/mfc/general-mfc-topics.md
  docs/mfc/mfc-concepts.md
  docs/mfc/mfc-desktop-applications.md
  docs/mfc/multiple-document-types-views-and-frame-windows.md
  docs/mfc/reference/creating-a-web-browser-style-mfc-application.md
  docs/mfc/reference/structures-styles-callbacks-and-message-maps.md
  docs/mfc/windows-sockets-socket-notifications.md
  docs/overview/visual-cpp-in-visual-studio.md
  docs/overview/visual-cpp-samples.md
  docs/standard-library/string-functions.md
  docs/text/text-and-strings-in-visual-cpp.md
  docs/windows/attributes/db-column.md
  docs/windows/attributes/db-source.md
  docs/windows/attributes/db-table.md
  docs/windows/how-to-copy-resources.md
Labels: do-not-merge

#2009 Add dependency on ninja-build
  docs/linux/connect-to-your-remote-linux-computer.md
Labels: Change sent to author, aq-pr-triaged, cpp-linux/tech, do-not-merge, visual-cpp/prod

#2010 Add dependency on ninja-build
  docs/linux/cmake-linux-project.md
Labels: Change sent to author, aq-pr-triaged, cpp-linux/tech, do-not-merge, visual-cpp/prod

#2011 Add dependency on ninja-build
  docs/build/get-started-linux-cmake.md
Labels: Change sent to author, aq-pr-triaged, cpp-tools/tech, do-not-merge, visual-cpp/prod

#2030 Fix git push error for protected CLA branch
  docs/build/configure-cmake-debugging-sessions.md
  docs/build/media/cmake-debug-menu.png
  docs/build/media/cmake-select-a-debugger.png
  docs/build/media/cmake-targets-add-debug.PNG
  docs/build/media/cmake-targets-add-debug.png
Labels: do-not-merge

#2023 fix: MD030/list-marker-space
  docs/cppcx/wrl/eventtargetarray-class.md
  docs/standard-library/basic-string-view-class.md
  docs/windows/deploying-visual-cpp-application-by-using-the-vcpp-redistributable-package.md
Labels: Change sent to author, aq-pr-triaged, cpp-cx/tech, do-not-merge, visual-cpp/prod

#2024 fix: MD022/blanks-around-headings/blanks-around-headers
  docs/atl/reference/security-global-functions.md
  docs/build/cmake-predefined-configuration-reference.md
  docs/code-quality/c26432.md
  docs/code-quality/c26436.md
  docs/code-quality/c26439.md
  docs/code-quality/c26440.md
  docs/cppcx/platform-string-class.md
  docs/cppcx/platform-type-class.md
  docs/dotnet/utility-stl-clr.md
  docs/dotnet/vector-stl-clr.md
  docs/mfc/reference/cmfcdesktopalertwnd-class.md
  docs/mfc/reference/cmfcdropdowntoolbar-class.md
  docs/mfc/reference/cmfcoutlookbartabctrl-class.md
  docs/mfc/reference/cmfcrebar-class.md
  docs/mfc/reference/cmfcshelltreectrl-class.md
  docs/mfc/reference/cmfctoolbarimages-class.md
  docs/mfc/reference/cwinappex-class.md
  docs/mfc/reference/diagnostic-services.md
  docs/mfc/reference/exception-processing.md
  docs/mfc/reference/icommandsource-interface.md
  docs/parallel/amp/reference/out-of-memory-class.md
  docs/parallel/amp/reference/runtime-exception-class.md
  docs/parallel/amp/reference/tiled-extent-class.md
  docs/porting/porting-guide-com-spy.md
  docs/standard-library/basic-string-view-class.md
  docs/windows/attributes/attributes-by-usage.md
  docs/windows/attributes/module-attributes.md
  docs/windows/attributes/ole-db-consumer-attributes.md
  docs/windows/overview-of-windows-programming-in-cpp.md
Labels: Change sent to author, aq-pr-triaged, cpp-mfc/tech, do-not-merge, visual-cpp/prod

#2022 fix: MD047/single-trailing-newline
  docs/assembler/inline/accessing-c-or-cpp-data-in-asm-blocks.md
Labels: Change sent to author, aq-pr-triaged, cpp-masm/tech, do-not-merge, visual-cpp/prod

#2021 fix: MD038/no-space-in-code
  docs/cpp/pointers-to-members.md
Labels: Change sent to author, aq-pr-triaged, cpp-language/tech, do-not-merge, visual-cpp/prod

#2032 fix: MD027/no-multiple-space-blockquote
  docs/atl/using-replaceable-parameters-the-registrar-s-preprocessor.md
  docs/cpp/namespaces-cpp.md
  docs/mfc/mfc-desktop-applications.md
Labels: Change sent to author, cpp-atl/tech, do-not-merge, visual-cpp/prod

#2037 Fix git push error for protected CLA branch
  docs/c-runtime-library/obsolete-functions.md
  docs/c-runtime-library/reference/findnext-functions.md
  docs/c-runtime-library/reference/logb-logbf-logbl-logb-logbf.md
  docs/c-runtime-library/reference/sinh-sinhf-sinhl.md
  docs/code-quality/c26432.md
  docs/mfc/dynamic-object-creation.md
  docs/standard-library/stl-containers.md
Labels: do-not-merge

#2033 fix: MD032/blanks-around-lists
  docs/build/cmakesettings-reference.md
  docs/build/get-started-linux-cmake.md
  docs/build/reference/hint-files.md
  docs/cpp/program-and-linkage-cpp.md
  docs/error-messages/tool-errors/linker-tools-error-lnk1561.md
  docs/mfc/reference/icommandui-interface.md
  docs/overview/visual-cpp-language-conformance.md
  docs/overview/visual-cpp-tools-and-features-in-visual-studio-editions.md
  docs/standard-library/regular-expressions-cpp.md
  styleguide/template.md
Labels: Change sent to author, aq-pr-triaged, cpp-language/tech, do-not-merge, visual-cpp/prod

#2038 fix: MD040/fenced-code-language
  docs/mfc/reference/cmfcribboncombobox-class.md
  docs/mfc/reference/cmfcribbonedit-class.md
  docs/mfc/reference/cmfcribbongallery-class.md
  docs/mfc/reference/dhtml-event-maps.md
  docs/mfc/reference/dialog-data-exchange-functions-for-crecordview-and-cdaorecordview.md
  docs/mfc/reference/dialog-data-exchange-functions-for-ole-controls.md
  docs/mfc/reference/icommandsource-interface.md
  docs/mfc/reference/message-map-macros-mfc.md
  docs/mfc/reference/persistence-of-ole-controls.md
  docs/mfc/reference/record-field-exchange-functions.md
  docs/mfc/reference/standard-dialog-data-exchange-routines.md
  docs/mfc/reference/standard-dialog-data-validation-routines.md
  docs/mfc/ribbon-designer-mfc.md
  docs/mfc/tn011-using-mfc-as-part-of-a-dll.md
  docs/mfc/tn064-apartment-model-threading-in-activex-controls.md
  docs/standard-library/is-execution-policy-struct.md
  docs/standard-library/logical-and-struct.md
  docs/standard-library/plus-struct.md
  docs/standard-library/sample-container.md
  docs/windows/symbols-resource-identifiers.md
Labels: Change sent to author, aq-pr-triaged, cpp-mfc/tech, do-not-merge, visual-cpp/prod

#2039 fix: MD029/ol-prefix
  docs/cpp/overloading-unary-operators.md
  docs/dotnet/how-to-add-command-routing-to-the-windows-forms-control.md
  docs/error-messages/compiler-errors-1/fatal-error-c1060.md
  docs/linux/download-install-and-setup-the-linux-development-workload.md
  docs/mfc/html-basics.md
  docs/mfc/mfc-activex-controls-adding-another-custom-property-page.md
  docs/mfc/mfc-activex-controls-adding-custom-methods.md
  docs/mfc/mfc-activex-controls-adding-custom-properties.md
  docs/mfc/mfc-activex-controls-advanced-property-implementation.md
  docs/mfc/mfc-activex-controls-advanced-topics.md
  docs/mfc/mfc-activex-controls-using-pictures-in-an-activex-control.md
  docs/mfc/reference/cmfctooltipctrl-class.md
  docs/mfc/reference/declaring-a-variable-based-on-your-new-control-class.md
  docs/mfc/tn058-mfc-module-state-implementation.md
  docs/parallel/concrt/walkthrough-creating-a-custom-message-block.md
  docs/parallel/concrt/walkthrough-removing-work-from-a-user-interface-thread.md
  docs/standard-library/path-class.md
Labels: Change sent to author, aq-pr-triaged, cpp-language/tech, cpp-mfc/tech, do-not-merge, visual-cpp/prod

#2045 Fix git push error for protected CLA branch
  docs/build/how-to-organize-project-output-files-for-builds.md
  docs/build/open-folder-projects-cpp.md
  docs/build/optimization-best-practices.md
  docs/build/overview-of-arm-abi-conventions.md
  docs/build/prolog-and-epilog.md
  docs/build/reference/description-blocks.md
  docs/build/reference/eh-exception-handling-model.md
  docs/build/reference/exports.md
  docs/build/reference/linking.md
  docs/build/reference/makefile-preprocessing-operators.md
  docs/build/reference/manifestinput-specify-manifest-input.md
  docs/build/reference/openmp-enable-openmp-2-0-support.md
  docs/build/reference/opt-optimizations.md
  docs/build/reference/zc-alignednew.md
  docs/build/reference/zc-ternary.md
  docs/build/stack-usage.md
  docs/build/troubleshooting-c-cpp-isolated-applications-and-side-by-side-assemblies.md
  docs/build/vcpkg.md
  docs/build/walkthrough-creating-and-using-a-static-library-cpp.md
  docs/build/x64-calling-convention.md
  docs/code-quality/c26427.md
  docs/code-quality/c26433.md
  docs/code-quality/c26435.md
  docs/code-quality/c26438.md
  docs/code-quality/c26443.md
  docs/code-quality/c26445.md
  docs/error-messages/compiler-errors-2/compiler-error-c2555.md
  docs/extensions/handle-to-object-operator-hat-cpp-component-extensions.md
  docs/extensions/partial-cpp-component-extensions.md
  docs/extensions/tracking-reference-operator-cpp-component-extensions.md
  docs/extensions/windows-runtime-and-managed-templates-cpp-component-extensions.md
  docs/ide/walkthrough-deploying-your-program-cpp.md
  docs/overview/what-s-new-for-visual-cpp-in-visual-studio.md
  docs/porting/overview-of-potential-upgrade-issues-visual-cpp.md
  docs/porting/porting-guide-spy-increment.md
  docs/text/string-and-i-o-formatting-modern-cpp.md
  docs/windows/deployment-in-visual-cpp.md
  docs/windows/dialog-editor.md
  docs/windows/preparing-a-test-machine-to-run-a-debug-executable.md
  docs/windows/walkthrough-deploying-a-visual-cpp-application-by-using-a-setup-project.md
Labels: do-not-merge

#2042 fix: MD034/no-bare-urls
  docs/ide/walkthrough-deploying-your-program-cpp.md
  docs/mfc/reference/cinternetsession-class.md
  styleguide/template.md
Labels: Change sent to author, aq-pr-triaged, cpp-ide/tech, do-not-merge, visual-cpp/prod
