Repository MicrosoftDocs/cpp-docs, pull requests merged in 2021-02, with the labels that each got.

#2735 Repo sync for protected CLA branch
  docs/c-runtime-library/country-region-strings.md
  docs/mfc/reference/ctabctrl-class.md
Labels: CLA, Change sent to author, cpp-ucrt/tech, visual-cpp/prod

#2734 Update multimap-class.md
  docs/standard-library/multimap-class.md
Labels: Change sent to author, cpp-standard-libraries/tech, do-not-merge, visual-cpp/prod

#2736 Fix signature of _wcsnextc
  docs/c-runtime-library/reference/strnextc-wcsnextc-mbsnextc-mbsnextc-l.md
Labels: Change sent to author, cpp-ucrt/tech, do-not-merge, visual-cpp/prod

#2739 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  docs/build/configuring-programs-for-windows-xp.md
  docs/build/reference/binding-imports.md
  docs/build/reference/calculating-necessary-values.md
  docs/build/reference/calling-conventions-parameters-and-return-type.md
  docs/build/reference/changes-in-the-dll-delayed-loading-helper-function-since-visual-cpp-6-0.md
  docs/build/reference/constraints-of-delay-loading-dlls.md
  docs/build/reference/delay-delay-load-import-settings.md
  docs/build/reference/developing-your-own-helper-function.md
  docs/build/reference/dumping-delay-loaded-imports.md
  docs/build/reference/error-handling-and-notification.md
  docs/build/reference/exceptions-c-cpp.md
  docs/build/reference/explicitly-unloading-a-delay-loaded-dll.md
  docs/build/reference/failure-hooks.md
  docs/build/reference/linker-support-for-delay-loaded-dlls.md
  docs/build/reference/loading-all-imports-for-a-delay-loaded-dll.md
  docs/build/reference/notification-hooks.md
  docs/build/reference/specifying-dlls-to-delay-load.md
  docs/build/reference/structure-and-constant-definitions.md
  docs/build/reference/understanding-the-helper-function.md
  docs/build/reference/unloading-a-delay-loaded-dll.md
  docs/build/reference/verbose-print-progress-messages.md
  docs/build/toc.yml
  docs/cpp/bstr-t-assign.md
  docs/cpp/bstr-t-attach.md
  docs/cpp/bstr-t-bstr-t.md
  docs/cpp/bstr-t-class.md
  docs/cpp/bstr-t-copy.md
  docs/cpp/bstr-t-detach.md
  docs/cpp/bstr-t-getaddress.md
  docs/cpp/bstr-t-getbstr.md
  docs/cpp/bstr-t-length.md
  docs/cpp/bstr-t-member-functions.md
  docs/cpp/bstr-t-operator-add-equal-plus.md
  docs/cpp/bstr-t-operator-equal.md
  docs/cpp/bstr-t-operator-logical-not.md
  docs/cpp/bstr-t-operators.md
  docs/cpp/bstr-t-relational-operators.md
  docs/cpp/bstr-t-wchar-t-star-bstr-t-char-star.md
  docs/cpp/toc.yml
  docs/dotnet/hosting-a-windows-form-user-control-as-an-mfc-dialog-box.md
  docs/dotnet/hosting-a-windows-form-user-control-in-an-mfc-dialog-box.md
  docs/dotnet/hosting-a-windows-forms-user-control-as-an-mfc-view.md
  docs/dotnet/windows-forms-mfc-programming-differences.md
  docs/intrinsics/cpuid-cpuidex.md
  docs/overview/how-to-report-a-problem-with-the-visual-cpp-toolset.md
  docs/windows/resources-for-creating-a-game-using-directx.md
Labels: CLA, Change sent to author, cpp-ide/tech, visual-cpp/prod

#2743 Repo sync for protected CLA branch
  docs/intrinsics/intrinsics-available-on-all-architectures.md
  docs/intrinsics/x64-amd64-intrinsics-list.md
  docs/intrinsics/x86-intrinsics-list.md
Labels: CLA, Change sent to author, cpp-tools/tech, visual-cpp/prod

#2741 fix CppProperties.json MinGW-w64 contents
  docs/build/open-folder-projects-cpp.md
Labels: Change sent to author, aq-pr-triaged, cpp-tools/tech, do-not-merge, visual-cpp/prod

#2747 Repo sync for protected CLA branch
  .whatsnew.json
  docs/overview/toc.yml
  docs/overview/whats-new-cpp-docs.md
  docs/standard-library/map-class.md
  docs/standard-library/multimap-class.md
  docs/standard-library/multiset-class.md
Labels: CLA, Change sent to author, cpp-standard-libraries/tech, visual-cpp/prod

#2750 Repo sync for protected CLA branch
  .whatsnew.json
  docs/build/clang-support-msbuild.md
  docs/build/reference/advanced-property-page.md
  docs/overview/what-s-new-for-visual-cpp-in-visual-studio.md
  docs/overview/whats-new-cpp-docs.md
Labels: CLA, Change sent to author, cpp-ide/tech, do-not-merge, visual-cpp/prod

#2841 Repo sync for protected CLA branch
  docs/error-messages/compiler-errors-2/compiler-error-c2855.md
  docs/error-messages/tool-errors/vectorizer-and-parallelizer-messages.md
  docs/overview/whats-new-cpp-docs.md
Labels: CLA, Change sent to author, cpp-diagnostics/tech, visual-cpp/prod

#2758 WRONG precedence of two operators in C++
  docs/cpp/cpp-built-in-operators-precedence-and-associativity.md
Labels: Change sent to author, aq-pr-triaged, cpp-language/tech, do-not-merge, visual-cpp/prod

#2983 Fixes minor typo in intrinsics
  docs/intrinsics/index.yml
Labels: Change sent to author, aq-pr-triaged, cpp/svc, do-not-merge

#2989 Fix std::fputws return value documentation
  docs/c-runtime-library/reference/fputs-fputws.md
Labels: Change sent to author, aq-pr-triaged, cpp-ucrt/tech, do-not-merge, visual-cpp/prod

#2994 wstrlen -> wcslen on strlen... page
  docs/c-runtime-library/reference/strlen-wcslen-mbslen-mbslen-l-mbstrlen-mbstrlen-l.md
Labels: Change sent to author, aq-pr-triaged, cpp-ucrt/tech, do-not-merge, visual-cpp/prod

#2997 Update how-to-create-and-use-weak-ptr-instances.md
  docs/cpp/how-to-create-and-use-weak-ptr-instances.md
Labels: Change sent to author, cpp-language/tech, do-not-merge, visual-cpp/prod

#2993 string -> stringBuffer on strcpy_s... page
  docs/c-runtime-library/reference/strcpy-s-wcscpy-s-mbscpy-s.md
Labels: Change sent to author, aq-pr-triaged, cpp-ucrt/tech, do-not-merge, visual-cpp/prod
