Repository MicrosoftDocs/cpp-docs, pull requests merged in 2021-12, with the labels that each got.

#3567 Repo sync for protected CLA branch
  docs/build/reference/advanced-property-page.md
  docs/build/reference/fpcvt.md
  docs/build/reference/manifest-tool-property-pages.md
  docs/cpp/expressions-with-unary-operators.md
  docs/cpp/noexcept-cpp.md
  docs/error-messages/compiler-errors-1/fatal-error-c1107.md
  docs/overview/visual-cpp-tools-and-features-in-visual-studio-editions.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-tools/tech, CLA

#3569 Repo sync for protected CLA branch
  docs/error-messages/compiler-warnings/compiler-warnings-by-compiler-version.md
  docs/error-messages/compiler-warnings/compiler-warnings-c4800-through-c4999.md
  docs/preprocessor/compiler-warnings-that-are-off-by-default.md
Labels: Change sent to author, visual-cpp/prod, cpp-diagnostics/tech, CLA

#3571 Repo sync for protected CLA branch
  docs/build/reference/code-visual-cpp.md
  docs/build/reference/delimiters-for-visual-cpp-documentation-tags.md
  docs/build/reference/dot-xml-file-processing.md
  docs/build/reference/example-visual-cpp.md
  docs/build/reference/include-visual-cpp.md
  docs/build/reference/list-visual-cpp.md
  docs/build/reference/para-visual-cpp.md
  docs/build/reference/param-visual-cpp.md
  docs/build/reference/paramref-visual-cpp.md
  docs/build/reference/permission-visual-cpp.md
  docs/build/reference/recommended-tags-for-documentation-comments-visual-cpp.md
  docs/build/reference/remarks-visual-cpp.md
  docs/build/reference/returns-visual-cpp.md
  docs/build/reference/see-visual-cpp.md
  docs/build/reference/seealso-visual-cpp.md
  docs/build/reference/summary-visual-cpp.md
  docs/build/reference/value-visual-cpp.md
  docs/build/reference/xdcmake-reference.md
  docs/build/reference/xml-documentation-visual-cpp.md
  docs/build/reference/zc-conformance.md
  docs/build/reference/zc-externc.md
  docs/build/toc.yml
  docs/cpp/extern-cpp.md
  docs/error-messages/compiler-errors-1/compiler-error-c2116.md
  docs/error-messages/compiler-errors-2/compiler-error-c2733.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-tools/tech, CLA

#3576 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  docs/cpp/member-access-operators-dot-and.md
  docs/cpp/pointer-to-member-operators-dot-star-and-star.md
  docs/get-started/includes/git-source-control.md
  docs/get-started/index.yml
  docs/get-started/media/vs-2022/git-add-source-control.png
  docs/get-started/media/vs-2022/git-create-repo.png
  docs/get-started/media/vs-2022/git-new-private-repo-status-details.png
  docs/get-started/toc.yml
  docs/get-started/tutorial-console-cpp.md
  docs/mfc/reference/chtmlview-class.md
Labels: Change sent to author, visual-cpp/prod, cpp-language/tech, CLA

#3574 `/hotpatch`: No jump to the first instruction
  docs/build/reference/hotpatch-create-hotpatchable-image.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-tools/tech

#3580 Repo sync for protected CLA branch
  docs/assembler/masm/masm-for-x64-ml64-exe.md
  docs/atl/reference/ccomsafearray-class.md
  docs/build-insights/tutorials/vcperf-and-wpa.md
  docs/build/building-on-the-command-line.md
  docs/build/projects-and-build-systems-cpp.md
  docs/build/vscpp-step-0-installation.md
  docs/build/walkthrough-build-debug-wsl2.md
  docs/build/walkthrough-compile-a-c-program-on-the-command-line.md
  docs/build/walkthrough-compiling-a-native-cpp-program-on-the-command-line.md
  docs/build/working-with-project-properties.md
  docs/c-language/index.yml
  docs/c-runtime-library/outp-outpw-outpd.md
  docs/cpp/index.yml
  docs/cpp/variant-t-variant-t.md
  docs/cross-platform/install-visual-cpp-for-cross-platform-mobile-development.md
  docs/extensions/constraints-on-generic-type-parameters-cpp-cli.md
  docs/extensions/generic-functions-cpp-cli.md
  docs/extensions/property-cpp-component-extensions.md
  docs/ide/using-the-visual-studio-ide-for-cpp-desktop-development.md
  docs/mfc/derived-window-classes.md
  docs/mfc/dialog-boxes-in-ole.md
  docs/mfc/reference/class-factories-and-licensing.md
  docs/mfc/reference/cmfcribbonquickaccesstoolbardefaultstate-class.md
  docs/mfc/standard-commands.md
  docs/windows/attributes/idl-module.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-tools/tech, CLA

#3585 Repo sync for protected CLA branch
  docs/build/reference/makefile-preprocessing.md
  docs/build/reference/z7-zi-zi-debug-information-format.md
  docs/build/walkthrough-creating-and-using-a-dynamic-link-library-cpp.md
  docs/c-language/parsing-c-command-line-arguments.md
  docs/cpp/left-shift-and-right-shift-operators-input-and-output.md
  docs/cpp/media/add-module.png
  docs/cpp/media/file-property-compile-as.png
  docs/cpp/media/language-switch.png
  docs/cpp/toc.yml
  docs/cpp/tutorial-named-modules-cpp.md
  docs/error-messages/compiler-errors-1/compiler-error-c2382.md
  docs/error-messages/tool-errors/command-line-warning-d9026.md
  docs/preprocessor/compiler-warnings-that-are-off-by-default.md
  docs/preprocessor/predefined-macros.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-language/tech, CLA

#3572 Changing confusing wording about C++ exceptions
  docs/cpp/structured-exception-handling-c-cpp.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-language/tech, aq-pr-triaged

#3559 Fix incorrect import example
  docs/cpp/import-export-module.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-language/tech, aq-pr-triaged

#3566 Add section on CMake partial activation
  docs/build/cmake-projects-in-visual-studio.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-tools/tech

#3587 Repo sync for protected CLA branch
  docs/cpp/tutorial-named-modules-cpp.md
  docs/error-messages/compiler-errors-1/compiler-error-c2382.md
  docs/error-messages/tool-errors/linker-tools-error-lnk1107.md
  docs/ide/cpp-linter-overview.md
  docs/ide/lnt-comparison-bitwise-precedence.md
  docs/ide/toc.yml
  docs/standard-library/functional-functions.md
Labels: CLA

#3447 Update cmake-presets-vs.md
  docs/build/cmake-presets-vs.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-tools/tech

#3591 Resolve syncing conflicts from FromPrivateLiveToMaster to main
  ThirdPartyNotices
  docs/build/cmake-presets-vs.md
  docs/build/cmake-projects-in-visual-studio.md
  docs/build/customize-cmake-settings.md
  docs/build/reference/std-specify-language-standard-version.md
  docs/code-quality/c26826.md
  docs/cpp/string-and-character-literals-cpp.md
  docs/overview/what-s-new-for-cpp-2019.md
  docs/porting/porting-from-unix-to-win32.md
  docs/windows/redistributing-visual-cpp-activex-controls.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-ide/tech

#3541 Fix two incorrect conditions in the ARM packed exception handling
  docs/build/arm-exception-handling.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-tools/tech

#3592 Resolve syncing conflicts from FromPrivateLiveToMaster to main
  docs/build/arm-exception-handling.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-tools/tech

#3593 Update how-to-marshal-structures-using-cpp-interop.md
  docs/dotnet/how-to-marshal-structures-using-cpp-interop.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-cli/tech

#3599 Fixed grammatical error in allocator-class.md
  docs/standard-library/allocator-class.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-standard-libraries/tech

#3598 Repo sync for protected CLA branch
  .acrolinx-config.edn
  docs/intrinsics/arm64-intrinsics.md
Labels: Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-tools/tech, CLA
