Repository MicrosoftDocs/cpp-docs, pull requests merged in 2021-09, with the labels that each got.

#3345 Add io.h, remove share.h from sample code in errno documentation
  docs/c-runtime-library/reference/get-errno.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-ucrt/tech

#3347 Fixed typo in constructors-cpp.md
  docs/cpp/constructors-cpp.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-language/tech, aq-pr-triaged

#3348 Repo sync for protected CLA branch
  docs/build/reference/zc-char8-t.md
  docs/build/reference/zc-conformance.md
  docs/build/toc.yml
  docs/cpp/member-access-control-cpp.md
  docs/cpp/string-and-character-literals-cpp.md
  docs/error-messages/compiler-errors-1/compiler-error-c2440.md
  docs/get-started/media/git-add-source-control.png
  docs/get-started/media/git-create-repo-cpp.png
  docs/get-started/media/git-new-private-repo-status-details-cpp.png
  docs/get-started/tutorial-console-cpp.md
  docs/overview/cpp-conformance-improvements.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-language/tech, CLA

#3349 `<filesystem>` no longer includes `<experimental/filesystem>`
  docs/standard-library/filesystem.md
Labels: Change sent to author, ready-to-merge, visual-cpp/prod, cpp-standard-libraries/tech

#3350 Repo sync for protected CLA branch
  docs/build/reference/std-specify-language-standard-version.md
  docs/overview/visual-cpp-language-conformance.md
  docs/standard-library/ranges.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-language/tech, CLA

#3352 Repo sync for protected CLA branch
  docs/standard-library/chrono-operators.md
  docs/standard-library/chrono.md
  docs/standard-library/last-spec-struct.md
  docs/standard-library/local_t.md
  docs/standard-library/time-zone-class.md
  docs/standard-library/time-zone-link-class.md
  docs/standard-library/toc.yml
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-standard-libraries/tech, CLA

#3359 Repo sync for protected CLA branch
  docs/build/building-on-the-command-line.md
  docs/build/configuring-programs-for-windows-xp.md
  docs/cpp/welcome-back-to-cpp-modern-cpp.md
  docs/porting/binary-compat-2015-2017.md
  docs/windows/deploying-visual-cpp-application-by-using-the-vcpp-redistributable-package.md
  docs/windows/universal-crt-deployment.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-tools/tech, CLA

#3362 `<algorithm>`: Fix set algorithm complexities
  docs/standard-library/algorithm-functions.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-standard-libraries/tech

#3361 Improve `<stdexcept>` documentation and examples
  docs/standard-library/domain-error-class.md
  docs/standard-library/invalid-argument-class.md
  docs/standard-library/length-error-class.md
  docs/standard-library/logic-error-class.md
  docs/standard-library/out-of-range-class.md
  docs/standard-library/overflow-error-class.md
  docs/standard-library/range-error-class.md
  docs/standard-library/runtime-error-class.md
  docs/standard-library/underflow-error-class.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-standard-libraries/tech

#3367 Repo sync for protected CLA branch
  docs/build/media/cmake-select-a-debugger.png
  docs/mfc/hierarchy-chart.md
  docs/mfc/media/mfc-hierarchy-chart-part-1-of-3.png
  docs/mfc/media/mfc-hierarchy-chart-part-2-of-3.png
  docs/mfc/media/mfc-hierarchy-chart-part-3-of-3.png
  docs/mfc/media/mfc_hierarchy_chart2of3.png
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-mfc/tech, CLA

#3363 Add a new page for latest redist downloads
  docs/windows/latest-supported-vc-redist.md
  docs/windows/redistributing-visual-cpp-files.md
  docs/windows/toc.yml
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-windows/tech

#3373 Resolve syncing conflicts from FromPrivateLiveToMaster to master
  docs/standard-library/chrono.md
  docs/standard-library/last-spec-struct.md
  docs/standard-library/time-zone-link-class.md
  docs/windows/latest-supported-vc-redist.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-standard-libraries/tech

#3376 Document MSVC doesn't straddle bit-fields
  docs/c-language/c-bit-fields.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-c-language/tech

#3377 Clarify int main(void) example
  docs/c-language/c-bit-fields.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-c-language/tech

#3388 Repo sync for protected CLA branch
  docs/assembler/masm/instruction-format.md
  docs/assembler/masm/masm-for-x64-ml64-exe.md
  docs/assembler/masm/microsoft-macro-assembler-reference.md
  docs/assembler/masm/option-avxencoding-masm.md
  docs/assembler/masm/option-language-masm.md
  docs/assembler/masm/option-masm.md
  docs/assembler/toc.yml
  docs/dotnet/dotnet-programming-with-cpp-cli-visual-cpp.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-masm/tech, CLA

#3401 Repo sync for protected CLA branch
  docs/build/reference/cetcompat.md
  docs/c-runtime-library/reference/mkgmtime-mkgmtime32-mkgmtime64.md
  docs/mfc/reference/cdcrendertarget-class.md
  docs/standard-library/bit-enum.md
  docs/standard-library/choose-enum.md
  docs/standard-library/chrono-operators.md
  docs/standard-library/chrono.md
  docs/standard-library/day-class.md
  docs/standard-library/duration-class.md
  docs/standard-library/file-clock-class.md
  docs/standard-library/gps-clock-class.md
  docs/standard-library/high-resolution-clock-struct.md
  docs/standard-library/is-clock-struct.md
  docs/standard-library/last-spec-struct.md
  docs/standard-library/local-info-struct.md
  docs/standard-library/month-class.md
  docs/standard-library/steady-clock-struct.md
  docs/standard-library/sys-info-struct.md
  docs/standard-library/system-clock-structure.md
  docs/standard-library/tai-clock-class.md
  docs/standard-library/time-point-class.md
  docs/standard-library/time-zone-class.md
  docs/standard-library/toc.yml
  docs/standard-library/utc-clock-class.md
  docs/standard-library/weekdayindexed-class.md
  docs/standard-library/weekdaylast-class.md
  docs/standard-library/year-class.md
  docs/standard-library/zoned-time-class.md
Labels: Change sent to author, visual-cpp/prod, cpp-standard-libraries/tech, CLA

#3417 Update basic-string-class.md
  docs/standard-library/basic-string-class.md
Labels: Change sent to author, ready-to-merge, visual-cpp/prod, aq-pr-triaged, cpp-standard-libraries/tech
