Repository MicrosoftDocs/cpp-docs, pull requests merged in 2021-03, with the labels that each got.

#2998 Update numeric-boolean-and-pointer-literals-cpp.md
  docs/cpp/numeric-boolean-and-pointer-literals-cpp.md
Labels: Change sent to author, cpp-language/tech, do-not-merge, visual-cpp/prod

#3003 Update clang-support-msbuild.md
  docs/build/clang-support-msbuild.md
Labels: Change sent to author, aq-pr-triaged, cpp-tools/tech, do-not-merge, visual-cpp/prod

#3012 Repo sync for protected CLA branch
  docs/build/cmake-remote-debugging.md
  docs/cpp/abstract-classes-cpp.md
  docs/error-messages/compiler-errors-1/fatal-error-c1047.md
  docs/error-messages/tool-errors/vectorizer-and-parallelizer-messages.md
  docs/overview/whats-new-cpp-docs.md
  docs/porting/binary-compat-2015-2017.md
Labels: CLA, Change sent to author, cpp-tools/tech, visual-cpp/prod

#3015 Repo sync for protected CLA branch
  docs/c-runtime-library/reference/fopen-s-wfopen-s.md
  docs/c-runtime-library/reference/fputs-fputws.md
  docs/c-runtime-library/reference/freopen-s-wfreopen-s.md
  docs/c-runtime-library/reference/freopen-wfreopen.md
  docs/code-quality/c26457.md
  docs/code-quality/toc.yml
  docs/standard-library/vector-class.md
Labels: CLA, Change sent to author, cpp-ucrt/tech, visual-cpp/prod

#3017 Repo sync for protected CLA branch
  docs/build/reference/gl-whole-program-optimization.md
  docs/mfc/reference/cmfcribbonedit-class.md
  docs/porting/binary-compat-2015-2017.md
Labels: CLA, Change sent to author, cpp-tools/tech, visual-cpp/prod

#3023 Repo sync for protected CLA branch
  docs/c-runtime-library/c-run-time-library-reference.md
  docs/c-runtime-library/compatibility.md
  docs/c-runtime-library/crt-initialization.md
  docs/c-runtime-library/crt-library-features.md
  docs/c-runtime-library/direction-flag.md
  docs/c-runtime-library/link-options.md
  docs/c-runtime-library/multithreaded-libraries-performance.md
  docs/c-runtime-library/parameter-validation.md
  docs/c-runtime-library/potential-errors-passing-crt-objects-across-dll-boundaries.md
  docs/c-runtime-library/recommendations-for-choosing-between-functions-and-macros.md
  docs/c-runtime-library/reference/crtmemdifference.md
  docs/c-runtime-library/reference/crtmemdumpstatistics.md
  docs/c-runtime-library/reference/crtsetreportmode.md
  docs/c-runtime-library/reference/fcvt-s.md
  docs/c-runtime-library/reference/qsort-s.md
  docs/c-runtime-library/reference/set-sse2-enable.md
  docs/c-runtime-library/required-and-optional-header-files.md
  docs/c-runtime-library/sal-annotations.md
  docs/c-runtime-library/secure-template-overloads.md
  docs/c-runtime-library/security-enhanced-versions-of-crt-functions.md
  docs/c-runtime-library/security-features-in-the-crt.md
  docs/c-runtime-library/toc.yml
  docs/c-runtime-library/type-checking-crt.md
  docs/standard-library/cpp-standard-library-reference.md
Labels: CLA

#3025 Update determining-which-dlls-to-redistribute.md for VS 2019
  docs/windows/determining-which-dlls-to-redistribute.md
Labels: Change sent to author, cpp-windows/tech, do-not-merge, visual-cpp/prod

#3024 Repo sync for protected CLA branch
  docs/c-runtime-library/reference/cprintf-cprintf-l-cwprintf-cwprintf-l.md
  docs/c-runtime-library/reference/cprintf-p-cprintf-p-l-cwprintf-p-cwprintf-p-l.md
  docs/c-runtime-library/reference/cprintf-s-cprintf-s-l-cwprintf-s-cwprintf-s-l.md
  docs/c-runtime-library/reference/cprintf.md
  docs/c-runtime-library/reference/fprintf-fprintf-l-fwprintf-fwprintf-l.md
  docs/c-runtime-library/reference/fprintf-p-fprintf-p-l-fwprintf-p-fwprintf-p-l.md
  docs/c-runtime-library/reference/fprintf-s-fprintf-s-l-fwprintf-s-fwprintf-s-l.md
  docs/c-runtime-library/reference/get-printf-count-output.md
  docs/c-runtime-library/reference/printf-p-printf-p-l-wprintf-p-wprintf-p-l.md
  docs/c-runtime-library/reference/printf-printf-l-wprintf-wprintf-l.md
  docs/c-runtime-library/reference/printf-s-printf-s-l-wprintf-s-wprintf-s-l.md
  docs/c-runtime-library/reference/scprintf-p-scprintf-p-l-scwprintf-p-scwprintf-p-l.md
  docs/c-runtime-library/reference/scprintf-scprintf-l-scwprintf-scwprintf-l.md
  docs/c-runtime-library/reference/snprintf-s-snprintf-s-l-snwprintf-s-snwprintf-s-l.md
  docs/c-runtime-library/reference/snprintf-snprintf-snprintf-l-snwprintf-snwprintf-l.md
  docs/c-runtime-library/reference/sprintf-p-sprintf-p-l-swprintf-p-swprintf-p-l.md
  docs/c-runtime-library/reference/sprintf-s-sprintf-s-l-swprintf-s-swprintf-s-l.md
  docs/c-runtime-library/reference/sprintf-sprintf-l-swprintf-swprintf-l-swprintf-l.md
  docs/c-runtime-library/reference/vcprintf-p-vcprintf-p-l-vcwprintf-p-vcwprintf-p-l.md
  docs/c-runtime-library/reference/vcprintf-s-vcprintf-s-l-vcwprintf-s-vcwprintf-s-l.md
  docs/c-runtime-library/reference/vcprintf-vcprintf-l-vcwprintf-vcwprintf-l.md
  docs/c-runtime-library/reference/vfprintf-p-vfprintf-p-l-vfwprintf-p-vfwprintf-p-l.md
  docs/c-runtime-library/reference/vfprintf-s-vfprintf-s-l-vfwprintf-s-vfwprintf-s-l.md
  docs/c-runtime-library/reference/vfprintf-vfprintf-l-vfwprintf-vfwprintf-l.md
  docs/c-runtime-library/reference/vprintf-p-vprintf-p-l-vwprintf-p-vwprintf-p-l.md
  docs/c-runtime-library/reference/vprintf-s-vprintf-s-l-vwprintf-s-vwprintf-s-l.md
  docs/c-runtime-library/reference/vprintf-vprintf-l-vwprintf-vwprintf-l.md
  docs/c-runtime-library/reference/vscprintf-p-vscprintf-p-l-vscwprintf-p-vscwprintf-p-l.md
  docs/c-runtime-library/reference/vscprintf-vscprintf-l-vscwprintf-vscwprintf-l.md
  docs/c-runtime-library/reference/vsnprintf-s-vsnprintf-s-vsnprintf-s-l-vsnwprintf-s-vsnwprintf-s-l.md
  docs/c-runtime-library/reference/vsnprintf-vsnprintf-vsnprintf-l-vsnwprintf-vsnwprintf-l.md
  docs/c-runtime-library/reference/vsprintf-p-vsprintf-p-l-vswprintf-p-vswprintf-p-l.md
  docs/c-runtime-library/reference/vsprintf-s-vsprintf-s-l-vswprintf-s-vswprintf-s-l.md
  docs/c-runtime-library/reference/vsprintf-vsprintf-l-vswprintf-vswprintf-l-vswprintf-l.md
Labels: CLA, Change sent to author, cpp-ucrt/tech, visual-cpp/prod

#3028 Repo sync for protected CLA branch
  docs/overview/cpp-conformance-improvements-2017.md
  docs/overview/cpp-conformance-improvements.md
  docs/overview/toc.yml
  docs/overview/visual-cpp-language-conformance.md
  docs/overview/what-s-new-for-cpp-2017.md
  docs/overview/what-s-new-for-visual-cpp-in-visual-studio.md
Labels: CLA, Change sent to author, cpp-ide/tech, visual-cpp/prod

#3033 fix typo
  docs/overview/visual-cpp-language-conformance.md
Labels: Change sent to author, cpp-language/tech, do-not-merge, visual-cpp/prod

#3037 Fix dumpbin command switch
  docs/build/reference/decorated-names.md
Labels: Change sent to author, aq-pr-triaged, cpp-tools/tech, do-not-merge, visual-cpp/prod

#3040 Update visual-cpp-porting-and-upgrading-guide.md
  docs/porting/visual-cpp-porting-and-upgrading-guide.md
Labels: Change sent to author, aq-pr-triaged, cpp-language/tech, do-not-merge, visual-cpp/prod

#3041 Update C26432 doc - use default keyword everywhere
  docs/code-quality/c26432.md
Labels: Change sent to author, aq-pr-triaged, cpp-tools/tech, do-not-merge, visual-cpp/prod

#3045 Repo sync for protected CLA branch
  docs/code-quality/c6031.md
Labels: CLA, Change sent to author, cpp-tools/tech, do-not-merge, visual-cpp/prod

#3044 fix __movsq argument types
  docs/intrinsics/movsq.md
Labels: Change sent to author, aq-pr-triaged, cpp-tools/tech, do-not-merge, visual-cpp/prod

#3051 Repo sync for protected CLA branch
  docs/build/install-vcpkg.md
  docs/c-runtime-library/reference/pow-powf-powl.md
  docs/porting/visual-cpp-what-s-new-2003-through-2015.md
Labels: CLA, Change sent to author, cpp-ide/tech, do-not-merge, visual-cpp/prod

#3050 correction at line 137,139
  docs/cpp/variant-t-operator-equal.md
Labels: Change sent to author, aq-pr-triaged, cpp-language/tech, do-not-merge, visual-cpp/prod

#3055 Repo sync for protected CLA branch
  docs/cpp/inheritance-keywords.md
  docs/error-messages/compiler-warnings/compiler-warnings-by-compiler-version.md
  docs/overview/install-c17-support.md
  docs/porting/visual-cpp-what-s-new-2003-through-2015.md
  docs/preprocessor/predefined-macros.md
Labels: CLA, Change sent to author, cpp-language/tech, do-not-merge, visual-cpp/prod

#3054 Update walkthrough-compiling-a-native-cpp-program-on-the-command-line.md
  docs/build/walkthrough-compiling-a-native-cpp-program-on-the-command-line.md
Labels: Change sent to author, aq-pr-triaged, cpp-tools/tech, do-not-merge, visual-cpp/prod

#3057 Repo sync for protected CLA branch
  docs/c-runtime-library/reference/strncat-s-strncat-s-l-wcsncat-s-wcsncat-s-l-mbsncat-s-mbsncat-s-l.md
  docs/code-quality/c26497.md
Labels: CLA, Change sent to author, cpp-ucrt/tech, do-not-merge, visual-cpp/prod

#3061 Repo sync for protected CLA branch
  docs/c-runtime-library/reference/strncmp-wcsncmp-mbsncmp-mbsncmp-l.md
  docs/cpp/variant-t-operator-equal.md
Labels: CLA, Change sent to author, cpp-ucrt/tech, do-not-merge, visual-cpp/prod

#3064 Repo sync for protected CLA branch
  docs/build/how-to-modify-the-target-framework-and-platform-toolset.md
  docs/build/integrate-vcpkg.md
  docs/build/manage-libraries-with-vcpkg.md
  docs/build/vcpkg-command-line-reference.md
  docs/build/vcpkg.md
  docs/c-runtime-library/reference/ceil-ceilf-ceill.md
  docs/c-runtime-library/reference/floor-floorf-floorl.md
  docs/c-runtime-library/reference/fmin-fminf-fminl.md
  docs/c-runtime-library/reference/lround-lroundf-lroundl-llround-llroundf-llroundl.md
  docs/c-runtime-library/reference/round-roundf-roundl.md
  docs/c-runtime-library/reference/stat-functions.md
  docs/c-runtime-library/reference/umask-s.md
  docs/c-runtime-library/reference/umask.md
  docs/c-runtime-library/reference/utime-utime32-utime64-wutime-wutime32-wutime64.md
  docs/error-messages/compiler-errors-1/compiler-error-c2276.md
  docs/intrinsics/arm64-intrinsics.md
  docs/standard-library/algorithm-functions.md
  docs/standard-library/basic-string-class.md
  docs/standard-library/cpp-standard-library-header-files.md
  docs/standard-library/cpp-standard-library-overview.md
  docs/standard-library/filesystem.md
  docs/standard-library/iostream.md
  docs/standard-library/map-class.md
  docs/standard-library/overloading-the-input-operator-for-your-own-classes.md
  docs/standard-library/overloading-the-output-operator-for-your-own-classes.md
  docs/standard-library/vector-class.md
Labels: CLA, Change sent to author, cpp-ide/tech, visual-cpp/prod
