Repository MicrosoftDocs/cpp-docs, pull requests merged in 2021-11, with the labels that each got.

#3492 Update symbols-resource-identifiers.md
  docs/windows/symbols-resource-identifiers.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-windows/tech

#3495 Repo sync for protected CLA branch
  docs/build/media/cmake-general-prefer-cmake-presets.png
  docs/build/media/vs-debug-dropdown-menu-cmake.png
  docs/build/media/vs-output-window-cmake-generation.png
  docs/build/media/vs2022-ActivePresetDropdown.png
  docs/build/media/vs2022-get-started.png
  docs/build/media/vs2022-project-configure.png
  docs/build/media/vs2022-supported-cmake-not-present-prompt.png
  docs/build/media/vs2022-target-system-dropdown.png
  docs/build/media/walkthrough-build-debug-wsl2-breakpoint.png
  docs/build/media/wsl-platform-toolset-selection.png
  docs/build/toc.yml
  docs/build/walkthrough-build-debug-wsl2.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-tools/tech, CLA

#3490 Update working-with-resource-files.md
  docs/windows/working-with-resource-files.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-windows/tech

#3499 Repo sync for protected CLA branch
  docs/build/cmake-projects-in-visual-studio.md
  docs/build/media/attach-to-process.png
  docs/build/media/cmake-configure-options.png
  docs/build/media/cmake-find-all-refs.png
  docs/build/media/cmake-project-manipulation.png
  docs/build/media/debug-target.png
  docs/build/media/start-window.png
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-tools/tech, CLA

#3497 Update how-to-create-a-resource-script-file.md
  docs/windows/how-to-create-a-resource-script-file.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-windows/tech

#3501 Repo sync for protected CLA branch
  docs/build/cmake-presets-json-reference.md
  docs/build/cmake-presets-vs.md
  docs/build/media/cmake-find-all-refs.png
  docs/build/media/start-window.png
  docs/build/reference/fsanitize-coverage.md
  docs/build/reference/fsanitize.md
  docs/build/reference/qspectre.md
  docs/c-language/static-assert-c.md
  docs/code-quality/c6236.md
  docs/error-messages/tool-errors/project-build-error-prj0003.md
  docs/mfc/upgrading-an-existing-activex-control.md
  docs/overview/visual-cpp-samples.md
  docs/overview/what-s-new-for-visual-cpp-in-visual-studio.md
Labels: Change sent to author, visual-cpp/prod, cpp-ide/tech, CLA

#3503 Repo sync for protected CLA branch
  docs/overview/visual-cpp-language-conformance.md
Labels: Change sent to author, visual-cpp/prod, cpp-language/tech, aq-pr-triaged, CLA

#3502 Update casting-c-cx.md
  docs/cppcx/casting-c-cx.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-cx/tech

#3507 Repo sync for protected CLA branch
  docs/overview/visual-cpp-language-conformance.md
Labels: Change sent to author, visual-cpp/prod, cpp-language/tech, CLA

#3508 Repo sync for protected CLA branch
  docs/overview/visual-cpp-language-conformance.md
Labels: Change sent to author, visual-cpp/prod, cpp-language/tech, aq-pr-triaged, CLA

#3511 Repo sync for protected CLA branch
  docs/overview/visual-cpp-language-conformance.md
Labels: Change sent to author, visual-cpp/prod, cpp-language/tech, CLA

#3509 Remove the deprecation of IT instructions in the ARM ABI
  docs/build/overview-of-arm-abi-conventions.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-tools/tech

#3475 Add name clarification to new description
  docs/cpp/new-operator-cpp.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-language/tech, aq-pr-triaged

#3474 Add description for new warning C26826
  docs/code-quality/c26826.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-tools/tech

#3458 Update download URLs to point to 2022 redists
  docs/windows/latest-supported-vc-redist.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-windows/tech

#3516 Update _MSC_VER table with VS2022 RTW version.
  docs/preprocessor/predefined-macros.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-language/tech, aq-pr-triaged

#3519 Repo sync for protected CLA branch
  docs/build/clang-support-msbuild.md
  docs/build/media/clang-msbuild-prop-page.png
  docs/build/media/llvm-msbuild-prop-page.png
  docs/build/walkthrough-creating-and-using-a-dynamic-link-library-cpp.md
  docs/c-language/character-sets1.md
  docs/c-runtime-library/internal-crt-globals-and-functions.md
  docs/c-runtime-library/mb-cur-max.md
  docs/c-runtime-library/reference/isascii-isascii-iswascii.md
  docs/c-runtime-library/reference/iscsym-functions.md
  docs/c-runtime-library/reference/toascii-toascii.md
  docs/cpp/func.md
  docs/cpp/how-to-create-and-use-unique-ptr-instances.md
  docs/cpp/results-of-calling-example.md
  docs/cppcx/collections-c-cx.md
  docs/error-messages/compiler-errors-1/compiler-error-c2457.md
  docs/error-messages/compiler-errors-1/compiler-errors-c2400-through-c2499.md
  docs/error-messages/compiler-errors-2/compiler-error-c2975.md
  docs/error-messages/compiler-errors-2/compiler-error-c3187.md
  docs/error-messages/compiler-errors-2/compiler-errors-c3200-through-c3299.md
  docs/mfc/reference/cwinappex-class.md
Labels: Change sent to author, visual-cpp/prod, cpp-ucrt/tech, CLA

#3525 Repo sync for protected CLA branch
  docs/build/cmakesettings-reference.md
Labels: Change sent to author, visual-cpp/prod, cpp-tools/tech, CLA

#3533 Repo sync for protected CLA branch
  docs/build/reference/fp-specify-floating-point-behavior.md
Labels: Change sent to author, visual-cpp/prod, cpp-tools/tech, CLA

#3537 Repo sync for protected CLA branch
  docs/build/cmake-presets-vs.md
  docs/build/media/enable-cmakepresets-new.png
  docs/build/walkthrough-build-debug-wsl2.md
  docs/error-messages/compiler-warnings/compiler-warning-level-2-c4146.md
  docs/overview/what-s-new-for-visual-cpp-in-visual-studio.md
Labels: Change sent to author, visual-cpp/prod, cpp-ide/tech, CLA

#3545 Repo sync for protected CLA branch
  docs/assembler/masm/operator-bitwise-and.md
  docs/assembler/masm/operator-logical-and-masm-run-time.md
  docs/atl/reference/cadapt-class.md
  docs/atl/reference/ccomptrbase-class.md
  docs/atl/reference/cheapptrbase-class.md
  docs/atl/reference/cpatht-class.md
  docs/build/reference/compiler-options-listed-alphabetically.md
  docs/build/reference/compiler-options-listed-by-category.md
  docs/build/reference/fp-specify-floating-point-behavior.md
  docs/build/reference/fpcvt.md
  docs/build/reference/nmake-function-abspath.md
  docs/build/reference/nmake-function-basename.md
  docs/build/reference/nmake-function-filter.md
  docs/build/reference/nmake-function-filterout.md
  docs/build/reference/nmake-function-findstring.md
  docs/build/reference/nmake-function-patsubst.md
  docs/build/reference/nmake-function-strip.md
  docs/build/reference/nmake-function-subst.md
  docs/build/toc.yml
  docs/code-quality/c26820.md
  docs/cpp/address-of-operator-amp.md
  docs/cpp/bitwise-and-operator-amp.md
  docs/cpp/logical-and-operator-amp-amp.md
  docs/cpp/lvalue-reference-declarator-amp.md
  docs/cppcx/wrl/comptr-class.md
  docs/cppcx/wrl/weakref-class.md
  docs/data/oledb/cdataconnection-class.md
  docs/intrinsics/alphabetical-listing-of-intrinsic-functions.md
  docs/intrinsics/fast-conversion-functions.md
  docs/intrinsics/saturation-conversion-functions.md
  docs/intrinsics/sentinel-conversion-functions.md
  docs/intrinsics/toc.yml
  docs/parallel/concrt/reference/concurrency-namespace-operators.md
  docs/standard-library/bitset-operators.md
  docs/standard-library/iomanip-functions.md
  docs/standard-library/reference-wrapper-class.md
  docs/standard-library/valarray-class.md
  docs/standard-library/valarray-operators.md
Labels: Change sent to author, visual-cpp/prod, cpp-tools/tech, CLA

#3538 Add Visual Studio 2022 Platform Toolset Version
  docs/build/how-to-modify-the-target-framework-and-platform-toolset.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-tools/tech

#3551 Update tn026-ddx-and-ddv-routines.md
  docs/mfc/tn026-ddx-and-ddv-routines.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-mfc/tech

#3548 Repo sync for protected CLA branch
  docs/assembler/masm/operator-bitwise-and.md
  docs/assembler/masm/operator-greater-or-equal-masm-run-time.md
  docs/assembler/masm/operator-greater-than-masm-run-time.md
  docs/assembler/masm/operator-literal.md
  docs/assembler/masm/operator-logical-and-masm-run-time.md
  docs/atl-mfc-shared/reference/cfiletime-class.md
  docs/atl-mfc-shared/reference/cfiletimespan-class.md
  docs/atl/reference/cautoptr-class.md
  docs/atl/reference/ccomcurrency-class.md
  docs/atl/reference/ccomptrbase-class.md
  docs/atl/reference/ccomvariant-class.md
  docs/atl/reference/cheapptrbase-class.md
  docs/atl/reference/cpatht-class.md
  docs/atl/reference/csid-class.md
  docs/build/reference/c-visual-cpp.md
  docs/build/reference/code-visual-cpp.md
  docs/build/reference/example-visual-cpp.md
  docs/build/reference/exception-visual-cpp.md
  docs/build/reference/fpcvt.md
  docs/build/reference/include-visual-cpp.md
  docs/cpp/address-of-operator-amp.md
  docs/cpp/bitwise-and-operator-amp.md
  docs/cpp/logical-and-operator-amp-amp.md
  docs/cpp/lvalue-reference-declarator-amp.md
  docs/cpp/rvalue-reference-declarator-amp-amp.md
  docs/cppcx/wrl/weakref-class.md
  docs/data/oledb/cdataconnection-class.md
  docs/parallel/concrt/reference/concurrency-namespace-operators.md
Labels: Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-atl/tech, CLA

#3562 Add UWP to list of unsupported ASAN features.
  docs/sanitizers/asan-known-issues.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-tools/tech
