Repository MicrosoftDocs/cpp-docs, pull requests merged in 2021-06, with the labels that each got.

#3173 Repo sync for protected CLA branch
  docs/atl-mfc-shared/cstring-operations-relating-to-c-style-strings.md
  docs/atl-mfc-shared/reference/cimage-class.md
  docs/atl-mfc-shared/reference/crect-class.md
  docs/atl-mfc-shared/reference/csimplestringt-class.md
  docs/atl-mfc-shared/reference/cstringt-class.md
  docs/atl-mfc-shared/using-cstring.md
  docs/atl/queryinterface.md
  docs/atl/reference/ccombstr-class.md
  docs/atl/reference/ccomptr-class.md
  docs/build/reference/advanced-property-page.md
  docs/build/reference/general-property-page-project.md
  docs/build/reference/ltcg-link-time-code-generation.md
  docs/c-runtime-library/reference/assert-macro-assert-wassert.md
  docs/c-runtime-library/reference/dupenv-s-wdupenv-s.md
  docs/c-runtime-library/reference/memcmp-wmemcmp.md
  docs/c-runtime-library/reference/splitpath-s-wsplitpath-s.md
  docs/mfc/reference/application-information-and-management.md
  docs/mfc/reference/carray-class.md
  docs/mfc/reference/casyncsocket-class.md
  docs/mfc/reference/cbitmap-class.md
  docs/mfc/reference/ccombobox-class.md
  docs/mfc/reference/cdc-class.md
  docs/mfc/reference/cframewnd-class.md
  docs/mfc/reference/clistbox-class.md
  docs/mfc/reference/clistctrl-class.md
  docs/mfc/reference/cmap-class.md
  docs/mfc/reference/cmenu-class.md
  docs/mfc/reference/cricheditctrl-class.md
  docs/mfc/reference/cstdiofile-class.md
  docs/mfc/reference/cstring-formatting-and-message-box-display.md
  docs/mfc/reference/ctreectrl-class.md
  docs/mfc/reference/cwinthread-class.md
  docs/mfc/reference/cwnd-class.md
  docs/mfc/reference/message-map-macros-mfc.md
  docs/mfc/reference/mfc-classes.md
  docs/mfc/reference/styles-used-by-mfc.md
Labels: CLA, Change sent to author, cpp-mfc/tech, visual-cpp/prod

#3174 Repo sync for protected CLA branch
  docs/build/reference/property-page-xml-files.md
  docs/error-messages/compiler-warnings/c5050.md
  docs/mfc/reference/cmfcribbonfontcombobox-class.md
  docs/mfc/reference/cview-class.md
  docs/overview/cpp-conformance-improvements-2017.md
  docs/overview/cpp-conformance-improvements.md
  docs/parallel/amp/reference/extent-class.md
  docs/porting/visual-cpp-change-history-2003-2015.md
  docs/porting/visual-cpp-what-s-new-2003-through-2015.md
  docs/preprocessor/hdrstop.md
  docs/standard-library/chrono-literals.md
  docs/standard-library/valarray.md
Labels: CLA, Change sent to author, cpp-language/tech, visual-cpp/prod

#3176 Add advanced details about using CMake file-api
  docs/build/cmake-projects-in-visual-studio.md
Labels: Change sent to author, aq-pr-triaged, cpp-tools/tech, do-not-merge, visual-cpp/prod

#3179 Repo sync for protected CLA branch
  docs/build/cmake-presets-json-reference.md
  docs/build/cmake-presets-vs.md
Labels: CLA

#3180 String change
  docs/build/cmake-presets-vs.md
Labels: Change sent to author, aq-pr-triaged, cpp-tools/tech, do-not-merge, visual-cpp/prod

#3178 Update crt-functions-not-supported-in-universal-windows-platform-apps.md
  docs/cppcx/crt-functions-not-supported-in-universal-windows-platform-apps.md
Labels: Change sent to author, aq-pr-triaged, cpp-cx/tech, visual-cpp/prod

#3182 Repo sync for protected CLA branch
  docs/build/tips-for-improving-time-critical-code.md
  docs/overview/visual-cpp-language-conformance.md
Labels: CLA, Change sent to author, cpp-language/tech, visual-cpp/prod

#3188 Fix typo
  docs/extensions/compiler-support-for-type-traits-cpp-component-extensions.md
Labels: Change sent to author, cpp-cli/tech, do-not-merge, visual-cpp/prod

#3186 Repo sync for protected CLA branch
  docs/build/reference/external-external-headers-diagnostics.md
  docs/c-runtime-library/reference/setlocale-wsetlocale.md
  docs/error-messages/compiler-warnings/compiler-warnings-by-compiler-version.md
  docs/error-messages/compiler-warnings/compiler-warnings-c4800-through-c4999.md
  docs/mfc/windows-sockets-using-class-casyncsocket.md
  docs/preprocessor/predefined-macros.md
  docs/standard-library/bitset-class.md
Labels: CLA, Change sent to author, cpp-diagnostics/tech, visual-cpp/prod

#3190 correct "friend class" syntax
  docs/cpp/friend-cpp.md
Labels: Change sent to author, cpp-language/tech, do-not-merge, visual-cpp/prod

#3192 Repo sync for protected CLA branch
  docs/build-insights/get-started-with-cpp-build-insights.md
  docs/build-insights/reference/sdk/c-event-data-types/translation-unit-type-data.md
  docs/build-insights/reference/sdk/c-event-data-types/translation-unit-type.md
  docs/build-insights/reference/sdk/cpp-event-data-types/header-unit.md
  docs/build-insights/reference/sdk/cpp-event-data-types/module.md
  docs/build-insights/reference/sdk/cpp-event-data-types/precompiled-header.md
  docs/build-insights/reference/sdk/cpp-event-data-types/translation-unit-type.md
  docs/build-insights/reference/sdk/event-table.md
  docs/build-insights/reference/sdk/overview.md
  docs/build-insights/toc.yml
  docs/build/reference/std-specify-language-standard-version.md
  docs/standard-library/chrono-functions.md
  docs/standard-library/chrono-literals.md
  docs/standard-library/chrono-operators.md
  docs/standard-library/chrono.md
  docs/standard-library/common-type-structure.md
  docs/standard-library/day-class.md
  docs/standard-library/duration-class.md
  docs/standard-library/duration-values-structure.md
  docs/standard-library/hhmmss-class.md
  docs/standard-library/high-resolution-clock-struct.md
  docs/standard-library/leap-second-class.md
  docs/standard-library/leap-second-info-struct.md
  docs/standard-library/month-class.md
  docs/standard-library/month-day-class.md
  docs/standard-library/month-day-last-class.md
  docs/standard-library/month-weekday-class.md
  docs/standard-library/month-weekday-last-class.md
  docs/standard-library/steady-clock-struct.md
  docs/standard-library/system-clock-structure.md
  docs/standard-library/time-point-class.md
  docs/standard-library/time-zone-class.md
  docs/standard-library/toc.yml
  docs/standard-library/treat-as-floating-point-structure.md
  docs/standard-library/weekday-class.md
  docs/standard-library/weekdayindexed-class.md
  docs/standard-library/weekdaylast-class.md
  docs/standard-library/year-class.md
Labels: CLA, Change sent to author, cpp-standard-libraries/tech, visual-cpp/prod

#3193 Removing reference to /Oa
  docs/build/optimization-best-practices.md
Labels: Change sent to author, cpp-tools/tech, ready-to-merge, visual-cpp/prod

#3198 Repo sync for protected CLA branch
  docs/code-quality/c6389.md
  docs/code-quality/toc.yml
  docs/error-messages/compiler-errors-2/compiler-errors-c2700-through-c2799.md
  docs/error-messages/compiler-warnings/compiler-warnings-by-compiler-version.md
  docs/error-messages/compiler-warnings/compiler-warnings-c4800-through-c4999.md
  docs/overview/cpp-conformance-improvements.md
  docs/preprocessor/compiler-warnings-that-are-off-by-default.md
Labels: CLA, Change sent to author, cpp-language/tech, visual-cpp/prod

#3201 Repo sync for protected CLA branch
  docs/get-started/tutorial-console-cpp.md
Labels: CLA, Change sent to author, cpp-language/tech, visual-cpp/prod

#3204 Update format-specification-syntax-printf-and-wprintf-functions.md
  docs/c-runtime-library/format-specification-syntax-printf-and-wprintf-functions.md
Labels: Change sent to author, aq-pr-triaged, cpp-ucrt/tech, do-not-merge, visual-cpp/prod

#3215 Updated Example Code
  docs/linux/cmake-linux-project.md
Labels: Change sent to author, cpp-linux/tech, do-not-merge, visual-cpp/prod

#3214 Repo sync for protected CLA branch
  docs/standard-library/chrono-functions.md
  docs/standard-library/chrono-operators.md
  docs/standard-library/chrono.md
  docs/standard-library/day-class.md
  docs/standard-library/month-class.md
  docs/standard-library/month-day-class.md
  docs/standard-library/month-day-last-class.md
  docs/standard-library/month-weekday-class.md
  docs/standard-library/month-weekday-last-class.md
  docs/standard-library/steady-clock-struct.md
  docs/standard-library/toc.yml
  docs/standard-library/weekday-class.md
  docs/standard-library/weekdayindexed-class.md
  docs/standard-library/weekdaylast-class.md
  docs/standard-library/year-class.md
  docs/standard-library/year-month-class.md
  docs/standard-library/year-month-day-class.md
Labels: CLA, Change sent to author, cpp-standard-libraries/tech, visual-cpp/prod

#3217 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  docs/build/building-on-the-command-line.md
  docs/build/reference/cl-environment-variables.md
  docs/build/reference/f-set-stack-size.md
  docs/build/reference/netmodule-files-as-linker-input.md
  docs/build/reference/qspectre.md
  docs/build/reference/std-specify-language-standard-version.md
  docs/build/setting-the-path-and-environment-variables-for-command-line-builds.md
  docs/build/toc.yml
  docs/build/walkthrough-compile-a-c-program-on-the-command-line.md
  docs/build/walkthrough-compiling-a-native-cpp-program-on-the-command-line.md
  docs/c-language/alignment-c.md
  docs/c-language/static-assert-c.md
  docs/cpp/welcome-back-to-cpp-modern-cpp.md
  docs/error-messages/tool-errors/linker-tools-error-lnk2001.md
  docs/overview/cpp-conformance-improvements-2017.md
  docs/overview/cpp-conformance-improvements.md
  docs/overview/install-c17-support.md
  docs/overview/toc.yml
  docs/overview/visual-cpp-in-visual-studio.md
  docs/overview/visual-cpp-language-conformance.md
  docs/overview/what-s-new-for-cpp-2017.md
  docs/overview/whats-new-cpp-docs.md
  docs/porting/introduction-to-visual-cpp-for-unix-users.md
Labels: CLA, Change sent to author, cpp-ide/tech, visual-cpp/prod

#3219 Update cmake-linux-configure.md
  docs/linux/cmake-linux-configure.md
Labels: Change sent to author, aq-pr-triaged, cpp-linux/tech, do-not-merge, visual-cpp/prod

#3222 Repo sync for protected CLA branch
  docs/atl/active-template-library-atl-concepts.md
  docs/atl/atl-control-containment-faq.md
  docs/atl/atl-control-containment-faq.yml
  docs/atl/control-containment-classes.md
  docs/atl/reference/caxdialogimpl-class.md
  docs/atl/reference/caxwindow-class.md
  docs/atl/reference/caxwindow2t-class.md
  docs/atl/reference/composite-control-global-functions.md
  docs/atl/reference/iatlmemmgr-class.md
  docs/atl/reference/iaxwinambientdispatch-interface.md
  docs/atl/reference/iaxwinambientdispatchex-interface.md
  docs/atl/reference/iaxwinhostwindowlic-interface.md
  docs/atl/toc.yml
  docs/build/dll-frequently-asked-questions.md
  docs/build/dll-frequently-asked-questions.yml
  docs/build/dlls-in-visual-cpp.md
  docs/build/optimizing-your-code.md
  docs/build/toc.yml
  docs/windows/attributes/attribute-programming-faq.md
  docs/windows/attributes/attribute-programming-faq.yml
  docs/windows/attributes/cpp-attributes-com-net.md
  docs/windows/toc.yml
Labels: CLA, Change sent to author, cpp-atl/tech, visual-cpp/prod

#3208 Update asan-error-examples.md
  docs/sanitizers/asan-error-examples.md
Labels: Change sent to author, aq-pr-triaged, cpp-tools/tech, do-not-merge, visual-cpp/prod

#3225 Repo sync for protected CLA branch
  docs/standard-library/chrono-functions.md
  docs/standard-library/chrono-operators.md
  docs/standard-library/chrono.md
  docs/standard-library/month-class.md
  docs/standard-library/month-day-class.md
  docs/standard-library/month-day-last-class.md
  docs/standard-library/month-weekday-class.md
  docs/standard-library/month-weekday-last-class.md
  docs/standard-library/toc.yml
  docs/standard-library/weekday-class.md
  docs/standard-library/weekdayindexed-class.md
  docs/standard-library/weekdaylast-class.md
  docs/standard-library/year-class.md
  docs/standard-library/year-month-class.md
  docs/standard-library/year-month-day-class.md
  docs/standard-library/year-month-day-last-class.md
  docs/standard-library/year-month-weekday-class.md
  docs/standard-library/year-month-weekday-last-class.md
Labels: CLA, Change sent to author, cpp-standard-libraries/tech, visual-cpp/prod

#3221 Add mention of C++ AMP deprecation
  docs/parallel/amp/cpp-amp-overview.md
Labels: Change sent to author, aq-pr-triaged, cpp-amp/tech, cpp-tools/tech, do-not-merge, visual-cpp/prod

#3230 Update cpp-type-system-modern-cpp.md
  docs/cpp/cpp-type-system-modern-cpp.md
Labels: Change sent to author, cpp-language/tech, do-not-merge, visual-cpp/prod

#3231 Repo sync for protected CLA branch
  docs/c-language/alignment-c.md
  docs/c-language/generic_selection.md
  docs/c-language/static-assert-c.md
  docs/c-runtime-library/tgmath.md
  docs/overview/install-c17-support.md
  docs/standard-library/chrono-operators.md
  docs/standard-library/cstdalign.md
  docs/standard-library/ctgmath.md
  docs/standard-library/day-class.md
  docs/standard-library/month-day-class.md
  docs/standard-library/month-day-last-class.md
  docs/standard-library/month-weekday-class.md
  docs/standard-library/month-weekday-last-class.md
  docs/standard-library/toc.yml
  docs/standard-library/weekdaylast-class.md
  docs/standard-library/year-class.md
  docs/standard-library/year-month-class.md
  docs/standard-library/year-month-day-class.md
  docs/standard-library/year-month-day-last-class.md
  docs/standard-library/year-month-weekday-class.md
  docs/standard-library/year-month-weekday-last-class.md
Labels: CLA, Change sent to author, cpp-standard-libraries/tech, visual-cpp/prod
