Repository MicrosoftDocs/cpp-docs, pull requests merged in 2021-10, with the labels that each got.

#3416 Update wcstombs-s-wcstombs-s-l.md
  docs/c-runtime-library/reference/wcstombs-s-wcstombs-s-l.md
Labels: Change sent to author, ready-to-merge, visual-cpp/prod, aq-pr-triaged, cpp-ucrt/tech

#3422 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  docs/build/reference/batch-mode-rules.md
  docs/build/reference/command-macros-and-options-macros.md
  docs/build/reference/command-modifiers.md
  docs/build/reference/commands-in-a-makefile.md
  docs/build/reference/comments-in-a-makefile.md
  docs/build/reference/contents-of-a-makefile.md
  docs/build/reference/creating-a-makefile-project.md
  docs/build/reference/creating-inline-file-text.md
  docs/build/reference/defining-a-rule.md
  docs/build/reference/defining-an-nmake-macro.md
  docs/build/reference/description-blocks.md
  docs/build/reference/dot-directives.md
  docs/build/reference/environment-variable-macros.md
  docs/build/reference/executing-a-program-in-preprocessing.md
  docs/build/reference/expressions-in-makefile-preprocessing.md
  docs/build/reference/filename-macros.md
  docs/build/reference/filename-parts-syntax.md
  docs/build/reference/fp-specify-floating-point-behavior.md
  docs/build/reference/inference-rules.md
  docs/build/reference/inferred-dependents-and-rules.md
  docs/build/reference/inline-files-in-a-makefile.md
  docs/build/reference/long-filenames-in-a-makefile.md
  docs/build/reference/macro-substitution.md
  docs/build/reference/makefile-preprocessing-directives.md
  docs/build/reference/makefile-preprocessing-operators.md
  docs/build/reference/makefile-preprocessing.md
  docs/build/reference/multiple-inline-files.md
  docs/build/reference/nmake-reference.md
  docs/build/reference/null-and-undefined-macros.md
  docs/build/reference/precedence-in-inference-rules.md
  docs/build/reference/precedence-in-macro-definitions.md
  docs/build/reference/predefined-rules.md
  docs/build/reference/recursion-macros.md
  docs/build/reference/reusing-inline-files.md
  docs/build/reference/running-nmake.md
  docs/build/reference/sample-makefile.md
  docs/build/reference/search-paths-in-rules.md
  docs/build/reference/special-characters-in-a-makefile.md
  docs/build/reference/special-characters-in-macros.md
  docs/build/reference/special-nmake-macros.md
  docs/build/reference/specifying-an-inline-file.md
  docs/build/reference/using-an-nmake-macro.md
  docs/build/reference/where-to-define-macros.md
  docs/build/reference/wildcards-and-nmake.md
  docs/build/toc.yml
  docs/cpp/initializing-classes-and-structs-without-constructors-cpp.md
  docs/sanitizers/error-stack-buffer-overflow.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-tools/tech, CLA

#3430 Repo sync for protected CLA branch
  docs/atl-mfc-shared/reference/csimplestringt-class.md
  docs/c-runtime-library/reference/rand.md
  docs/cpp/index.yml
  docs/cpp/labeled-statements.md
  docs/cppcx/wrl/windows-runtime-cpp-template-library-wrl.md
  docs/overview/what-s-new-for-cpp-2017.md
Labels: Change sent to author, visual-cpp/prod, cpp-ide/tech, CLA

#3450 Repo sync for protected CLA branch
  docs/standard-library/ambiguous-local-time.md
  docs/standard-library/choose-enum.md
  docs/standard-library/chrono-functions.md
  docs/standard-library/chrono-operators.md
  docs/standard-library/chrono.md
  docs/standard-library/day-class.md
  docs/standard-library/duration-class.md
  docs/standard-library/future-class.md
  docs/standard-library/future-error-class.md
  docs/standard-library/local-info-struct.md
  docs/standard-library/month-weekday-class.md
  docs/standard-library/nonexistent-local-time.md
  docs/standard-library/time-zone-class.md
  docs/standard-library/toc.yml
  docs/standard-library/zoned-time-class.md
Labels: Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-standard-libraries/tech, CLA

#3452 Repo sync for protected CLA branch
  docs/c-runtime-library/reference/get-dstbias.md
  docs/standard-library/choose-enum.md
Labels: Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-standard-libraries/tech, cpp-ucrt/tech, CLA

#3464 Fix typo in page title
  docs/standard-library/file-clock-class.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-standard-libraries/tech

#3466 Update how-to-marshal-callbacks-and-delegates-by-using-cpp-interop.md
  docs/dotnet/how-to-marshal-callbacks-and-delegates-by-using-cpp-interop.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-cli/tech

#3470 Fix typo in toc for tzdb_list
  docs/standard-library/toc.yml
Labels: do-not-merge, review-team-triage

#3485 Fixes #3484
  docs/c-runtime-library/reference/strerror-s-strerror-s-wcserror-s-wcserror-s.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-ucrt/tech
