Repository MicrosoftDocs/cpp-docs, pull requests merged in 2021-07, with the labels that each got.

#3235 Repo sync for protected CLA branch
  docs/build/reference/zp-struct-member-alignment.md
  docs/standard-library/chrono-operators.md
  docs/standard-library/day-class.md
  docs/standard-library/weekday-class.md
  docs/standard-library/weekdayindexed-class.md
  docs/standard-library/year-class.md
  docs/standard-library/year-month-day-class.md
  docs/standard-library/year-month-day-last-class.md
  docs/standard-library/year-month-weekday-class.md
  docs/standard-library/year-month-weekday-last-class.md
Labels: CLA, Change sent to author, cpp-standard-libraries/tech, visual-cpp/prod

#3237 Making /Qspectre 'Required Libraries' section more clear
  docs/build/reference/qspectre.md
Labels: Change sent to author, aq-pr-triaged

#3242 Repo sync for protected CLA branch
  docs/build/reference/clrunmanagedcodecheck-add-suppressunmanagedcodesecurityattribute.md
  docs/build/reference/external-external-headers-diagnostics.md
  docs/c-language/c-pragmas.md
  docs/cppcx/collections-c-cx.md
  docs/preprocessor/pragma-directives-and-the-pragma-keyword.md
  docs/preprocessor/system-header-pragma.md
  docs/preprocessor/toc.yml
Labels: CLA, Change sent to author, cpp-tools/tech, visual-cpp/prod

#3211 Update Walkthrough Creating traditional Windows Desktop Apps.
  docs/windows/walkthrough-creating-windows-desktop-applications-cpp.md
Labels: Change sent to author, aq-pr-triaged, cpp-windows/tech, do-not-merge, visual-cpp/prod

#3243 Update cmakesettings-reference.md
  docs/build/cmakesettings-reference.md
Labels: Change sent to author, aq-pr-triaged, cpp-tools/tech, do-not-merge, visual-cpp/prod

#3244 Repo sync for protected CLA branch
  .whatsnew.json
  docs/c-runtime-library/reference/rand.md
  docs/error-messages/compiler-errors-1/compiler-error-c2259.md
  docs/overview/whats-new-cpp-docs.md
Labels: CLA, Change sent to author, cpp-ucrt/tech, visual-cpp/prod

#3223 Update template-specialization-cpp.md
  docs/cpp/template-specialization-cpp.md
Labels: Change sent to author, aq-pr-triaged, cpp-language/tech, do-not-merge, visual-cpp/prod

#3251 Repo sync for protected CLA branch
  docs/build/vscpp-step-0-installation.md
  docs/cpp/template-specialization-cpp.md
  docs/standard-library/chrono-functions.md
Labels: CLA, Change sent to author, aq-pr-triaged, cpp-tools/tech, visual-cpp/prod

#3249 UD2 is allowed in Ring 3 code
  docs/intrinsics/ud2.md
Labels: Change sent to author, aq-pr-triaged, cpp-tools/tech, do-not-merge, visual-cpp/prod

#3254 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  docs/build/launch-vs-schema-reference-cpp.md
  docs/build/reference/std-specify-language-standard-version.md
  docs/c-language/c-keywords.md
  docs/c-language/c-primary-expressions.md
  docs/c-language/generic-selection.md
  docs/c-language/noreturn.md
  docs/c-language/toc.yml
  docs/c-language/type-qualifiers.md
  docs/c-runtime-library/reference/ceil-ceilf-ceill.md
  docs/c-runtime-library/reference/exp2-exp2f-exp2l.md
  docs/cpp/extension-restrict.md
  docs/cpp/lambda-expressions-in-cpp.md
  docs/overview/whats-new-cpp-docs.md
  docs/preprocessor/pragma-directives-and-the-pragma-keyword.md
Labels: CLA, Change sent to author, cpp-c-language/tech, visual-cpp/prod

#3257 Repo sync for protected CLA branch
  docs/build/launch-vs-schema-reference-cpp.md
  docs/build/reference/fp-specify-floating-point-behavior.md
  docs/c-runtime-library/reference/asctime-s-wasctime-s.md
  docs/c-runtime-library/reference/asctime-wasctime.md
  docs/preprocessor/system-header-pragma.md
  docs/standard-library/regular-expressions-cpp.md
Labels: CLA, Change sent to author, cpp-tools/tech, visual-cpp/prod

#3260 Change incorrect link for logical AND
  docs/cpp/keywords-cpp.md
Labels: Change sent to author, cpp-language/tech, do-not-merge, visual-cpp/prod

#3267 Repo sync for protected CLA branch
  docs/standard-library/chrono.md
  docs/standard-library/is-clock-struct.md
  docs/standard-library/toc.yml
  docs/standard-library/treat-as-floating-point-structure.md
Labels: CLA, Change sent to author, cpp-standard-libraries/tech, visual-cpp/prod

#3270 Repo sync for protected CLA branch
  docs/cpp/declarations-and-definitions-cpp.md
Labels: CLA, Change sent to author, cpp-language/tech, visual-cpp/prod

#3271 Fixed typo: evalution --> evaluation
  docs/cpp/lvalues-and-rvalues-visual-cpp.md
Labels: Change sent to author, cpp-language/tech, do-not-merge, visual-cpp/prod
