Repository MicrosoftDocs/cpp-docs, pull requests merged in 2021-04, with the labels that each got.

#3066 Repo sync for protected CLA branch
  docs/build/reference/openmp-enable-openmp-2-0-support.md
  docs/error-messages/compiler-errors-1/compiler-fatal-errors-c999-through-c1999.md
  docs/error-messages/compiler-errors-1/fatal-error-c1090.md
  docs/error-messages/toc.yml
Labels: CLA, Change sent to author, cpp-diagnostics/tech, do-not-merge, visual-cpp/prod

#3068 Fix ComputeXdataSize samples for ARM/ARM64
  docs/build/arm-exception-handling.md
  docs/build/arm64-exception-handling.md
Labels: Change sent to author, cpp-tools/tech, do-not-merge, visual-cpp/prod

#3074 Repo sync for protected CLA branch
  docs/build/reference/clr-common-language-runtime-compilation.md
  docs/sanitizers/asan-known-issues.md
Labels: CLA, Change sent to author, cpp-tools/tech, ready-to-merge, visual-cpp/prod

#3075 Repo sync for protected CLA branch
  docs/c-runtime-library/crt-library-features.md
  docs/standard-library/array-class-stl.md
  docs/standard-library/file-system-navigation.md
  docs/standard-library/function-objects-in-the-stl.md
  docs/standard-library/memory-functions.md
  docs/standard-library/stl-containers.md
  docs/standard-library/string-functions.md
  docs/standard-library/string.md
  docs/standard-library/thread-safety-in-the-cpp-standard-library.md
  docs/standard-library/unique-ptr-class.md
  docs/standard-library/using-insertion-operators-and-controlling-format.md
Labels: CLA, Change sent to author, cpp-standard-libraries/tech, do-not-merge, visual-cpp/prod

#3080 Repo sync for protected CLA branch
  docs/cpp/abstract-classes-cpp.md
Labels: CLA, Change sent to author, cpp-language/tech, do-not-merge, visual-cpp/prod

#3085 typo
  docs/build/reference/permissive-standards-conformance.md
Labels: Change sent to author, cpp-tools/tech, do-not-merge, visual-cpp/prod

#3083 fixed issue #2169
  docs/build/projects-and-build-systems-cpp.md
Labels: Change sent to author, aq-pr-triaged, cpp-tools/tech, do-not-merge, visual-cpp/prod

#3084 Repo sync for protected CLA branch
  docs/build/cmake-presets-json-reference.md
  docs/build/cmake-presets-vs.md
  docs/build/media/add-configure-preset-to-cmakepresets.png
  docs/build/media/add-reference-to-walkthrough.png
  docs/build/media/additional-header-unit-dependencies-setting.png
  docs/build/media/change-compile-as.png
  docs/build/media/change-item-type.png
  docs/build/media/empty-project-option.png
  docs/build/media/enable-cmakepresets.png
  docs/build/media/public-include-module-directories-setting.png
  docs/build/media/set-cpp-language-latest.png
  docs/build/media/set-header-unit-library-settings.png
  docs/build/media/target-system-dropdown.png
  docs/build/media/target-system-selections.png
  docs/build/media/vs2019-additional-module-dependencies.png
  docs/build/media/vs2019-scan-module-dependencies.png
  docs/build/media/vs2019-translate-includes-option.png
  docs/build/reference/compiler-options-listed-alphabetically.md
  docs/build/reference/compiler-options-listed-by-category.md
  docs/build/reference/experimental-module.md
  docs/build/reference/headername.md
  docs/build/reference/headerunit.md
  docs/build/reference/module-exportheader.md
  docs/build/reference/module-reference.md
  docs/build/reference/sourcedependencies-directives.md
  docs/build/reference/sourcedependencies.md
  docs/build/reference/translateinclude.md
  docs/build/reference/y-precompiled-headers.md
  docs/build/toc.yml
  docs/build/walkthrough-header-units.md
  docs/build/walkthrough-import-stl-header-units.md
  docs/standard-library/ranges.md
  docs/standard-library/span.md
  docs/standard-library/toc.yml
Labels: CLA, Change sent to author, cpp-tools/tech, do-not-merge, visual-cpp/prod

#3087 Repo sync for protected CLA branch
  docs/standard-library/ranges.md
Labels: CLA, Change sent to author, cpp-standard-libraries/tech, do-not-merge, visual-cpp/prod

#3090 Repo sync for protected CLA branch
  docs/assembler/masm/masm-bnf-grammar.md
  docs/atl/understanding-parse-trees.md
  docs/build/cmake-presets-vs.md
  docs/build/reference/d-preprocessor-definitions.md
  docs/build/reference/genprofile-fastgenprofile-generate-profiling-instrumented-build.md
  docs/build/reference/showincludes-list-include-files.md
  docs/c-language/c-constant-expressions.md
  docs/c-language/c-extended-storage-class-attributes.md
  docs/c-language/c-floating-point-constants.md
  docs/c-language/continue-statement-c.md
  docs/c-language/declarators-and-variable-declarations.md
  docs/c-runtime-library/format-specification-syntax-printf-and-wprintf-functions.md
  docs/c-runtime-library/reference/fopen-s-wfopen-s.md
  docs/c-runtime-library/reference/fopen-wfopen.md
  docs/c-runtime-library/reference/lseek-lseeki64.md
  docs/c-runtime-library/reference/scanf-s-scanf-s-l-wscanf-s-wscanf-s-l.md
  docs/c-runtime-library/reference/sprintf-p-sprintf-p-l-swprintf-p-swprintf-p-l.md
  docs/c-runtime-library/reference/strcpy-s-wcscpy-s-mbscpy-s.md
  docs/cppcx/wrl/walkthrough-creating-a-windows-store-app-using-wrl-and-media-foundation.md
  docs/dotnet/converting-projects-from-mixed-mode-to-pure-intermediate-language.md
  docs/mfc/reference/cpanedivider-class.md
  docs/preprocessor/float-control.md
  docs/standard-library/algorithms.md
  docs/standard-library/chrono.md
  docs/standard-library/fstream-typedefs.md
  docs/standard-library/fstream.md
  docs/windows/attributes/immediatebind.md
Labels: CLA, Change sent to author, cpp-ucrt/tech, do-not-merge, visual-cpp/prod

#3092 Repo sync for protected CLA branch
  docs/assembler/masm/masm-bnf-grammar.md
  docs/atl/reference/ccombstr-class.md
  docs/build/cmake-presets-vs.md
  docs/build/reference/module-exportheader.md
  docs/build/reference/sourcedependencies-directives.md
  docs/build/reference/vmb-vmg-representation-method.md
  docs/build/reference/vmm-vms-vmv-general-purpose-representation.md
  docs/c-runtime-library/reference/exp-expf.md
  docs/c-runtime-library/reference/fmod-fmodf.md
  docs/c-runtime-library/reference/freopen-s-wfreopen-s.md
  docs/c-runtime-library/reference/set-unexpected-crt.md
  docs/c-runtime-library/reference/strcpy-s-wcscpy-s-mbscpy-s.md
  docs/c-runtime-library/tgmath.md
  docs/code-quality/c6273.md
  docs/cpp/import-export-module.md
  docs/cpp/inheritance-keywords.md
  docs/cpp/type-conversions-and-type-safety-modern-cpp.md
  docs/cppcx/namespaces-reference-c-cx.md
  docs/cppcx/platform-collections-vectorviewiterator-class.md
  docs/cppcx/ref-classes-and-structs-c-cx.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4407.md
  docs/mfc/activex-controls.md
  docs/mfc/reference/cdbexception-class.md
  docs/mfc/reference/cmenu-class.md
  docs/overview/cpp-conformance-improvements.md
  docs/parallel/concrt/creating-asynchronous-operations-in-cpp-for-windows-store-apps.md
  docs/preprocessor/compiler-warnings-that-are-off-by-default.md
  docs/preprocessor/hash-ifdef-and-hash-ifndef-directives-c-cpp.md
  docs/preprocessor/pointers-to-members.md
Labels: CLA, Change sent to author, cpp-language/tech, do-not-merge, visual-cpp/prod

#3095 Link to CMake Presets
  docs/linux/linux-asan-configuration.md
Labels: do-not-merge

#3097 Repo sync for protected CLA branch
  docs/cpp/attributes.md
  docs/error-messages/compiler-errors-1/compiler-errors-c2000-c3999.md
  docs/error-messages/compiler-errors-1/compiler-errors-c2001-through-c2099.md
  docs/error-messages/compiler-errors-1/compiler-errors-c2100-through-c2199.md
  docs/error-messages/compiler-errors-1/compiler-errors-c2200-through-c2299.md
  docs/error-messages/compiler-errors-1/compiler-errors-c2300-through-c2399.md
  docs/error-messages/compiler-errors-1/compiler-errors-c2400-through-c2499.md
  docs/error-messages/compiler-errors-2/compiler-errors-c2500-through-c2599.md
  docs/error-messages/compiler-errors-2/compiler-errors-c2600-through-c2699.md
  docs/error-messages/compiler-errors-2/compiler-errors-c2700-through-c2799.md
  docs/error-messages/compiler-errors-2/compiler-errors-c2800-through-c2899.md
  docs/error-messages/compiler-errors-2/compiler-errors-c2900-through-c3499.md
  docs/error-messages/compiler-errors-2/compiler-errors-c3000-through-c3099.md
  docs/error-messages/compiler-errors-2/compiler-errors-c3100-through-c3199.md
  docs/error-messages/compiler-errors-2/compiler-errors-c3200-through-c3299.md
  docs/error-messages/compiler-errors-2/compiler-errors-c3300-through-c3399.md
  docs/error-messages/compiler-errors-2/compiler-errors-c3400-through-c3499.md
  docs/error-messages/compiler-errors-2/compiler-errors-c3500-through-c3999.md
  docs/error-messages/compiler-errors-2/compiler-errors-c7000-through-c7499.md
  docs/error-messages/compiler-errors-2/compiler-errors-c7500-through-c7999.md
  docs/error-messages/compiler-warnings/c4698.md
  docs/error-messages/compiler-warnings/c4834.md
  docs/error-messages/compiler-warnings/c5037.md
  docs/error-messages/compiler-warnings/c5208.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4464.md
  docs/error-messages/compiler-warnings/compiler-warnings-c4400-through-c4599.md
  docs/error-messages/compiler-warnings/compiler-warnings-c4600-through-c4799.md
  docs/error-messages/compiler-warnings/compiler-warnings-c4800-through-c4999.md
  docs/error-messages/toc.yml
  docs/error-messages/tool-errors/command-line-error-d8048.md
  docs/overview/cpp-conformance-improvements-2017.md
  docs/overview/cpp-conformance-improvements.md
  docs/preprocessor/compiler-warnings-that-are-off-by-default.md
  docs/standard-library/algorithm.md
  docs/standard-library/iomanip-functions.md
  docs/standard-library/iostream-programming.md
  docs/standard-library/iterator-debug-level.md
  docs/standard-library/list-class.md
  docs/standard-library/random.md
  docs/standard-library/set-class.md
  docs/standard-library/shared-ptr-class.md
  docs/standard-library/string-typedefs.md
  docs/standard-library/unordered-map-class.md
Labels: CLA, Change sent to author, cpp-language/tech, do-not-merge, visual-cpp/prod

#3096 Update exception-handling-in-the-concurrency-runtime_3.cpp
  docs/parallel/concrt/codesnippet/CPP/exception-handling-in-the-concurrency-runtime_3.cpp
Labels: Change sent to author, aq-pr-triaged, cpp/svc, do-not-merge

#3094 Updated signing guidance for integritycheck binaries
  docs/build/reference/integritycheck-require-signature-check.md
Labels: Change sent to author, aq-pr-triaged, cpp-tools/tech, cpp/svc, do-not-merge, visual-cpp/prod

#3098 Repo sync for protected CLA branch
  docs/build/cmake-presets-vs.md
  docs/build/walkthrough-header-units.md
  docs/build/walkthrough-import-stl-header-units.md
  docs/error-messages/compiler-errors-2/compiler-error-c7510.md
  docs/error-messages/compiler-errors-2/compiler-errors-c7500-through-c7999.md
  docs/error-messages/toc.yml
  docs/overview/cpp-conformance-improvements-2017.md
  docs/overview/cpp-conformance-improvements.md
Labels: CLA, Change sent to author, cpp-language/tech, do-not-merge, visual-cpp/prod

#3104 Repo sync for protected CLA branch
  docs/build/cmake-presets-json-reference.md
  docs/build/cmake-presets-vs.md
  docs/cpp/char-wchar-t-char16-t-char32-t.md
  docs/cpp/toc.yml
Labels: CLA, Change sent to author, cpp-tools/tech, do-not-merge, visual-cpp/prod

#3049 Improve errno Constants page
  docs/c-runtime-library/errno-constants.md
  docs/c-runtime-library/errno-doserrno-sys-errlist-and-sys-nerr.md
Labels: Change sent to author, aq-pr-triaged, cpp-ucrt/tech, do-not-merge, visual-cpp/prod

#3107 Repo sync for protected CLA branch
  docs/build/reference/fc-full-path-of-source-code-file-in-diagnostics.md
Labels: CLA, Change sent to author, cpp-tools/tech, do-not-merge, visual-cpp/prod

#3108 Fix unbalanced bold for /clr option
  docs/build/reference/openmp-enable-openmp-2-0-support.md
Labels: Change sent to author, cpp-tools/tech, do-not-merge, visual-cpp/prod

#3113 Repo sync for protected CLA branch
  docs/build/reference/openmp-enable-openmp-2-0-support.md
Labels: CLA, Change sent to author, cpp-tools/tech, do-not-merge, visual-cpp/prod

#3115 Added missing space in inheritance-cpp.md
  docs/cpp/inheritance-cpp.md
Labels: Change sent to author, cpp-language/tech, do-not-merge, visual-cpp/prod
