Repository MicrosoftDocs/cpp-docs, pull requests merged in 2021-01, with the labels that each got.

#2687 CMake link update
  docs/build/cmake-projects-in-visual-studio.md
Labels: Change sent to author, aq-pr-triaged, cpp-tools/tech, do-not-merge, visual-cpp/prod

#2675 Make the CCoInitializer constructor exception safe
  docs/parallel/concrt/codesnippet/CPP/walkthrough-using-the-concurrency-runtime-in-a-com-enabled-application_3.cpp
Labels: Change sent to author, aq-pr-triaged, cpp-parallel/tech, cpp/svc, do-not-merge, review-team-triage

#2688 Repo sync for protected CLA branch
  docs/build/toc.yml
Labels: CLA, review-team-triage

#2692 Repo sync for protected CLA branch
  docs/assembler/masm/dot-model.md
  docs/build/arm-exception-handling.md
  docs/error-messages/tool-errors/project-build-error-prj0003.md
  docs/mfc/exception-handling-in-mfc.md
  docs/mfc/mfc-internet-programming-basics.md
  docs/mfc/reference/cexception-class.md
  docs/mfc/reference/ctreectrl-class.md
  docs/mfc/reference/cwaitcursor-class.md
  docs/parallel/concrt/parallel-diagnostic-tools-concurrency-runtime.md
Labels: CLA, Change sent to author, cpp-mfc/tech, visual-cpp/prod

#2689 Update HFA return value section of ARM64 ABI docs
  docs/build/arm64-windows-abi-conventions.md
Labels: Change sent to author, aq-pr-triaged, cpp-tools/tech, do-not-merge, visual-cpp/prod

#2696 Fix typo in flag for __cplusplus macro conformance
  docs/build/reference/zc-conformance.md
Labels: Change sent to author, cpp-tools/tech, do-not-merge, visual-cpp/prod

#2618 Three syntaxes for initialising auto-typed variables
  docs/cpp/auto-cpp.md
Labels: Change sent to author, aq-pr-triaged, cpp-language/tech, do-not-merge, visual-cpp/prod

#2698 Repo sync for protected CLA branch
  docs/build/reference/zp-struct-member-alignment.md
Labels: CLA, Change sent to author, cpp-tools/tech, visual-cpp/prod

#2700 Repo sync for protected CLA branch
  docs/build/reference/example-visual-cpp.md
  docs/build/reference/para-visual-cpp.md
  docs/build/reference/param-visual-cpp.md
  docs/build/reference/paramref-visual-cpp.md
  docs/build/reference/permission-visual-cpp.md
  docs/build/reference/remarks-visual-cpp.md
  docs/build/reference/returns-visual-cpp.md
  docs/build/reference/see-visual-cpp.md
  docs/build/reference/seealso-visual-cpp.md
  docs/build/reference/summary-visual-cpp.md
  docs/build/reference/value-visual-cpp.md
  docs/standard-library/ccomplex.md
  docs/standard-library/chrono.md
  docs/standard-library/ciso646.md
  docs/standard-library/codecvt.md
  docs/standard-library/complex.md
  docs/standard-library/cstdalign.md
  docs/standard-library/cstdbool.md
  docs/standard-library/ctgmath.md
  docs/standard-library/ctime.md
  docs/standard-library/cuchar.md
  docs/standard-library/execution.md
  docs/standard-library/functional.md
  docs/standard-library/hash-map.md
  docs/standard-library/hash-set.md
  docs/standard-library/iomanip.md
  docs/standard-library/ios.md
  docs/standard-library/istream.md
  docs/standard-library/iterator.md
  docs/standard-library/limits.md
  docs/standard-library/locale.md
  docs/standard-library/memory.md
  docs/standard-library/ostream.md
  docs/standard-library/ratio.md
  docs/standard-library/string.md
  docs/standard-library/system-error.md
Labels: CLA

#2702 Repo sync for protected CLA branch
  docs/c-runtime-library/language-strings.md
  docs/mfc/reference/cobject-class.md
Labels: CLA, Change sent to author, cpp-ucrt/tech, visual-cpp/prod

#2704 Update unordered-map-class.md
  docs/standard-library/unordered-map-class.md
Labels: Change sent to author, aq-pr-triaged, cpp-standard-libraries/tech, do-not-merge, visual-cpp/prod

#2703 Update unordered-map-class.md
  docs/standard-library/unordered-map-class.md
Labels: Change sent to author, aq-pr-triaged, cpp-standard-libraries/tech, do-not-merge, visual-cpp/prod

#2710 Repo sync for protected CLA branch
  docs/c-runtime-library/cxxframehandler.md
  docs/c-runtime-library/except-handler3.md
  docs/c-runtime-library/internal-crt-globals-and-functions.md
  docs/c-runtime-library/lc-codepage-func.md
  docs/c-runtime-library/lc-collate-cp-func.md
  docs/c-runtime-library/lc-locale-name-func.md
  docs/c-runtime-library/local-unwind2.md
  docs/c-runtime-library/pctype-func.md
  docs/c-runtime-library/reference/acos-acosf-acosl.md
  docs/c-runtime-library/reference/asin-asinf-asinl.md
  docs/c-runtime-library/reference/atan-atanf-atanl-atan2-atan2f-atan2l.md
  docs/c-runtime-library/reference/cosh-coshf-coshl.md
  docs/c-runtime-library/reference/exp-expf.md
  docs/c-runtime-library/reference/fabs-fabsf-fabsl.md
  docs/c-runtime-library/reference/fmod-fmodf.md
  docs/c-runtime-library/reference/fpclass-fpclassf.md
  docs/c-runtime-library/reference/get-fma3-enable-set-fma3-enable.md
  docs/c-runtime-library/reference/get-purecall-handler-set-purecall-handler.md
  docs/c-runtime-library/reference/get-unexpected.md
  docs/c-runtime-library/reference/logb-logbf-logbl-logb-logbf.md
  docs/c-runtime-library/reference/longjmp.md
  docs/c-runtime-library/reference/memchr-wmemchr.md
  docs/c-runtime-library/reference/memcmp-wmemcmp.md
  docs/c-runtime-library/reference/memcpy-wmemcpy.md
  docs/c-runtime-library/reference/memmove-wmemmove.md
  docs/c-runtime-library/reference/memset-wmemset.md
  docs/c-runtime-library/reference/modf-modff-modfl.md
  docs/c-runtime-library/reference/nextafter-functions.md
  docs/c-runtime-library/reference/resetstkoflw.md
  docs/c-runtime-library/reference/scalb.md
  docs/c-runtime-library/reference/set-se-translator.md
  docs/c-runtime-library/reference/set-unexpected-crt.md
  docs/c-runtime-library/reference/setjmp.md
  docs/c-runtime-library/reference/sinh-sinhf-sinhl.md
  docs/c-runtime-library/reference/tan-tanf-tanl.md
  docs/c-runtime-library/reference/tanh-tanhf-tanhl.md
  docs/c-runtime-library/reference/uncaught-exception.md
  docs/c-runtime-library/reference/unexpected-crt.md
  docs/c-runtime-library/reference/wctype.md
  docs/c-runtime-library/rtdynamiccast.md
  docs/c-runtime-library/setjmp3.md
Labels: CLA, Change sent to author, cpp-ucrt/tech, do-not-merge, visual-cpp/prod

#2715 Repo sync for protected CLA branch
  docs/build/cmake-remote-debugging.md
  docs/build/launch-vs-schema-reference-cpp.md
  docs/build/media/cmake-add-config-icon-with-target-dialog.png
  docs/build/media/cmake-settings-editor2.png
  docs/build/media/cmake-targets-add-debug-configuration.png
  docs/build/media/cmake-targets-view2.png
  docs/build/media/remote-cmake-app.png
  docs/build/media/remote-debugger-options.png
  docs/build/media/solution-explorer-switch-view.png
  docs/build/media/startup-item.png
  docs/build/media/vs2019-cmake-manage-configurations-arm.png
  docs/build/media/vs2019-cmake-manage-configurations.png
  docs/build/reference/binding-imports.md
  docs/build/reference/calculating-necessary-values.md
  docs/build/reference/calling-conventions-parameters-and-return-type.md
  docs/build/reference/changes-in-the-dll-delayed-loading-helper-function-since-visual-cpp-6-0.md
  docs/build/reference/constraints-of-delay-loading-dlls.md
  docs/build/reference/developing-your-own-helper-function.md
  docs/build/reference/dumping-delay-loaded-imports.md
  docs/build/reference/error-handling-and-notification.md
  docs/build/reference/exceptions-c-cpp.md
  docs/build/reference/explicitly-unloading-a-delay-loaded-dll.md
  docs/build/reference/failure-hooks.md
  docs/build/reference/linker-support-for-delay-loaded-dlls.md
  docs/build/reference/loading-all-imports-for-a-delay-loaded-dll.md
  docs/build/reference/notification-hooks.md
  docs/build/reference/specifying-dlls-to-delay-load.md
  docs/build/reference/structure-and-constant-definitions.md
  docs/build/reference/understanding-the-helper-function.md
  docs/build/reference/unloading-a-delay-loaded-dll.md
  docs/build/toc.yml
  docs/c-runtime-library/reference/strncat-strncat-l-wcsncat-wcsncat-l-mbsncat-mbsncat-l.md
  docs/linux/connect-to-your-remote-linux-computer.md
  docs/preprocessor/once.md
  docs/preprocessor/pragma-directives-and-the-pragma-keyword.md
  docs/standard-library/1-object.md
  docs/standard-library/basic-string-class.md
  docs/standard-library/chrono-literals.md
  docs/standard-library/complex.md
  docs/standard-library/execution.md
  docs/standard-library/filesystem.md
  docs/standard-library/string-view-operators.md
Labels: CLA

#2716 Repo sync for protected CLA branch
  docs/build/reference/i-additional-include-directories.md
  docs/build/reference/x-ignore-standard-include-paths.md
  docs/code-quality/code-analysis-for-c-cpp-overview.md
  docs/preprocessor/alloc-text.md
  docs/preprocessor/auto-inline.md
  docs/preprocessor/bss-seg.md
  docs/preprocessor/check-stack.md
  docs/preprocessor/code-seg.md
  docs/preprocessor/comment-c-cpp.md
  docs/preprocessor/component.md
  docs/preprocessor/conform.md
  docs/preprocessor/const-seg.md
  docs/preprocessor/data-seg.md
  docs/preprocessor/deprecated-c-cpp.md
  docs/preprocessor/detect-mismatch.md
  docs/preprocessor/execution-character-set.md
  docs/preprocessor/fenv-access.md
  docs/preprocessor/float-control.md
  docs/preprocessor/fp-contract.md
  docs/preprocessor/function-c-cpp.md
  docs/preprocessor/grammar-summary-c-cpp.md
  docs/preprocessor/hash-include-directive-c-cpp.md
  docs/preprocessor/hdrstop.md
  docs/preprocessor/include-alias.md
  docs/preprocessor/init-seg.md
  docs/preprocessor/inline-depth.md
  docs/preprocessor/inline-recursion.md
  docs/preprocessor/intrinsic.md
  docs/preprocessor/loop.md
  docs/preprocessor/make-public.md
  docs/preprocessor/managed-unmanaged.md
  docs/preprocessor/message.md
  docs/preprocessor/omp.md
  docs/preprocessor/once.md
  docs/preprocessor/optimize.md
  docs/preprocessor/pack.md
  docs/preprocessor/pointers-to-members.md
  docs/preprocessor/pop-macro.md
  docs/preprocessor/pragma-directives-and-the-pragma-keyword.md
  docs/preprocessor/push-macro.md
  docs/preprocessor/region-endregion.md
  docs/preprocessor/runtime-checks.md
  docs/preprocessor/section.md
  docs/preprocessor/setlocale.md
  docs/preprocessor/strict-gs-check.md
  docs/preprocessor/vtordisp.md
  docs/preprocessor/warning.md
Labels: CLA, Change sent to author, cpp-language/tech, visual-cpp/prod

#2721 Repo sync for protected CLA branch
  docs/build/reference/permissive-standards-conformance.md
  docs/build/reference/zc-conformance.md
  docs/build/reference/zc-hiddenfriend.md
  docs/build/toc.yml
  docs/overview/cpp-conformance-improvements.md
Labels: CLA, Change sent to author, cpp-language/tech, visual-cpp/prod

#2728 Repo sync for protected CLA branch
  .whatsnew.json
Labels: CLA, review-team-triage

#2732 Repo sync for protected CLA branch
  .whatsnew.json
Labels: CLA, review-team-triage

#2731 change P1285R0 to N/A
  docs/overview/visual-cpp-language-conformance.md
Labels: Change sent to author, aq-pr-triaged, cpp-language/tech, do-not-merge, visual-cpp/prod
