Repository MicrosoftDocs/cpp-docs, pull requests merged in 2022-05, with the labels that each got.

#3863 Minor typo in tutorial-named-modules-cpp#Summary
  docs/cpp/tutorial-named-modules-cpp.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-language/tech

#3868 Repo sync for protected CLA branch
  docs/code-quality/c26455.md
  docs/code-quality/c26456.md
  docs/code-quality/c26476.md
  docs/code-quality/c26477.md
  docs/code-quality/c26486.md
  docs/sanitizers/asan-error-examples.md
  docs/sanitizers/asan-known-issues.md
  docs/sanitizers/error-container-overflow.md
  docs/sanitizers/media/container-overflow-example-1.png
  docs/sanitizers/toc.yml
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-tools/tech, CLA

#3870 Repo sync for protected CLA branch
  docs/c-runtime-library/reference/rand-s.md
  docs/c-runtime-library/reference/rand.md
  docs/c-runtime-library/reference/srand.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-ucrt/tech, CLA

#3875 Repo sync for protected CLA branch
  docs/ide/add-interface-definition-library-method-wizard.md
  docs/ide/add-interface-definition-library-property-wizard.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-ide/tech, CLA

#3871 Update dynamicbase.md
  docs/build/reference/dynamicbase.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-tools/tech

#3876 Update latest-supported-vc-redist.md
  docs/windows/latest-supported-vc-redist.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-windows/tech

#3879 Repo sync for protected CLA branch
  docs/build/reference/dynamicbase-use-address-space-layout-randomization.md
  docs/c-runtime-library/reference/setlocale-wsetlocale.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-tools/tech, CLA

#3883 Repo sync for protected CLA branch
  docs/text/how-to-convert-between-various-string-types.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-windows/tech, CLA

#3886 Repo sync for protected CLA branch
  docs/assembler/arm/arm-assembler-command-line-reference.md
  docs/assembler/arm/arm-assembler-diagnostic-messages.md
  docs/assembler/arm/arm-assembler-reference.md
  docs/build/walkthrough-compile-a-c-program-on-the-command-line.md
  docs/c-language/indirection-and-address-of-operators.md
  docs/cppcx/wrl/comptr-class.md
  docs/overview/cpp-conformance-improvements.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-language/tech, CLA

#3894 Repo sync for protected CLA branch
  docs/c-runtime-library/reference/getdiskfree.md
  docs/c-runtime-library/scanf-type-field-characters.md
  docs/mfc/reference/crecordset-class.md
  docs/standard-library/gslice-array-class.md
  docs/standard-library/gslice-class.md
  docs/standard-library/indirect-array-class.md
  docs/standard-library/mask-array-class.md
  docs/standard-library/slice-array-class.md
  docs/standard-library/slice-class.md
  docs/standard-library/valarray-class.md
  docs/standard-library/valarray.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-standard-libraries/tech, CLA

#3893 Added example program outputs (#3892)
  docs/standard-library/algorithm-functions.md
Labels: Change sent to author, ready-to-merge, visual-cpp/prod, aq-pr-triaged, cpp-standard-libraries/tech

#3896 Repo sync for protected CLA branch
  .github/ISSUE_TEMPLATE/new-c---2017-stl-library-documentation-topic-.md
  .github/ISSUE_TEMPLATE/new-c---2020-stl-library-documentation-topic-.md
  .github/ISSUE_TEMPLATE/new-c---2023-stl-library-documentation-topic.md
  .github/ISSUE_TEMPLATE/new-c---stl-library-doc-topic-.md
  docs/build/reference/linker-options.md
  docs/build/reference/time-linker-time-information.md
  docs/build/walkthrough-header-units.md
  docs/text/how-to-convert-between-various-string-types.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-tools/tech, CLA

#3900 Repo sync for protected CLA branch
  docs/atl-mfc-shared/reference/cimage-class.md
  docs/atl/adding-a-control-atl-tutorial-part-2.md
  docs/atl/adding-a-property-page-atl-tutorial-part-6.md
  docs/atl/adding-a-property-to-the-control-atl-tutorial-part-3.md
  docs/atl/adding-an-event-atl-tutorial-part-5.md
  docs/atl/changing-the-drawing-code-atl-tutorial-part-4.md
  docs/atl/reference/catltransactionmanager-class.md
  docs/atl/reference/ccontainedwindowt-class.md
  docs/c-runtime-library/byte-classification.md
  docs/c-runtime-library/file-attribute-constants.md
  docs/c-runtime-library/file-permission-constants.md
  docs/c-runtime-library/format-specification-fields-scanf-and-wscanf-functions.md
  docs/c-runtime-library/is-isw-routines.md
  docs/c-runtime-library/ismbb-routines.md
  docs/c-runtime-library/iso646-operators.md
  docs/c-runtime-library/reference/acos-acosf-acosl.md
  docs/c-runtime-library/reference/asin-asinf-asinl.md
  docs/c-runtime-library/reference/atof-atof-l-wtof-wtof-l.md
  docs/c-runtime-library/reference/bessel-functions-j0-j1-jn-y0-y1-yn.md
  docs/c-runtime-library/reference/bitor.md
  docs/c-runtime-library/reference/chmod-wchmod.md
  docs/c-runtime-library/reference/creat-wcreat.md
  docs/c-runtime-library/reference/or-eq.md
  docs/c-runtime-library/reference/or.md
  docs/c-runtime-library/reference/remainder-remainderf-remainderl.md
  docs/c-runtime-library/reference/sinh-sinhf-sinhl.md
  docs/mfc/form-views-mfc.md
  docs/mfc/reference/ccontrolbar-class.md
  docs/mfc/reference/cdaodatabase-class.md
  docs/mfc/reference/cdaofieldinfo-structure.md
  docs/mfc/reference/cdaoquerydef-class.md
  docs/mfc/reference/cdaotabledef-class.md
  docs/mfc/reference/cdaotabledefinfo-structure.md
  docs/mfc/reference/cdaoworkspace-class.md
  docs/mfc/reference/cfile-class.md
  docs/mfc/reference/cfiledialog-class.md
  docs/mfc/reference/cframewnd-class.md
  docs/mfc/reference/cftpfilefind-class.md
  docs/mfc/reference/cmdichildwndex-class.md
  docs/mfc/reference/cminiframewnd-class.md
  docs/mfc/reference/colecontrolsite-class.md
  docs/mfc/reference/coledroptarget-class.md
  docs/mfc/reference/cstdiofile-class.md
  docs/mfc/reference/cview-class.md
  docs/mfc/reference/cwnd-class.md
  docs/mfc/reference/diagnostic-services.md
  docs/mfc/tn001-window-class-registration.md
  docs/mfc/tn021-command-and-message-routing.md
  docs/mfc/tn031-control-bars.md
  docs/mfc/tn041-mfc-ole1-migration-to-mfc-ole-2.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-mfc/tech, CLA

#3887 Clarify master and single directives.
  docs/parallel/openmp/reference/openmp-clauses.md
  docs/parallel/openmp/reference/openmp-directives.md
Labels: Change sent to author, ready-to-merge, visual-cpp/prod, aq-pr-triaged, cpp-parallel/tech

#3903 Repo sync for protected CLA branch
  docs/standard-library/valarray-operators.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-standard-libraries/tech, CLA

#3907 Repo sync for protected CLA branch
  docs/build/reference/align-section-alignment.md
  docs/build/reference/allowbind-prevent-dll-binding.md
  docs/build/reference/allowisolation-manifest-lookup.md
  docs/build/reference/appcontainer-windows-store-app.md
  docs/build/reference/assemblydebug-add-debuggableattribute.md
  docs/build/reference/assemblylinkresource-link-to-dotnet-framework-resource.md
  docs/build/reference/assemblymodule-add-a-msil-module-to-the-assembly.md
  docs/build/reference/assemblyresource-embed-a-managed-resource.md
  docs/build/reference/at-specify-a-linker-response-file.md
  docs/build/reference/base-base-address.md
  docs/build/x64-calling-convention.md
  docs/c-language/inline-functions.md
  docs/cpp/inline-functions-cpp.md
  docs/error-messages/toc.yml
  docs/error-messages/tool-errors/linker-tools-error-lnk1170.md
  docs/error-messages/tool-errors/linker-tools-errors-and-warnings.md
  docs/preprocessor/predefined-macros.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-tools/tech, CLA

#3914 Repo sync for protected CLA branch
  docs/build/reference/scandependencies.md
  docs/build/reference/sourcedependencies-directives.md
  docs/build/reference/sourcedependencies.md
  docs/standard-library/basic-istringstream-class.md
  docs/standard-library/basic-ostringstream-class.md
  docs/standard-library/bitset-operators.md
  docs/standard-library/bitset.md
  docs/standard-library/complex-functions.md
  docs/standard-library/ctype-base-class.md
  docs/standard-library/ctype-class.md
  docs/standard-library/functional.md
  docs/standard-library/locale-class.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-standard-libraries/tech, CLA

#3906 Add note about supported windows versions to <chrono>
  docs/standard-library/chrono.md
Labels: Change sent to author, ready-to-merge, visual-cpp/prod, aq-pr-triaged, cpp-standard-libraries/tech

#3920 Resolve syncing conflicts from FromPrivateLiveToMaster to main
  docs/standard-library/chrono.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-standard-libraries/tech

#3924 Repo sync for protected CLA branch
  docs/c-runtime-library/reference/fdopen-wfdopen.md
  docs/c-runtime-library/reference/fopen-s-wfopen-s.md
  docs/c-runtime-library/reference/fopen-wfopen.md
  docs/c-runtime-library/reference/open-wopen.md
  docs/c-runtime-library/reference/sopen-s-wsopen-s.md
  docs/c-runtime-library/reference/sopen-wsopen.md
  docs/c-runtime-library/reference/strtoi64-wcstoi64-strtoi64-l-wcstoi64-l.md
  docs/c-runtime-library/reference/strtoui64-wcstoui64-strtoui64-l-wcstoui64-l.md
  docs/c-runtime-library/reference/umask-s.md
  docs/c-runtime-library/reference/umask.md
  docs/c-runtime-library/string-to-numeric-value-functions.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-ucrt/tech, CLA

#3923 Update cmake-projects-in-visual-studio.md
  docs/build/cmake-projects-in-visual-studio.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-tools/tech

#3922 Fix typo in OMP_NESTED default value description
  docs/parallel/openmp/reference/openmp-environment-variables.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-parallel/tech

#3854 Clarify that `__vectorcall` is still decorated in x64
  docs/build/reference/decorated-names.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, review-team-triage, aq-pr-triaged, cpp-tools/tech

#3837 Fix description of Epilogue Count in ARM .xdata
  docs/build/arm-exception-handling.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-tools/tech

#3925 Repo sync for protected CLA branch
  docs/build/exporting-c-functions-for-use-in-c-or-cpp-language-executables.md
  docs/build/reference/showincludes-list-include-files.md
  docs/code-quality/c26495.md
  docs/cpp/dllexport-dllimport.md
  docs/cpp/welcome-back-to-cpp-modern-cpp.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4273.md
  docs/error-messages/tool-errors/linker-tools-error-lnk1112.md
  docs/overview/what-s-new-for-visual-cpp-in-visual-studio.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-ide/tech, CLA

#3928 Repo sync for protected CLA branch
  docs/error-messages/compiler-errors-2/compiler-error-c3630.md
  docs/error-messages/compiler-errors-2/compiler-errors-c3500-through-c3999.md
Labels: do-not-merge, Change sent to author, CLA

#3931 Repo sync for protected CLA branch
  docs/standard-library/chrono.md
  docs/standard-library/leap-second-class.md
  docs/standard-library/leap-second-info-struct.md
  docs/standard-library/time-zone-class.md
  docs/standard-library/time-zone-link-class.md
  docs/standard-library/zoned-time-class.md
  docs/standard-library/zoned-traits-struct.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-standard-libraries/tech, CLA

#3936 Repo sync for protected CLA branch
  docs/c-runtime-library/reference/set-new-handler.md
  docs/cpp/new-and-delete-operators.md
  docs/standard-library/new-operators.md
  docs/standard-library/new-typedefs.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-standard-libraries/tech, CLA
