Repository MicrosoftDocs/cpp-docs, pull requests merged in 2022-02, with the labels that each got.

#3675 Repo sync for protected CLA branch
  docs/assembler/masm/ml-and-ml64-command-line-reference.md
  docs/build/reference/execution-charset-set-execution-character-set.md
  docs/build/reference/experimental-module.md
  docs/build/reference/makefile-preprocessing.md
  docs/build/reference/source-charset-set-source-character-set.md
  docs/build/reference/utf-8-set-source-and-executable-character-sets-to-utf-8.md
  docs/build/reference/validate-charset-validate-for-compatible-characters.md
  docs/build/reference/zh.md
  docs/build/toc.yml
  docs/build/walkthrough-compile-a-c-program-on-the-command-line.md
  docs/c-runtime-library/low-level-i-o.md
  docs/c-runtime-library/reference/abort.md
  docs/c-runtime-library/reference/read.md
  docs/c-runtime-library/reference/strtol-wcstol-strtol-l-wcstol-l.md
  docs/c-runtime-library/scanf-type-field-characters.md
  docs/c-runtime-library/string-manipulation-crt.md
  docs/code-quality/best-practices-and-examples-sal.md
  docs/code-quality/c26462.md
  docs/cpp/import-export-module.md
  docs/cpp/lambda-expressions-in-cpp.md
  docs/cpp/modules-cpp.md
  docs/mfc/reference/cbrush-class.md
  docs/mfc/reference/mfc-application-wizard.md
  docs/mfc/reference/mfc-class-wizard.md
  docs/overview/visual-cpp-language-conformance.md
  docs/preprocessor/execution-character-set.md
  docs/preprocessor/predefined-macros.md
  docs/preprocessor/preprocessor-experimental-overview.md
  docs/standard-library/atomic.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-language/tech, CLA

#3678 Repo sync for protected CLA branch
  docs/c-runtime-library/link-options.md
  docs/get-started/index.yml
  docs/overview/overview-of-cpp-development.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-ucrt/tech, CLA

#3681 Repo sync for protected CLA branch
  docs/cpp/const-cpp.md
  docs/cpp/modules-cpp.md
  docs/cpp/raw-pointers.md
  docs/mfc/reference/cmfctoolbar-class.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-language/tech, CLA

#3685 Repo sync for protected CLA branch
  docs/build/media/vs2019-scan-module-dependencies.png
  docs/build/reference/header-unit-json-reference.md
  docs/build/reference/headerunit.md
  docs/build/reference/sourcedependencies-directives.md
  docs/build/reference/translateinclude.md
  docs/build/toc.yml
  docs/build/walkthrough-header-units.md
  docs/build/walkthrough-import-stl-header-units.md
  docs/cpp/modules-cpp.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-tools/tech, CLA

#3686 Fix link to CreateProcess function in docs/cpp/main-function-command-line-args.md
  docs/cpp/main-function-command-line-args.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-language/tech, aq-pr-triaged

#3689 Update exception-handling-x64.md
  docs/build/exception-handling-x64.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-tools/tech

#3695 Repo sync for protected CLA branch
  docs/build/cmake-presets-json-reference.md
  docs/build/create-reusable-property-configurations.md
  docs/build/get-started-linux-cmake.md
  docs/build/reference/compiler-options-listed-alphabetically.md
  docs/build/reference/compiler-options-listed-by-category.md
  docs/build/reference/module-reference.md
  docs/build/reference/scandependencies.md
  docs/build/reference/sourcedependencies-directives.md
  docs/build/reference/sourcedependencies.md
  docs/build/reference/subsystem-specify-subsystem.md
  docs/build/toc.yml
  docs/build/walkthrough-compiling-a-native-cpp-program-on-the-command-line.md
  docs/c-language/conversions-from-floating-point-types.md
  docs/c-runtime-library/reference/clock.md
  docs/c-runtime-library/reference/fclose-fcloseall.md
  docs/c-runtime-library/reference/fread-s.md
  docs/c-runtime-library/reference/freopen-s-wfreopen-s.md
  docs/c-runtime-library/reference/getenv-s-wgetenv-s.md
  docs/c-runtime-library/reference/malloca.md
  docs/c-runtime-library/reference/mbstowcs-mbstowcs-l.md
  docs/c-runtime-library/reference/qsort.md
  docs/c-runtime-library/spawn-wspawn-functions.md
  docs/cpp/constructors-cpp.md
  docs/cpp/welcome-back-to-cpp-modern-cpp.md
  docs/mfc/reference/cdialogex-class.md
  docs/mfc/reference/cevent-class.md
  docs/mfc/reference/ctooltipctrl-class.md
  docs/mfc/reference/standard-dialog-data-exchange-routines.md
  docs/preprocessor/predefined-macros.md
  docs/standard-library/basic-ifstream-class.md
  docs/standard-library/basic-istream-class.md
  docs/standard-library/bitset-class.md
  docs/standard-library/filesystem-functions.md
  docs/standard-library/regex-functions.md
  docs/standard-library/stack-class.md
  docs/standard-library/using-cpp-library-headers.md
  docs/windows/choosing-a-deployment-method.md
  docs/windows/deployment-in-visual-cpp.md
  docs/windows/menu-editor.md
  docs/windows/redistributing-components-by-using-merge-modules.md
  docs/windows/redistributing-visual-cpp-files.md
  docs/windows/universal-crt-deployment.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-tools/tech, CLA

#3701 Update what-s-new-for-visual-cpp-in-visual-studio.md
  docs/overview/what-s-new-for-visual-cpp-in-visual-studio.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-ide/tech

#3704 Repo sync for protected CLA branch
  docs/atl-mfc-shared/strings-atl-mfc.md
  docs/atl/reference/cregkey-class.md
  docs/c-runtime-library/format-specification-fields-scanf-and-wscanf-functions.md
  docs/c-runtime-library/reference/crtdumpmemoryleaks.md
  docs/c-runtime-library/reference/fflush.md
  docs/c-runtime-library/reference/getch.md
  docs/c-runtime-library/reference/getchar-getwchar.md
  docs/c-runtime-library/reference/gmtime-s-gmtime32-s-gmtime64-s.md
  docs/c-runtime-library/reference/mktime-mktime32-mktime64.md
  docs/c-runtime-library/reference/pipe.md
  docs/c-runtime-library/reference/vsprintf-s-vsprintf-s-l-vswprintf-s-vswprintf-s-l.md
  docs/c-runtime-library/time-management.md
  docs/mfc/reference/cdockablepane-class.md
  docs/mfc/reference/coblist-class.md
  docs/mfc/reference/cprogressctrl-class.md
  docs/standard-library/allocators.md
  docs/standard-library/deque-class.md
  docs/standard-library/multimap-class.md
  docs/standard-library/output-streams.md
  docs/standard-library/vector-bool-class.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-ucrt/tech, CLA

#3705 Repo sync for protected CLA branch
  docs/build/reference/header-unit-json-reference.md
  docs/build/reference/msbuild-visual-cpp-overview.md
  docs/build/reference/translateinclude.md
  docs/cpp/tutorial-named-modules-cpp.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-tools/tech, CLA

#3708 Repo sync for protected CLA branch
  docs/assembler/inline/masm-macro-directives-in-inline-assembly.md
  docs/assembler/inline/writing-functions-with-inline-assembly.md
  docs/build/cmake-projects-in-visual-studio.md
  docs/c-runtime-library/floating-point-support.md
  docs/c-runtime-library/locale.md
  docs/c-runtime-library/rand-max.md
  docs/c-runtime-library/reference/ftell-ftelli64.md
  docs/c-runtime-library/reference/remove-wremove.md
  docs/c-runtime-library/reference/write.md
  docs/code-quality/c26812.md
  docs/cpp/copy-constructors-and-copy-assignment-operators-cpp.md
  docs/cpp/import-export-module.md
  docs/cpp/modules-cpp.md
  docs/cpp/storage-classes-cpp.md
  docs/cpp/tutorial-named-modules-cpp.md
  docs/docfx.json
  docs/ide/adding-a-class-visual-cpp.md
  docs/ide/adding-a-generic-cpp-class.md
  docs/mfc/reference/cinternetsession-class.md
  docs/mfc/reference/cmfcpropertygridctrl-class.md
  docs/mfc/reference/cmfcpropertygridproperty-class.md
  docs/mfc/reference/cstringlist-class.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-ucrt/tech, CLA

#3710 Use ConcRT instead of ConCRT
  docs/build/configuring-programs-for-windows-xp.md
  docs/parallel/toc.yml
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-tools/tech

#3711 Repo sync for protected CLA branch
  docs/atl/atl-control-containment-faq.yml
  docs/build/dll-frequently-asked-questions.yml
  docs/build/reference/compiler-options-listed-alphabetically.md
  docs/build/reference/compiler-options-listed-by-category.md
  docs/overview/cpp-conformance-improvements.md
  docs/overview/what-s-new-for-visual-cpp-in-visual-studio.md
  docs/windows/attributes/attribute-programming-faq.yml
  docs/windows/redistributing-components-by-using-merge-modules.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-ide/tech, CLA

#3715 Repo sync for protected CLA branch
  docs/atl/reference/ccomvariant-class.md
  docs/build/reference/analyze-code-analysis.md
  docs/build/reference/c-cpp-prop-page.md
  docs/build/reference/compiler-option-warning-level.md
  docs/build/reference/external-external-headers-diagnostics.md
  docs/build/reference/fsanitize.md
  docs/build/reference/module-reference.md
  docs/build/reference/translateinclude.md
  docs/build/reference/vcpp-directories-property-page.md
  docs/build/reference/zc-preprocessor.md
  docs/c-runtime-library/reference/fscanf-fscanf-l-fwscanf-fwscanf-l.md
  docs/c-runtime-library/reference/fullpath-wfullpath.md
  docs/c-runtime-library/reference/srand.md
  docs/c-runtime-library/reference/vsprintf-vsprintf-l-vswprintf-vswprintf-l-vswprintf-l.md
  docs/c-runtime-library/reference/wcstombs-wcstombs-l.md
  docs/mfc/reference/cpropertypage-class.md
  docs/mfc/reference/creating-a-web-browser-style-mfc-application.md
  docs/mfc/reference/csinglelock-class.md
  docs/mfc/reference/run-time-object-model-services.md
  docs/preprocessor/hash-include-directive-c-cpp.md
  docs/standard-library/basic-ofstream-class.md
  docs/standard-library/input-streams.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-tools/tech, CLA

#3721 Repo sync for protected CLA branch
  docs/atl-mfc-shared/date-and-time.md
  docs/c-runtime-library/console-and-port-i-o.md
  docs/c-runtime-library/input-and-output.md
  docs/c-runtime-library/reference/crtsetdbgflag.md
  docs/c-runtime-library/truncate.md
  docs/mfc/reference/cchecklistbox-class.md
  docs/mfc/reference/cdatetimectrl-class.md
  docs/mfc/reference/cformview-class.md
  docs/mfc/reference/chtmlview-class.md
  docs/standard-library/path-class.md
  docs/standard-library/priority-queue-class.md
  docs/standard-library/unordered-set-class.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-mfc/tech, CLA

#3725 Repo sync for protected CLA branch
  docs/build/reference/qpar-auto-parallelizer.md
  docs/build/reference/stack-stack-allocations.md
  docs/build/reference/zm-specify-precompiled-header-memory-allocation-limit.md
  docs/code-quality/clang-tidy.md
  docs/cpp/declarations-and-definitions-cpp.md
  docs/error-messages/compiler-errors-1/compiler-error-c2338.md
  docs/error-messages/compiler-errors-2/compiler-error-c3859.md
  docs/error-messages/compiler-errors-2/compiler-error-c7553.md
  docs/error-messages/compiler-errors-2/compiler-errors-c7500-through-c7999.md
  docs/error-messages/compiler-warnings/c5054.md
  docs/error-messages/compiler-warnings/c5055.md
  docs/error-messages/compiler-warnings/c5056.md
  docs/error-messages/compiler-warnings/c5240.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4251.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4822.md
  docs/error-messages/compiler-warnings/compiler-warnings-c4800-through-c4999.md
  docs/error-messages/toc.yml
  docs/overview/cpp-conformance-improvements-2019.md
  docs/porting/use-native-multi-targeting.md
  docs/preprocessor/compiler-warnings-that-are-off-by-default.md
  docs/windows/resource-files-visual-studio.md
  docs/windows/walkthrough-creating-windows-desktop-applications-cpp.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-language/tech, aq-pr-triaged, CLA

#3733 Fix typo that listed for_each instead of find_if
  docs/cpp/welcome-back-to-cpp-modern-cpp.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-language/tech, aq-pr-triaged

#3734 Repo sync for protected CLA branch
  docs/build/reference/nmake-function-abspath.md
  docs/build/reference/nmake-function-basename.md
  docs/build/reference/nmake-function-lowercase.md
  docs/build/reference/nmake-function-patsubst.md
  docs/build/reference/nmake-function-uppercase.md
  docs/build/reference/using-an-nmake-macro.md
  docs/build/toc.yml
  docs/c-runtime-library/process-and-environment-control.md
  docs/c-runtime-library/reference/abs-labs-llabs-abs64.md
  docs/c-runtime-library/reference/chdir-wchdir.md
  docs/c-runtime-library/reference/fmod-fmodf.md
  docs/c-runtime-library/reference/free.md
  docs/c-runtime-library/reference/getpid.md
  docs/c-runtime-library/reference/gmtime-gmtime32-gmtime64.md
  docs/c-runtime-library/reference/msize.md
  docs/c-runtime-library/reference/open-osfhandle.md
  docs/c-runtime-library/reference/putenv-wputenv.md
  docs/c-runtime-library/reference/security-init-cookie.md
  docs/c-runtime-library/reference/strtod-strtod-l-wcstod-wcstod-l.md
  docs/mfc/reference/ccmdtarget-class.md
  docs/mfc/reference/cpen-class.md
  docs/mfc/reference/cscrollbar-class.md
  docs/mfc/reference/csplitterwnd-class.md
  docs/mfc/reference/ctoolbar-class.md
  docs/mfc/reference/cwinappex-class.md
  docs/standard-library/cstdlib.md
  docs/standard-library/regex.md
  docs/standard-library/span-class.md
  docs/standard-library/using-extraction-operators.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-ucrt/tech, CLA

#3737 Add that "g" has been deprecated
  docs/preprocessor/optimize.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-language/tech, aq-pr-triaged

#3739 Fix missing ending underscore in `_Analysis_assume_`
  docs/code-quality/how-to-specify-additional-code-information-by-using-analysis-assume.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-tools/tech
