Repository MicrosoftDocs/cpp-docs, pull requests merged in 2022-04, with the labels that each got.

#3809 Repo sync for protected CLA branch
  docs/ide/adding-a-method-visual-cpp.md
  docs/ide/adding-functionality-with-code-wizards-cpp.md
  docs/ide/creating-a-com-interface-visual-cpp.md
  docs/ide/media/add-method-wizard.png
  docs/mfc/mfc-activex-controls-adding-stock-methods.md
  docs/mfc/reference/add-idl-mfc-method-wizard.md
  docs/mfc/reference/creating-an-mfc-activex-control.md
  docs/mfc/reference/media/add-idl-mfc-method-wizard.png
  docs/mfc/reference/mfc-wizards-and-dialog-boxes.md
  docs/mfc/toc.yml
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-mfc/tech, CLA

#3819 Repo sync for protected CLA branch
  docs/build/arm64-exception-handling.md
  docs/build/building-on-the-command-line.md
  docs/build/cmake-presets-vs.md
  docs/c-language/c-bitwise-operators.md
  docs/c-language/c-logical-operators.md
  docs/c-language/c-operators.md
  docs/c-runtime-library/reference/open-wopen.md
  docs/c-runtime-library/reference/sopen-s-wsopen-s.md
  docs/c-runtime-library/reference/sopen-wsopen.md
  docs/cpp/program-and-linkage-cpp.md
  docs/cpp/virtual-functions.md
  docs/error-messages/compiler-errors-2/compiler-error-c2956.md
  docs/error-messages/compiler-errors-2/compiler-errors-c2900-through-c3499.md
  docs/error-messages/toc.yml
  docs/mfc/reference/add-idl-mfc-method-wizard.md
  docs/overview/whats-new-cpp-docs.md
  docs/parallel/sample-multithread-c-program.md
  docs/porting/features-deprecated-in-visual-studio.md
  docs/porting/upgrading-projects-from-earlier-versions-of-visual-cpp.md
  docs/windows/latest-supported-vc-redist.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-tools/tech, CLA

#3817 Repo sync for protected CLA branch
  docs/build/arm64-exception-handling.md
  docs/c-language/c-operators.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-tools/tech, CLA

#3822 Repo sync for protected CLA branch
  docs/ide/add-interface-definition-library-property-wizard.md
  docs/ide/adding-a-property-visual-cpp.md
  docs/ide/adding-functionality-with-code-wizards-cpp.md
  docs/ide/creating-a-com-interface-visual-cpp.md
  docs/ide/media/add-interface-definition-library-property-wizard.png
  docs/ide/media/add-property-wizard.png
  docs/ide/toc.yml
  docs/mfc/mfc-activex-controls-adding-custom-properties.md
  docs/mfc/mfc-activex-controls-adding-stock-properties.md
  docs/mfc/mfc-activex-controls-advanced-property-implementation.md
  docs/mfc/mfc-activex-controls-using-fonts.md
  docs/mfc/reference/creating-an-mfc-activex-control.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-mfc/tech, CLA

#3823 Update c28195.md
  docs/code-quality/c28195.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-tools/tech

#3821 Correct inconsistent formatting for the `_O_EXCL` constant in the docs for the open functions
  docs/c-runtime-library/reference/open-wopen.md
  docs/c-runtime-library/reference/sopen-s-wsopen-s.md
  docs/c-runtime-library/reference/sopen-wsopen.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-ucrt/tech

#3828 Repo sync for protected CLA branch
  docs/ide/add-interface-definition-library-method-wizard.md
  docs/ide/media/add-interface-definition-library-method-wizard.png
  docs/ide/toc.yml
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-ide/tech, CLA

#3833 Repo sync for protected CLA branch
  docs/ide/add-interface-definition-library-property-wizard.md
  docs/ide/adding-a-property-visual-cpp.md
  docs/ide/media/add-interface-definition-library-property-wizard.png
  docs/mfc/reference/add-interface-definition-library-mfc-property-wizard.md
  docs/mfc/reference/media/add-interface-definition-library-mfc-property-wizard.png
  docs/mfc/toc.yml
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-ide/tech, CLA

#3832 VMCS -> VMXON
  docs/intrinsics/vmx-on.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-tools/tech

#3835 Resolve syncing conflicts from FromPrivateLiveToMaster to main
  docs/ide/adding-a-method-visual-cpp.md
  docs/intrinsics/vmx-on.md
  docs/mfc/reference/add-idl-mfc-method-wizard.md
  docs/mfc/reference/adding-an-mfc-class-from-a-type-library.md
  docs/standard-library/steady-clock-struct.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-mfc/tech

#3840 Repo sync for protected CLA branch
  docs/build/reference/compiler-options-listed-alphabetically.md
  docs/build/reference/compiler-options-listed-by-category.md
  docs/build/reference/interface.md
  docs/build/reference/internal-partition.md
  docs/build/toc.yml
  docs/extensions/interface-class-cpp-component-extensions.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-tools/tech, CLA

#3838 Update os-ot-favor-small-code-favor-fast-code.md
  docs/build/reference/os-ot-favor-small-code-favor-fast-code.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-tools/tech

#3842 Repo sync for protected CLA branch
  docs/build/reference/internal-partition.md
  docs/c-runtime-library/reference/matherr.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-tools/tech, CLA

#3843 Repo sync for protected CLA branch
  docs/build/creating-and-managing-visual-cpp-projects.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-tools/tech, CLA

#3846 Repo sync for protected CLA branch
  docs/build/creating-and-managing-visual-cpp-projects.md
  docs/overview/visual-cpp-in-visual-studio.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-ide/tech, CLA

#3849 Repo sync for protected CLA branch
  docs/atl/reference/category-macros.md
  docs/atl/reference/com-map-macros.md
  docs/atl/reference/composite-control-macros.md
  docs/atl/reference/connection-point-macros.md
  docs/atl/reference/debugging-and-error-reporting-macros.md
  docs/atl/reference/exception-handling-macros.md
  docs/atl/reference/message-map-macros-atl.md
  docs/atl/reference/object-map-macros.md
  docs/atl/reference/object-status-macros.md
  docs/atl/reference/property-map-macros.md
  docs/atl/reference/registry-data-exchange-macros.md
  docs/atl/reference/registry-macros.md
  docs/atl/reference/service-map-macros.md
  docs/atl/reference/snap-in-object-macros.md
  docs/atl/reference/string-conversion-macros.md
  docs/atl/reference/window-class-macros.md
  docs/atl/reference/windows-messages-macros.md
  docs/build/reference/headername.md
  docs/build/toc.yml
  docs/build/x64-calling-convention.md
  docs/build/x64-software-conventions.md
  docs/cpp/align-cpp.md
  docs/cpp/alignof-operator.md
  docs/cpp/for-statement-cpp.md
  docs/cpp/unaligned.md
  docs/docfx.json
  docs/dotnet/for-each-in.md
  docs/preprocessor/pack.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-atl/tech, CLA

#3852 Repo sync for protected CLA branch
  docs/text/how-to-convert-between-various-string-types.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-windows/tech, CLA

#3856 Repo sync for protected CLA branch
  docs/build-insights/reference/sdk/c-event-data-types/event-data-struct.md
  docs/build-insights/reference/sdk/cpp-event-data-types/function.md
  docs/build-insights/reference/sdk/cpp-event-data-types/pass1.md
  docs/build-insights/reference/sdk/functions/make-static-analyzer-group.md
  docs/build-insights/reference/sdk/functions/stop-tracing-session.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, CLA
