Repository MicrosoftDocs/cpp-docs, pull requests merged in 2022-11, with the labels that each got.

#4254 Update string-and-character-literals-cpp.md
  docs/cpp/string-and-character-literals-cpp.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-language/tech, aq-pr-triaged, qualifies-for-auto-merge

#4256 Repo sync for protected CLA branch
  docs/standard-library/range-adaptors.md
  docs/standard-library/ranges.md
  docs/standard-library/view-classes.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-standard-libraries/tech, CLA, needs-human-review

#4257 Repo sync for protected CLA branch
  docs/c-runtime-library/reference/strtoui64-wcstoui64-strtoui64-l-wcstoui64-l.md
  docs/dotnet/adapter-stl-clr.md
  docs/dotnet/hash-map-stl-clr.md
  docs/dotnet/hash-multimap-stl-clr.md
  docs/dotnet/hash-multiset-stl-clr.md
  docs/dotnet/hash-set-stl-clr.md
  docs/dotnet/how-to-determine-if-an-image-is-native-or-clr.md
  docs/dotnet/how-to-migrate-to-clr.md
  docs/dotnet/map-stl-clr.md
  docs/dotnet/multimap-stl-clr.md
  docs/dotnet/multiset-stl-clr.md
  docs/dotnet/queue-stl-clr.md
  docs/dotnet/set-stl-clr.md
  docs/dotnet/stack-stl-clr.md
  docs/dotnet/utility-stl-clr.md
  docs/error-messages/compiler-warnings/c4770.md
  docs/error-messages/compiler-warnings/compiler-warnings-c4600-through-c4799.md
  docs/error-messages/toc.yml
  docs/standard-library/basic-istream-view-class.md
  docs/standard-library/common-view-class.md
  docs/standard-library/drop-view-class.md
  docs/standard-library/drop-while-view-class.md
  docs/standard-library/elements-view-class.md
  docs/standard-library/filter-view-class.md
  docs/standard-library/iota-view-class.md
  docs/standard-library/join-view-class.md
  docs/standard-library/keys-view-class.md
  docs/standard-library/lazy-split-view-class.md
  docs/standard-library/owning-view-class.md
  docs/standard-library/range-adaptors.md
  docs/standard-library/range-concepts.md
  docs/standard-library/ref-view-class.md
  docs/standard-library/reverse-view-class.md
  docs/standard-library/split-view-class.md
  docs/standard-library/subrange-class.md
  docs/standard-library/take-view-class.md
  docs/standard-library/take-while-view-class.md
  docs/standard-library/toc.yml
  docs/standard-library/transform-view-class.md
  docs/standard-library/values-view-class.md
  docs/standard-library/view-classes.md
  docs/standard-library/view-interface.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-standard-libraries/tech, CLA, needs-human-review

#4260 Update cpp-type-system-modern-cpp.md
  docs/cpp/cpp-type-system-modern-cpp.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-language/tech, qualifies-for-auto-merge

#4263 Repo sync for protected CLA branch
  docs/standard-library/path-class.md
  docs/standard-library/range-adaptors.md
  docs/standard-library/range-concepts.md
  docs/standard-library/ranges.md
  docs/standard-library/toc.yml
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-standard-libraries/tech, CLA, needs-human-review

#4267 Repo sync for protected CLA branch
  docs/atl/reference/iperpropertybrowsingimpl-class.md
  docs/build/open-folder-projects-cpp.md
  docs/build/reference/allowbind.md
  docs/build/reference/allowisolation.md
  docs/build/reference/appcontainer.md
  docs/c-language/generic-selection.md
  docs/code-quality/c26117.md
  docs/code-quality/c26138.md
  docs/code-quality/c26160.md
  docs/code-quality/c26165.md
  docs/code-quality/c26166.md
  docs/code-quality/c26167.md
  docs/code-quality/c26800.md
  docs/code-quality/c26810.md
  docs/code-quality/c26811.md
  docs/code-quality/c26828.md
  docs/code-quality/c6029.md
  docs/code-quality/c6053.md
  docs/code-quality/c6387.md
  docs/code-quality/understanding-sal.md
  docs/code-quality/using-rule-sets-to-specify-the-cpp-rules-to-run.md
  docs/cpp/arrays-cpp.md
  docs/cpp/cpp-type-system-modern-cpp.md
  docs/cpp/functions-cpp.md
  docs/cpp/object-lifetime-and-resource-management-modern-cpp.md
  docs/cpp/raw-pointers.md
  docs/cpp/welcome-back-to-cpp-modern-cpp.md
  docs/cppcx/back-inserter-function.md
  docs/cppcx/operator-type-hat.md
  docs/cppcx/platform-collections-mapview-class.md
  docs/cppcx/platform-collections-vectoriterator-class.md
  docs/cppcx/platform-collections-vectorview-class.md
  docs/cppcx/platform-collections-vectorviewiterator-class.md
  docs/cppcx/threading-and-marshaling-c-cx.md
  docs/cppcx/value-classes-and-structs-c-cx.md
  docs/cppcx/weak-references-and-breaking-cycles-c-cx.md
  docs/cppcx/windows-foundation-collections-namespace-c-cx.md
  docs/error-messages/tool-errors/linker-tools-warning-lnk4217.md
  docs/ide/lnt-logical-bitwise-mismatch.md
  docs/mfc/reference/cmfcribbonpanel-class.md
  docs/mfc/reference/dao-database-engine-initialization-and-termination.md
  docs/mfc/reference/event-sink-maps.md
  docs/mfc/tn028-context-sensitive-help-support.md
  docs/overview/cpp-conformance-improvements-2019.md
  docs/parallel/openmp/2-directives.md
  docs/standard-library/algorithm-functions.md
  docs/standard-library/basic-ios-class.md
  docs/standard-library/basic-istream-view-class.md
  docs/standard-library/iota-view-class.md
  docs/standard-library/memory-functions.md
  docs/standard-library/range-concepts.md
  docs/standard-library/string-view-operators.md
  docs/standard-library/view-classes.md
Labels: do-not-merge, CLA, needs-human-review

#4275 Repo sync for protected CLA branch
  docs/build/reference/compiler-options-listed-alphabetically.md
  docs/build/reference/compiler-options-listed-by-category.md
  docs/build/reference/zc-enumtypes.md
  docs/build/reference/zc-stdc.md
  docs/build/toc.yml
  docs/c-runtime-library/locale.md
  docs/error-messages/compiler-warnings/compiler-warnings-by-compiler-version.md
  docs/error-messages/compiler-warnings/compiler-warnings-c4800-through-c4999.md
  docs/overview/cpp-conformance-improvements.md
  docs/overview/visual-cpp-language-conformance.md
  docs/overview/what-s-new-for-visual-cpp-in-visual-studio.md
  docs/preprocessor/compiler-warnings-that-are-off-by-default.md
  docs/preprocessor/setlocale.md
  docs/sanitizers/asan-runtime.md
  docs/standard-library/basic-istream-view-class.md
  docs/standard-library/range-adaptors.md
  docs/standard-library/view-classes.md
  docs/windows/latest-supported-vc-redist.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-ide/tech, CLA, needs-human-review

#4278 Repo sync for protected CLA branch
  docs/build/reference/compiler-options-listed-alphabetically.md
  docs/build/reference/compiler-options-listed-by-category.md
  docs/build/reference/header-unit-json-reference.md
  docs/build/reference/zc-conformance.md
  docs/build/reference/zc-tlsguards.md
  docs/build/reference/zc-zerosizearraynew.md
  docs/build/toc.yml
  docs/build/walkthrough-header-units.md
  docs/build/walkthrough-import-stl-header-units.md
  docs/cpp/attributes.md
  docs/error-messages/compiler-warnings/compiler-warnings-c4800-through-c4999.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-tools/tech, CLA, needs-human-review

#4287 Add missing url
  docs/cpp/exceptions-and-stack-unwinding-in-cpp.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-language/tech, qualifies-for-auto-merge

#4291 Repo sync for protected CLA branch
  docs/build/reference/compiler-options-listed-alphabetically.md
  docs/build/reference/compiler-options-listed-by-category.md
  docs/build/reference/zc-conformance.md
  docs/build/reference/zc-gotoscope.md
  docs/build/reference/zc-nrvo.md
  docs/build/reference/zc-templatescope.md
  docs/build/toc.yml
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-tools/tech, CLA, needs-human-review

#4292 Repo sync for protected CLA branch
  docs/build/reference/vcxproj-file-structure.md
  docs/build/reference/zc-gotoscope.md
  docs/build/reference/zc-nrvo.md
  docs/build/reference/zc-templatescope.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-tools/tech, CLA, qualifies-for-auto-merge

#4299 Repo sync for protected CLA branch
  docs/build/reference/c-cpp-prop-page.md
  docs/build/reference/headername.md
  docs/build/reference/interface.md
  docs/build/reference/internal-partition.md
  docs/build/reference/module-exportheader.md
  docs/cpp/com-error-class.md
  docs/cpp/com-error-com-error.md
  docs/cpp/com-error-description.md
  docs/cpp/com-error-error.md
  docs/cpp/com-error-errorinfo.md
  docs/cpp/com-error-errormessage.md
  docs/cpp/com-error-guid.md
  docs/cpp/com-error-helpcontext.md
  docs/cpp/com-error-helpfile.md
  docs/cpp/com-error-hresulttowcode.md
  docs/cpp/com-error-member-functions.md
  docs/cpp/com-error-operator-equal.md
  docs/cpp/com-error-operators.md
  docs/cpp/com-error-source.md
  docs/cpp/com-error-wcode.md
  docs/cpp/com-error-wcodetohresult.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-language/tech, CLA, needs-human-review

#4302 Repo sync for protected CLA branch
  docs/build/reference/compiler-options-listed-alphabetically.md
  docs/build/reference/compiler-options-listed-by-category.md
  docs/build/reference/ifc-output.md
  docs/build/toc.yml
  docs/build/walkthrough-header-units.md
  docs/build/walkthrough-import-stl-header-units.md
  docs/c-runtime-library/crt-library-features.md
  docs/cpp/modules-cpp.md
  docs/cpp/toc.yml
  docs/cpp/tutorial-import-stl-named-module.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-tools/tech, CLA, needs-human-review

#4307 update pi approximation
  docs/cpp/auto-cpp.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-language/tech, aq-pr-triaged, qualifies-for-auto-merge

#4303 system-function.md: remove outdated language
  docs/c-language/system-function.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-c-language/tech, qualifies-for-auto-merge

#4313 Remove definite article from "The AddressSanitizer"
  docs/sanitizers/asan.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-tools/tech, qualifies-for-auto-merge
