Repository MicrosoftDocs/cpp-docs, pull requests merged in 2022-01, with the labels that each got.

#3629 Update value-types-modern-cpp.md
  docs/cpp/value-types-modern-cpp.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-language/tech

#3619 Mark first code block as C++
  docs/cpp/aliases-and-typedefs-cpp.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-language/tech

#3628 Make meaning clearer
  docs/cpp/address-of-operator-amp.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-language/tech

#3627 fix is_standard_layout typo
  docs/cpp/trivial-standard-layout-and-pod-types.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-language/tech, review-team-triage

#3611 Add the expression "it is assumed"
  docs/parallel/openmp/d-using-the-schedule-clause.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-parallel/tech

#3631 add missing usage of CopyChars
  docs/atl-mfc-shared/reference/csimplestringt-class.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, cpp-mfc/tech

#3614 Correct a word in the remarks of /DIRECTIVES.
  docs/build/reference/directives.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-tools/tech

#3633 Repo sync for protected CLA branch
  docs/linux/cmake-linux-configure.md
  docs/mfc/reference/clistctrl-class.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-linux/tech, CLA

#3640 Repo sync for protected CLA branch
  docs/build/reference/nmake-function-patsubst.md
  docs/c-runtime-library/reference/alloca.md
  docs/cpp/new-operator-cpp.md
  docs/mfc/reference/canimationpoint-class.md
  docs/preprocessor/pragma-directives-and-the-pragma-keyword.md
  docs/standard-library/duration-class.md
  docs/standard-library/duration-values-structure.md
  docs/standard-library/time-point-class.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-standard-libraries/tech, CLA

#3637 Update deprecating-types-and-members-c-cx.md
  docs/cppcx/deprecating-types-and-members-c-cx.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, review-team-triage, aq-pr-triaged, cpp-cx/tech

#3642 Repo sync for protected CLA branch
  docs/get-started/toc.yml
  docs/intrinsics/mm-stream-sd.md
  docs/intrinsics/mm-stream-ss.md
  docs/intrinsics/x64-amd64-intrinsics-list.md
  docs/intrinsics/x86-intrinsics-list.md
  docs/overview/what-s-new-for-cpp-2019.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-ide/tech, CLA

#3639 Update windows-store-apps-the-windows-runtime-and-the-c-run-time.md
  docs/c-runtime-library/windows-store-apps-the-windows-runtime-and-the-c-run-time.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, review-team-triage, aq-pr-triaged, cpp-ucrt/tech

#3645 Repo sync for protected CLA branch
  docs/build/reference/compiler-options-listed-alphabetically.md
  docs/build/reference/compiler-options-listed-by-category.md
  docs/build/reference/options-strict.md
  docs/build/toc.yml
Labels: Change sent to author, visual-cpp/prod, cpp-tools/tech, CLA

#3647 Repo sync for protected CLA branch
  docs/cppcx/deprecating-types-and-members-c-cx.md
  docs/cppcx/type-system-c-cx.md
Labels: Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-cx/tech, CLA

#3648 Repo sync for protected CLA branch
  docs/build/walkthrough-header-units.md
  docs/build/walkthrough-import-stl-header-units.md
  docs/cppcx/toc.yml
  docs/cppcx/type-system-c-cx.md
Labels: Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-tools/tech, CLA

#3655 Repo sync for protected CLA branch
  docs/c-runtime-library/crt-library-features.md
  docs/c-runtime-library/reference/calloc.md
  docs/c-runtime-library/reference/log-logf-log10-log10f.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-ucrt/tech, CLA

#3658 Add note about `_CRT_DECLARE_NONSTDC_NAMES`
  docs/c-runtime-library/compatibility.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-ucrt/tech

#3659 Repo sync for protected CLA branch
  docs/atl/reference/ccomheap-class.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-atl/tech, CLA

#3663 Repo sync for protected CLA branch
  docs/build/reference/zc-conformance.md
  docs/build/reference/zc-static-assert.md
  docs/build/toc.yml
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-tools/tech, CLA

#3667 Repo sync for protected CLA branch
  docs/c-runtime-library/gets-getws.md
  docs/c-runtime-library/reference/execl.md
  docs/c-runtime-library/reference/sin-sinf-sinl.md
  docs/c-runtime-library/reference/sqrt-sqrtf-sqrtl.md
  docs/standard-library/atomic-functions.md
  docs/standard-library/cmath.md
  docs/standard-library/ios-base-class.md
  docs/standard-library/queue-class.md
  docs/standard-library/thread-class.md
  docs/standard-library/vector.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-standard-libraries/tech, CLA

#3673 Repo sync for protected CLA branch
  docs/c-runtime-library/reference/strrchr-wcsrchr-mbsrchr-mbsrchr-l.md
  docs/c-runtime-library/string-manipulation-crt.md
  docs/mfc/reference/carchive-class.md
  docs/mfc/reference/cdatabase-class.md
  docs/mfc/reference/ctabctrl-class.md
  docs/standard-library/iterators.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-mfc/tech, CLA
