Repository MicrosoftDocs/cpp-docs, pull requests merged in 2022-09, with the labels that each got.

#4136 make bold markup star balanced
  docs/c-runtime-library/reference/fopen-wfopen.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-ucrt/tech, qualifies-for-auto-merge

#4134 Repo sync for protected CLA branch
  docs/build/reference/advanced-property-page.md
  docs/build/reference/ltcg-link-time-code-generation.md
  docs/build/reference/ltcgout.md
  docs/build/toc.yml
  docs/error-messages/tool-errors/linker-tools-error-lnk1248.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-tools/tech, CLA

#4139 Mention value initialization
  docs/cpp/initializing-classes-and-structs-without-constructors-cpp.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-language/tech, aq-pr-triaged, qualifies-for-auto-merge

#4151 Repo sync for protected CLA branch
  docs/build/reference/dot-ilk-files-as-linker-input.md
  docs/build/reference/ilk-name-incremental-database-file.md
  docs/build/reference/incremental-link-incrementally.md
  docs/build/reference/link-input-files.md
  docs/build/toc.yml
  docs/error-messages/tool-errors/linker-tools-error-lnk2019.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-tools/tech, CLA

#4157 fix: delete unnecessary asterisk
  docs/c-runtime-library/reference/fopen-wfopen.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-ucrt/tech, qualifies-for-auto-merge

#4160 Repo sync for protected CLA branch
  docs/c-runtime-library/reference/vsnprintf-s-vsnprintf-s-vsnprintf-s-l-vsnwprintf-s-vsnwprintf-s-l.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-ucrt/tech, CLA

#4163 Repo sync for protected CLA branch
  docs/parallel/concrt/codesnippet/CPP/how-to-write-a-parallel-for-each-loop_1.cpp
  docs/parallel/concrt/how-to-write-a-parallel-for-each-loop.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, CLA, cpp-concrt/tech

#4162 Update floating-point-support.md
  docs/c-runtime-library/floating-point-support.md
Labels: Change sent to author, ready-to-merge, visual-cpp/prod, aq-pr-triaged, cpp-ucrt/tech, qualifies-for-auto-merge

#4166 Fix markdown typo
  docs/extensions/abstract-cpp-component-extensions.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-cli/tech, qualifies-for-auto-merge

#4135 Update compiler-warning-level-4-c4464.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4464.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-diagnostics/tech, needs-human-review

#4164 Provide better link for Azure Code Signing
  docs/build/reference/integritycheck-require-signature-check.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-tools/tech, qualifies-for-auto-merge

#4168 Add syntax highlighting to atl-mfc-shared
  docs/atl-mfc-shared/reference/cfixedstringt-class.md
  docs/atl-mfc-shared/reference/cimage-class.md
  docs/atl-mfc-shared/reference/coledatetime-class.md
  docs/atl-mfc-shared/reference/coledatetimespan-class.md
  docs/atl-mfc-shared/reference/cpoint-class.md
  docs/atl-mfc-shared/reference/crect-class.md
  docs/atl-mfc-shared/reference/csize-class.md
  docs/atl-mfc-shared/reference/cstrbuft-class.md
  docs/atl-mfc-shared/reference/cstringdata-class.md
  docs/atl-mfc-shared/reference/ctime-class.md
  docs/atl-mfc-shared/reference/ctimespan-class.md
  docs/atl-mfc-shared/reference/iatlstringmgr-class.md
Labels: Change sent to author, ready-to-merge, visual-cpp/prod, aq-pr-triaged, cpp-mfc/tech, needs-human-review

#4170 Repo sync for protected CLA branch
  docs/build/cmake-presets-vs.md
  docs/c-runtime-library/reference/getch-getwch.md
  docs/code-quality/c26495.md
  docs/code-quality/c6101.md
  docs/get-started/includes/git-source-control.md
  docs/get-started/tutorial-console-cpp.md
  docs/linux/cmake-linux-configure.md
  docs/linux/connect-to-your-remote-linux-computer.md
  docs/linux/create-a-new-linux-project.md
  docs/linux/deploy-run-and-debug-your-linux-project.md
  docs/linux/download-install-and-setup-the-linux-development-workload.md
  docs/linux/linux-asan-configuration.md
  docs/linux/set-up-fips-compliant-secure-remote-linux-development.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-linux/tech, CLA

#4174 Repo sync for protected CLA branch
  CONTRIBUTING.md
  README.md
  docs/c-runtime-library/reference/rand.md
  docs/mfc/reference/creating-a-web-browser-style-mfc-application.md
  styleguide/template.md
Labels: do-not-merge, review-team-triage, CLA, needs-human-review

#4177 Repo sync for protected CLA branch
  docs/build/cppproperties-schema-reference.md
  docs/intrinsics/umulh.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-tools/tech, CLA, needs-human-review

#4176 Update clang-support-msbuild.md
  docs/build/clang-support-msbuild.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-tools/tech, needs-human-review

#4182 Repo sync for protected CLA branch
  docs/build/reference/cetcompat.md
  docs/build/reference/clrsupportlasterror-preserve-last-error-code-for-pinvoke-calls.md
  docs/build/reference/clrunmanagedcodecheck-add-suppressunmanagedcodesecurityattribute.md
  docs/build/reference/command-line-property-pages.md
  docs/build/reference/def-specify-module-definition-file.md
  docs/build/reference/delay-delay-load-import-settings.md
  docs/build/reference/dot-lib-files-as-linker-input.md
  docs/build/reference/force-force-file-output.md
  docs/build/reference/functionpadmin-create-hotpatchable-image.md
  docs/build/reference/guard-enable-control-flow-guard.md
  docs/build/reference/guard-enable-guard-checks.md
  docs/build/reference/linker-property-pages.md
  docs/build/reference/ltcg-link-time-code-generation.md
  docs/build/reference/manifest-create-side-by-side-assembly-manifest.md
  docs/build/reference/manifest-tool-property-pages.md
  docs/build/reference/manifestinput-specify-manifest-input.md
  docs/build/reference/midl-property-pages.md
  docs/build/reference/natvis-add-natvis-to-pdb.md
  docs/build/reference/nodefaultlib-ignore-libraries.md
  docs/build/reference/nxcompat-compatible-with-data-execution-prevention.md
  docs/build/reference/resources-property-pages.md
  docs/build/reference/safeseh-image-has-safe-exception-handlers.md
  docs/build/reference/scandependencies.md
  docs/build/reference/section-specify-section-attributes.md
  docs/build/reference/subsystem-specify-subsystem.md
  docs/build/reference/wx-treat-linker-warnings-as-errors.md
  docs/ide/cpp-linter-overview.md
  docs/ide/how-to-set-preferences.md
  docs/ide/live-share-cpp.md
  docs/ide/navigate-code-cpp.md
  docs/ide/read-and-understand-code-cpp.md
  docs/ide/refactoring/change-signature.md
  docs/ide/refactoring/convert-to-raw-string-literal.md
  docs/ide/refactoring/create-declaration-definition.md
  docs/ide/refactoring/extract-function.md
  docs/ide/refactoring/images/changesignature_dialog.png
  docs/ide/refactoring/images/extractfunction_dialog.png
  docs/ide/refactoring/implement-pure-virtuals.md
  docs/ide/refactoring/move-definition-location.md
  docs/ide/refactoring/rename.md
  docs/ide/writing-and-refactoring-code-cpp.md
  docs/standard-library/cpp-standard-library-overview.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-tools/tech, CLA, needs-human-review

#4192 Repo sync for protected CLA branch
  CONTRIBUTING.md
  docs/build/building-on-the-command-line.md
  docs/error-messages/includes/error-boilerplate.md
  docs/error-messages/tool-errors/linker-tools-error-lnk1104.md
  docs/ide/adding-functionality-with-code-wizards-cpp.md
  docs/ide/read-and-understand-code-cpp.md
  docs/index.yml
  docs/overview/visual-cpp-help-and-community.md
  docs/overview/visual-cpp-in-visual-studio.md
  docs/overview/what-s-new-for-cpp-2019.md
  docs/porting/upgrading-projects-from-earlier-versions-of-visual-cpp.md
Labels: do-not-merge, review-team-triage, aq-pr-triaged, CLA, needs-human-review

#4190 Fix missing semicolon
  docs/cpp/tutorial-named-modules-cpp.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-language/tech, aq-pr-triaged, qualifies-for-auto-merge

#4187 Update dot-xmm.md
  docs/assembler/masm/dot-xmm.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-masm/tech, qualifies-for-auto-merge

#4171 Fix Supported SSH algorithms
  docs/linux/connect-to-your-remote-linux-computer.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-linux/tech, qualifies-for-auto-merge

#4196 Repo sync for protected CLA branch
  docs/atl/reference/ccomenum-class.md
  docs/atl/reference/ccomenumonstl-class.md
  docs/build/reference/atl-program-or-control-source-and-header-files.md
  docs/build/reference/linker-options.md
  docs/build/reference/zc-twophase.md
  docs/c-language/argument-description.md
  docs/c-language/arguments-to-main.md
  docs/c-language/main-function-and-program-execution.md
  docs/c-language/using-wmain.md
  docs/cpp/auto-cpp.md
  docs/cpp/code-seg-declspec.md
  docs/cpp/const-cpp.md
  docs/cpp/decltype-cpp.md
  docs/cpp/ellipses-and-variadic-templates.md
  docs/cpp/explicit-instantiation.md
  docs/cpp/member-function-templates.md
  docs/cpp/name-resolution-for-locally-declared-names.md
  docs/cpp/noexcept-cpp.md
  docs/cpp/overload-resolution-of-function-template-calls.md
  docs/cpp/partial-ordering-of-function-templates-cpp.md
  docs/cpp/rvalue-reference-declarator-amp-amp.md
  docs/cpp/structured-exception-handling-c-cpp.md
  docs/cpp/typename.md
  docs/cppcx/begin-function.md
  docs/cppcx/end-function.md
  docs/cppcx/platform-string-class.md
  docs/cppcx/wrl/runtimeclass-class.md
  docs/dotnet/adapter-stl-clr.md
  docs/dotnet/algorithm-stl-clr.md
  docs/dotnet/functional-stl-clr.md
  docs/dotnet/how-to-convert-from-a-stl-clr-container-to-a-dotnet-collection.md
  docs/dotnet/how-to-use-tracking-references-in-cpp-cli.md
  docs/dotnet/numeric-stl-clr.md
  docs/dotnet/utility-stl-clr.md
  docs/error-messages/compiler-errors-1/compiler-error-c2248.md
  docs/error-messages/compiler-errors-1/compiler-error-c2299.md
  docs/error-messages/compiler-errors-2/compiler-error-c2701.md
  docs/error-messages/compiler-errors-2/compiler-error-c2768.md
  docs/error-messages/compiler-errors-2/compiler-error-c2927.md
  docs/error-messages/compiler-errors-2/compiler-error-c3206.md
  docs/error-messages/compiler-errors-2/compiler-error-c3207.md
  docs/error-messages/compiler-errors-2/compiler-error-c7510.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4788.md
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4996.md
  docs/error-messages/tool-errors/linker-tools-error-lnk2019.md
  docs/extensions/generic-functions-cpp-cli.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-language/tech, CLA, needs-human-review

#4197 Repo sync for protected CLA branch
  docs/code-quality/c6200.md
  docs/code-quality/c6201.md
  docs/code-quality/c6276.md
  docs/code-quality/c6277.md
  docs/code-quality/c6308.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-tools/tech, CLA, needs-human-review

#4199 Repo sync for protected CLA branch
  docs/build/walkthrough-header-units.md
  docs/c-runtime-library/reference/vsnprintf-s-vsnprintf-s-vsnprintf-s-l-vsnwprintf-s-vsnwprintf-s-l.md
  docs/overview/visual-cpp-in-visual-studio.md
  docs/overview/what-s-new-for-visual-cpp-in-visual-studio.md
  docs/text/how-to-convert-between-various-string-types.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-ide/tech, CLA, needs-human-review
