Repository MicrosoftDocs/cpp-docs, pull requests merged in 2022-12, with the labels that each got.

#4318 Repo sync for protected CLA branch
  docs/atl-mfc-shared/allocating-and-releasing-memory-for-a-bstr.md
  docs/atl-mfc-shared/cstring-argument-passing.md
  docs/atl-mfc-shared/reference/coledatetimespan-class.md
  docs/atl-mfc-shared/reference/cstringt-class.md
  docs/atl/reference/ccomcontrolbase-class.md
  docs/atl/reference/ccomobject-class.md
  docs/atl/reference/ccomptr-class.md
  docs/atl/reference/ccontainedwindowt-class.md
  docs/atl/reference/property-map-macros.md
  docs/cppcx/delegates-c-cx.md
  docs/cppcx/partial-classes-c-cx.md
  docs/data/oledb/cdataconnection-class.md
  docs/mfc/accessing-run-time-class-information.md
  docs/mfc/reference/application-control.md
  docs/mfc/reference/carchive-class.md
  docs/mfc/reference/ccmdtarget-class.md
  docs/mfc/reference/ccmdui-class.md
  docs/mfc/reference/cdatabase-class.md
  docs/mfc/reference/cdialog-class.md
  docs/mfc/reference/cdocument-class.md
  docs/mfc/reference/cevent-class.md
  docs/mfc/reference/cfile-class.md
  docs/mfc/reference/cfindreplacedialog-class.md
  docs/mfc/reference/cformview-class.md
  docs/mfc/reference/cmdiframewnd-class.md
  docs/mfc/reference/cmenu-class.md
  docs/mfc/reference/cpropertypage-class.md
  docs/mfc/reference/cpropertysheet-class.md
  docs/mfc/reference/crecordset-class.md
  docs/mfc/reference/cricheditctrl-class.md
  docs/mfc/reference/cscrollview-class.md
  docs/mfc/reference/csingledoctemplate-class.md
  docs/mfc/reference/csocket-class.md
  docs/mfc/reference/cstatusbar-class.md
  docs/mfc/reference/ctreectrl-class.md
  docs/mfc/reference/ctypedptrlist-class.md
  docs/mfc/reference/cwinapp-class.md
  docs/mfc/reference/cwinformsview-class.md
  docs/mfc/reference/cwnd-class.md
  docs/mfc/reference/diagnostic-services.md
  docs/mfc/reference/registering-ole-controls.md
  docs/mfc/reference/run-time-object-model-services.md
  docs/mfc/storing-and-loading-cobjects-via-an-archive.md
  docs/parallel/concrt/parallel-algorithms.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-mfc/tech, CLA, needs-human-review

#4326 Repo sync for protected CLA branch
  docs/build/compare-inclusion-methods.md
  docs/build/creating-precompiled-header-files.md
  docs/build/toc.yml
  docs/build/walkthrough-header-units.md
  docs/build/walkthrough-import-stl-header-units.md
  docs/cpp/modules-cpp.md
  docs/cpp/tutorial-import-stl-named-module.md
  docs/standard-library/range-concepts.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-tools/tech, CLA, needs-human-review

#4322 Update documentation for FASTLINK
  docs/build/reference/debug-generate-debug-info.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-tools/tech, qualifies-for-auto-merge

#4330 Repo sync for protected CLA branch
  docs/build/reference/debug-generate-debug-info.md
  docs/dotnet/how-to-create-clr-console-applications-cpp-cli.md
  docs/dotnet/how-to-create-clr-empty-projects.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-cli/tech, CLA, needs-human-review

#4333 Repo sync for protected CLA branch
  docs/c-language/conversions-from-signed-integral-types.md
  docs/c-language/conversions-from-unsigned-integral-types.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, CLA, cpp-c-language/tech, needs-human-review

#4336 Repo sync for protected CLA branch
  docs/build/reference/zc-tlsguards.md
  docs/c-runtime-library/reference/findfirst-functions.md
  docs/cpp/attributes.md
  docs/sanitizers/asan.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, CLA, needs-human-review

#4339 Repo sync for protected CLA branch
  docs/build/reference/fo-object-file-name.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-tools/tech, CLA, needs-human-review

#4332 Add examples for void type in cpp (#4331)
  docs/cpp/void-cpp.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-language/tech, aq-pr-triaged, needs-human-review

#4343 Repo sync for protected CLA branch
  docs/code-quality/c26829.md
  docs/code-quality/c26830.md
  docs/code-quality/c26859.md
  docs/code-quality/c26860.md
  docs/code-quality/toc.yml
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-tools/tech, CLA, needs-human-review
