Repository MicrosoftDocs/cpp-docs, pull requests merged in 2022-03, with the labels that each got.

#3740 Resolve syncing conflicts from FromPrivateLiveToMaster to main
  docs/atl-mfc-shared/cstring-argument-passing.md
  docs/atl-mfc-shared/reference/ctimespan-class.md
  docs/atl/reference/cw2aex-class.md
  docs/build/reference/scandependencies.md
  docs/c-runtime-library/data-conversion.md
  docs/c-runtime-library/exec-wexec-functions.md
  docs/c-runtime-library/filename-search-functions.md
  docs/c-runtime-library/reference/atexit.md
  docs/c-runtime-library/reference/atol-atol-l-wtol-wtol-l.md
  docs/c-runtime-library/reference/control87-controlfp-control87-2.md
  docs/c-runtime-library/reference/fileno.md
  docs/c-runtime-library/reference/fprintf-s-fprintf-s-l-fwprintf-s-fwprintf-s-l.md
  docs/c-runtime-library/reference/mkdir.md
  docs/c-runtime-library/reference/set-se-translator.md
  docs/c-runtime-library/reference/setmaxstdio.md
  docs/mfc/reference/ccriticalsection-class.md
  docs/mfc/reference/cscrollview-class.md
  docs/mfc/reference/csliderctrl-class.md
  docs/mfc/reference/internal-classes.md
  docs/overview/what-s-new-for-visual-cpp-in-visual-studio.md
  docs/preprocessor/optimize.md
  docs/standard-library/basic-ios-class.md
  docs/standard-library/exception-class.md
  docs/standard-library/mutex.md
  docs/standard-library/output-file-stream-member-functions.md
  docs/standard-library/string-view.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-ide/tech

#3741 Fix typo in _CrtSetReportHook2 parameter name
  docs/c-runtime-library/reference/crtsetreporthook2-crtsetreporthookw2.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-ucrt/tech

#3743 Repo sync for protected CLA branch
  .openpublishing.publish.config.json
  docs/assembler/inline/masm-macro-directives-in-inline-assembly.md
  docs/atl/reference/atl-classes.md
  docs/atl/reference/ccomsafearray-class.md
  docs/build/adding-references-in-visual-cpp-projects.md
  docs/build/cppproperties-schema-reference.md
  docs/build/creating-precompiled-header-files.md
  docs/build/launch-vs-schema-reference-cpp.md
  docs/build/reference/advanced-property-page.md
  docs/build/reference/bscmake-options.md
  docs/build/reference/building-browse-information-files-overview.md
  docs/build/reference/clr-restrictions.md
  docs/build/reference/jmc.md
  docs/build/run-time-library-behavior.md
  docs/build/walkthrough-build-debug-wsl2.md
  docs/c-runtime-library/complex-math-support.md
  docs/c-runtime-library/reference/controlfp-s.md
  docs/c-runtime-library/reference/get-osfhandle.md
  docs/c-runtime-library/reference/strtoul-strtoul-l-wcstoul-wcstoul-l.md
  docs/cpp/declspec.md
  docs/cpp/empty-bases.md
  docs/cpp/how-to-interface-between-exceptional-and-non-exceptional-code.md
  docs/cpp/toc.yml
  docs/mfc/reference/cframewndex-class.md
  docs/mfc/reference/cmfclistctrl-class.md
  docs/mfc/reference/cmfcribbonbar-class.md
  docs/standard-library/iomanip.md
  docs/standard-library/sstream-typedefs.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-tools/tech, CLA

#3744 Repo sync for protected CLA branch
  docs/build/reference/common-macros-for-build-commands-and-properties.md
  docs/build/reference/compiler-command-line-syntax.md
  docs/build/reference/compiling-a-c-cpp-program.md
  docs/build/reference/creating-a-makefile-project.md
  docs/build/reference/general-property-page-file.md
  docs/build/reference/keycontainer-specify-a-key-container-to-sign-an-assembly.md
  docs/build/reference/ltcg-link-time-code-generation.md
  docs/build/reference/managing-a-library.md
  docs/build/reference/qfast-transcendentals-force-fast-transcendentals.md
  docs/build/reference/safeseh-image-has-safe-exception-handlers.md
  docs/build/reference/section-specify-section-attributes.md
  docs/build/reference/tsaware-create-terminal-server-aware-application.md
  docs/build/reference/version-version-information.md
  docs/build/reference/xml-document-generator-tool-property-pages.md
  docs/code-quality/c26813.md
  docs/code-quality/c26827.md
  docs/code-quality/c26828.md
  docs/code-quality/toc.yml
  docs/standard-library/basic-string-view-class.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-tools/tech, CLA

#3748 Repo sync for protected CLA branch
  docs/c-runtime-library/reference/endthread-endthreadex.md
  docs/c-runtime-library/reference/fstat-fstat32-fstat64-fstati64-fstat32i64-fstat64i32.md
  docs/c-runtime-library/reference/mkgmtime-mkgmtime32-mkgmtime64.md
  docs/cpp/index.yml
  docs/mfc/reference/cdhtmldialog-class.md
  docs/mfc/reference/cdoctemplate-class.md
  docs/mfc/reference/cexception-class.md
  docs/mfc/reference/cmapstringtoob-class.md
  docs/mfc/reference/cpaintdc-class.md
  docs/mfc/reference/mfc-activex-control-wizard.md
  docs/overview/visual-cpp-help-and-community.md
  docs/standard-library/enable-if-class.md
  docs/standard-library/vector-functions.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-ide/tech, CLA

#3753 Repo sync for protected CLA branch
  docs/atl-mfc-shared/cstring-argument-passing.md
  docs/atl-mfc-shared/string-data-management.md
  docs/atl/reference/cregkey-class.md
  docs/c-runtime-library/exec-wexec-functions.md
  docs/c-runtime-library/exit-success-exit-failure.md
  docs/c-runtime-library/filename-search-functions.md
  docs/c-runtime-library/reference/crtisvalidheappointer.md
  docs/c-runtime-library/reference/dup-dup2.md
  docs/c-runtime-library/reference/freopen-wfreopen.md
  docs/c-runtime-library/reference/getcwd.md
  docs/c-runtime-library/reference/posix-getpid.md
  docs/c-runtime-library/reference/strtoul-strtoul-l-wcstoul-wcstoul-l.md
  docs/c-runtime-library/reference/wcstombs-wcstombs-l.md
  docs/c-runtime-library/truncate.md
  docs/ide/adding-a-class-from-an-activex-control-visual-cpp.md
  docs/ide/media/add-mfc-class-from-activex-control.png
  docs/mfc/reference/cformview-class.md
  docs/mfc/reference/cinternetsession-class.md
  docs/mfc/reference/ctoolbarctrl-class.md
  docs/mfc/reference/run-time-object-model-services.md
  docs/mfc/reference/wm-message-handlers-a-c.md
  docs/standard-library/atomic-structure.md
  docs/standard-library/input-stream-member-functions.md
  docs/standard-library/weak-ptr-class.md
  docs/standard-library/what-a-stream-is.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-ucrt/tech, CLA

#3751 Missing characters in /docs/c-language/lexical-grammar.md
  docs/c-language/lexical-grammar.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-c-language/tech

#3759 Repo sync for protected CLA branch
  docs/c-runtime-library/data-type-constants.md
  docs/c-runtime-library/reference/assert-asserte-assert-expr-macros.md
  docs/c-runtime-library/reference/invalid-parameter-functions.md
  docs/c-runtime-library/reference/putenv-s-wputenv-s.md
  docs/mfc/reference/ccommandlineinfo-class.md
  docs/mfc/reference/cfolderpickerdialog-class.md
  docs/mfc/reference/cmdiframewndex-class.md
  docs/mfc/reference/cmfctabctrl-class.md
  docs/mfc/reference/cprintdialog-class.md
  docs/standard-library/complex-class.md
  docs/standard-library/utility-functions.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-mfc/tech, CLA

#3757 Removed the extra semicolon.
  docs/standard-library/operator-greater-than-sample-container.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-standard-libraries/tech

#3765 Repo sync for protected CLA branch
  docs/build/cmake-remote-debugging.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-tools/tech, CLA

#3764 Fix value constraint for #line
  docs/preprocessor/hash-line-directive-c-cpp.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged

#3772 Repo sync for protected CLA branch
  docs/mfc/reference/add-class-from-typelib-wizard.md
  docs/mfc/reference/media/add-class-from-typelib-wizard.png
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-mfc/tech, CLA

#3788 Repo sync for protected CLA branch
  docs/build/formatting-the-output-of-a-custom-build-step-or-build-event.md
  docs/build/how-to-add-custom-build-tools-to-msbuild-projects.md
  docs/build/reference/bscmake-options.md
  docs/build/reference/common-macros-for-build-commands-and-properties.md
  docs/build/reference/microsoft-extensions-to-c-and-cpp.md
  docs/build/reference/permissive-standards-conformance.md
  docs/cpp/class-member-overview.md
  docs/cpp/temporary-objects.md
  docs/mfc/reference/adding-an-mfc-class-from-a-type-library.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-tools/tech, CLA

#3792 Add ARM64 as valid target machine
  docs/build/reference/machine-specify-target-platform.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-tools/tech

#3803 Repo sync for protected CLA branch
  docs/standard-library/thread-functions.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-standard-libraries/tech, CLA
