Repository MicrosoftDocs/cpp-docs, pull requests merged in 2022-06, with the labels that each got.

#3935 Fix the link of ARM64 intrinsics
  docs/build/configuring-programs-for-arm-processors-visual-cpp.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-tools/tech

#3934 `for_each_n` doc completed (#3933)
  docs/standard-library/algorithm-functions.md
Labels: Change sent to author, ready-to-merge, visual-cpp/prod, aq-pr-triaged, cpp-standard-libraries/tech

#3947 Repo sync for protected CLA branch
  docs/build/reference/zo-enhance-optimized-debugging.md
  docs/code-quality/c1252.md
  docs/cppcx/quick-reference-c-cx.md
  docs/extensions/constraints-on-generic-type-parameters-cpp-cli.md
  docs/extensions/generic-functions-cpp-cli.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-tools/tech, CLA

#3951 Resolve syncing conflicts from FromPrivateLiveToMaster to main
  docs/standard-library/algorithm-functions.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-standard-libraries/tech

#3953 Repo sync for protected CLA branch
  docs/atl/reference/cwindowimpl-class.md
  docs/cpp/function-overloading.md
  docs/cpp/object-lifetime-and-resource-management-modern-cpp.md
  docs/cpp/this-pointer.md
  docs/cpp/welcome-back-to-cpp-modern-cpp.md
  docs/error-messages/compiler-errors-1/compiler-error-c2107.md
  docs/error-messages/compiler-errors-2/compiler-error-c2834.md
  docs/error-messages/compiler-errors-2/compiler-error-c2858.md
  docs/error-messages/compiler-errors-2/compiler-error-c2875.md
  docs/error-messages/compiler-errors-2/compiler-error-c2896.md
  docs/error-messages/compiler-errors-2/compiler-error-c2902.md
  docs/error-messages/compiler-errors-2/compiler-error-c2917.md
  docs/error-messages/compiler-errors-2/compiler-error-c2931.md
  docs/error-messages/compiler-errors-2/compiler-error-c2932.md
  docs/error-messages/compiler-errors-2/compiler-error-c2933.md
  docs/error-messages/compiler-errors-2/compiler-error-c2934.md
  docs/error-messages/compiler-errors-2/compiler-error-c2935.md
  docs/error-messages/compiler-errors-2/compiler-error-c2936.md
  docs/error-messages/compiler-errors-2/compiler-error-c2937.md
  docs/error-messages/compiler-errors-2/compiler-error-c2939.md
  docs/error-messages/compiler-errors-2/compiler-error-c2940.md
  docs/error-messages/compiler-errors-2/compiler-error-c2941.md
  docs/error-messages/compiler-errors-2/compiler-error-c2942.md
  docs/error-messages/compiler-errors-2/compiler-error-c2943.md
  docs/error-messages/compiler-errors-2/compiler-error-c2944.md
  docs/error-messages/compiler-errors-2/compiler-error-c3047.md
  docs/error-messages/compiler-errors-2/compiler-error-c3054.md
  docs/error-messages/compiler-errors-2/compiler-error-c3189.md
  docs/error-messages/compiler-errors-2/compiler-error-c3251.md
  docs/error-messages/compiler-errors-2/compiler-error-c3275.md
  docs/error-messages/compiler-errors-2/compiler-error-c3485.md
  docs/error-messages/compiler-errors-2/compiler-errors-c2800-through-c2899.md
  docs/error-messages/compiler-errors-2/compiler-errors-c2900-through-c3499.md
  docs/error-messages/compiler-errors-2/compiler-errors-c3000-through-c3099.md
  docs/error-messages/compiler-errors-2/compiler-errors-c3100-through-c3199.md
  docs/error-messages/compiler-errors-2/compiler-errors-c3200-through-c3299.md
  docs/error-messages/compiler-errors-2/compiler-errors-c3300-through-c3399.md
  docs/error-messages/compiler-errors-2/compiler-errors-c3400-through-c3499.md
  docs/extensions/how-to-declare-value-types-with-the-interior-ptr-keyword-cpp-cli.md
  docs/mfc/reference/cfindreplacedialog-class.md
  docs/mfc/tn017-destroying-window-objects.md
  docs/mfc/tn031-control-bars.md
  docs/overview/cpp-conformance-improvements-2017.md
  docs/parallel/amp/reference/index-class.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-language/tech, CLA

#3962 Repo sync for protected CLA branch
  docs/assembler/inline/data-directives-and-operators-in-inline-assembly.md
  docs/assembler/masm/ml-nonfatal-error-a2010.md
  docs/assembler/masm/ml-nonfatal-error-a2034.md
  docs/assembler/masm/operator-this.md
  docs/build/cmake-presets-vs.md
  docs/error-messages/compiler-errors-1/compiler-error-c2108.md
  docs/error-messages/compiler-errors-2/compiler-error-c2676.md
  docs/error-messages/tool-errors/linker-tools-error-lnk1104.md
  docs/mfc/tn017-destroying-window-objects.md
  docs/overview/cpp-conformance-improvements-2017.md
  docs/standard-library/chrono.md
  docs/standard-library/leap-second-class.md
  docs/standard-library/leap-second-info-struct.md
  docs/standard-library/random.md
  docs/standard-library/time-zone-class.md
  docs/standard-library/time-zone-link-class.md
  docs/standard-library/zoned-time-class.md
  docs/standard-library/zoned-traits-struct.md
  docs/text/how-to-convert-between-various-string-types.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-language/tech, CLA

#3969 Remove duplicated typedef in `array-class-stl.md`
  docs/standard-library/array-class-stl.md
Labels: Change sent to author, ready-to-merge, visual-cpp/prod, aq-pr-triaged, cpp-standard-libraries/tech

#3979 Update cmfctoolbar-class.md for m_bDontScaleImages
  docs/mfc/reference/cmfctoolbar-class.md
Labels: Change sent to author, ready-to-merge, visual-cpp/prod, aq-pr-triaged, cpp-mfc/tech

#3981 Repo sync for protected CLA branch
  docs/standard-library/media/range_functions/begin-end-sentinel.png
  docs/standard-library/media/range_functions/cbegin-cend-sentinel.png
  docs/standard-library/media/range_functions/crbegin-crend-sentinel.png
  docs/standard-library/media/range_functions/rbegin-rend-sentinel.png
  docs/standard-library/media/range_functions/rcbegin-rcend-sentinel.png
  docs/standard-library/media/range_functions/src/begin-end-sentinel.pdn
  docs/standard-library/media/range_functions/src/cbegin-cend-sentinel.pdn
  docs/standard-library/media/range_functions/src/crbegin-crend-sentinel.pdn
  docs/standard-library/media/range_functions/src/rbegin-rend-sentinel.pdn
  docs/standard-library/range-functions.md
  docs/standard-library/ranges.md
  docs/standard-library/toc.yml
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-standard-libraries/tech, CLA

#3977 Typo "MSBUILD.exe"→"MSBuild.exe"
  docs/build/reference/mp-build-with-multiple-processes.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-tools/tech

#3991 Repo sync for protected CLA branch
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4743.md
  docs/standard-library/error-category-class.md
  docs/standard-library/forward-list-class.md
  docs/standard-library/fpos-class.md
  docs/standard-library/front-insert-iterator-class.md
  docs/standard-library/function-class.md
  docs/standard-library/future-class.md
  docs/standard-library/insert-iterator-class.md
  docs/standard-library/ios-base-class.md
  docs/standard-library/istream-iterator-class.md
  docs/standard-library/istreambuf-iterator-class.md
  docs/standard-library/locale-class.md
  docs/standard-library/range-functions.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-standard-libraries/tech, CLA

#3992 removed typo in macro
  docs/build/reference/special-nmake-macros.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-tools/tech

#3993 Repo sync for protected CLA branch
  docs/standard-library/match-results-class.md
  docs/standard-library/move-iterator-class.md
  docs/standard-library/nested-exception-class.md
  docs/standard-library/ostream-iterator-class.md
  docs/standard-library/packaged-task-class.md
  docs/standard-library/path-class.md
  docs/standard-library/promise-class.md
  docs/standard-library/raw-storage-iterator-class.md
  docs/standard-library/recursive-directory-iterator-class.md
  docs/standard-library/regex-iterator-class.md
  docs/standard-library/reverse-iterator-class.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-standard-libraries/tech, CLA

#3997 Fix typo
  docs/c-runtime-library/reference/strtod-strtod-l-wcstod-wcstod-l.md
Labels: Change sent to author, ready-to-merge, visual-cpp/prod, aq-pr-triaged, cpp-ucrt/tech

#3998 Repo sync for protected CLA branch
  docs/code-quality/c6389.md
  docs/code-quality/c6390.md
  docs/code-quality/toc.yml
  docs/data/oledb/user-record.md
  docs/parallel/amp/reference/index-class.md
  docs/standard-library/scoped-allocator-adaptor-class.md
  docs/standard-library/shared-future-class.md
  docs/standard-library/shared-ptr-class.md
  docs/standard-library/sub-match-class.md
  docs/standard-library/thread-class.md
  docs/standard-library/tuple-class.md
  docs/standard-library/type-index-class.md
  docs/standard-library/unique-lock-class.md
  docs/standard-library/unique-ptr-class.md
  docs/standard-library/unordered-map-class.md
  docs/standard-library/valarray-class.md
  docs/standard-library/weak-ptr-class.md
  docs/standard-library/writing-your-own-manipulators-without-arguments.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-standard-libraries/tech, CLA

#4005 Changed word for better machine translation
  docs/cpp/function-overloading.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-language/tech, aq-pr-triaged, qualifies-for-auto-merge

#4006 Repo sync for protected CLA branch
  docs/code-quality/c26829.md
  docs/code-quality/c26830.md
  docs/code-quality/toc.yml
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-tools/tech, CLA, needs-human-review

#4007 Update ltcg-link-time-code-generation.md
  docs/build/reference/ltcg-link-time-code-generation.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-tools/tech, qualifies-for-auto-merge

#4012 Repo sync for protected CLA branch
  docs/code-quality/c26800.md
  docs/code-quality/c26822.md
  docs/code-quality/c26823.md
  docs/code-quality/c26824.md
  docs/code-quality/c26825.md
  docs/code-quality/toc.yml
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-tools/tech, CLA, needs-human-review

#4015 Repo sync for protected CLA branch
  docs/build/clang-support-msbuild.md
  docs/build/creating-precompiled-header-files.md
  docs/build/reference/external-external-headers-diagnostics.md
  docs/build/reference/gh-enable-penter-hook-function.md
  docs/build/reference/internal-partition.md
  docs/build/reference/permissive-standards-conformance.md
  docs/build/reference/zc-inline-remove-unreferenced-comdat.md
  docs/c-runtime-library/potential-errors-passing-crt-objects-across-dll-boundaries.md
  docs/code-quality/c26475.md
  docs/code-quality/c28205.md
  docs/code-quality/c28302.md
  docs/dotnet/how-to-marshal-embedded-pointers-using-pinvoke.md
  docs/dotnet/how-to-marshal-function-pointers-using-pinvoke.md
  docs/dotnet/how-to-marshal-strings-using-pinvoke.md
  docs/dotnet/managed-types-cpp-cli.md
  docs/error-messages/compiler-errors-1/compiler-error-c2065.md
  docs/error-messages/compiler-errors-1/compiler-error-c2073.md
  docs/error-messages/compiler-errors-2/compiler-error-c3861.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4471.md
  docs/error-messages/tool-errors/linker-tools-error-lnk1237.md
  docs/error-messages/tool-errors/linker-tools-error-lnk1313.md
  docs/error-messages/tool-errors/linker-tools-warning-lnk4221.md
  docs/ide/lnt-comparison-bitwise-precedence.md
  docs/mfc/reference/clistctrl-class.md
  docs/mfc/reference/diagnostic-services.md
  docs/overview/cpp-conformance-improvements-2019.md
  docs/porting/upgrade-your-code-to-the-universal-crt.md
  docs/preprocessor/hash-using-directive-cpp.md
  docs/standard-library/codecvt-byname-class.md
  docs/standard-library/remove-const-class.md
  docs/standard-library/tuple-size-class-tuple.md
  docs/windows/attributes/db-command.md
  docs/windows/choosing-a-deployment-method.md
  docs/windows/deploying-visual-cpp-application-by-using-the-vcpp-redistributable-package.md
  docs/windows/deployment-in-visual-cpp.md
  docs/windows/determining-which-dlls-to-redistribute.md
  docs/windows/preparing-a-test-machine-to-run-a-debug-executable.md
  docs/windows/walkthrough-deploying-a-visual-cpp-application-by-using-a-setup-project.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-language/tech, aq-pr-triaged, CLA, needs-human-review
