Repository MicrosoftDocs/cpp-docs, pull requests merged in 2022-08, with the labels that each got.

#4073 Repo sync for protected CLA branch
  .openpublishing.publish.config.json
Labels: do-not-merge, review-team-triage, CLA

#4079 Repo sync for protected CLA branch
  docs/intrinsics/assume.md
  docs/intrinsics/interlockedcompareexchange-intrinsic-functions.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-tools/tech, CLA

#4078 Update multithreading-and-locales.md
  docs/parallel/multithreading-and-locales.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-parallel/tech, qualifies-for-auto-merge

#4063 Visual C++ 17.0 has unlimited string literals
  docs/cpp/string-and-character-literals-cpp.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-language/tech, aq-pr-triaged, qualifies-for-auto-merge

#4081 Update the ARM64EC-related predefined macros
  docs/preprocessor/predefined-macros.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-language/tech, aq-pr-triaged, qualifies-for-auto-merge

#4083 Repo sync for protected CLA branch
  docs/embedded/download-and-install-the-embedded-tooling.md
  docs/embedded/index.yml
  docs/embedded/media/peripheral-view-vscode.png
  docs/embedded/media/peripheral-view.png
  docs/embedded/media/peripheral-viewer-vscode.png
  docs/embedded/media/peripheral-viewer.png
  docs/embedded/peripheral-view.md
  docs/embedded/toc.yml
Labels: do-not-merge, Change sent to author, visual-cpp/prod, CLA

#4085 Repo sync for protected CLA branch
  docs/code-quality/c26810.md
  docs/code-quality/c26811.md
  docs/cpp/tutorial-named-modules-cpp.md
  docs/error-messages/compiler-warnings/compiler-warnings-by-compiler-version.md
  docs/error-messages/compiler-warnings/compiler-warnings-c4800-through-c4999.md
  docs/overview/cpp-conformance-improvements.md
  docs/preprocessor/compiler-warnings-that-are-off-by-default.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-language/tech, CLA

#4086 fix uppercase letter
  docs/c-runtime-library/reference/fopen-s-wfopen-s.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-ucrt/tech, qualifies-for-auto-merge

#4095 Repo sync for protected CLA branch
  docs/standard-library/debug-iterator-support.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, review-team-triage, aq-pr-triaged, cpp-standard-libraries/tech, CLA

#4099 fix: ordered list
  docs/atl/putting-the-control-on-a-web-page-atl-tutorial-part-7.md
  docs/parallel/concrt/how-to-use-parallel-invoke-to-write-a-parallel-sort-routine.md
Labels: Change sent to author, ready-to-merge, visual-cpp/prod, aq-pr-triaged, cpp-atl/tech, needs-human-review

#4101 Repo sync for protected CLA branch
  docs/c-runtime-library/crt-library-features.md
  docs/mfc/reference/cmdiframewndex-class.md
  docs/standard-library/cpp-standard-library-reference.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-ucrt/tech, CLA

#4100 Update link to LibFuzzer documentation
  docs/build/reference/fsanitize.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-tools/tech, qualifies-for-auto-merge

#4105 Repo sync for protected CLA branch
  docs/error-messages/compiler-errors-1/compiler-fatal-errors-c999-through-c1999.md
  docs/error-messages/compiler-errors-1/fatal-error-C1015.md
  docs/error-messages/compiler-errors-1/fatal-error-c1000-c1999.md
  docs/error-messages/compiler-errors-1/fatal-error-c1011.md
  docs/error-messages/compiler-errors-1/fatal-error-c1025-c1115.md
  docs/error-messages/compiler-errors-1/fatal-error-c1038.md
  docs/error-messages/compiler-errors-1/fatal-error-c1073.md
  docs/error-messages/compiler-errors-1/fatal-error-c1079.md
  docs/error-messages/compiler-errors-1/fatal-error-c1094.md
  docs/error-messages/compiler-errors-1/fatal-error-c1116.md
  docs/error-messages/compiler-errors-1/fatal-error-c1117.md
  docs/error-messages/compiler-errors-1/fatal-error-c1205.md
  docs/error-messages/compiler-errors-1/fatal-error-c1206.md
  docs/error-messages/compiler-errors-1/fatal-error-c1207.md
  docs/error-messages/compiler-errors-1/fatal-error-c1208.md
  docs/error-messages/compiler-errors-1/fatal-error-c1209.md
  docs/error-messages/compiler-errors-1/fatal-error-c1210.md
  docs/error-messages/compiler-errors-1/fatal-error-c1211.md
  docs/error-messages/compiler-errors-1/fatal-error-c999.md
  docs/error-messages/toc.yml
  docs/standard-library/cpp-standard-library-overview.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-diagnostics/tech, CLA

#4104 Fixed inconsistent spelling of "newline"
  docs/c-language/lexical-grammar.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-c-language/tech, qualifies-for-auto-merge

#4110 Minor format update to remove extra '\' in the last row of table columns
  docs/preprocessor/intrinsic.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-language/tech, review-team-triage, aq-pr-triaged, qualifies-for-auto-merge

#4108 C26472/C26475 docs: gsl:narrow throws rather than crashes
  docs/code-quality/c26472.md
  docs/code-quality/c26475.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-tools/tech, qualifies-for-auto-merge

#4120 Repo sync for protected CLA branch
  docs/c-language/inline-functions.md
  docs/c-runtime-library/reference/get-tzname.md
  docs/code-quality/annotating-locking-behavior.md
  docs/code-quality/c6248.md
  docs/cpp/inline-functions-cpp.md
  docs/error-messages/compiler-errors-1/compiler-error-c2016.md
  docs/error-messages/compiler-errors-1/compiler-error-c2023.md
  docs/error-messages/compiler-errors-1/compiler-error-c2024.md
  docs/error-messages/compiler-errors-1/compiler-error-c2025.md
  docs/error-messages/compiler-errors-1/compiler-error-c2031.md
  docs/error-messages/compiler-errors-1/compiler-error-c2035.md
  docs/error-messages/compiler-errors-1/compiler-error-c2037.md
  docs/error-messages/compiler-errors-1/compiler-error-c2038.md
  docs/error-messages/compiler-errors-1/compiler-error-c2049.md
  docs/error-messages/compiler-errors-1/compiler-error-c2068.md
  docs/error-messages/compiler-errors-1/compiler-error-c2073.md
  docs/error-messages/compiler-errors-1/compiler-error-c2076.md
  docs/error-messages/compiler-errors-1/compiler-error-c2080.md
  docs/error-messages/compiler-errors-1/compiler-error-c2096.md
  docs/error-messages/compiler-errors-1/compiler-error-c2098.md
  docs/error-messages/compiler-errors-1/compiler-errors-c2001-through-c2099.md
  docs/error-messages/toc.yml
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-diagnostics/tech, CLA

#4126 Repo sync for protected CLA branch
  CONTRIBUTING.md
  README.md
  docs/build/building-on-the-command-line.md
  docs/ide/adding-functionality-with-code-wizards-cpp.md
  docs/ide/read-and-understand-code-cpp.md
  docs/index.yml
  docs/mfc/ole-background.md
  docs/overview/how-to-report-a-problem-with-the-visual-cpp-toolset.md
  docs/overview/visual-cpp-help-and-community.md
  docs/overview/visual-cpp-samples.md
  docs/overview/what-s-new-for-cpp-2019.md
  docs/overview/whats-new-cpp-docs.md
Labels: do-not-merge, review-team-triage, CLA

#4128 Repo sync for protected CLA branch
  docs/build/reference/arch-arm64.md
  docs/build/reference/fr-fr-create-dot-sbr-file.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-and-level-4-c4700.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4532.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4533.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4789.md
  docs/error-messages/compiler-warnings/compiler-warning-level-2-c4146.md
  docs/error-messages/compiler-warnings/compiler-warning-level-2-c4308.md
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4995.md
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4996.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4703.md
  docs/intrinsics/intrinsics-available-on-all-architectures.md
  docs/intrinsics/x64-amd64-intrinsics-list.md
  docs/intrinsics/x86-intrinsics-list.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-diagnostics/tech, CLA
