Repository MicrosoftDocs/cpp-docs, pull requests merged in 2023-07, with the labels that each got.

#4616 Clarified which New Project should be selected (for VS 2022)
  docs/dotnet/walkthrough-compiling-a-cpp-program-that-targets-the-clr-in-visual-studio.md
Labels: Change sent to author, ready-to-merge, visual-cpp/prod, aq-pr-triaged, cpp-cli/tech, qualifies-for-auto-merge

#4627 Corrected "stosb" typo
  docs/intrinsics/stosq.md
Labels: Change sent to author, ready-to-merge, visual-cpp/prod, aq-pr-triaged, cpp-tools/tech, qualifies-for-auto-merge

#4630 Mark `_Copy_s` microsoft-specific
  docs/standard-library/basic-string-class.md
Labels: Change sent to author, ready-to-merge, visual-cpp/prod, cpp-standard-libraries/tech, qualifies-for-auto-merge

#4631 Mark `raw_name` Microsoft Specific
  docs/cpp/type-info-class.md
Labels: Change sent to author, ready-to-merge, visual-cpp/prod, cpp-language/tech, qualifies-for-auto-merge

#4636 Update cmake-presets-vs.md
  docs/build/cmake-presets-vs.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-tools/tech, qualifies-for-auto-merge

#4639 docs: corrected "MB_LEN_MAX" description
  docs/c-language/cpp-integer-limits.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-c-language/tech, qualifies-for-auto-merge

#4638 Link C4834 to C26457
  docs/error-messages/compiler-warnings/c4834.md
Labels: Change sent to author, ready-to-merge, visual-cpp/prod, cpp-diagnostics/tech, qualifies-for-auto-merge

#4641 Suggestion for a better example program
  docs/intrinsics/umulh.md
Labels: Change sent to author, ready-to-merge, visual-cpp/prod, cpp-tools/tech, qualifies-for-auto-merge

#4644 Improve C4834 spacing, line wrapping, and wording
  docs/error-messages/compiler-warnings/c4834.md
Labels: Change sent to author, ready-to-merge, visual-cpp/prod, cpp-diagnostics/tech, needs-human-review

#4647 docs: few minor fixes.
  docs/c-language/c-enumeration-declarations.md
  docs/c-language/c-type-specifiers.md
  docs/c-language/declarators-and-variable-declarations.md
  docs/c-language/extern-storage-class-specifier.md
Labels: Change sent to author, ready-to-merge, visual-cpp/prod, aq-pr-triaged, cpp-c-language/tech, qualifies-for-auto-merge

#4653 docs: few minor fixes.
  docs/c-language/c-bit-fields.md
  docs/c-language/storage-and-alignment-of-structures.md
  docs/c-language/union-declarations.md
Labels: Change sent to author, ready-to-merge, visual-cpp/prod, cpp-c-language/tech, qualifies-for-auto-merge

#4656 docs: few minor changes.
  docs/c-language/array-declarations.md
  docs/c-language/interpreting-more-complex-declarators.md
Labels: Change sent to author, ready-to-merge, visual-cpp/prod, cpp-c-language/tech, qualifies-for-auto-merge
