Repository MicrosoftDocs/cpp-docs, pull requests merged in 2023-06, with the labels that each got.

#4571 fix missing other() function
  docs/c-language/storage-class-specifiers-for-external-level-declarations.md
Labels: Change sent to author, ready-to-merge, visual-cpp/prod, aq-pr-triaged, cpp-c-language/tech, qualifies-for-auto-merge

#4505 Update compiler-limits.md
  docs/cpp/compiler-limits.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-language/tech, aq-pr-triaged, qualifies-for-auto-merge

#4576 Update get-timezone.md
  docs/c-runtime-library/reference/get-timezone.md
Labels: Change sent to author, ready-to-merge, visual-cpp/prod, aq-pr-triaged, cpp-ucrt/tech, qualifies-for-auto-merge

#4584 Fix typo in docs/standard-library/atomic-structure.md
  docs/standard-library/atomic-structure.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-standard-libraries/tech, qualifies-for-auto-merge

#4597 Update byteswap-uint64-byteswap-ulong-byteswap-ushort.md
  docs/c-runtime-library/reference/byteswap-uint64-byteswap-ulong-byteswap-ushort.md
Labels: Change sent to author, ready-to-merge, visual-cpp/prod, aq-pr-triaged, cpp-ucrt/tech, qualifies-for-auto-merge

#4606 Update x64-calling-convention.md
  docs/build/x64-calling-convention.md
Labels: Change sent to author, ready-to-merge, visual-cpp/prod, aq-pr-triaged, cpp-tools/tech, qualifies-for-auto-merge
