Repository MicrosoftDocs/cpp-docs, pull requests merged in 2023-12, with the labels that each got.

#4836 Fix a few typos
  docs/atl/reference/ccomcoclass-class.md
  docs/atl/supporting-idispatch-and-ierrorinfo.md
  docs/code-quality/c6240.md
  docs/mfc/reference/cd2dbitmap-class.md
  docs/mfc/reference/cd2dgeometry-class.md
  docs/mfc/reference/cd2dpathgeometry-class.md
  docs/mfc/reference/cdaotabledef-class.md
  docs/mfc/reference/cdockstate-class.md
  docs/mfc/reference/cexception-class.md
  docs/mfc/reference/cmdichildwndex-class.md
  docs/mfc/reference/cmfccolorbar-class.md
  docs/mfc/reference/cmfceditbrowsectrl-class.md
  docs/mfc/reference/cmfctoolbarscustomizedialog-class.md
  docs/mfc/reference/cmfcvisualmanager-class.md
  docs/mfc/reference/cmfcvisualmanagervs2005-class.md
  docs/mfc/reference/colecmdui-class.md
  docs/mfc/reference/colecontrolsite-class.md
  docs/mfc/reference/coledataobject-class.md
  docs/mfc/reference/coledatasource-class.md
  docs/mfc/reference/colelinkingdoc-class.md
  docs/mfc/reference/coleobjectfactory-class.md
  docs/mfc/reference/colepastespecialdialog-class.md
  docs/mfc/reference/colevariant-class.md
  docs/mfc/reference/crecordset-class.md
  docs/mfc/reference/cricheditctrl-class.md
  docs/mfc/reference/cricheditdoc-class.md
  docs/mfc/reference/cview-class.md
  docs/mfc/reference/dialog-data-exchange-functions-for-ole-controls.md
  docs/mfc/reference/mfc-classes.md
  docs/mfc/reference/standard-dialog-data-exchange-routines.md
  docs/mfc/reference/variant-parameter-type-constants.md
  docs/mfc/walkthrough-adding-a-ctaskdialog-to-an-application.md
Labels: Change sent to author, ready-to-merge, visual-cpp/prod, aq-pr-triaged, cpp-mfc/tech, needs-human-review

#4840 Update calloc.md
  docs/c-runtime-library/reference/calloc.md
Labels: Change sent to author, ready-to-merge, visual-cpp/prod, aq-pr-triaged, cpp-ucrt/tech, qualifies-for-auto-merge

#4843 Fix various typos
  docs/atl-mfc-shared/cstring-argument-passing.md
  docs/atl-mfc-shared/exporting-string-classes-using-cstringt.md
  docs/atl-mfc-shared/reference/classes-shared-by-mfc-and-atl.md
  docs/build/open-folder-projects-cpp.md
  docs/build/reference/filealign.md
  docs/build/walkthrough-build-debug-wsl2.md
  docs/c-language/escape-sequences.md
  docs/code-quality/c26444.md
  docs/code-quality/using-the-cpp-core-guidelines-checkers.md
  docs/code-quality/walkthrough-analyzing-c-cpp-code-for-defects.md
  docs/cpp/arrays-cpp.md
  docs/cpp/clrcall.md
  docs/cpp/enumerations-cpp.md
  docs/cpp/static-assert.md
  docs/cpp/templates-and-name-resolution.md
  docs/cpp/tutorial-named-modules-cpp.md
  docs/cpp/variant-t-variant-t.md
  docs/cppcx/casting-c-cx.md
  docs/cppcx/collections-c-cx.md
  docs/cppcx/enums-c-cx.md
  docs/cppcx/events-c-cx.md
  docs/cppcx/platform-agile-class.md
  docs/cppcx/platform-collections-inputiterator-class.md
  docs/cppcx/platform-collections-unorderedmap-class.md
  docs/cppcx/platform-intptr-value-class.md
  docs/cppcx/platform-type-class.md
  docs/cppcx/weak-references-and-breaking-cycles-c-cx.md
  docs/cppcx/wrl/activationfactory-class.md
  docs/cppcx/wrl/agileeventsource-class.md
  docs/cppcx/wrl/chaininterfaces-structure.md
  docs/cppcx/wrl/criticalsection-class.md
  docs/cppcx/wrl/hstring-class.md
  docs/cppcx/wrl/module-class.md
  docs/embedded/rtos-view.md
  docs/extensions/compiler-support-for-type-traits-cpp-component-extensions.md
  docs/extensions/how-to-declare-interior-pointers-with-the-const-keyword-cpp-cli.md
  docs/extensions/safe-cast-cpp-component-extensions.md
  docs/ide/add-interface-definition-library-method-wizard.md
  docs/ide/lnt-uninitialized-local.md
  docs/standard-library/bitset-class.md
  docs/standard-library/integer-sequence-class.md
  docs/standard-library/not-equal-to-struct.md
  docs/standard-library/range-adaptors.md
  docs/standard-library/stl-containers.md
  docs/standard-library/subtract-with-carry-engine-class.md
  docs/standard-library/transform-view-class.md
  docs/standard-library/valarray-class.md
  docs/standard-library/valarray-operators.md
  docs/standard-library/values-view-class.md
  docs/standard-library/zoned-time-class.md
  docs/windows/attributes/module-cpp.md
Labels: ready-to-merge, aq-pr-triaged, needs-human-review

#4849 Add file hint in namespaces-cpp.md
  docs/cpp/namespaces-cpp.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-language/tech, aq-pr-triaged, qualifies-for-auto-merge

#4823 Remove the content of the contrast between inline functions and macros
  docs/cpp/inline-functions-cpp.md
Labels: Change sent to author, ready-to-merge, visual-cpp/prod, cpp-language/tech, aq-pr-triaged, needs-human-review
