Repository MicrosoftDocs/cpp-docs, pull requests merged in 2023-02, with the labels that each got.

#4397 update to include new features
  docs/embedded/serial-monitor.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod

#4404 Small Typo
  docs/parallel/concrt/task-scheduler-concurrency-runtime.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, qualifies-for-auto-merge, cpp-concrt/tech

#4420 Minor styling fixes
  docs/c-language/name-spaces.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-c-language/tech, needs-human-review

#4412 P2513R4 is the latest revision
  docs/overview/visual-cpp-language-conformance.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-language/tech, aq-pr-triaged, qualifies-for-auto-merge

#4425 virtual functions can be constexpr
  docs/cpp/constexpr-cpp.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-language/tech, aq-pr-triaged, qualifies-for-auto-merge

#4375 Update vcperf-commands.md
  docs/build-insights/reference/vcperf-commands.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-tools/tech, needs-human-review

#4429 Update tutorial-import-stl-named-module.md
  docs/cpp/tutorial-import-stl-named-module.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-language/tech, aq-pr-triaged, qualifies-for-auto-merge
