Repository MicrosoftDocs/cpp-docs, pull requests merged in 2023-04, with the labels that each got.

#4496 CRT_ASSERT is not a valid report type. Should be _CRT_ASSERT
  docs/c-runtime-library/reference/assert-asserte-assert-expr-macros.md
Labels: Change sent to author, ready-to-merge, visual-cpp/prod, aq-pr-triaged, cpp-ucrt/tech, qualifies-for-auto-merge

#4498 Update attributes.md
  docs/cpp/attributes.md
Labels: Change sent to author, ready-to-merge, visual-cpp/prod, cpp-language/tech, aq-pr-triaged, needs-human-review

#4507 remove unneeded `To`
  docs/data/installing-database-support-mfc-atl.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-data/tech, qualifies-for-auto-merge

#4511 Fix typos in STL docs
  docs/standard-library/algorithms.md
  docs/standard-library/functional.md
  docs/standard-library/stl-containers.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-standard-libraries/tech, qualifies-for-auto-merge

#4527 Correct documentation for HFA return values
  docs/build/arm64-windows-abi-conventions.md
Labels: Change sent to author, ready-to-merge, visual-cpp/prod, cpp-tools/tech, qualifies-for-auto-merge

#4528 removed closed bracket
  docs/windows/redistributing-visual-cpp-files.md
Labels: Change sent to author, ready-to-merge, visual-cpp/prod, aq-pr-triaged, cpp-windows/tech, qualifies-for-auto-merge
