Repository MicrosoftDocs/cpp-docs, pull requests merged in 2023-11, with the labels that each got.

#4787 Incorporate product team feedback on /DEBUG:FASTLINK description.
  docs/build/reference/debug-generate-debug-info.md
Labels: Change sent to author, ready-to-merge, visual-cpp/prod, cpp-tools/tech, qualifies-for-auto-merge

#4733 Add deprecation info to `auto_ptr`
  docs/standard-library/auto-ptr-class.md
Labels: Change sent to author, ready-to-merge, visual-cpp/prod, aq-pr-triaged, cpp-standard-libraries/tech, qualifies-for-auto-merge

#4799 Fix error in /W3 /W4 C4244
  docs/error-messages/compiler-warnings/compiler-warning-levels-3-and-4-c4244.md
Labels: Change sent to author, ready-to-merge, visual-cpp/prod, aq-pr-triaged, cpp-diagnostics/tech, needs-human-review

#4803 Fix excess closing square bracket typo
  docs/c-runtime-library/reference/atoi-atoi-l-wtoi-wtoi-l.md
  docs/c-runtime-library/reference/atol-atol-l-wtol-wtol-l.md
Labels: Change sent to author, ready-to-merge, visual-cpp/prod, aq-pr-triaged, cpp-ucrt/tech, qualifies-for-auto-merge

#4805 Remove superfluous empty lines
  docs/build/reference/microsoft-extensions-to-c-and-cpp.md
  docs/c-runtime-library/reference/fsopen-wfsopen.md
  docs/code-quality/c26460.md
  docs/cpp/codesnippet/CPP/smart-pointers-modern-cpp_1.cpp
  docs/cpp/raw-pointers.md
  docs/error-messages/compiler-warnings/c4834.md
  docs/parallel/concrt/codesnippet/CPP/walkthrough-creating-a-dataflow-agent_2.cpp
  docs/standard-library/range-adaptors.md
Labels: Change sent to author, ready-to-merge, visual-cpp/prod, aq-pr-triaged, cpp-standard-libraries/tech, needs-human-review

#4806 Improve `__declspec(noreturn)` example
  docs/cpp/noreturn.md
Labels: Change sent to author, ready-to-merge, visual-cpp/prod, cpp-language/tech, aq-pr-triaged, needs-human-review

#4829 Fix incorrect quotation marks in `Inline functions (C++)`
  docs/cpp/inline-functions-cpp.md
Labels: Change sent to author, ready-to-merge, visual-cpp/prod, cpp-language/tech, aq-pr-triaged, qualifies-for-auto-merge

#4826 Small nits for destructors cpp
  docs/cpp/destructors-cpp.md
Labels: Change sent to author, ready-to-merge, visual-cpp/prod, cpp-language/tech, aq-pr-triaged, qualifies-for-auto-merge
