Repository MicrosoftDocs/cpp-docs, pull requests merged in 2023-05, with the labels that each got.

#3526 Correct the documentation for fmaf
  docs/c-runtime-library/reference/fma-fmaf-fmal.md
Labels: Change sent to author, ready-to-merge, visual-cpp/prod, aq-pr-triaged, cpp-ucrt/tech

#4537 Update attributes.md - remove duplicate entries
  docs/cpp/attributes.md
Labels: Change sent to author, ready-to-merge, visual-cpp/prod, cpp-language/tech, aq-pr-triaged, qualifies-for-auto-merge

#4552 Add information about _stat to VS Change History
  docs/porting/visual-cpp-change-history-2003-2015.md
Labels: Change sent to author, ready-to-merge, visual-cpp/prod, cpp-language/tech, aq-pr-triaged, qualifies-for-auto-merge

#4555 Add the disable macro for `string` annotations
  docs/sanitizers/error-container-overflow.md
Labels: Change sent to author, ready-to-merge, visual-cpp/prod, aq-pr-triaged, cpp-tools/tech, qualifies-for-auto-merge

#4547 Clarify terminology around register volatility.
  docs/build/arm64-windows-abi-conventions.md
Labels: Change sent to author, ready-to-merge, visual-cpp/prod, aq-pr-triaged, cpp-tools/tech, qualifies-for-auto-merge

#4565 Update references-cpp.md
  docs/cpp/references-cpp.md
Labels: Change sent to author, ready-to-merge, visual-cpp/prod, cpp-language/tech, aq-pr-triaged, qualifies-for-auto-merge

#4546 add a code example to how-to-create-and-use-shared-ptr-instances.md
  docs/cpp/codesnippet/CPP/how-to-create-and-use-shared-ptr-instances_5.cpp
  docs/cpp/how-to-create-and-use-shared-ptr-instances.md
Labels: Change sent to author, ready-to-merge, visual-cpp/prod, cpp-language/tech, aq-pr-triaged, needs-human-review
