Repository MicrosoftDocs/cpp-docs, pull requests merged in 2023-01, with the labels that each got.

#4352 Correct documentation for C99 comments
  docs/c-language/c-comments.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-c-language/tech, qualifies-for-auto-merge

#4346 Repo sync for protected CLA branch
  docs/overview/cpp-conformance-improvements-2019.md
  docs/standard-library/common-view-class.md
  docs/standard-library/drop-while-view-class.md
  docs/standard-library/empty-view-class.md
  docs/standard-library/filter-view-class.md
  docs/standard-library/iterator-concepts.md
  docs/standard-library/iterator-functions.md
  docs/standard-library/iterator.md
  docs/standard-library/join-view-class.md
  docs/standard-library/media/iterator-hiearchy.svg
  docs/standard-library/media/ranges-iterator-hiearchy.svg
  docs/standard-library/media/src/iterator-hiearchy.vsdx
  docs/standard-library/media/src/range-iterator-hiearchy.vsdx
  docs/standard-library/range-adaptors.md
  docs/standard-library/range-concepts.md
  docs/standard-library/range-functions.md
  docs/standard-library/ranges.md
  docs/standard-library/single-view-class.md
  docs/standard-library/span-class.md
  docs/standard-library/subrange-class.md
  docs/standard-library/toc.yml
  docs/standard-library/transform-view-class.md
  docs/standard-library/view-classes.md
  docs/standard-library/view-interface.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-language/tech, aq-pr-triaged, CLA, needs-human-review

#4354 Update integritycheck-require-signature-check.md
  docs/build/reference/integritycheck-require-signature-check.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-tools/tech, qualifies-for-auto-merge

#4357 Repo sync for protected CLA branch
  docs/intrinsics/mm-stream-ss.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-tools/tech, CLA, needs-human-review

#4358 update clear redundancy
  docs/overview/what-s-new-for-visual-cpp-in-visual-studio.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-ide/tech, qualifies-for-auto-merge

#4359 Repo sync for protected CLA branch
  docs/build/clang-support-cmake.md
  docs/build/clang-support-msbuild.md
  docs/build/media/clang-install-vs2022.png
  docs/cross-platform/install-and-configure-tools-to-build-using-ios.md
  docs/cross-platform/media/cppmdd-options-ios-new.png
  docs/cross-platform/media/cppmdd-options-ios-old.png
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-tools/tech, CLA, needs-human-review

#4361 Repo sync for protected CLA branch
  docs/build/clang-support-cmake.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-tools/tech, CLA

#4377 fix typo - change "map" to "set" on <set> functions page
  docs/standard-library/set-functions.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-standard-libraries/tech, qualifies-for-auto-merge

#4378 BitScanForward clarification to avoid ambiguous "return" term.
  docs/intrinsics/bitscanforward-bitscanforward64.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, cpp-tools/tech, qualifies-for-auto-merge

#4381 Update %Z specifier with known issue
  docs/c-runtime-library/format-specification-syntax-printf-and-wprintf-functions.md
Labels: Change sent to author, ready-to-merge, visual-cpp/prod, aq-pr-triaged, cpp-ucrt/tech, qualifies-for-auto-merge

#4380 Update c-tokens.md
  docs/c-language/c-tokens.md
Labels: do-not-merge, Change sent to author, visual-cpp/prod, aq-pr-triaged, cpp-c-language/tech, qualifies-for-auto-merge
