Repository MicrosoftDocs/cpp-docs, pull requests merged in 2024-12, with the labels that each got.

#5130 Update using-insertion-operators-and-controlling-format.md
  docs/standard-library/using-insertion-operators-and-controlling-format.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, visual-cpp/svc, standard-libraries/subsvc

#5131 Update how-to-create-and-use-shared-ptr-instances.md
  docs/cpp/how-to-create-and-use-shared-ptr-instances.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, visual-cpp/svc, cpp-lang/subsvc

#5134 Fix MASM dot-code and dot-data to indicate they also work on x64
  docs/assembler/masm/dot-code.md
  docs/assembler/masm/dot-data.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, visual-cpp/svc, masm/subsvc

#5135 MASM: Fix broken links in processor manufacturers page
  docs/assembler/masm/processor-manufacturer-programming-manuals.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, visual-cpp/svc, masm/subsvc

#5137 Change `master` to `main` for GitHub links
  docs/assembler/arm/arm-assembler-command-line-reference.md
  docs/build/reference/sourcelink.md
  docs/linux/deploy-run-and-debug-your-linux-project.md
  docs/overview/how-to-report-a-problem-with-the-visual-cpp-toolset.md
  styleguide/template.md
Labels: ready-to-merge, review-team-triage, aq-pr-triaged, qualifies-for-auto-merge
