Repository MicrosoftDocs/cpp-docs, pull requests merged in 2024-01, with the labels that each got.

#4874 Correct is clock struct example
  docs/standard-library/is-clock-struct.md
Labels: Change sent to author, ready-to-merge, visual-cpp/prod, aq-pr-triaged, cpp-standard-libraries/tech, qualifies-for-auto-merge

#4873 Remove extraneous trailing semicolon
  docs/standard-library/any.md
  docs/standard-library/ctgmath.md
Labels: Change sent to author, ready-to-merge, visual-cpp/prod, aq-pr-triaged, cpp-standard-libraries/tech, qualifies-for-auto-merge

#4863 Standardize C++ version naming
  docs/build/walkthrough-header-units.md
  docs/cpp/align-cpp.md
  docs/cpp/compiler-limits.md
  docs/cpp/function-call-operator-parens.md
  docs/cpp/functions-cpp.md
  docs/cpp/lambda-expressions-in-cpp.md
  docs/cpp/namespaces-cpp.md
  docs/cpp/nonstandard-behavior.md
  docs/cpp/user-defined-literals-cpp.md
  docs/error-messages/compiler-errors-2/compiler-error-c2956.md
  docs/error-messages/compiler-warnings/c4834.md
  docs/standard-library/ambiguous-local-time.md
  docs/standard-library/basic-istream-view-class.md
  docs/standard-library/choose-enum.md
  docs/standard-library/chrono-functions.md
  docs/standard-library/chrono-literals.md
  docs/standard-library/chrono-operators.md
  docs/standard-library/common-view-class.md
  docs/standard-library/day-class.md
  docs/standard-library/drop-view-class.md
  docs/standard-library/drop-while-view-class.md
  docs/standard-library/elements-view-class.md
  docs/standard-library/empty-view-class.md
  docs/standard-library/filter-view-class.md
  docs/standard-library/iota-view-class.md
  docs/standard-library/is-clock-struct.md
  docs/standard-library/join-view-class.md
  docs/standard-library/keys-view-class.md
  docs/standard-library/lazy-split-view-class.md
  docs/standard-library/month-class.md
  docs/standard-library/month-day-class.md
  docs/standard-library/month-day-last-class.md
  docs/standard-library/month-weekday-class.md
  docs/standard-library/month-weekday-last-class.md
  docs/standard-library/nonexistent-local-time.md
  docs/standard-library/owning-view-class.md
  docs/standard-library/range-adaptors.md
  docs/standard-library/ref-view-class.md
  docs/standard-library/reverse-view-class.md
  docs/standard-library/single-view-class.md
  docs/standard-library/span-class.md
  docs/standard-library/split-view-class.md
  docs/standard-library/subrange-class.md
  docs/standard-library/take-view-class.md
  docs/standard-library/take-while-view-class.md
  docs/standard-library/transform-view-class.md
  docs/standard-library/tzdb-list-class.md
  docs/standard-library/tzdb-struct.md
  docs/standard-library/values-view-class.md
  docs/standard-library/view-interface.md
  docs/standard-library/weekday-class.md
  docs/standard-library/weekdayindexed-class.md
  docs/standard-library/weekdaylast-class.md
  docs/standard-library/year-class.md
  docs/standard-library/year-month-class.md
  docs/standard-library/year-month-day-class.md
  docs/standard-library/year-month-day-last-class.md
  docs/standard-library/year-month-weekday-class.md
  docs/standard-library/year-month-weekday-last-class.md
Labels: ready-to-merge, aq-pr-triaged, needs-human-review

#4862 Fix invalid nodiscard attribute
  docs/standard-library/ambiguous-local-time.md
  docs/standard-library/nonexistent-local-time.md
  docs/standard-library/subrange-class.md
Labels: Change sent to author, ready-to-merge, visual-cpp/prod, aq-pr-triaged, cpp-standard-libraries/tech, qualifies-for-auto-merge

#4877 Update c28112.md
  docs/code-quality/c28112.md
Labels: Change sent to author, ready-to-merge, visual-cpp/prod, aq-pr-triaged, cpp-tools/tech, qualifies-for-auto-merge

#4883 ml64 command line reference adding 8,16 byte boundaries when using /Zp option
  docs/assembler/masm/ml-and-ml64-command-line-reference.md
Labels: Change sent to author, ready-to-merge, visual-cpp/prod, aq-pr-triaged, cpp-masm/tech, qualifies-for-auto-merge

#4894 Update vsnprintf-vsnprintf-vsnprintf-l-vsnwprintf-vsnwprintf-l.md
  docs/c-runtime-library/reference/vsnprintf-vsnprintf-vsnprintf-l-vsnwprintf-vsnwprintf-l.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, visual-cpp/svc, ucrt/subsvc

#4872 Address mistakes in inline functions cpp
  docs/cpp/inline-functions-cpp.md
Labels: Change sent to author, ready-to-merge, visual-cpp/prod, cpp-language/tech, aq-pr-triaged, needs-human-review

#4899 Nits for rdtsc and rdtscp
  docs/intrinsics/rdtsc.md
  docs/intrinsics/rdtscp.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, visual-cpp/svc, tools/subsvc

#4857 Revamp C2385
  docs/error-messages/compiler-errors-1/compiler-error-c2385.md
Labels: Change sent to author, ready-to-merge, visual-cpp/prod, aq-pr-triaged, cpp-diagnostics/tech, needs-human-review

#4910 Break statement documentation fix
  docs/cpp/break-statement-cpp.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, cpp-lang/subsvc
