Repository MicrosoftDocs/cpp-docs, pull requests merged in 2024-03, with the labels that each got.

#4964 Improve C2548
  docs/error-messages/compiler-errors-2/compiler-error-c2548.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#4962 Remove extra trailing comma in istream iterator
  docs/standard-library/istream-iterator-class.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, visual-cpp/svc, standard-libraries/subsvc

#4963 Make built-in operators title consistent
  docs/cpp/additive-operators-plus-and.md
  docs/cpp/assignment-operators.md
  docs/cpp/bitwise-exclusive-or-operator-hat.md
  docs/cpp/bitwise-inclusive-or-operator-pipe.md
  docs/cpp/comma-operator.md
  docs/cpp/conditional-operator-q.md
  docs/cpp/equality-operators-equal-equal-and-exclpt-equal.md
  docs/cpp/explicit-type-conversion-operator-parens.md
  docs/cpp/function-call-operator-parens.md
  docs/cpp/indirection-operator-star.md
  docs/cpp/logical-negation-operator-exclpt.md
  docs/cpp/logical-or-operator-pipe-pipe.md
  docs/cpp/multiplicative-operators-and-the-modulus-operator.md
  docs/cpp/one-s-complement-operator-tilde.md
  docs/cpp/postfix-increment-and-decrement-operators-increment-and-decrement.md
  docs/cpp/prefix-increment-and-decrement-operators-increment-and-decrement.md
  docs/cpp/relational-operators-equal-and-equal.md
  docs/cpp/scope-resolution-operator.md
  docs/cpp/sizeof-operator.md
  docs/cpp/subscript-operator.md
  docs/cpp/typeid-operator.md
  docs/cpp/unary-plus-and-negation-operators-plus-and.md
  docs/cpp/uuidof-operator.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, cpp-lang/subsvc

#4969 Add example for C2487
  docs/error-messages/compiler-errors-1/compiler-error-c2487.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#4971 Add example for C2103
  docs/error-messages/compiler-errors-1/compiler-error-c2103.md
Labels: Change sent to author, ready-to-merge, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#4970 Update C2101
  docs/error-messages/compiler-errors-1/compiler-error-c2101.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#4974 Add example for C4066
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4066.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#4975 Rectify example in C4178
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4178.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#4977 Add example for C2526
  docs/error-messages/compiler-errors-2/compiler-error-c2526.md
Labels: Change sent to author, ready-to-merge, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#4978 Update C2537
  docs/error-messages/compiler-errors-2/compiler-error-c2537.md
Labels: Change sent to author, ready-to-merge, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#4981 Improve C2751
  docs/error-messages/compiler-errors-2/compiler-error-c2751.md
Labels: Change sent to author, ready-to-merge, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#4984 Tighten wording in mutable data members
  docs/cpp/mutable-data-members-cpp.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, cpp-lang/subsvc

#4987 Update C2860
  docs/error-messages/compiler-errors-2/compiler-error-c2860.md
  docs/error-messages/compiler-errors-2/compiler-errors-c2800-through-c2899.md
Labels: Change sent to author, ready-to-merge, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#4988 Add links to compiler warnings by compiler version
  docs/error-messages/compiler-warnings/compiler-warnings-by-compiler-version.md
Labels: Change sent to author, ready-to-merge, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#4989 Capitalize error code
  docs/error-messages/compiler-errors-1/compiler-error-c2128.md
  docs/error-messages/compiler-errors-1/fatal-error-c1192.md
  docs/error-messages/compiler-warnings/compiler-warning-c5072.md
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4534.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4254.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4389.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#4990 protected-cpp.md - grammar and consistency
  docs/cpp/protected-cpp.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, visual-cpp/svc, cpp-lang/subsvc

#4993 Document C2323
  docs/error-messages/compiler-errors-1/compiler-error-c2323.md
  docs/error-messages/compiler-errors-1/compiler-errors-c2300-through-c2399.md
  docs/error-messages/toc.yml
Labels: do-not-merge, Change sent to author, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#4996 Update namespaces-cpp.md - spacing
  docs/cpp/namespaces-cpp.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, visual-cpp/svc, cpp-lang/subsvc

#4999 Remove stray trailing escapes
  docs/build-insights/reference/sdk/cpp-event-data-types/compiler-pass.md
  docs/build/reference/zc-zerosizearraynew.md
  docs/c-language/typeof-c.md
  docs/c-language/typeof-unqual-c.md
  docs/c-runtime-library/reference/crtmemdifference.md
  docs/c-runtime-library/reference/crtmemdumpstatistics.md
  docs/c-runtime-library/reference/crtsetbreakalloc.md
  docs/c-runtime-library/reference/crtsetreportfile.md
  docs/c-runtime-library/reference/fdim-fdimf-fdiml.md
  docs/c-runtime-library/reference/freopen-wfreopen.md
  docs/c-runtime-library/reference/memcpy-wmemcpy.md
  docs/c-runtime-library/reference/memmove-wmemmove.md
  docs/c-runtime-library/reference/read.md
  docs/c-runtime-library/reference/set-se-translator.md
  docs/c-runtime-library/reference/set-unexpected-crt.md
  docs/c-runtime-library/reference/sin-sinf-sinl.md
  docs/c-runtime-library/reference/sqrt-sqrtf-sqrtl.md
  docs/c-runtime-library/reference/strncat-strncat-l-wcsncat-wcsncat-l-mbsncat-mbsncat-l.md
  docs/c-runtime-library/reference/vscprintf-p-vscprintf-p-l-vscwprintf-p-vscwprintf-p-l.md
  docs/standard-library/chrono-operators.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, standard-libraries/subsvc

#5000 Fix return typo
  docs/mfc/reference/cmfcbasetabctrl-class.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, visual-cpp/svc, mfc-library/subsvc
