Repository MicrosoftDocs/cpp-docs, pull requests merged in 2024-06, with the labels that each got.

#5052 Fix unclosed links
  docs/build/reference/commands-in-a-makefile.md
  docs/build/reference/contents-of-a-makefile.md
  docs/build/reference/creating-a-makefile-project.md
  docs/build/reference/defining-an-nmake-macro.md
  docs/build/reference/inference-rules.md
  docs/build/reference/inline-files-in-a-makefile.md
  docs/build/reference/makefile-preprocessing.md
  docs/build/reference/special-nmake-macros.md
  docs/build/reference/using-an-nmake-macro.md
  docs/cpp/if-else-statement-cpp.md
  docs/cppcx/platform-intptr-value-class.md
  docs/parallel/amp/reference/concurrency-direct3d-namespace-functions-amp.md
  docs/parallel/amp/reference/concurrency-precise-math-namespace-functions.md
  docs/parallel/amp/reference/norm-3-class.md
  docs/parallel/amp/reference/tile-barrier-class.md
  docs/parallel/concrt/reference/reader-writer-lock-class.md
  docs/standard-library/scoped-allocator-adaptor-class.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, standard-libraries/subsvc

#5055 Update namespaces-cpp.md - typo/grammar
  docs/cpp/namespaces-cpp.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, visual-cpp/svc, cpp-lang/subsvc

#5056 Add links for "Just My Code" and "Edit and Continue".
  docs/build/cmake-projects-in-visual-studio.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, visual-cpp/svc, tools/subsvc

#4605 Update x64-software-conventions.md
  docs/build/x64-software-conventions.md
Labels: Change sent to author, ready-to-merge, visual-cpp/prod, aq-pr-triaged, cpp-tools/tech, qualifies-for-auto-merge

#5028 Update arm64-intrinsics.md to include intrin.h mention
  docs/intrinsics/arm64-intrinsics.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, qualifies-for-auto-merge, visual-cpp/svc, tools/subsvc

#5053 Clarify `std::async` policy behavior
  docs/standard-library/future-functions.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, visual-cpp/svc, standard-libraries/subsvc
