Repository MicrosoftDocs/cpp-docs, pull requests merged in 2024-04, with the labels that each got.

#5006 Address incorrect placement of period
  docs/build/reference/creating-an-dot-sbr-file.md
  docs/mfc/reference/cinternetsession-class.md
  docs/mfc/reference/cpanecontainer-class.md
  docs/standard-library/deque-class.md
  docs/standard-library/forward-list-class.md
  docs/standard-library/iterator-functions.md
  docs/standard-library/iterator-operators.md
  docs/standard-library/iterator-traits-struct.md
  docs/standard-library/move-iterator-class.md
  docs/standard-library/range-functions.md
  docs/standard-library/sys-info-struct.md
  docs/standard-library/type-index-class.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, standard-libraries/subsvc

#5005 Update x64-calling-convention.md
  docs/build/x64-calling-convention.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, visual-cpp/svc, tools/subsvc

#5009 Remove JiaT75 from contributing page.
  docs/overview/whats-new-cpp-docs.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, visual-cpp/svc, tools/subsvc

#5010 Enhance /std documentation with reference to /Zc:__cplusplus
  docs/build/reference/std-specify-language-standard-version.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, qualifies-for-auto-merge, visual-cpp/svc, tools/subsvc

#5013 Remove excess comma
  docs/atl-mfc-shared/reference/csimplestringt-class.md
  docs/cppcx/platform-collections-vectoriterator-class.md
  docs/mfc/reference/cmfcbasetabctrl-class.md
  docs/mfc/reference/cwinappex-class.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, mfc-library/subsvc

#5014 Fix stream typos
  docs/c-runtime-library/byte-and-wide-streams.md
  docs/standard-library/bitset-operators.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, visual-cpp/svc, standard-libraries/subsvc

#5015 Tweak nolock function descriptions
  docs/c-runtime-library/reference/fclose-nolock.md
  docs/c-runtime-library/reference/fflush-nolock.md
  docs/c-runtime-library/reference/fgetc-nolock-fgetwc-nolock.md
  docs/c-runtime-library/reference/fputc-nolock-fputwc-nolock.md
  docs/c-runtime-library/reference/fread-nolock-s2.md
  docs/c-runtime-library/reference/fread-nolock.md
  docs/c-runtime-library/reference/fseek-nolock-fseeki64-nolock.md
  docs/c-runtime-library/reference/ftell-nolock-ftelli64-nolock.md
  docs/c-runtime-library/reference/fwrite-nolock.md
  docs/c-runtime-library/reference/getc-nolock-getwc-nolock.md
  docs/c-runtime-library/reference/getch-nolock-getwch-nolock.md
  docs/c-runtime-library/reference/getchar-nolock-getwchar-nolock.md
  docs/c-runtime-library/reference/getche-nolock-getwche-nolock.md
  docs/c-runtime-library/reference/getdcwd-nolock-wgetdcwd-nolock.md
  docs/c-runtime-library/reference/putc-nolock-putwc-nolock.md
  docs/c-runtime-library/reference/putch-nolock-putwch-nolock.md
  docs/c-runtime-library/reference/putchar-nolock-putwchar-nolock.md
  docs/c-runtime-library/reference/ungetc-nolock-ungetwc-nolock.md
  docs/c-runtime-library/reference/ungetch-ungetwch-ungetch-nolock-ungetwch-nolock.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, ucrt/subsvc

#5018 Add some warning entries
  docs/error-messages/compiler-warnings/compiler-warnings-c4400-through-c4599.md
  docs/error-messages/compiler-warnings/compiler-warnings-c4600-through-c4799.md
  docs/error-messages/compiler-warnings/compiler-warnings-c4800-through-c4999.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, visual-cpp/svc, errors-warnings/subsvc

#5020 Tabulate nolock functions
  docs/c-runtime-library/nolock-functions.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, ucrt/subsvc

#5027 Recommend `snprintf` over bugprone `_snprinf`
  docs/c-runtime-library/reference/sprintf-sprintf-l-swprintf-swprintf-l-swprintf-l.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, visual-cpp/svc, ucrt/subsvc
