Repository MicrosoftDocs/cpp-docs, pull requests merged in 2025-09, with the labels that each got.

#5734 Structure warning references in range [C4831, C4940]
  docs/error-messages/compiler-warnings/c4834.md
  docs/error-messages/compiler-warnings/c4841.md
  docs/error-messages/compiler-warnings/c4843.md
  docs/error-messages/compiler-warnings/c4866.md
  docs/error-messages/compiler-warnings/compiler-warning-c4867.md
  docs/error-messages/compiler-warnings/compiler-warning-c4868.md
  docs/error-messages/compiler-warnings/compiler-warning-c4936.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4835.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4838.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4900.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4905.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4906.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4910.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4912.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4917.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4920.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4925.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4926.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4927.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4928.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4929.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4930.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4935.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4939.md
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4839.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4840.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4913.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4918.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4931.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4932.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4937.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4938.md
Labels: do-not-merge, review-team-triage, aq-pr-triaged, needs-human-review

#5575 Structure error references in range [C2321, C2350]
  docs/error-messages/compiler-errors-1/compiler-error-c2322.md
  docs/error-messages/compiler-errors-1/compiler-error-c2323.md
  docs/error-messages/compiler-errors-1/compiler-error-c2324.md
  docs/error-messages/compiler-errors-1/compiler-error-c2325.md
  docs/error-messages/compiler-errors-1/compiler-error-c2326.md
  docs/error-messages/compiler-errors-1/compiler-error-c2327.md
  docs/error-messages/compiler-errors-1/compiler-error-c2332.md
  docs/error-messages/compiler-errors-1/compiler-error-c2333.md
  docs/error-messages/compiler-errors-1/compiler-error-c2334.md
  docs/error-messages/compiler-errors-1/compiler-error-c2337.md
  docs/error-messages/compiler-errors-1/compiler-error-c2338.md
  docs/error-messages/compiler-errors-1/compiler-error-c2341.md
  docs/error-messages/compiler-errors-1/compiler-error-c2344.md
  docs/error-messages/compiler-errors-1/compiler-error-c2345.md
  docs/error-messages/compiler-errors-1/compiler-error-c2346.md
  docs/error-messages/compiler-errors-1/compiler-error-c2348.md
  docs/error-messages/compiler-errors-1/compiler-error-c2350.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#5739 Structure warning references in range [C5051, C5999]
  docs/error-messages/compiler-warnings/c5054.md
  docs/error-messages/compiler-warnings/c5055.md
  docs/error-messages/compiler-warnings/c5056.md
  docs/error-messages/compiler-warnings/c5105.md
  docs/error-messages/compiler-warnings/c5208.md
  docs/error-messages/compiler-warnings/c5240.md
  docs/error-messages/compiler-warnings/c5243.md
  docs/error-messages/compiler-warnings/c5247.md
  docs/error-messages/compiler-warnings/c5248.md
  docs/error-messages/compiler-warnings/c5262.md
  docs/error-messages/compiler-warnings/c5267.md
  docs/error-messages/compiler-warnings/c5301-c5302.md
  docs/error-messages/compiler-warnings/compiler-warning-c5072.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c5266.md
Labels: do-not-merge, review-team-triage, aq-pr-triaged, needs-human-review

#5731 Use environment variables to specify compiler preferences.
  docs/build/cmake-presets-vs.md
Labels: ready-to-merge, review-team-triage, aq-pr-triaged

#5536 Structure error references in range [C2081, C2100]
  docs/error-messages/compiler-errors-1/compiler-error-c2081.md
  docs/error-messages/compiler-errors-1/compiler-error-c2082.md
  docs/error-messages/compiler-errors-1/compiler-error-c2083.md
  docs/error-messages/compiler-errors-1/compiler-error-c2084.md
  docs/error-messages/compiler-errors-1/compiler-error-c2085.md
  docs/error-messages/compiler-errors-1/compiler-error-c2086.md
  docs/error-messages/compiler-errors-1/compiler-error-c2087.md
  docs/error-messages/compiler-errors-1/compiler-error-c2088.md
  docs/error-messages/compiler-errors-1/compiler-error-c2089.md
  docs/error-messages/compiler-errors-1/compiler-error-c2090.md
  docs/error-messages/compiler-errors-1/compiler-error-c2091.md
  docs/error-messages/compiler-errors-1/compiler-error-c2092.md
  docs/error-messages/compiler-errors-1/compiler-error-c2093.md
  docs/error-messages/compiler-errors-1/compiler-error-c2094.md
  docs/error-messages/compiler-errors-1/compiler-error-c2095.md
  docs/error-messages/compiler-errors-1/compiler-error-c2096.md
  docs/error-messages/compiler-errors-1/compiler-error-c2097.md
  docs/error-messages/compiler-errors-1/compiler-error-c2098.md
  docs/error-messages/compiler-errors-1/compiler-error-c2099.md
  docs/error-messages/compiler-errors-1/compiler-error-c2100.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#5585 Structure error references in range [C2401, C2430]
  docs/error-messages/compiler-errors-1/compiler-error-c2401.md
  docs/error-messages/compiler-errors-1/compiler-error-c2402.md
  docs/error-messages/compiler-errors-1/compiler-error-c2403.md
  docs/error-messages/compiler-errors-1/compiler-error-c2404.md
  docs/error-messages/compiler-errors-1/compiler-error-c2405.md
  docs/error-messages/compiler-errors-1/compiler-error-c2406.md
  docs/error-messages/compiler-errors-1/compiler-error-c2407.md
  docs/error-messages/compiler-errors-1/compiler-error-c2408.md
  docs/error-messages/compiler-errors-1/compiler-error-c2409.md
  docs/error-messages/compiler-errors-1/compiler-error-c2410.md
  docs/error-messages/compiler-errors-1/compiler-error-c2411.md
  docs/error-messages/compiler-errors-1/compiler-error-c2412.md
  docs/error-messages/compiler-errors-1/compiler-error-c2413.md
  docs/error-messages/compiler-errors-1/compiler-error-c2414.md
  docs/error-messages/compiler-errors-1/compiler-error-c2415.md
  docs/error-messages/compiler-errors-1/compiler-error-c2417.md
  docs/error-messages/compiler-errors-1/compiler-error-c2418.md
  docs/error-messages/compiler-errors-1/compiler-error-c2419.md
  docs/error-messages/compiler-errors-1/compiler-error-c2420.md
  docs/error-messages/compiler-errors-1/compiler-error-c2421.md
  docs/error-messages/compiler-errors-1/compiler-error-c2422.md
  docs/error-messages/compiler-errors-1/compiler-error-c2423.md
  docs/error-messages/compiler-errors-1/compiler-error-c2424.md
  docs/error-messages/compiler-errors-1/compiler-error-c2425.md
  docs/error-messages/compiler-errors-1/compiler-error-c2426.md
  docs/error-messages/compiler-errors-1/compiler-error-c2427.md
  docs/error-messages/compiler-errors-1/compiler-error-c2428.md
  docs/error-messages/compiler-errors-1/compiler-error-c2429.md
  docs/error-messages/compiler-errors-1/compiler-error-c2430.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#5589 Structure error references in range [C2431, C2460]
  docs/error-messages/compiler-errors-1/compiler-error-c2431.md
  docs/error-messages/compiler-errors-1/compiler-error-c2432.md
  docs/error-messages/compiler-errors-1/compiler-error-c2433.md
  docs/error-messages/compiler-errors-1/compiler-error-c2434.md
  docs/error-messages/compiler-errors-1/compiler-error-c2435.md
  docs/error-messages/compiler-errors-1/compiler-error-c2436.md
  docs/error-messages/compiler-errors-1/compiler-error-c2437.md
  docs/error-messages/compiler-errors-1/compiler-error-c2438.md
  docs/error-messages/compiler-errors-1/compiler-error-c2439.md
  docs/error-messages/compiler-errors-1/compiler-error-c2440.md
  docs/error-messages/compiler-errors-1/compiler-error-c2441.md
  docs/error-messages/compiler-errors-1/compiler-error-c2443.md
  docs/error-messages/compiler-errors-1/compiler-error-c2444.md
  docs/error-messages/compiler-errors-1/compiler-error-c2446.md
  docs/error-messages/compiler-errors-1/compiler-error-c2447.md
  docs/error-messages/compiler-errors-1/compiler-error-c2448.md
  docs/error-messages/compiler-errors-1/compiler-error-c2449.md
  docs/error-messages/compiler-errors-1/compiler-error-c2450.md
  docs/error-messages/compiler-errors-1/compiler-error-c2451.md
  docs/error-messages/compiler-errors-1/compiler-error-c2452.md
  docs/error-messages/compiler-errors-1/compiler-error-c2457.md
  docs/error-messages/compiler-errors-1/compiler-error-c2458.md
  docs/error-messages/compiler-errors-1/compiler-error-c2459.md
  docs/error-messages/compiler-errors-1/compiler-error-c2460.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#5590 Structure error references in range [C2461, C2490]
  docs/error-messages/compiler-errors-1/compiler-error-c2461.md
  docs/error-messages/compiler-errors-1/compiler-error-c2462.md
  docs/error-messages/compiler-errors-1/compiler-error-c2464.md
  docs/error-messages/compiler-errors-1/compiler-error-c2465.md
  docs/error-messages/compiler-errors-1/compiler-error-c2466.md
  docs/error-messages/compiler-errors-1/compiler-error-c2467.md
  docs/error-messages/compiler-errors-1/compiler-error-c2470.md
  docs/error-messages/compiler-errors-1/compiler-error-c2471.md
  docs/error-messages/compiler-errors-1/compiler-error-c2472.md
  docs/error-messages/compiler-errors-1/compiler-error-c2473.md
  docs/error-messages/compiler-errors-1/compiler-error-c2474.md
  docs/error-messages/compiler-errors-1/compiler-error-c2477.md
  docs/error-messages/compiler-errors-1/compiler-error-c2479.md
  docs/error-messages/compiler-errors-1/compiler-error-c2480.md
  docs/error-messages/compiler-errors-1/compiler-error-c2482.md
  docs/error-messages/compiler-errors-1/compiler-error-c2483.md
  docs/error-messages/compiler-errors-1/compiler-error-c2485.md
  docs/error-messages/compiler-errors-1/compiler-error-c2486.md
  docs/error-messages/compiler-errors-1/compiler-error-c2487.md
  docs/error-messages/compiler-errors-1/compiler-error-c2488.md
  docs/error-messages/compiler-errors-1/compiler-error-c2489.md
  docs/error-messages/compiler-errors-1/compiler-error-c2490.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#5596 Structure error references in range [C2491, C2520]
  docs/error-messages/compiler-errors-1/compiler-error-c2491.md
  docs/error-messages/compiler-errors-1/compiler-error-c2492.md
  docs/error-messages/compiler-errors-1/compiler-error-c2493.md
  docs/error-messages/compiler-errors-1/compiler-error-c2494.md
  docs/error-messages/compiler-errors-1/compiler-error-c2495.md
  docs/error-messages/compiler-errors-1/compiler-error-c2496.md
  docs/error-messages/compiler-errors-1/compiler-error-c2498.md
  docs/error-messages/compiler-errors-1/compiler-error-c2499.md
  docs/error-messages/compiler-errors-2/compiler-error-c2500.md
  docs/error-messages/compiler-errors-2/compiler-error-c2502.md
  docs/error-messages/compiler-errors-2/compiler-error-c2503.md
  docs/error-messages/compiler-errors-2/compiler-error-c2504.md
  docs/error-messages/compiler-errors-2/compiler-error-c2505.md
  docs/error-messages/compiler-errors-2/compiler-error-c2506.md
  docs/error-messages/compiler-errors-2/compiler-error-c2507.md
  docs/error-messages/compiler-errors-2/compiler-error-c2509.md
  docs/error-messages/compiler-errors-2/compiler-error-c2510.md
  docs/error-messages/compiler-errors-2/compiler-error-c2511.md
  docs/error-messages/compiler-errors-2/compiler-error-c2512.md
  docs/error-messages/compiler-errors-2/compiler-error-c2513.md
  docs/error-messages/compiler-errors-2/compiler-error-c2514.md
  docs/error-messages/compiler-errors-2/compiler-error-c2516.md
  docs/error-messages/compiler-errors-2/compiler-error-c2517.md
  docs/error-messages/compiler-errors-2/compiler-error-c2518.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#5601 Structure error references in range [C2521, C2550]
  docs/error-messages/compiler-errors-2/compiler-error-c2521.md
  docs/error-messages/compiler-errors-2/compiler-error-c2523.md
  docs/error-messages/compiler-errors-2/compiler-error-c2524.md
  docs/error-messages/compiler-errors-2/compiler-error-c2526.md
  docs/error-messages/compiler-errors-2/compiler-error-c2528.md
  docs/error-messages/compiler-errors-2/compiler-error-c2529.md
  docs/error-messages/compiler-errors-2/compiler-error-c2530.md
  docs/error-messages/compiler-errors-2/compiler-error-c2531.md
  docs/error-messages/compiler-errors-2/compiler-error-c2532.md
  docs/error-messages/compiler-errors-2/compiler-error-c2533.md
  docs/error-messages/compiler-errors-2/compiler-error-c2534.md
  docs/error-messages/compiler-errors-2/compiler-error-c2535.md
  docs/error-messages/compiler-errors-2/compiler-error-c2537.md
  docs/error-messages/compiler-errors-2/compiler-error-c2540.md
  docs/error-messages/compiler-errors-2/compiler-error-c2541.md
  docs/error-messages/compiler-errors-2/compiler-error-c2542.md
  docs/error-messages/compiler-errors-2/compiler-error-c2543.md
  docs/error-messages/compiler-errors-2/compiler-error-c2544.md
  docs/error-messages/compiler-errors-2/compiler-error-c2545.md
  docs/error-messages/compiler-errors-2/compiler-error-c2548.md
  docs/error-messages/compiler-errors-2/compiler-error-c2549.md
  docs/error-messages/compiler-errors-2/compiler-error-c2550.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#5614 Structure error references in range [C2611, C2650]
  docs/error-messages/compiler-errors-2/compiler-error-c2611.md
  docs/error-messages/compiler-errors-2/compiler-error-c2612.md
  docs/error-messages/compiler-errors-2/compiler-error-c2613.md
  docs/error-messages/compiler-errors-2/compiler-error-c2614.md
  docs/error-messages/compiler-errors-2/compiler-error-c2616.md
  docs/error-messages/compiler-errors-2/compiler-error-c2617.md
  docs/error-messages/compiler-errors-2/compiler-error-c2619.md
  docs/error-messages/compiler-errors-2/compiler-error-c2624.md
  docs/error-messages/compiler-errors-2/compiler-error-c2626.md
  docs/error-messages/compiler-errors-2/compiler-error-c2627.md
  docs/error-messages/compiler-errors-2/compiler-error-c2628.md
  docs/error-messages/compiler-errors-2/compiler-error-c2630.md
  docs/error-messages/compiler-errors-2/compiler-error-c2632.md
  docs/error-messages/compiler-errors-2/compiler-error-c2633.md
  docs/error-messages/compiler-errors-2/compiler-error-c2634.md
  docs/error-messages/compiler-errors-2/compiler-error-c2635.md
  docs/error-messages/compiler-errors-2/compiler-error-c2636.md
  docs/error-messages/compiler-errors-2/compiler-error-c2637.md
  docs/error-messages/compiler-errors-2/compiler-error-c2638.md
  docs/error-messages/compiler-errors-2/compiler-error-c2640.md
  docs/error-messages/compiler-errors-2/compiler-error-c2645.md
  docs/error-messages/compiler-errors-2/compiler-error-c2646.md
  docs/error-messages/compiler-errors-2/compiler-error-c2647.md
  docs/error-messages/compiler-errors-2/compiler-error-c2648.md
  docs/error-messages/compiler-errors-2/compiler-error-c2649.md
  docs/error-messages/compiler-errors-2/compiler-error-c2650.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#5617 Structure error references in range [C2651, C2670]
  docs/error-messages/compiler-errors-2/compiler-error-c2651.md
  docs/error-messages/compiler-errors-2/compiler-error-c2652.md
  docs/error-messages/compiler-errors-2/compiler-error-c2653.md
  docs/error-messages/compiler-errors-2/compiler-error-c2654.md
  docs/error-messages/compiler-errors-2/compiler-error-c2655.md
  docs/error-messages/compiler-errors-2/compiler-error-c2656.md
  docs/error-messages/compiler-errors-2/compiler-error-c2657.md
  docs/error-messages/compiler-errors-2/compiler-error-c2658.md
  docs/error-messages/compiler-errors-2/compiler-error-c2659.md
  docs/error-messages/compiler-errors-2/compiler-error-c2660.md
  docs/error-messages/compiler-errors-2/compiler-error-c2661.md
  docs/error-messages/compiler-errors-2/compiler-error-c2662.md
  docs/error-messages/compiler-errors-2/compiler-error-c2663.md
  docs/error-messages/compiler-errors-2/compiler-error-c2664.md
  docs/error-messages/compiler-errors-2/compiler-error-c2665.md
  docs/error-messages/compiler-errors-2/compiler-error-c2666.md
  docs/error-messages/compiler-errors-2/compiler-error-c2667.md
  docs/error-messages/compiler-errors-2/compiler-error-c2668.md
  docs/error-messages/compiler-errors-2/compiler-error-c2669.md
  docs/error-messages/compiler-errors-2/compiler-error-c2670.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#5641 Structure error references in range [C2821, C2850]
  docs/error-messages/compiler-errors-2/compiler-error-c2821.md
  docs/error-messages/compiler-errors-2/compiler-error-c2823.md
  docs/error-messages/compiler-errors-2/compiler-error-c2824.md
  docs/error-messages/compiler-errors-2/compiler-error-c2825.md
  docs/error-messages/compiler-errors-2/compiler-error-c2827.md
  docs/error-messages/compiler-errors-2/compiler-error-c2828.md
  docs/error-messages/compiler-errors-2/compiler-error-c2829.md
  docs/error-messages/compiler-errors-2/compiler-error-c2830.md
  docs/error-messages/compiler-errors-2/compiler-error-c2831.md
  docs/error-messages/compiler-errors-2/compiler-error-c2833.md
  docs/error-messages/compiler-errors-2/compiler-error-c2834.md
  docs/error-messages/compiler-errors-2/compiler-error-c2835.md
  docs/error-messages/compiler-errors-2/compiler-error-c2838.md
  docs/error-messages/compiler-errors-2/compiler-error-c2839.md
  docs/error-messages/compiler-errors-2/compiler-error-c2842.md
  docs/error-messages/compiler-errors-2/compiler-error-c2843.md
  docs/error-messages/compiler-errors-2/compiler-error-c2844.md
  docs/error-messages/compiler-errors-2/compiler-error-c2845.md
  docs/error-messages/compiler-errors-2/compiler-error-c2846.md
  docs/error-messages/compiler-errors-2/compiler-error-c2847.md
  docs/error-messages/compiler-errors-2/compiler-error-c2849.md
  docs/error-messages/compiler-errors-2/compiler-error-c2850.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#5645 Structure error references in range [C2881, C2910]
  docs/error-messages/compiler-errors-2/compiler-error-c2881.md
  docs/error-messages/compiler-errors-2/compiler-error-c2882.md
  docs/error-messages/compiler-errors-2/compiler-error-c2883.md
  docs/error-messages/compiler-errors-2/compiler-error-c2884.md
  docs/error-messages/compiler-errors-2/compiler-error-c2885.md
  docs/error-messages/compiler-errors-2/compiler-error-c2886.md
  docs/error-messages/compiler-errors-2/compiler-error-c2888.md
  docs/error-messages/compiler-errors-2/compiler-error-c2890.md
  docs/error-messages/compiler-errors-2/compiler-error-c2891.md
  docs/error-messages/compiler-errors-2/compiler-error-c2892.md
  docs/error-messages/compiler-errors-2/compiler-error-c2893.md
  docs/error-messages/compiler-errors-2/compiler-error-c2894.md
  docs/error-messages/compiler-errors-2/compiler-error-c2896.md
  docs/error-messages/compiler-errors-2/compiler-error-c2897.md
  docs/error-messages/compiler-errors-2/compiler-error-c2898.md
  docs/error-messages/compiler-errors-2/compiler-error-c2902.md
  docs/error-messages/compiler-errors-2/compiler-error-c2903.md
  docs/error-messages/compiler-errors-2/compiler-error-c2904.md
  docs/error-messages/compiler-errors-2/compiler-error-c2906.md
  docs/error-messages/compiler-errors-2/compiler-error-c2908.md
  docs/error-messages/compiler-errors-2/compiler-error-c2909.md
  docs/error-messages/compiler-errors-2/compiler-error-c2910.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#5648 Structure error references in range [C2911, C2940]
  docs/error-messages/compiler-errors-2/compiler-error-c2911.md
  docs/error-messages/compiler-errors-2/compiler-error-c2912.md
  docs/error-messages/compiler-errors-2/compiler-error-c2913.md
  docs/error-messages/compiler-errors-2/compiler-error-c2914.md
  docs/error-messages/compiler-errors-2/compiler-error-c2917.md
  docs/error-messages/compiler-errors-2/compiler-error-c2918.md
  docs/error-messages/compiler-errors-2/compiler-error-c2919.md
  docs/error-messages/compiler-errors-2/compiler-error-c2920.md
  docs/error-messages/compiler-errors-2/compiler-error-c2921.md
  docs/error-messages/compiler-errors-2/compiler-error-c2923.md
  docs/error-messages/compiler-errors-2/compiler-error-c2927.md
  docs/error-messages/compiler-errors-2/compiler-error-c2928.md
  docs/error-messages/compiler-errors-2/compiler-error-c2929.md
  docs/error-messages/compiler-errors-2/compiler-error-c2930.md
  docs/error-messages/compiler-errors-2/compiler-error-c2931.md
  docs/error-messages/compiler-errors-2/compiler-error-c2932.md
  docs/error-messages/compiler-errors-2/compiler-error-c2933.md
  docs/error-messages/compiler-errors-2/compiler-error-c2934.md
  docs/error-messages/compiler-errors-2/compiler-error-c2935.md
  docs/error-messages/compiler-errors-2/compiler-error-c2936.md
  docs/error-messages/compiler-errors-2/compiler-error-c2937.md
  docs/error-messages/compiler-errors-2/compiler-error-c2939.md
  docs/error-messages/compiler-errors-2/compiler-error-c2940.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#5652 Structure error references in range [C2981, C3010]
  docs/error-messages/compiler-errors-2/compiler-error-c2988.md
  docs/error-messages/compiler-errors-2/compiler-error-c2989.md
  docs/error-messages/compiler-errors-2/compiler-error-c2990.md
  docs/error-messages/compiler-errors-2/compiler-error-c2991.md
  docs/error-messages/compiler-errors-2/compiler-error-c2992.md
  docs/error-messages/compiler-errors-2/compiler-error-c2993.md
  docs/error-messages/compiler-errors-2/compiler-error-c2994.md
  docs/error-messages/compiler-errors-2/compiler-error-c2995.md
  docs/error-messages/compiler-errors-2/compiler-error-c2996.md
  docs/error-messages/compiler-errors-2/compiler-error-c3001.md
  docs/error-messages/compiler-errors-2/compiler-error-c3002.md
  docs/error-messages/compiler-errors-2/compiler-error-c3003.md
  docs/error-messages/compiler-errors-2/compiler-error-c3004.md
  docs/error-messages/compiler-errors-2/compiler-error-c3005.md
  docs/error-messages/compiler-errors-2/compiler-error-c3006.md
  docs/error-messages/compiler-errors-2/compiler-error-c3007.md
  docs/error-messages/compiler-errors-2/compiler-error-c3008.md
  docs/error-messages/compiler-errors-2/compiler-error-c3009.md
  docs/error-messages/compiler-errors-2/compiler-error-c3010.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#5655 Structure error references in range [C3031, C3050]
  docs/error-messages/compiler-errors-2/compiler-error-c3031.md
  docs/error-messages/compiler-errors-2/compiler-error-c3032.md
  docs/error-messages/compiler-errors-2/compiler-error-c3033.md
  docs/error-messages/compiler-errors-2/compiler-error-c3034.md
  docs/error-messages/compiler-errors-2/compiler-error-c3035.md
  docs/error-messages/compiler-errors-2/compiler-error-c3036.md
  docs/error-messages/compiler-errors-2/compiler-error-c3037.md
  docs/error-messages/compiler-errors-2/compiler-error-c3038.md
  docs/error-messages/compiler-errors-2/compiler-error-c3039.md
  docs/error-messages/compiler-errors-2/compiler-error-c3040.md
  docs/error-messages/compiler-errors-2/compiler-error-c3041.md
  docs/error-messages/compiler-errors-2/compiler-error-c3042.md
  docs/error-messages/compiler-errors-2/compiler-error-c3043.md
  docs/error-messages/compiler-errors-2/compiler-error-c3044.md
  docs/error-messages/compiler-errors-2/compiler-error-c3045.md
  docs/error-messages/compiler-errors-2/compiler-error-c3046.md
  docs/error-messages/compiler-errors-2/compiler-error-c3047.md
  docs/error-messages/compiler-errors-2/compiler-error-c3048.md
  docs/error-messages/compiler-errors-2/compiler-error-c3049.md
  docs/error-messages/compiler-errors-2/compiler-error-c3050.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#5659 Structure error references in range [C3051, C3080]
  docs/error-messages/compiler-errors-2/compiler-error-c3052.md
  docs/error-messages/compiler-errors-2/compiler-error-c3053.md
  docs/error-messages/compiler-errors-2/compiler-error-c3054.md
  docs/error-messages/compiler-errors-2/compiler-error-c3055.md
  docs/error-messages/compiler-errors-2/compiler-error-c3056.md
  docs/error-messages/compiler-errors-2/compiler-error-c3057.md
  docs/error-messages/compiler-errors-2/compiler-error-c3058.md
  docs/error-messages/compiler-errors-2/compiler-error-c3059.md
  docs/error-messages/compiler-errors-2/compiler-error-c3060.md
  docs/error-messages/compiler-errors-2/compiler-error-c3062.md
  docs/error-messages/compiler-errors-2/compiler-error-c3063.md
  docs/error-messages/compiler-errors-2/compiler-error-c3065.md
  docs/error-messages/compiler-errors-2/compiler-error-c3066.md
  docs/error-messages/compiler-errors-2/compiler-error-c3068.md
  docs/error-messages/compiler-errors-2/compiler-error-c3069.md
  docs/error-messages/compiler-errors-2/compiler-error-c3070.md
  docs/error-messages/compiler-errors-2/compiler-error-c3071.md
  docs/error-messages/compiler-errors-2/compiler-error-c3072.md
  docs/error-messages/compiler-errors-2/compiler-error-c3073.md
  docs/error-messages/compiler-errors-2/compiler-error-c3075.md
  docs/error-messages/compiler-errors-2/compiler-error-c3076.md
  docs/error-messages/compiler-errors-2/compiler-error-c3077.md
  docs/error-messages/compiler-errors-2/compiler-error-c3080.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#5662 Structure error references in range [C3081, C3130]
  docs/error-messages/compiler-errors-2/compiler-error-c3084.md
  docs/error-messages/compiler-errors-2/compiler-error-c3085.md
  docs/error-messages/compiler-errors-2/compiler-error-c3087.md
  docs/error-messages/compiler-errors-2/compiler-error-c3094.md
  docs/error-messages/compiler-errors-2/compiler-error-c3095.md
  docs/error-messages/compiler-errors-2/compiler-error-c3096.md
  docs/error-messages/compiler-errors-2/compiler-error-c3097.md
  docs/error-messages/compiler-errors-2/compiler-error-c3099.md
  docs/error-messages/compiler-errors-2/compiler-error-c3100.md
  docs/error-messages/compiler-errors-2/compiler-error-c3101.md
  docs/error-messages/compiler-errors-2/compiler-error-c3103.md
  docs/error-messages/compiler-errors-2/compiler-error-c3104.md
  docs/error-messages/compiler-errors-2/compiler-error-c3106.md
  docs/error-messages/compiler-errors-2/compiler-error-c3110.md
  docs/error-messages/compiler-errors-2/compiler-error-c3113.md
  docs/error-messages/compiler-errors-2/compiler-error-c3114.md
  docs/error-messages/compiler-errors-2/compiler-error-c3115.md
  docs/error-messages/compiler-errors-2/compiler-error-c3116.md
  docs/error-messages/compiler-errors-2/compiler-error-c3117.md
  docs/error-messages/compiler-errors-2/compiler-error-c3118.md
  docs/error-messages/compiler-errors-2/compiler-error-c3120.md
  docs/error-messages/compiler-errors-2/compiler-error-c3121.md
  docs/error-messages/compiler-errors-2/compiler-error-c3126.md
  docs/error-messages/compiler-errors-2/compiler-error-c3130.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#5664 Structure error references in range [C3131, C3160]
  docs/error-messages/compiler-errors-2/compiler-error-c3131.md
  docs/error-messages/compiler-errors-2/compiler-error-c3132.md
  docs/error-messages/compiler-errors-2/compiler-error-c3133.md
  docs/error-messages/compiler-errors-2/compiler-error-c3134.md
  docs/error-messages/compiler-errors-2/compiler-error-c3135.md
  docs/error-messages/compiler-errors-2/compiler-error-c3136.md
  docs/error-messages/compiler-errors-2/compiler-error-c3137.md
  docs/error-messages/compiler-errors-2/compiler-error-c3138.md
  docs/error-messages/compiler-errors-2/compiler-error-c3139.md
  docs/error-messages/compiler-errors-2/compiler-error-c3140.md
  docs/error-messages/compiler-errors-2/compiler-error-c3141.md
  docs/error-messages/compiler-errors-2/compiler-error-c3142.md
  docs/error-messages/compiler-errors-2/compiler-error-c3145.md
  docs/error-messages/compiler-errors-2/compiler-error-c3149.md
  docs/error-messages/compiler-errors-2/compiler-error-c3150.md
  docs/error-messages/compiler-errors-2/compiler-error-c3152.md
  docs/error-messages/compiler-errors-2/compiler-error-c3153.md
  docs/error-messages/compiler-errors-2/compiler-error-c3154.md
  docs/error-messages/compiler-errors-2/compiler-error-c3155.md
  docs/error-messages/compiler-errors-2/compiler-error-c3156.md
  docs/error-messages/compiler-errors-2/compiler-error-c3157.md
  docs/error-messages/compiler-errors-2/compiler-error-c3159.md
  docs/error-messages/compiler-errors-2/compiler-error-c3160.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#5666 Structure error references in range [C3161, C3190]
  docs/error-messages/compiler-errors-2/compiler-error-c3161.md
  docs/error-messages/compiler-errors-2/compiler-error-c3162.md
  docs/error-messages/compiler-errors-2/compiler-error-c3163.md
  docs/error-messages/compiler-errors-2/compiler-error-c3166.md
  docs/error-messages/compiler-errors-2/compiler-error-c3167.md
  docs/error-messages/compiler-errors-2/compiler-error-c3168.md
  docs/error-messages/compiler-errors-2/compiler-error-c3170.md
  docs/error-messages/compiler-errors-2/compiler-error-c3171.md
  docs/error-messages/compiler-errors-2/compiler-error-c3172.md
  docs/error-messages/compiler-errors-2/compiler-error-c3173.md
  docs/error-messages/compiler-errors-2/compiler-error-c3174.md
  docs/error-messages/compiler-errors-2/compiler-error-c3175.md
  docs/error-messages/compiler-errors-2/compiler-error-c3176.md
  docs/error-messages/compiler-errors-2/compiler-error-c3179.md
  docs/error-messages/compiler-errors-2/compiler-error-c3180.md
  docs/error-messages/compiler-errors-2/compiler-error-c3181.md
  docs/error-messages/compiler-errors-2/compiler-error-c3182.md
  docs/error-messages/compiler-errors-2/compiler-error-c3183.md
  docs/error-messages/compiler-errors-2/compiler-error-c3185.md
  docs/error-messages/compiler-errors-2/compiler-error-c3189.md
  docs/error-messages/compiler-errors-2/compiler-error-c3190.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#5716 Structure warning references in range [C4271, C4310]
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4272.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4273.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4274.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4276.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4286.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4288.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4291.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4293.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4297.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4305.md
  docs/error-messages/compiler-warnings/compiler-warning-level-2-c4275.md
  docs/error-messages/compiler-warnings/compiler-warning-level-2-c4285.md
  docs/error-messages/compiler-warnings/compiler-warning-level-2-c4302.md
  docs/error-messages/compiler-warnings/compiler-warning-level-2-c4307.md
  docs/error-messages/compiler-warnings/compiler-warning-level-2-c4308.md
  docs/error-messages/compiler-warnings/compiler-warning-level-2-c4309.md
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4278.md
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4280.md
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4281.md
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4282.md
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4283.md
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4287.md
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4290.md
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4306.md
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4310.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4289.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4295.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4296.md
Labels: ready-to-merge, review-team-triage, aq-pr-triaged, needs-human-review

#5715 Structure warning references in range [C4231, C4270]
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4237.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4251.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4258.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4264.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4269.md
  docs/error-messages/compiler-warnings/compiler-warning-level-2-c4244.md
  docs/error-messages/compiler-warnings/compiler-warning-level-2-c4250.md
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4240.md
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4243.md
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4265.md
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4267.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4232.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4233.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4234.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4238.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4239.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4242.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4245.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4254.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4255.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4256.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4263.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4266.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4268.md
  docs/error-messages/compiler-warnings/compiler-warning-levels-3-and-4-c4244.md
Labels: ready-to-merge, review-team-triage, aq-pr-triaged, needs-human-review

#5711 Structure warning references in range [C4161, C4200]
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4162.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4163.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4164.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4165.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4166.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4167.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4168.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4174.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4175.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4176.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4177.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4178.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4179.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4180.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4182.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4183.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4185.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4186.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4187.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4190.md
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4161.md
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4191.md
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4192.md
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4197.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4189.md
  docs/error-messages/compiler-warnings/compiler-warning-levels-2-and-4-c4200.md
Labels: ready-to-merge, review-team-triage, aq-pr-triaged, needs-human-review

#5712 Structure warning references in range [C4201, C4230]
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4215.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4216.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4218.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4224.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4226.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4227.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4228.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4229.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4230.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4201.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4202.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4204.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4205.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4206.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4207.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4208.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4210.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4211.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4212.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4213.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4214.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4220.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4221.md
  docs/error-messages/compiler-warnings/compiler-warning-levels-1-and-4-c4223.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review

#5674 Structure error references in range [C3281, C3350]
  docs/error-messages/compiler-errors-2/compiler-error-c3282.md
  docs/error-messages/compiler-errors-2/compiler-error-c3283.md
  docs/error-messages/compiler-errors-2/compiler-error-c3284.md
  docs/error-messages/compiler-errors-2/compiler-error-c3285.md
  docs/error-messages/compiler-errors-2/compiler-error-c3286.md
  docs/error-messages/compiler-errors-2/compiler-error-c3287.md
  docs/error-messages/compiler-errors-2/compiler-error-c3288.md
  docs/error-messages/compiler-errors-2/compiler-error-c3289.md
  docs/error-messages/compiler-errors-2/compiler-error-c3290.md
  docs/error-messages/compiler-errors-2/compiler-error-c3291.md
  docs/error-messages/compiler-errors-2/compiler-error-c3292.md
  docs/error-messages/compiler-errors-2/compiler-error-c3293.md
  docs/error-messages/compiler-errors-2/compiler-error-c3296.md
  docs/error-messages/compiler-errors-2/compiler-error-c3297.md
  docs/error-messages/compiler-errors-2/compiler-error-c3298.md
  docs/error-messages/compiler-errors-2/compiler-error-c3299.md
  docs/error-messages/compiler-errors-2/compiler-error-c3303.md
  docs/error-messages/compiler-errors-2/compiler-error-c3309.md
  docs/error-messages/compiler-errors-2/compiler-error-c3320.md
  docs/error-messages/compiler-errors-2/compiler-error-c3322.md
  docs/error-messages/compiler-errors-2/compiler-error-c3333.md
  docs/error-messages/compiler-errors-2/compiler-error-c3334.md
  docs/error-messages/compiler-errors-2/compiler-error-c3340.md
  docs/error-messages/compiler-errors-2/compiler-error-c3342.md
  docs/error-messages/compiler-errors-2/compiler-error-c3345.md
  docs/error-messages/compiler-errors-2/compiler-error-c3347.md
  docs/error-messages/compiler-errors-2/compiler-error-c3350.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#5675 Structure error references in range [C3351, C3380]
  docs/error-messages/compiler-errors-2/compiler-error-c3351.md
  docs/error-messages/compiler-errors-2/compiler-error-c3352.md
  docs/error-messages/compiler-errors-2/compiler-error-c3353.md
  docs/error-messages/compiler-errors-2/compiler-error-c3354.md
  docs/error-messages/compiler-errors-2/compiler-error-c3356.md
  docs/error-messages/compiler-errors-2/compiler-error-c3358.md
  docs/error-messages/compiler-errors-2/compiler-error-c3360.md
  docs/error-messages/compiler-errors-2/compiler-error-c3363.md
  docs/error-messages/compiler-errors-2/compiler-error-c3364.md
  docs/error-messages/compiler-errors-2/compiler-error-c3365.md
  docs/error-messages/compiler-errors-2/compiler-error-c3366.md
  docs/error-messages/compiler-errors-2/compiler-error-c3367.md
  docs/error-messages/compiler-errors-2/compiler-error-c3368.md
  docs/error-messages/compiler-errors-2/compiler-error-c3369.md
  docs/error-messages/compiler-errors-2/compiler-error-c3370.md
  docs/error-messages/compiler-errors-2/compiler-error-c3371.md
  docs/error-messages/compiler-errors-2/compiler-error-c3372.md
  docs/error-messages/compiler-errors-2/compiler-error-c3373.md
  docs/error-messages/compiler-errors-2/compiler-error-c3374.md
  docs/error-messages/compiler-errors-2/compiler-error-c3375.md
  docs/error-messages/compiler-errors-2/compiler-error-c3379.md
  docs/error-messages/compiler-errors-2/compiler-error-c3380.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#5678 Structure error references in range [C3381, C3420]
  docs/error-messages/compiler-errors-2/compiler-error-c3381.md
  docs/error-messages/compiler-errors-2/compiler-error-c3382.md
  docs/error-messages/compiler-errors-2/compiler-error-c3383.md
  docs/error-messages/compiler-errors-2/compiler-error-c3384.md
  docs/error-messages/compiler-errors-2/compiler-error-c3385.md
  docs/error-messages/compiler-errors-2/compiler-error-c3386.md
  docs/error-messages/compiler-errors-2/compiler-error-c3387.md
  docs/error-messages/compiler-errors-2/compiler-error-c3388.md
  docs/error-messages/compiler-errors-2/compiler-error-c3389.md
  docs/error-messages/compiler-errors-2/compiler-error-c3390.md
  docs/error-messages/compiler-errors-2/compiler-error-c3391.md
  docs/error-messages/compiler-errors-2/compiler-error-c3392.md
  docs/error-messages/compiler-errors-2/compiler-error-c3393.md
  docs/error-messages/compiler-errors-2/compiler-error-c3394.md
  docs/error-messages/compiler-errors-2/compiler-error-c3395.md
  docs/error-messages/compiler-errors-2/compiler-error-c3396.md
  docs/error-messages/compiler-errors-2/compiler-error-c3397.md
  docs/error-messages/compiler-errors-2/compiler-error-c3398.md
  docs/error-messages/compiler-errors-2/compiler-error-c3399.md
  docs/error-messages/compiler-errors-2/compiler-error-c3400.md
  docs/error-messages/compiler-errors-2/compiler-error-c3408.md
  docs/error-messages/compiler-errors-2/compiler-error-c3409.md
  docs/error-messages/compiler-errors-2/compiler-error-c3412.md
  docs/error-messages/compiler-errors-2/compiler-error-c3413.md
  docs/error-messages/compiler-errors-2/compiler-error-c3414.md
  docs/error-messages/compiler-errors-2/compiler-error-c3415.md
  docs/error-messages/compiler-errors-2/compiler-error-c3417.md
  docs/error-messages/compiler-errors-2/compiler-error-c3418.md
  docs/error-messages/compiler-errors-2/compiler-error-c3420.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#5683 Structure error references in range [C3481, C3530]
  docs/error-messages/compiler-errors-2/compiler-error-c3481.md
  docs/error-messages/compiler-errors-2/compiler-error-c3482.md
  docs/error-messages/compiler-errors-2/compiler-error-c3483.md
  docs/error-messages/compiler-errors-2/compiler-error-c3484.md
  docs/error-messages/compiler-errors-2/compiler-error-c3485.md
  docs/error-messages/compiler-errors-2/compiler-error-c3487.md
  docs/error-messages/compiler-errors-2/compiler-error-c3488.md
  docs/error-messages/compiler-errors-2/compiler-error-c3489.md
  docs/error-messages/compiler-errors-2/compiler-error-c3490.md
  docs/error-messages/compiler-errors-2/compiler-error-c3491.md
  docs/error-messages/compiler-errors-2/compiler-error-c3492.md
  docs/error-messages/compiler-errors-2/compiler-error-c3493.md
  docs/error-messages/compiler-errors-2/compiler-error-c3495.md
  docs/error-messages/compiler-errors-2/compiler-error-c3496.md
  docs/error-messages/compiler-errors-2/compiler-error-c3498.md
  docs/error-messages/compiler-errors-2/compiler-error-c3499.md
  docs/error-messages/compiler-errors-2/compiler-error-c3500.md
  docs/error-messages/compiler-errors-2/compiler-error-c3501.md
  docs/error-messages/compiler-errors-2/compiler-error-c3505.md
  docs/error-messages/compiler-errors-2/compiler-error-c3506.md
  docs/error-messages/compiler-errors-2/compiler-error-c3507.md
  docs/error-messages/compiler-errors-2/compiler-error-c3508.md
  docs/error-messages/compiler-errors-2/compiler-error-c3509.md
  docs/error-messages/compiler-errors-2/compiler-error-c3510.md
  docs/error-messages/compiler-errors-2/compiler-error-c3519.md
  docs/error-messages/compiler-errors-2/compiler-error-c3530.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#5690 Structure error references in range [C3661, C3710]
  docs/error-messages/compiler-errors-2/compiler-error-c3661.md
  docs/error-messages/compiler-errors-2/compiler-error-c3662.md
  docs/error-messages/compiler-errors-2/compiler-error-c3665.md
  docs/error-messages/compiler-errors-2/compiler-error-c3666.md
  docs/error-messages/compiler-errors-2/compiler-error-c3668.md
  docs/error-messages/compiler-errors-2/compiler-error-c3669.md
  docs/error-messages/compiler-errors-2/compiler-error-c3670.md
  docs/error-messages/compiler-errors-2/compiler-error-c3671.md
  docs/error-messages/compiler-errors-2/compiler-error-c3672.md
  docs/error-messages/compiler-errors-2/compiler-error-c3673.md
  docs/error-messages/compiler-errors-2/compiler-error-c3675.md
  docs/error-messages/compiler-errors-2/compiler-error-c3697.md
  docs/error-messages/compiler-errors-2/compiler-error-c3698.md
  docs/error-messages/compiler-errors-2/compiler-error-c3699.md
  docs/error-messages/compiler-errors-2/compiler-error-c3701.md
  docs/error-messages/compiler-errors-2/compiler-error-c3702.md
  docs/error-messages/compiler-errors-2/compiler-error-c3703.md
  docs/error-messages/compiler-errors-2/compiler-error-c3704.md
  docs/error-messages/compiler-errors-2/compiler-error-c3705.md
  docs/error-messages/compiler-errors-2/compiler-error-c3706.md
  docs/error-messages/compiler-errors-2/compiler-error-c3707.md
  docs/error-messages/compiler-errors-2/compiler-error-c3708.md
  docs/error-messages/compiler-errors-2/compiler-error-c3709.md
  docs/error-messages/compiler-errors-2/compiler-error-c3710.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#5696 Structure error references in range [C3741, C3800]
  docs/error-messages/compiler-errors-2/compiler-error-c3741.md
  docs/error-messages/compiler-errors-2/compiler-error-c3743.md
  docs/error-messages/compiler-errors-2/compiler-error-c3744.md
  docs/error-messages/compiler-errors-2/compiler-error-c3745.md
  docs/error-messages/compiler-errors-2/compiler-error-c3747.md
  docs/error-messages/compiler-errors-2/compiler-error-c3748.md
  docs/error-messages/compiler-errors-2/compiler-error-c3749.md
  docs/error-messages/compiler-errors-2/compiler-error-c3752.md
  docs/error-messages/compiler-errors-2/compiler-error-c3753.md
  docs/error-messages/compiler-errors-2/compiler-error-c3754.md
  docs/error-messages/compiler-errors-2/compiler-error-c3755.md
  docs/error-messages/compiler-errors-2/compiler-error-c3761.md
  docs/error-messages/compiler-errors-2/compiler-error-c3762.md
  docs/error-messages/compiler-errors-2/compiler-error-c3763.md
  docs/error-messages/compiler-errors-2/compiler-error-c3764.md
  docs/error-messages/compiler-errors-2/compiler-error-c3765.md
  docs/error-messages/compiler-errors-2/compiler-error-c3766.md
  docs/error-messages/compiler-errors-2/compiler-error-c3767.md
  docs/error-messages/compiler-errors-2/compiler-error-c3768.md
  docs/error-messages/compiler-errors-2/compiler-error-c3769.md
  docs/error-messages/compiler-errors-2/compiler-error-c3771.md
  docs/error-messages/compiler-errors-2/compiler-error-c3772.md
  docs/error-messages/compiler-errors-2/compiler-error-c3779.md
  docs/error-messages/compiler-errors-2/compiler-error-c3797.md
  docs/error-messages/compiler-errors-2/compiler-error-c3798.md
  docs/error-messages/compiler-errors-2/compiler-error-c3799.md
  docs/error-messages/compiler-errors-2/compiler-error-c3800.md
Labels: ready-to-merge, review-team-triage, aq-pr-triaged, needs-human-review

#5700 Structure error references in range [C3801, C3850]
  docs/error-messages/compiler-errors-2/compiler-error-c3803.md
  docs/error-messages/compiler-errors-2/compiler-error-c3804.md
  docs/error-messages/compiler-errors-2/compiler-error-c3805.md
  docs/error-messages/compiler-errors-2/compiler-error-c3807.md
  docs/error-messages/compiler-errors-2/compiler-error-c3808.md
  docs/error-messages/compiler-errors-2/compiler-error-c3809.md
  docs/error-messages/compiler-errors-2/compiler-error-c3812.md
  docs/error-messages/compiler-errors-2/compiler-error-c3813.md
  docs/error-messages/compiler-errors-2/compiler-error-c3815.md
  docs/error-messages/compiler-errors-2/compiler-error-c3816.md
  docs/error-messages/compiler-errors-2/compiler-error-c3817.md
  docs/error-messages/compiler-errors-2/compiler-error-c3818.md
  docs/error-messages/compiler-errors-2/compiler-error-c3820.md
  docs/error-messages/compiler-errors-2/compiler-error-c3821.md
  docs/error-messages/compiler-errors-2/compiler-error-c3824.md
  docs/error-messages/compiler-errors-2/compiler-error-c3825.md
  docs/error-messages/compiler-errors-2/compiler-error-c3828.md
  docs/error-messages/compiler-errors-2/compiler-error-c3830.md
  docs/error-messages/compiler-errors-2/compiler-error-c3831.md
  docs/error-messages/compiler-errors-2/compiler-error-c3832.md
  docs/error-messages/compiler-errors-2/compiler-error-c3833.md
  docs/error-messages/compiler-errors-2/compiler-error-c3834.md
  docs/error-messages/compiler-errors-2/compiler-error-c3836.md
  docs/error-messages/compiler-errors-2/compiler-error-c3838.md
  docs/error-messages/compiler-errors-2/compiler-error-c3839.md
  docs/error-messages/compiler-errors-2/compiler-error-c3842.md
  docs/error-messages/compiler-errors-2/compiler-error-c3846.md
  docs/error-messages/compiler-errors-2/compiler-error-c3848.md
  docs/error-messages/compiler-errors-2/compiler-error-c3849.md
  docs/error-messages/compiler-errors-2/compiler-error-c3850.md
Labels: ready-to-merge, review-team-triage, aq-pr-triaged, needs-human-review

#5703 Structure error references in range [C3851, C3890]
  docs/error-messages/compiler-errors-2/compiler-error-c3851.md
  docs/error-messages/compiler-errors-2/compiler-error-c3852.md
  docs/error-messages/compiler-errors-2/compiler-error-c3853.md
  docs/error-messages/compiler-errors-2/compiler-error-c3854.md
  docs/error-messages/compiler-errors-2/compiler-error-c3855.md
  docs/error-messages/compiler-errors-2/compiler-error-c3856.md
  docs/error-messages/compiler-errors-2/compiler-error-c3857.md
  docs/error-messages/compiler-errors-2/compiler-error-c3858.md
  docs/error-messages/compiler-errors-2/compiler-error-c3859.md
  docs/error-messages/compiler-errors-2/compiler-error-c3860.md
  docs/error-messages/compiler-errors-2/compiler-error-c3861.md
  docs/error-messages/compiler-errors-2/compiler-error-c3862.md
  docs/error-messages/compiler-errors-2/compiler-error-c3865.md
  docs/error-messages/compiler-errors-2/compiler-error-c3866.md
  docs/error-messages/compiler-errors-2/compiler-error-c3867.md
  docs/error-messages/compiler-errors-2/compiler-error-c3868.md
  docs/error-messages/compiler-errors-2/compiler-error-c3869.md
  docs/error-messages/compiler-errors-2/compiler-error-c3872.md
  docs/error-messages/compiler-errors-2/compiler-error-c3873.md
  docs/error-messages/compiler-errors-2/compiler-error-c3874.md
  docs/error-messages/compiler-errors-2/compiler-error-c3880.md
  docs/error-messages/compiler-errors-2/compiler-error-c3883.md
  docs/error-messages/compiler-errors-2/compiler-error-c3886.md
  docs/error-messages/compiler-errors-2/compiler-error-c3887.md
  docs/error-messages/compiler-errors-2/compiler-error-c3888.md
  docs/error-messages/compiler-errors-2/compiler-error-c3890.md
Labels: ready-to-merge, review-team-triage, aq-pr-triaged, needs-human-review

#5707 Structure warning references in range [C4041, C4080]
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4041.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4042.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4045.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4047.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4048.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4049.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4052.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4055.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4067.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4068.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4074.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4075.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4076.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4077.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4079.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4080.md
  docs/error-messages/compiler-warnings/compiler-warning-level-2-c4051.md
  docs/error-messages/compiler-warnings/compiler-warning-level-2-c4056.md
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4066.md
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4073.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4053.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4057.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4061.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4062.md
Labels: ready-to-merge, review-team-triage, aq-pr-triaged, needs-human-review

#5710 Structure warning references in range [C4121, C4160]
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4122.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4124.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4129.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4138.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4141.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4142.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4143.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4144.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4145.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4153.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4154.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4155.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4157.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4158.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4160.md
  docs/error-messages/compiler-warnings/compiler-warning-level-2-c4146.md
  docs/error-messages/compiler-warnings/compiler-warning-level-2-c4150.md
  docs/error-messages/compiler-warnings/compiler-warning-level-2-c4156.md
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4133.md
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4159.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4121.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4125.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4127.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4130.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4131.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4132.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4152.md
Labels: ready-to-merge, review-team-triage, aq-pr-triaged, needs-human-review

#5725 Structure warning references in range [C4521, C4560]
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4526.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4530.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4532.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4533.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4537.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4540.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4544.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4545.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4546.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4547.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4548.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4549.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4550.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4551.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4552.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4553.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4555.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4556.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4558.md
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4521.md
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4522.md
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4523.md
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4534.md
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4535.md
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4538.md
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4543.md
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4554.md
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4557.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4536.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4559.md
Labels: ready-to-merge, review-team-triage, aq-pr-triaged, needs-human-review

#5726 Structure warning references in range [C4561, C4620]
  docs/error-messages/compiler-warnings/c4596.md
  docs/error-messages/compiler-warnings/c4597.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4561.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4566.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4572.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4577.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4581.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4584.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4600.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4602.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4603.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4606.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4612.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4613.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4615.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4616.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4618.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4620.md
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4570.md
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4580.md
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4608.md
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4619.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4564.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4565.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4571.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4610.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4611.md
Labels: ready-to-merge, review-team-triage, aq-pr-triaged, needs-human-review

#5728 Structure warning references in range [C4621, C4660]
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4621.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4624.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4627.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4628.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4630.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4631.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4632.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4650.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4651.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4652.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4655.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4656.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4657.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4659.md
  docs/error-messages/compiler-warnings/compiler-warning-level-2-c4653.md
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4622.md
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4633.md
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4635.md
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4636.md
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4637.md
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4638.md
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4640.md
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4641.md
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4645.md
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4646.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4623.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4625.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4626.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4629.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4634.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4639.md
Labels: ready-to-merge, review-team-triage, aq-pr-triaged, needs-human-review

#5722 Structure warning references in range [C4461, C4520]
  docs/error-messages/compiler-warnings/c4477.md
  docs/error-messages/compiler-warnings/compiler-warning-c4484.md
  docs/error-messages/compiler-warnings/compiler-warning-c4485.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4461.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4462.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4470.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4486.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4488.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4489.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4490.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4502.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4503.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4506.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4508.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4518.md
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4511.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4463.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4464.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4471.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4481.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4487.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4505.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4510.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4512.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4513.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4514.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4515.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4516.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4517.md
Labels: ready-to-merge, review-team-triage, aq-pr-triaged, needs-human-review

#5721 Structure warning references in range [C4401, C4460]
  docs/error-messages/compiler-warnings/compiler-warning-c4430.md
  docs/error-messages/compiler-warnings/compiler-warning-c4439.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4401.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4402.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4403.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4405.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4406.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4407.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4409.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4410.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4411.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4420.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4436.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4440.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4441.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4445.md
  docs/error-messages/compiler-warnings/compiler-warning-level-2-c4412.md
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4404.md
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4414.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4408.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4429.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4431.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4434.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4435.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4437.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4456.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4457.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4458.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4459.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4460.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review

#5719 Structure warning references in range [C4311, C4360]
  docs/error-messages/compiler-warnings/compiler-warning-c4355.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4311.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4312.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4313.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4319.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4325.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4326.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4329.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4333.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4340.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4342.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4344.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4346.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4348.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4350.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4353.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4358.md
  docs/error-messages/compiler-warnings/compiler-warning-level-2-c4356.md
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4316.md
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4334.md
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4357.md
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4359.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4336.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4337.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4339.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4343.md
Labels: ready-to-merge, review-team-triage, aq-pr-triaged, needs-human-review

#5741 Structure warning references in range [C6000, C6250]
  docs/code-quality/c6001.md
  docs/code-quality/c6011.md
  docs/code-quality/c6014.md
  docs/code-quality/c6029.md
  docs/code-quality/c6030.md
  docs/code-quality/c6031.md
  docs/code-quality/c6053.md
  docs/code-quality/c6054.md
  docs/code-quality/c6059.md
  docs/code-quality/c6063.md
  docs/code-quality/c6064.md
  docs/code-quality/c6065.md
  docs/code-quality/c6066.md
  docs/code-quality/c6067.md
  docs/code-quality/c6101.md
  docs/code-quality/c6102.md
  docs/code-quality/c6103.md
  docs/code-quality/c6200.md
  docs/code-quality/c6201.md
  docs/code-quality/c6211.md
  docs/code-quality/c6214.md
  docs/code-quality/c6215.md
  docs/code-quality/c6216.md
  docs/code-quality/c6217.md
  docs/code-quality/c6219.md
  docs/code-quality/c6220.md
  docs/code-quality/c6221.md
  docs/code-quality/c6225.md
  docs/code-quality/c6226.md
  docs/code-quality/c6230.md
  docs/code-quality/c6235.md
  docs/code-quality/c6236.md
  docs/code-quality/c6237.md
  docs/code-quality/c6239.md
  docs/code-quality/c6240.md
  docs/code-quality/c6242.md
  docs/code-quality/c6244.md
  docs/code-quality/c6246.md
  docs/code-quality/c6248.md
  docs/code-quality/c6250.md
Labels: ready-to-merge, review-team-triage, aq-pr-triaged, needs-human-review

#5764 Structure error references in range [BK1503, BK1517]
  docs/error-messages/tool-errors/bscmake-error-bk1503.md
  docs/error-messages/tool-errors/bscmake-error-bk1504.md
  docs/error-messages/tool-errors/bscmake-error-bk1505.md
  docs/error-messages/tool-errors/bscmake-error-bk1506.md
  docs/error-messages/tool-errors/bscmake-error-bk1507.md
  docs/error-messages/tool-errors/bscmake-error-bk1508.md
  docs/error-messages/tool-errors/bscmake-error-bk1509.md
  docs/error-messages/tool-errors/bscmake-error-bk1510.md
  docs/error-messages/tool-errors/bscmake-error-bk1512.md
  docs/error-messages/tool-errors/bscmake-error-bk1513.md
  docs/error-messages/tool-errors/bscmake-error-bk1514.md
  docs/error-messages/tool-errors/bscmake-error-bk1515.md
  docs/error-messages/tool-errors/bscmake-error-bk1516.md
  docs/error-messages/tool-errors/bscmake-error-bk1517.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#5762 Structure warning references in range [U4001, U4011]
  docs/error-messages/tool-errors/nmake-warning-u4001.md
  docs/error-messages/tool-errors/nmake-warning-u4004.md
  docs/error-messages/tool-errors/nmake-warning-u4006.md
  docs/error-messages/tool-errors/nmake-warning-u4007.md
  docs/error-messages/tool-errors/nmake-warning-u4010.md
  docs/error-messages/tool-errors/nmake-warning-u4011.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#5758 Structure error references in range [U1000, U1100]
  docs/error-messages/tool-errors/nmake-fatal-error-u1000.md
  docs/error-messages/tool-errors/nmake-fatal-error-u1001.md
  docs/error-messages/tool-errors/nmake-fatal-error-u1007.md
  docs/error-messages/tool-errors/nmake-fatal-error-u1023.md
  docs/error-messages/tool-errors/nmake-fatal-error-u1033.md
  docs/error-messages/tool-errors/nmake-fatal-error-u1034.md
  docs/error-messages/tool-errors/nmake-fatal-error-u1035.md
  docs/error-messages/tool-errors/nmake-fatal-error-u1036.md
  docs/error-messages/tool-errors/nmake-fatal-error-u1045.md
  docs/error-messages/tool-errors/nmake-fatal-error-u1050.md
  docs/error-messages/tool-errors/nmake-fatal-error-u1051.md
  docs/error-messages/tool-errors/nmake-fatal-error-u1052.md
  docs/error-messages/tool-errors/nmake-fatal-error-u1055.md
  docs/error-messages/tool-errors/nmake-fatal-error-u1056.md
  docs/error-messages/tool-errors/nmake-fatal-error-u1059.md
  docs/error-messages/tool-errors/nmake-fatal-error-u1064.md
  docs/error-messages/tool-errors/nmake-fatal-error-u1065.md
  docs/error-messages/tool-errors/nmake-fatal-error-u1070.md
  docs/error-messages/tool-errors/nmake-fatal-error-u1071.md
  docs/error-messages/tool-errors/nmake-fatal-error-u1073.md
  docs/error-messages/tool-errors/nmake-fatal-error-u1076.md
  docs/error-messages/tool-errors/nmake-fatal-error-u1077.md
  docs/error-messages/tool-errors/nmake-fatal-error-u1078.md
  docs/error-messages/tool-errors/nmake-fatal-error-u1083.md
  docs/error-messages/tool-errors/nmake-fatal-error-u1086.md
  docs/error-messages/tool-errors/nmake-fatal-error-u1087.md
  docs/error-messages/tool-errors/nmake-fatal-error-u1088.md
  docs/error-messages/tool-errors/nmake-fatal-error-u1095.md
  docs/error-messages/tool-errors/nmake-fatal-error-u1097.md
  docs/error-messages/tool-errors/nmake-fatal-error-u1099.md
  docs/error-messages/tool-errors/nmake-fatal-error-u1100.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#5753 Structure error references in range [CXX0035, CXX0072]
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0036.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0037.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0038.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0039.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0040.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0041.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0043.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0044.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0045.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0046.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0047.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0048.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0049.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0050.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0051.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0052.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0053.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0054.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0055.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0056.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0057.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0058.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0059.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0060.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0061.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0062.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0063.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0064.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0065.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0066.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0067.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0069.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0072.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#5752 Structure error references in range [CXX0000, CXX0034]
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0000.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0001.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0002.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0004.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0005.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0006.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0007.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0008.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0009.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0010.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0011.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0012.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0013.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0014.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0015.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0016.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0017.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0018.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0019.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0020.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0021.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0022.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0023.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0024.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0025.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0026.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0027.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0028.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0029.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0030.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0031.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0032.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0033.md
  docs/error-messages/tool-errors/expression-evaluator-error-cxx0034.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#5768 Structure error references in range [PRJ0002, PRJ0050]
  docs/error-messages/tool-errors/project-build-error-prj0002.md
  docs/error-messages/tool-errors/project-build-error-prj0003.md
  docs/error-messages/tool-errors/project-build-error-prj0004.md
  docs/error-messages/tool-errors/project-build-error-prj0005.md
  docs/error-messages/tool-errors/project-build-error-prj0006.md
  docs/error-messages/tool-errors/project-build-error-prj0007.md
  docs/error-messages/tool-errors/project-build-error-prj0008.md
  docs/error-messages/tool-errors/project-build-error-prj0009.md
  docs/error-messages/tool-errors/project-build-error-prj0013.md
  docs/error-messages/tool-errors/project-build-error-prj0014.md
  docs/error-messages/tool-errors/project-build-error-prj0015.md
  docs/error-messages/tool-errors/project-build-error-prj0016.md
  docs/error-messages/tool-errors/project-build-error-prj0017.md
  docs/error-messages/tool-errors/project-build-error-prj0019.md
  docs/error-messages/tool-errors/project-build-error-prj0020.md
  docs/error-messages/tool-errors/project-build-error-prj0021.md
  docs/error-messages/tool-errors/project-build-error-prj0022.md
  docs/error-messages/tool-errors/project-build-error-prj0023.md
  docs/error-messages/tool-errors/project-build-error-prj0024.md
  docs/error-messages/tool-errors/project-build-error-prj0025.md
  docs/error-messages/tool-errors/project-build-error-prj0026.md
  docs/error-messages/tool-errors/project-build-error-prj0027.md
  docs/error-messages/tool-errors/project-build-error-prj0028.md
  docs/error-messages/tool-errors/project-build-error-prj0030.md
  docs/error-messages/tool-errors/project-build-error-prj0031.md
  docs/error-messages/tool-errors/project-build-error-prj0032.md
  docs/error-messages/tool-errors/project-build-error-prj0033.md
  docs/error-messages/tool-errors/project-build-error-prj0034.md
  docs/error-messages/tool-errors/project-build-error-prj0035.md
  docs/error-messages/tool-errors/project-build-error-prj0036.md
  docs/error-messages/tool-errors/project-build-error-prj0040.md
  docs/error-messages/tool-errors/project-build-error-prj0044.md
  docs/error-messages/tool-errors/project-build-error-prj0046.md
  docs/error-messages/tool-errors/project-build-error-prj0047.md
  docs/error-messages/tool-errors/project-build-error-prj0050.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#5767 Structure warning references in range [BK4502, BK4504]
  docs/error-messages/tool-errors/bscmake-warning-bk4502.md
  docs/error-messages/tool-errors/bscmake-warning-bk4503.md
  docs/error-messages/tool-errors/bscmake-warning-bk4504.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#5775 Structure error references in range [RW1004, RW2003]
  docs/error-messages/tool-errors/resource-compiler-error-rw2001.md
  docs/error-messages/tool-errors/resource-compiler-error-rw2002.md
  docs/error-messages/tool-errors/resource-compiler-error-rw2003.md
  docs/error-messages/tool-errors/resource-compiler-fatal-error-rw1004.md
  docs/error-messages/tool-errors/resource-compiler-fatal-error-rw1009.md
  docs/error-messages/tool-errors/resource-compiler-fatal-error-rw1016.md
  docs/error-messages/tool-errors/resource-compiler-fatal-error-rw1022.md
  docs/error-messages/tool-errors/resource-compiler-fatal-error-rw1023.md
  docs/error-messages/tool-errors/resource-compiler-fatal-error-rw1025.md
  docs/error-messages/tool-errors/resource-compiler-fatal-error-rw1030.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#5773 Structure error references in range [R6002, R6035]
  docs/error-messages/tool-errors/c-runtime-error-r6002.md
  docs/error-messages/tool-errors/c-runtime-error-r6008.md
  docs/error-messages/tool-errors/c-runtime-error-r6009.md
  docs/error-messages/tool-errors/c-runtime-error-r6016.md
  docs/error-messages/tool-errors/c-runtime-error-r6017.md
  docs/error-messages/tool-errors/c-runtime-error-r6018.md
  docs/error-messages/tool-errors/c-runtime-error-r6019.md
  docs/error-messages/tool-errors/c-runtime-error-r6024.md
  docs/error-messages/tool-errors/c-runtime-error-r6025.md
  docs/error-messages/tool-errors/c-runtime-error-r6026.md
  docs/error-messages/tool-errors/c-runtime-error-r6027.md
  docs/error-messages/tool-errors/c-runtime-error-r6028.md
  docs/error-messages/tool-errors/c-runtime-error-r6030.md
  docs/error-messages/tool-errors/c-runtime-error-r6031.md
  docs/error-messages/tool-errors/c-runtime-error-r6032.md
  docs/error-messages/tool-errors/c-runtime-error-r6033.md
  docs/error-messages/tool-errors/c-runtime-error-r6035.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#5771 Structure error references in range [D8016, D8049]
  docs/error-messages/tool-errors/command-line-error-d8016.md
  docs/error-messages/tool-errors/command-line-error-d8021.md
  docs/error-messages/tool-errors/command-line-error-d8022.md
  docs/error-messages/tool-errors/command-line-error-d8027.md
  docs/error-messages/tool-errors/command-line-error-d8036.md
  docs/error-messages/tool-errors/command-line-error-d8037.md
  docs/error-messages/tool-errors/command-line-error-d8045.md
  docs/error-messages/tool-errors/command-line-error-d8048.md
  docs/error-messages/tool-errors/command-line-error-d8049.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#5770 Structure warning references in range [PRJ0018, PRJ0049]
  docs/error-messages/tool-errors/project-build-warning-prj0018.md
  docs/error-messages/tool-errors/project-build-warning-prj0029.md
  docs/error-messages/tool-errors/project-build-warning-prj0041.md
  docs/error-messages/tool-errors/project-build-warning-prj0042.md
  docs/error-messages/tool-errors/project-build-warning-prj0049.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#5776 Structure error references in range [RC1002, RC1208]
  docs/error-messages/tool-errors/resource-compiler-fatal-error-rc1002.md
  docs/error-messages/tool-errors/resource-compiler-fatal-error-rc1004.md
  docs/error-messages/tool-errors/resource-compiler-fatal-error-rc1009.md
  docs/error-messages/tool-errors/resource-compiler-fatal-error-rc1011.md
  docs/error-messages/tool-errors/resource-compiler-fatal-error-rc1015.md
  docs/error-messages/tool-errors/resource-compiler-fatal-error-rc1017.md
  docs/error-messages/tool-errors/resource-compiler-fatal-error-rc1018.md
  docs/error-messages/tool-errors/resource-compiler-fatal-error-rc1019.md
  docs/error-messages/tool-errors/resource-compiler-fatal-error-rc1020.md
  docs/error-messages/tool-errors/resource-compiler-fatal-error-rc1021.md
  docs/error-messages/tool-errors/resource-compiler-fatal-error-rc1022.md
  docs/error-messages/tool-errors/resource-compiler-fatal-error-rc1047.md
  docs/error-messages/tool-errors/resource-compiler-fatal-error-rc1052.md
  docs/error-messages/tool-errors/resource-compiler-fatal-error-rc1067.md
  docs/error-messages/tool-errors/resource-compiler-fatal-error-rc1101.md
  docs/error-messages/tool-errors/resource-compiler-fatal-error-rc1102.md
  docs/error-messages/tool-errors/resource-compiler-fatal-error-rc1105.md
  docs/error-messages/tool-errors/resource-compiler-fatal-error-rc1109.md
  docs/error-messages/tool-errors/resource-compiler-fatal-error-rc1116.md
  docs/error-messages/tool-errors/resource-compiler-fatal-error-rc1120.md
  docs/error-messages/tool-errors/resource-compiler-fatal-error-rc1121.md
  docs/error-messages/tool-errors/resource-compiler-fatal-error-rc1203.md
  docs/error-messages/tool-errors/resource-compiler-fatal-error-rc1205.md
  docs/error-messages/tool-errors/resource-compiler-fatal-error-rc1208.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#5780 Structure warning references in range [RC4002, RC4214]
  docs/error-messages/tool-errors/resource-compiler-warning-rc4002.md
  docs/error-messages/tool-errors/resource-compiler-warning-rc4005.md
  docs/error-messages/tool-errors/resource-compiler-warning-rc4093.md
  docs/error-messages/tool-errors/resource-compiler-warning-rc4214.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#5594 Update `/events` links to `/shows`
  docs/build-insights/tutorials/build-insights-function-view.md
  docs/build-insights/tutorials/build-insights-included-files-view.md
  docs/build-insights/tutorials/build-insights-tips.md
  docs/build/cmake-presets-vs.md
  docs/standard-library/random.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, standard-libraries/subsvc

#5657 Structure error reference C2349
  docs/error-messages/compiler-errors-1/compiler-error-c2349.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, errors-warnings/subsvc

#5472 Clarify distinct “Edit and Continue” (/ZI) option and fix its hyperlink
  docs/sanitizers/asan.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, tools/subsvc

#5810 Update some `http` links to `https`
  docs/code-quality/using-the-cpp-core-guidelines-checkers.md
  docs/error-messages/compiler-errors-2/compiler-error-c3066.md
  docs/overview/cpp-conformance-improvements-2017.md
  docs/overview/what-s-new-for-visual-cpp-in-visual-studio.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, ide/subsvc
