Repository MicrosoftDocs/cpp-docs, pull requests merged in 2025-06, with the labels that each got.

#5383 Update "Hosting a Windows Form User Control as an MFC Dialog Box"
  docs/dotnet/hosting-a-windows-form-user-control-as-an-mfc-dialog-box.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, cli-lang/subsvc

#5387 Improve C2574 error reference
  docs/error-messages/compiler-errors-2/compiler-error-c2574.md
  docs/error-messages/compiler-errors-2/compiler-errors-c2500-through-c2599.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#5375 Add missing comma between backticked terms
  docs/overview/what-s-new-for-visual-cpp-in-visual-studio.md
  docs/standard-library/iterator-concepts.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, standard-libraries/subsvc

#5393 Remove superfluous semicolons after function definition
  docs/cpp/function-overloading.md
  docs/cpp/overload-resolution-of-function-template-calls.md
  docs/dotnet/how-to-access-characters-in-a-system-string.md
  docs/dotnet/how-to-define-and-use-delegates-cpp-cli.md
  docs/error-messages/compiler-errors-1/compiler-error-c2134.md
  docs/error-messages/compiler-errors-2/compiler-error-c2835.md
  docs/error-messages/compiler-errors-2/compiler-error-c3185.md
  docs/error-messages/compiler-errors-2/compiler-error-c3536.md
  docs/error-messages/compiler-errors-2/compiler-error-c3672.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4269.md
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4191.md
  docs/error-messages/compiler-warnings/compiler-warning-level-3-c4243.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4205.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4254.md
  docs/error-messages/tool-errors/linker-tools-error-lnk2020.md
  docs/error-messages/tool-errors/linker-tools-error-lnk2033.md
  docs/extensions/how-to-declare-interior-pointers-with-the-const-keyword-cpp-cli.md
  docs/extensions/how-to-overload-functions-with-interior-pointers-and-native-pointers-cpp-cli.md
  docs/extensions/pin-ptr-cpp-cli.md
  docs/extensions/string-cpp-component-extensions.md
  docs/overview/cpp-conformance-improvements-2019.md
  docs/standard-library/auto-ptr-class.md
  docs/standard-library/money-get-class.md
  docs/standard-library/moneypunct-class.md
  docs/standard-library/numpunct-class.md
  docs/standard-library/raw-storage-iterator-class.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, standard-libraries/subsvc

#5373 Clean up `<condition_variable>` enums reference
  docs/standard-library/condition-variable-enums.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, standard-libraries/subsvc

#5378 Update "C++ Standard Library Reference" article
  docs/standard-library/cpp-standard-library-reference.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, standard-libraries/subsvc

#5380 Add missing escapes and clean up a few topics
  docs/build/reference/msbuild-reference-cpp.md
  docs/cpp/c-cpp-language-and-standard-libraries.md
  docs/security/security-best-practices-for-cpp.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, windows-development/subsvc

#5397 Fix typo: theses -> these
  docs/overview/visual-cpp-samples.md
  docs/windows/walkthrough-creating-windows-desktop-applications-cpp.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, windows-development/subsvc

#5381 Resolve misplaced leading backtick in link text
  docs/build/reference/linker-property-pages.md
  docs/error-messages/compiler-errors-2/compiler-error-c2653.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, errors-warnings/subsvc

#5392 Update C2583 error reference
  docs/error-messages/compiler-errors-2/compiler-error-c2583.md
  docs/error-messages/compiler-errors-2/compiler-errors-c2500-through-c2599.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#5408 Add backticks for code analysis names
  docs/code-quality/c28112.md
  docs/code-quality/c28159.md
  docs/code-quality/c28160.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, tools/subsvc

#5406 Fix duplicate `operator[]` entry in `CSimpleStringT` reference
  docs/atl-mfc-shared/reference/csimplestringt-class.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, mfc-library/subsvc

#5404 Remove empty lines in metadata
  docs/data/oledb/schema-rowset-classes-and-typedef-classes.md
  docs/standard-library/bitset-class.md
  docs/standard-library/treat-as-floating-point-structure.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, standard-libraries/subsvc

#5403 Remove backslash in backticked terms
  docs/mfc/reference/cwinapp-class.md
  docs/parallel/amp/graphics-cpp-amp.md
  docs/standard-library/basic-istream-class.md
  docs/standard-library/ctype-char-class.md
  docs/standard-library/hash-map-class.md
  docs/standard-library/regex.md
  docs/standard-library/scoped-allocator-adaptor-class.md
  docs/standard-library/string-view.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, standard-libraries/subsvc

#5401 Replace absolute "It's only temporary" archive link with a relative one
  docs/c-runtime-library/reference/fopen-s-wfopen-s.md
  docs/c-runtime-library/reference/fopen-wfopen.md
  docs/c-runtime-library/reference/fsopen-wfsopen.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, ucrt/subsvc

#5398 Fix typo: scaning -> scanning
  docs/mfc/reference/codesnippet/CPP/cmfctoolbarscustomizedialog-class_2.cpp
  docs/mfc/reference/codesnippet/CPP/cmfctoolbarscustomizedialog-class_3.cpp
  docs/mfc/reference/codesnippet/CPP/cmfctoolbarscustomizedialog-class_4.cpp
Labels: do-not-merge, review-team-triage, aq-pr-triaged, needs-human-review

#5394 Elide line tabulation (U+000B) in "Microsoft C/C++ change history 2003 - 2015"
  docs/porting/visual-cpp-change-history-2003-2015.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, cpp-lang/subsvc

#5399 Remove extraneous "class" in link text after "class template"
  docs/atl-mfc-shared/basic-cstring-operations.md
  docs/standard-library/array-operators.md
  docs/standard-library/char-traits-char-struct.md
  docs/standard-library/cvt-wbuffer.md
  docs/standard-library/cvt-wstring.md
  docs/standard-library/regex-traits-class.md
  docs/standard-library/regex-typedefs.md
  docs/standard-library/regex.md
  docs/standard-library/string-operators.md
  docs/standard-library/unordered-map-class.md
  docs/standard-library/unordered-multimap-class.md
  docs/standard-library/unordered-multiset-class.md
  docs/standard-library/unordered-set-class.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, standard-libraries/subsvc

#5354 Fix typo: programatically -> programmatically
  docs/build/reference/sarif-output.md
  docs/mfc/reference/codesnippet/CPP/cbutton-class_10.h
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, tools/subsvc

#5411 Fix typo: multidimension -> multidimensional
  docs/dotnet/how-to-use-arrays-in-cpp-cli.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, cli-lang/subsvc

#5396 Fix wrong links to "Heterogeneous Lookup in Associative Containers"
  docs/standard-library/map-class.md
  docs/standard-library/multimap-class.md
  docs/standard-library/multiset-class.md
  docs/standard-library/set-class.md
  docs/standard-library/stl-containers.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, standard-libraries/subsvc

#5415 Fix typo: lamba -> lambda
  docs/parallel/concrt/reference/concurrency-namespace-functions.md
Labels: do-not-merge, Change sent to author, visual-cpp/svc, parallel-programming/subsvc

#5416 Fix typo: homogenous -> homogeneous
  docs/parallel/amp/reference/texture-view-class.md
Labels: do-not-merge, Change sent to author, visual-cpp/svc, parallel-programming/subsvc

#5412 Remove redundant semicolons after `if`, `for`, `while`, and `switch` constructs
  docs/atl-mfc-shared/codesnippet/CPP/cstringt-class_39.cpp
  docs/cpp/switch-statement-cpp.md
  docs/cpp/try-except-statement.md
  docs/cppcx/codesnippet/CPP/cppcx_strings/class1.cpp
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4220.md
  docs/mfc/codesnippet/CPP/cdialog-class_2.cpp
  docs/standard-library/ctype-class.md
  docs/standard-library/ios-base-class.md
  docs/standard-library/iterator-traits-struct.md
  docs/standard-library/other-one-argument-output-stream-manipulators.md
  docs/standard-library/output-stream-manipulators-with-one-argument-int-or-long.md
  docs/standard-library/raw-storage-iterator-class.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, standard-libraries/subsvc

#5434 Fix misplaced parenthesis and update "Walkthrough: Putting Controls On Toolbars"
  docs/mfc/walkthrough-putting-controls-on-toolbars.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, mfc-library/subsvc

#5421 Clean up `_SECURE_SCL` reference
  docs/standard-library/secure-scl.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, standard-libraries/subsvc

#5435 Add space between anchor element close and backtick
  docs/mfc/reference/cdc-class.md
  docs/mfc/reference/ctabctrl-class.md
  docs/standard-library/bit-functions.md
  docs/standard-library/range-functions.md
  docs/standard-library/span-functions.md
  docs/standard-library/system-clock-structure.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, standard-libraries/subsvc

#5431 Fix documentation of __STDC__
  docs/preprocessor/predefined-macros.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, cpp-lang/subsvc

#5462 Add some missing commas in reference syntax
  docs/c-runtime-library/reference/asctime-s-wasctime-s.md
  docs/parallel/amp/reference/array-class.md
  docs/standard-library/algorithm-functions.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, standard-libraries/subsvc

#5461 Change only bold parameter to italic in `clock_time_conversion` reference
  docs/standard-library/clock-time-conversion-struct.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, standard-libraries/subsvc

#5458 Tidy up `_rot{l,r}{8,16}` intrinsics reference
  docs/intrinsics/rotl8-rotl16.md
  docs/intrinsics/rotr8-rotr16.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, tools/subsvc

#5457 Remove superfluous or rogue parentheses in intrinsics list reference
  docs/intrinsics/x64-amd64-intrinsics-list.md
  docs/intrinsics/x86-intrinsics-list.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, tools/subsvc

#5453 Improve "Function Objects in the C++ Standard Library" article
  docs/standard-library/function-objects-in-the-stl.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, standard-libraries/subsvc

#5455 Fix mismatched backtick in `<random>` header reference
  docs/standard-library/random.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, standard-libraries/subsvc

#5447 Remove some stray trailing backticks
  docs/build/open-folder-projects-cpp.md
  docs/mfc/reference/cmfcribboncategory-class.md
  docs/overview/cpp-conformance-improvements-2017.md
  docs/standard-library/iterator-functions.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, visual-cpp/svc, standard-libraries/subsvc

#5422 Add missing square brackets for `[[nodiscard]]` in C4834 reference
  docs/error-messages/compiler-warnings/c4834.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, errors-warnings/subsvc

#5429 Fix incomplete link for backticked terms
  docs/c-runtime-library/reference/strtol-wcstol-strtol-l-wcstol-l.md
  docs/standard-library/year-month-weekday-class.md
  docs/standard-library/zoned-time-class.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, standard-libraries/subsvc

#5439 Join code blocks that are split into lines
  docs/mfc/reference/crgn-class.md
  docs/standard-library/unordered-set-operators.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, standard-libraries/subsvc

#5424 Fix backtick placement in "Adding Connection Points to an Object"
  docs/atl/adding-connection-points-to-an-object.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, needs-human-review, visual-cpp/svc, atl-library/subsvc

#5423 Resolve misplaced backtick for link in `_CrtSetDebugFillThreshold` reference
  docs/c-runtime-library/reference/crtsetdebugfillthreshold.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, ucrt/subsvc

#5470 Fix typo: exeception -> exception
  docs/parallel/concrt/codesnippet/CPP/exception-handling-in-the-concurrency-runtime_6.cpp
Labels: do-not-merge, review-team-triage, needs-human-review

#5445 Tweak C4172 warning reference
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4172.md
  docs/error-messages/compiler-warnings/compiler-warnings-c4000-through-c4199.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc
