Repository MicrosoftDocs/cpp-docs, pull requests merged in 2025-07, with the labels that each got.

#5468 Fix heading merged with description in `CRect` class reference
  docs/atl-mfc-shared/reference/crect-class.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, mfc-library/subsvc

#5477 Fix typo: propert pages -> property pages
  docs/mfc/property-sheets-and-property-pages-mfc.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, mfc-library/subsvc

#5479 Fix typo: rectange -> rectangle
  docs/mfc/reference/cmfcpropertygridctrl-class.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, mfc-library/subsvc

#5490 Fix typo: Transfomation -> Transformation
  docs/cppcx/codesnippet/CPP/walkthrough-creating-a-windows-store-app-using-wrl-and-media-foundation_4.cpp
Labels: do-not-merge, review-team-triage, aq-pr-triaged, needs-human-review

#5493 Update document-template-creation.md
  docs/mfc/document-template-creation.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, mfc-library/subsvc

#5491 Clean up empty "Remarks" headings in standard library
  docs/standard-library/allocators-functions.md
  docs/standard-library/basic-string-class.md
  docs/standard-library/basic-stringbuf-class.md
  docs/standard-library/cache-chunklist-class.md
  docs/standard-library/cache-freelist-class.md
  docs/standard-library/cache-suballoc-class.md
  docs/standard-library/error-category-class.md
  docs/standard-library/error-code-class.md
  docs/standard-library/error-condition-class.md
  docs/standard-library/forward-list-class.md
  docs/standard-library/freelist-class.md
  docs/standard-library/hash-map-class.md
  docs/standard-library/hash-multimap-class.md
  docs/standard-library/hash-multiset-class.md
  docs/standard-library/hash-set-class.md
  docs/standard-library/hash-set.md
  docs/standard-library/iterator-concepts.md
  docs/standard-library/memory-functions.md
  docs/standard-library/sync-none-class.md
  docs/standard-library/sync-per-container-class.md
  docs/standard-library/sync-per-thread-class.md
  docs/standard-library/sync-shared-class.md
  docs/standard-library/system-error-enums.md
  docs/standard-library/wstring-convert-class.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, standard-libraries/subsvc

#5487 Remove extraneous spaces after hyphen character
  docs/build/arm-exception-handling.md
  docs/error-messages/compiler-errors-2/compiler-error-c2548.md
  docs/sanitizers/asan-shadow-bytes.md
  docs/standard-library/string-functions.md
  docs/standard-library/valarray-class.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, standard-libraries/subsvc

#5486 Add `cpp` language for code blocks in error or warning references
  docs/error-messages/compiler-errors-2/compiler-error-c2797.md
  docs/error-messages/compiler-errors-2/compiler-error-c2891.md
  docs/error-messages/compiler-errors-2/compiler-error-c3457.md
  docs/error-messages/compiler-errors-2/compiler-error-c3554.md
  docs/error-messages/compiler-errors-2/compiler-error-c3733.md
  docs/error-messages/compiler-warnings/compiler-warning-level-4-c4626.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#5484 Remove some stray backticks
  docs/mfc/reference/mfc-classes.md
  docs/preprocessor/compiler-warnings-that-are-off-by-default.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, cpp-lang/subsvc

#5476 Fix dangling "see ..." and clean up `complex` class template specializations
  docs/standard-library/complex-double.md
  docs/standard-library/complex-float.md
  docs/standard-library/complex-long-double.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, standard-libraries/subsvc

#5475 Simplify example and update C2556 error reference
  docs/error-messages/compiler-errors-2/compiler-error-c2556.md
  docs/error-messages/compiler-errors-2/compiler-errors-c2500-through-c2599.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#5474 Remove outdated example and update C2998 error reference
  docs/error-messages/compiler-errors-2/compiler-error-c2998.md
  docs/error-messages/compiler-errors-2/compiler-errors-c2900-through-c3499.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#5473 Update C2166 error reference
  docs/error-messages/compiler-errors-1/compiler-error-c2166.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#5480 Trim front and back spaces in link destinations
  docs/cpp/results-of-calling-example.md
  docs/linux/cmake-linux-configure.md
  docs/overview/overview-of-cpp-development.md
  docs/porting/fix-your-dependencies-on-library-internals.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, cpp-lang/subsvc

#5443 Update `Relog` and variants in build insights reference
  docs/build-insights/reference/sdk/functions/relog-a.md
  docs/build-insights/reference/sdk/functions/relog-w.md
  docs/build-insights/reference/sdk/functions/relog.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, tools/subsvc

#5485 Elide unneeded trailing period or semicolon in headings
  docs/data/oledb/creating-an-updatable-provider.md
  docs/mfc/reference/cmditabinfo-class.md
  docs/mfc/testing-properties-and-events-with-test-container.md
  docs/porting/porting-guide-spy-increment.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, cpp-lang/subsvc

#5483 Structure error references in range [C1021, C1050]
  docs/error-messages/compiler-errors-1/fatal-error-c1021.md
  docs/error-messages/compiler-errors-1/fatal-error-c1022.md
  docs/error-messages/compiler-errors-1/fatal-error-c1023.md
  docs/error-messages/compiler-errors-1/fatal-error-c1025-c1115.md
  docs/error-messages/compiler-errors-1/fatal-error-c1026.md
  docs/error-messages/compiler-errors-1/fatal-error-c1033.md
  docs/error-messages/compiler-errors-1/fatal-error-c1035.md
  docs/error-messages/compiler-errors-1/fatal-error-c1037.md
  docs/error-messages/compiler-errors-1/fatal-error-c1038.md
  docs/error-messages/compiler-errors-1/fatal-error-c1045.md
  docs/error-messages/compiler-errors-1/fatal-error-c1046.md
  docs/error-messages/compiler-errors-1/fatal-error-c1047.md
  docs/error-messages/compiler-errors-1/fatal-error-c1049.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#5500 Structure error references in range [C1081, C1110]
  docs/error-messages/compiler-errors-1/fatal-error-c1081.md
  docs/error-messages/compiler-errors-1/fatal-error-c1082.md
  docs/error-messages/compiler-errors-1/fatal-error-c1083.md
  docs/error-messages/compiler-errors-1/fatal-error-c1084.md
  docs/error-messages/compiler-errors-1/fatal-error-c1085.md
  docs/error-messages/compiler-errors-1/fatal-error-c1086.md
  docs/error-messages/compiler-errors-1/fatal-error-c1087.md
  docs/error-messages/compiler-errors-1/fatal-error-c1088.md
  docs/error-messages/compiler-errors-1/fatal-error-c1089.md
  docs/error-messages/compiler-errors-1/fatal-error-c1090.md
  docs/error-messages/compiler-errors-1/fatal-error-c1091.md
  docs/error-messages/compiler-errors-1/fatal-error-c1092.md
  docs/error-messages/compiler-errors-1/fatal-error-c1093.md
  docs/error-messages/compiler-errors-1/fatal-error-c1094.md
  docs/error-messages/compiler-errors-1/fatal-error-c1098.md
  docs/error-messages/compiler-errors-1/fatal-error-c1099.md
  docs/error-messages/compiler-errors-1/fatal-error-c1100.md
  docs/error-messages/compiler-errors-1/fatal-error-c1103.md
  docs/error-messages/compiler-errors-1/fatal-error-c1104.md
  docs/error-messages/compiler-errors-1/fatal-error-c1107.md
  docs/error-messages/compiler-errors-1/fatal-error-c1108.md
  docs/error-messages/compiler-errors-1/fatal-error-c1109.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#5541 Structure error references in range [C2121, C2140]
  docs/error-messages/compiler-errors-1/compiler-error-c2121.md
  docs/error-messages/compiler-errors-1/compiler-error-c2122.md
  docs/error-messages/compiler-errors-1/compiler-error-c2124.md
  docs/error-messages/compiler-errors-1/compiler-error-c2128.md
  docs/error-messages/compiler-errors-1/compiler-error-c2129.md
  docs/error-messages/compiler-errors-1/compiler-error-c2130.md
  docs/error-messages/compiler-errors-1/compiler-error-c2131.md
  docs/error-messages/compiler-errors-1/compiler-error-c2132.md
  docs/error-messages/compiler-errors-1/compiler-error-c2133.md
  docs/error-messages/compiler-errors-1/compiler-error-c2134.md
  docs/error-messages/compiler-errors-1/compiler-error-c2135.md
  docs/error-messages/compiler-errors-1/compiler-error-c2137.md
  docs/error-messages/compiler-errors-1/compiler-error-c2138.md
  docs/error-messages/compiler-errors-1/compiler-error-c2139.md
  docs/error-messages/compiler-errors-1/compiler-error-c2140.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#5549 Structure error references in range [C2161, C2180]
  docs/error-messages/compiler-errors-1/compiler-error-c2161.md
  docs/error-messages/compiler-errors-1/compiler-error-c2162.md
  docs/error-messages/compiler-errors-1/compiler-error-c2163.md
  docs/error-messages/compiler-errors-1/compiler-error-c2164.md
  docs/error-messages/compiler-errors-1/compiler-error-c2165.md
  docs/error-messages/compiler-errors-1/compiler-error-c2167.md
  docs/error-messages/compiler-errors-1/compiler-error-c2168.md
  docs/error-messages/compiler-errors-1/compiler-error-c2169.md
  docs/error-messages/compiler-errors-1/compiler-error-c2170.md
  docs/error-messages/compiler-errors-1/compiler-error-c2171.md
  docs/error-messages/compiler-errors-1/compiler-error-c2172.md
  docs/error-messages/compiler-errors-1/compiler-error-c2173.md
  docs/error-messages/compiler-errors-1/compiler-error-c2174.md
  docs/error-messages/compiler-errors-1/compiler-error-c2175.md
  docs/error-messages/compiler-errors-1/compiler-error-c2177.md
  docs/error-messages/compiler-errors-1/compiler-error-c2178.md
  docs/error-messages/compiler-errors-1/compiler-error-c2179.md
  docs/error-messages/compiler-errors-1/compiler-error-c2180.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#5543 Add missing `#endif` in `_{a,t,w}cmdln` reference
  docs/c-runtime-library/acmdln-tcmdln-wcmdln.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, ucrt/subsvc

#5444 Resolve wrong `stl::less` and clean up "Collections (C++/CX)"
  docs/cppcx/collections-c-cx.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, cpp-cx-lang/subsvc

#5499 Address more mistakes with italic inline code
  docs/atl-mfc-shared/reference/cimage-class.md
  docs/build/cmake-projects-in-visual-studio.md
  docs/mfc/reference/ccombobox-class.md
  docs/mfc/reference/cdc-class.md
  docs/mfc/reference/cwnd-class.md
  docs/standard-library/weekday-class.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, standard-libraries/subsvc

#5497 Fix mismatched double quotes in `f1_keywords` metadata
  docs/mfc/reference/cmemfile-class.md
  docs/standard-library/high-resolution-clock-struct.md
  docs/standard-library/local_t.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, standard-libraries/subsvc

#5498 Update "Checked Iterators" topic
  docs/standard-library/checked-iterators.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, standard-libraries/subsvc

#5506 Tweak Compiler Options Lists
  docs/build/reference/compiler-options-listed-alphabetically.md
  docs/build/reference/compiler-options-listed-by-category.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, tools/subsvc

#5514 Convert PGO errors and warnings list into a table
  docs/error-messages/tool-errors/profile-guided-optimization-errors-and-warnings.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#5513 Update old mentions of Win32 or x86 in "Set compiler and build properties"
  docs/build/working-with-project-properties.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, tools/subsvc

#5525 Fix mistakes and clean up "Microsoft C/C++ language conformance by Visual Studio version"
  docs/overview/visual-cpp-language-conformance.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, cpp-lang/subsvc

#5522 Structure error references in range [C2021, C2040]
  docs/error-messages/compiler-errors-1/compiler-error-c2021.md
  docs/error-messages/compiler-errors-1/compiler-error-c2022.md
  docs/error-messages/compiler-errors-1/compiler-error-c2023.md
  docs/error-messages/compiler-errors-1/compiler-error-c2024.md
  docs/error-messages/compiler-errors-1/compiler-error-c2025.md
  docs/error-messages/compiler-errors-1/compiler-error-c2026.md
  docs/error-messages/compiler-errors-1/compiler-error-c2027.md
  docs/error-messages/compiler-errors-1/compiler-error-c2028.md
  docs/error-messages/compiler-errors-1/compiler-error-c2030.md
  docs/error-messages/compiler-errors-1/compiler-error-c2031.md
  docs/error-messages/compiler-errors-1/compiler-error-c2032.md
  docs/error-messages/compiler-errors-1/compiler-error-c2033.md
  docs/error-messages/compiler-errors-1/compiler-error-c2034.md
  docs/error-messages/compiler-errors-1/compiler-error-c2035.md
  docs/error-messages/compiler-errors-1/compiler-error-c2036.md
  docs/error-messages/compiler-errors-1/compiler-error-c2037.md
  docs/error-messages/compiler-errors-1/compiler-error-c2038.md
  docs/error-messages/compiler-errors-1/compiler-error-c2039.md
  docs/error-messages/compiler-errors-1/compiler-error-c2040.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#5521 Remove more superfluous semicolons after function definition
  docs/atl/codesnippet/CPP/atl-collection-classes_1.cpp
  docs/c-runtime-library/reference/get-purecall-handler-set-purecall-handler.md
  docs/code-quality/c28208.md
  docs/cpp/class-templates.md
  docs/cpp/decltype-cpp.md
  docs/cpp/explicit-specialization-of-function-templates.md
  docs/cpp/explicitly-defaulted-and-deleted-functions.md
  docs/cpp/initializers.md
  docs/cpp/safebuffers.md
  docs/cpp/selectany.md
  docs/cpp/single-inheritance.md
  docs/cppcx/platform-object-class.md
  docs/dotnet/double-thunking-cpp.md
  docs/error-messages/compiler-errors-1/compiler-error-c2246.md
  docs/error-messages/compiler-errors-1/compiler-error-c2249.md
  docs/error-messages/compiler-errors-1/compiler-error-c2254.md
  docs/error-messages/compiler-errors-2/compiler-error-c2614.md
  docs/error-messages/compiler-errors-2/compiler-error-c2664.md
  docs/error-messages/compiler-errors-2/compiler-error-c2724.md
  docs/error-messages/compiler-errors-2/compiler-error-c2758.md
  docs/error-messages/compiler-errors-2/compiler-error-c2765.md
  docs/error-messages/compiler-errors-2/compiler-error-c3068.md
  docs/error-messages/compiler-errors-2/compiler-error-c3771.md
  docs/error-messages/compiler-warnings/compiler-warning-c4355.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4183.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4353.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4722.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4747.md
  docs/error-messages/tool-errors/math-error-m6111.md
  docs/porting/visual-cpp-change-history-2003-2015.md
  docs/porting/visual-cpp-what-s-new-2003-through-2015.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, cpp-lang/subsvc

#5517 Structure error references in range [C2001, C2020]
  docs/error-messages/compiler-errors-1/compiler-error-c2001.md
  docs/error-messages/compiler-errors-1/compiler-error-c2002.md
  docs/error-messages/compiler-errors-1/compiler-error-c2003.md
  docs/error-messages/compiler-errors-1/compiler-error-c2004.md
  docs/error-messages/compiler-errors-1/compiler-error-c2005.md
  docs/error-messages/compiler-errors-1/compiler-error-c2006.md
  docs/error-messages/compiler-errors-1/compiler-error-c2007.md
  docs/error-messages/compiler-errors-1/compiler-error-c2008.md
  docs/error-messages/compiler-errors-1/compiler-error-c2009.md
  docs/error-messages/compiler-errors-1/compiler-error-c2010.md
  docs/error-messages/compiler-errors-1/compiler-error-c2011.md
  docs/error-messages/compiler-errors-1/compiler-error-c2012.md
  docs/error-messages/compiler-errors-1/compiler-error-c2013.md
  docs/error-messages/compiler-errors-1/compiler-error-c2014.md
  docs/error-messages/compiler-errors-1/compiler-error-c2015.md
  docs/error-messages/compiler-errors-1/compiler-error-c2016.md
  docs/error-messages/compiler-errors-1/compiler-error-c2017.md
  docs/error-messages/compiler-errors-1/compiler-error-c2019.md
  docs/error-messages/compiler-errors-1/compiler-error-c2020.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc
