Repository MicrosoftDocs/cpp-docs, pull requests merged in 2025-01, with the labels that each got.

#5145 Prefer standard main function signatures
  docs/c-runtime-library/find-memory-leaks-using-the-crt-library.md
  docs/code-quality/c6387.md
  docs/sanitizers/asan-continue-on-error.md
  docs/sanitizers/error-stack-use-after-scope.md
  docs/standard-library/span-functions.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, visual-cpp/svc, standard-libraries/subsvc

#5144 Replace all single quotation marks with apostrophes
  docs/build-insights/tutorials/build-insights-function-view.md
  docs/build-insights/tutorials/build-insights-included-files-view.md
  docs/code-quality/c6394.md
  docs/ide/include-cleanup-config.md
  docs/ide/lnt-make-member-function-const.md
  docs/overview/what-s-new-for-visual-cpp-in-visual-studio.md
  docs/sanitizers/asan-continue-on-error.md
  docs/standard-library/iota-view-class.md
Labels: ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge

#5142 Elide extraneous periods
  docs/cppcx/fundamental-types-c-cx.md
  docs/mfc/reference/cdockablepane-class.md
  docs/parallel/concrt/reference/concurrent-unordered-map-class.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, visual-cpp/svc, parallel-programming/subsvc

#5152 Added F1 keywords
  docs/ide/refactoring/change-signature.md
  docs/ide/refactoring/extract-function.md
  docs/ide/refactoring/rename.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, visual-cpp/svc, ide/subsvc

#5158 MSBuild: Add PlatformToolset of VS2022 to guide
  docs/build/walkthrough-using-msbuild-to-create-a-visual-cpp-project.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, visual-cpp/svc, tools/subsvc

#5160 correction in variable declartion
  docs/cpp/program-and-linkage-cpp.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, visual-cpp/svc, cpp-lang/subsvc

#5161 Update C2006
  docs/error-messages/compiler-errors-1/compiler-error-c2006.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#5162 Standardize include directive formatting
  docs/build/creating-precompiled-header-files.md
  docs/c-runtime-library/reference/abort.md
  docs/c-runtime-library/reference/access-waccess.md
  docs/c-runtime-library/reference/dupenv-s-dbg-wdupenv-s-dbg.md
  docs/c-runtime-library/reference/dupenv-s-wdupenv-s.md
  docs/c-runtime-library/reference/strncnt-wcsncnt-mbsnbcnt-mbsnbcnt-l-mbsnccnt-mbsnccnt-l.md
  docs/code-quality/c6506.md
  docs/dotnet/how-to-access-characters-in-a-system-string.md
  docs/dotnet/how-to-define-and-consume-classes-and-structs-cpp-cli.md
  docs/error-messages/compiler-errors-2/compiler-error-c2893.md
  docs/error-messages/compiler-errors-2/compiler-error-c3867.md
  docs/standard-library/bad-alloc-class.md
  docs/standard-library/hash-map-class.md
  docs/standard-library/hash-multimap-class.md
  docs/standard-library/new-functions.md
  docs/standard-library/new-operators.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, standard-libraries/subsvc

#5164 Update the ABI to support Floating-Point Exceptions.
  docs/build/arm64-windows-abi-conventions.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, visual-cpp/svc, tools/subsvc

#5167 Update C2153
  docs/error-messages/compiler-errors-1/compiler-error-c2153.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc
