Repository MicrosoftDocs/cpp-docs, pull requests merged in 2025-05, with the labels that each got.

#5320 snprintf: fix typo
  docs/c-runtime-library/reference/snprintf-snprintf-snprintf-l-snwprintf-snwprintf-l.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, ucrt/subsvc

#5326 Update asan-known-issues.md for thread local vars
  docs/sanitizers/asan-known-issues.md
Labels: Change sent to author, ready-to-merge, visual-cpp/svc, tools/subsvc

#5331 Add missing space character after links
  docs/atl/reference/catltemporaryfile-class.md
  docs/c-runtime-library/data-alignment.md
  docs/error-messages/compiler-errors-2/compiler-error-c2978.md
  docs/mfc/reference/cbasepane-class.md
  docs/mfc/reference/cfont-class.md
  docs/mfc/reference/cmdiframewndex-class.md
  docs/mfc/reference/cmfcbasetabctrl-class.md
  docs/mfc/reference/cmfcvisualmanageroffice2003-class.md
  docs/mfc/reference/colecontrolsite-class.md
  docs/mfc/reference/coleipframewndex-class.md
  docs/mfc/reference/crebarctrl-class.md
  docs/mfc/reference/crgn-class.md
  docs/mfc/reference/ctabctrl-class.md
  docs/mfc/reference/cwinapp-class.md
  docs/mfc/reference/cwindowdc-class.md
  docs/mfc/tn002-persistent-object-data-format.md
  docs/parallel/amp/reference/accelerator-class.md
  docs/standard-library/set-functions.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, standard-libraries/subsvc

#5334 Resolve duplicate `_fpieee_flt` in "Microsoft C/C++ change history 2003 - 2015" page
  docs/porting/visual-cpp-change-history-2003-2015.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, cpp-lang/subsvc

#5335 Fix duplicate C4355 text in "Microsoft C/C++ compiler warnings C4200 through C4399" page
  docs/error-messages/compiler-warnings/compiler-warnings-c4200-through-c4399.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, errors-warnings/subsvc

#5337 Replace `&gt` character reference in metadata
  docs/standard-library/forward-list-operators.md
  docs/standard-library/optional-operators.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, standard-libraries/subsvc

#5340 Update asan-known-issues.md
  docs/sanitizers/asan-known-issues.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, tools/subsvc

#5346 Replace backslash with forward slash for "C++/CLI"
  docs/dotnet/how-to-define-and-consume-classes-and-structs-cpp-cli.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, visual-cpp/svc, cli-lang/subsvc

#5348 Fix inverted order of inline code and italics
  docs/build/clang-support-msbuild.md
  docs/build/reference/arch-arm64.md
  docs/build/reference/ifc-map.md
  docs/code-quality/c28159.md
  docs/code-quality/c6331.md
  docs/code-quality/c6383.md
  docs/error-messages/compiler-errors-1/compiler-error-c2440.md
  docs/error-messages/tool-errors/linker-tools-error-lnk2019.md
  docs/standard-library/chrono-operators.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, standard-libraries/subsvc

#5342 Fix mismatched error code in C3861 reference
  docs/error-messages/compiler-errors-2/compiler-error-c3861.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, errors-warnings/subsvc

#5345 Resolve invalid brace in `helpviewer_keywords` metadata
  docs/dotnet/reflection-cpp-cli.md
  docs/extensions/generic-interfaces-visual-cpp.md
  docs/mfc/activation-verbs.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, mfc-library/subsvc

#5355 Add missing code blocks and fix syntax in some standard library references
  docs/standard-library/basic-ostream-class.md
  docs/standard-library/bernoulli-distribution-class.md
  docs/standard-library/condition-variable-enums.md
  docs/standard-library/negative-binomial-distribution-class.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, standard-libraries/subsvc

#5358 Fix alloc/dealloc pair mistake in `alloc-dealloc-mismatch` ASan error reference
  docs/sanitizers/error-alloc-dealloc-mismatch.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, needs-human-review, visual-cpp/svc, tools/subsvc

#5363 Add missing space between links and some cleanups
  docs/c-runtime-library/buffer-manipulation.md
  docs/c-runtime-library/file-handling.md
  docs/c-runtime-library/locale.md
  docs/c-runtime-library/stream-i-o.md
  docs/c-runtime-library/time-management.md
  docs/cpp/declspec.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, cpp-lang/subsvc

#5362 Fix typo: Delcaration -> Declaration
  docs/cppcx/codesnippet/CPP/partialclassexample/class1.h
Labels: do-not-merge, review-team-triage, aq-pr-triaged, needs-human-review

#5371 Merge `f1_keywords` lines in "Linker tools errors and warnings"
  docs/error-messages/tool-errors/linker-tools-errors-and-warnings.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, errors-warnings/subsvc

#5370 Fix wrong remarks for `forward_list::emplace_front` and add backticks
  docs/standard-library/forward-list-class.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, standard-libraries/subsvc

#5369 Tweak C4789 warning reference
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4789.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, errors-warnings/subsvc

#5368 Add missing open brace in `<memory>` functions reference
  docs/standard-library/memory-functions.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, standard-libraries/subsvc

#5367 Refresh description for ASan error reference pages
  docs/sanitizers/error-allocation-size-too-big.md
  docs/sanitizers/error-calloc-overflow.md
  docs/sanitizers/error-container-overflow.md
  docs/sanitizers/error-double-free.md
  docs/sanitizers/error-dynamic-stack-buffer-overflow.md
  docs/sanitizers/error-global-buffer-overflow.md
  docs/sanitizers/error-heap-buffer-overflow.md
  docs/sanitizers/error-heap-use-after-free.md
  docs/sanitizers/error-invalid-allocation-alignment.md
  docs/sanitizers/error-memcpy-param-overlap.md
  docs/sanitizers/error-new-delete-type-mismatch.md
  docs/sanitizers/error-stack-buffer-overflow.md
  docs/sanitizers/error-stack-buffer-underflow.md
  docs/sanitizers/error-stack-use-after-return.md
  docs/sanitizers/error-stack-use-after-scope.md
  docs/sanitizers/error-strncat-param-overlap.md
  docs/sanitizers/error-use-after-poison.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, tools/subsvc

#5366 Update C++ Core Guideline links
  docs/code-quality/c26409.md
  docs/code-quality/c26414.md
  docs/code-quality/c26432.md
  docs/code-quality/c26437.md
  docs/code-quality/c26439.md
  docs/code-quality/c26441.md
  docs/code-quality/c26444.md
  docs/code-quality/c26449.md
  docs/code-quality/c26450.md
  docs/code-quality/c26452.md
  docs/code-quality/c26453.md
  docs/code-quality/c26454.md
  docs/code-quality/c26455.md
  docs/code-quality/c26478.md
  docs/code-quality/c26479.md
  docs/code-quality/c26494.md
  docs/code-quality/c26498.md
  docs/code-quality/c26815.md
  docs/code-quality/c26816.md
  docs/code-quality/c26817.md
  docs/code-quality/c26819.md
  docs/code-quality/c26820.md
  docs/code-quality/c26826.md
  docs/ide/include-cleanup-overview.md
  docs/ide/lnt-make-member-function-const.md
  docs/ide/lnt-uninitialized-local.md
  docs/overview/cpp-conformance-improvements.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, cpp-lang/subsvc
