Repository MicrosoftDocs/cpp-docs, pull requests merged in 2025-03, with the labels that each got.

#5215 Fix off-by-one error in Compiler Warnings by compiler version
  docs/error-messages/compiler-warnings/compiler-warnings-by-compiler-version.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, visual-cpp/svc, errors-warnings/subsvc

#5216 Elide extraneous leading empty lines in code snippets
  docs/c-language/extern-storage-class-specifier.md
  docs/c-runtime-library/reference/and.md
  docs/c-runtime-library/reference/bitand.md
  docs/c-runtime-library/reference/bitor.md
  docs/c-runtime-library/reference/crtcheckmemory.md
  docs/c-runtime-library/reference/crtdumpmemoryleaks.md
  docs/c-runtime-library/reference/kbhit.md
  docs/c-runtime-library/reference/mkdir-wmkdir.md
  docs/c-runtime-library/reference/not.md
  docs/c-runtime-library/reference/or-eq.md
  docs/c-runtime-library/reference/rmtmp.md
  docs/c-runtime-library/reference/rotl-rotl64-rotr-rotr64.md
  docs/c-runtime-library/reference/rtc-numerrors.md
  docs/code-quality/annotating-structs-and-classes.md
  docs/cpp/codesnippet/CPP/how-to-create-and-use-shared-ptr-instances_1.cpp
  docs/cpp/codesnippet/CPP/how-to-create-and-use-shared-ptr-instances_6.cpp
  docs/cpp/codesnippet/CPP/how-to-create-and-use-unique-ptr-instances_3.cpp
  docs/cpp/codesnippet/CPP/smart-pointers-modern-cpp_2.cpp
  docs/linux/deploy-run-and-debug-your-linux-project.md
  docs/mfc/codesnippet/CPP/accessing-the-embedded-month-calendar-control_2.cpp
  docs/mfc/codesnippet/CPP/cbitmapbutton-class_3.cpp
  docs/mfc/reference/codesnippet/CPP/cpagerctrl-class_5.cpp
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, linux-development/subsvc

#5214 Flip Compiler Warnings by compiler version table
  docs/error-messages/compiler-warnings/compiler-warnings-by-compiler-version.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, visual-cpp/svc, errors-warnings/subsvc

#5222 Fix some unclosed links
  docs/atl/atl-utilities-reference.md
  docs/atl/reference/ccommultithreadmodel-class.md
  docs/cppcx/platform-guid-value-class.md
  docs/data/odbc/odbc-and-mfc.md
  docs/mfc/reference/diagnostic-services.md
  docs/parallel/concrt/reference/invalid-scheduler-policy-thread-specification-class.md
  docs/parallel/concrt/reference/invalid-scheduler-policy-value-class.md
  docs/standard-library/output-file-stream-member-functions.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, standard-libraries/subsvc

#5219 Delete GitHub issue templates
  .github/ISSUE_TEMPLATE/new-c---2017-stl-library-documentation-topic-.md
  .github/ISSUE_TEMPLATE/new-c---2020-stl-library-documentation-topic-.md
  .github/ISSUE_TEMPLATE/new-c---2023-stl-library-documentation-topic.md
  .github/ISSUE_TEMPLATE/new-c---stl-library-doc-topic-.md
  .github/ISSUE_TEMPLATE/new-c--20-compiler-doc-topic.md
  .github/ISSUE_TEMPLATE/new-c--23-compiler-doc-topic.md
Labels: do-not-merge, review-team-triage, aq-pr-triaged, needs-human-review

#5221 Improve `CMFCButton` class reference
  docs/mfc/reference/cmfcbutton-class.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, mfc-library/subsvc

#5223 demotion-of-integers.md: Fix example
  docs/c-language/demotion-of-integers.md
Labels: Change sent to author, ready-to-merge, visual-cpp/svc, c-language/subsvc

#5228 Updates for `vector` class template reference
  docs/standard-library/vector-class.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, standard-libraries/subsvc

#5227 Clean up huge spacing in `base-clause` of C++/CX exception references
  docs/cppcx/platform-accessdeniedexception-class.md
  docs/cppcx/platform-changedstateexception-class.md
  docs/cppcx/platform-classnotregisteredexception-class.md
  docs/cppcx/platform-comexception-class.md
  docs/cppcx/platform-disconnectedexception-class.md
  docs/cppcx/platform-exception-class.md
  docs/cppcx/platform-failureexception-class.md
  docs/cppcx/platform-invalidargumentexception-class.md
  docs/cppcx/platform-invalidcastexception-class.md
  docs/cppcx/platform-notimplementedexception-class.md
  docs/cppcx/platform-nullreferenceexception-class.md
  docs/cppcx/platform-objectdisposedexception-class.md
  docs/cppcx/platform-operationcanceledexception-class.md
  docs/cppcx/platform-outofboundsexception-class.md
  docs/cppcx/platform-outofmemoryexception-class.md
  docs/cppcx/platform-wrongthreadexception-class.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, cpp-cx-lang/subsvc

#5226 Remove use of code block language `unstlib`
  docs/standard-library/deque-class.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, standard-libraries/subsvc

#5232 Fix missing comma in function prototypes
  docs/build-insights/reference/sdk/functions/stop-tracing-session.md
  docs/c-runtime-library/reference/cgets-s-cgetws-s.md
  docs/c-runtime-library/reference/cxxthrowexception.md
  docs/c-runtime-library/reference/recalloc.md
  docs/intrinsics/mm-insert-si64-mm-inserti-si64.md
  docs/mfc/reference/cwinapp-class.md
  docs/parallel/amp/reference/concurrency-direct3d-namespace-functions-amp.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, parallel-programming/subsvc

#5233 Add missing character to multiple `AnalyzeA` function link text
  docs/build-insights/reference/sdk/functions/stop-tracing-session-a.md
  docs/build-insights/reference/sdk/functions/stop-tracing-session-w.md
  docs/build-insights/reference/sdk/functions/stop-tracing-session.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, visual-cpp/svc, tools/subsvc

#5241 Clean up empty row in tables
  docs/dotnet/auto-gcroot-class.md
  docs/overview/what-s-new-for-visual-cpp-in-visual-studio.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, ide/subsvc

#5240 Fix more issues around backticks
  docs/cpp/bstr-t-assign.md
  docs/mfc/tn038-mfc-ole-iunknown-implementation.md
  docs/overview/what-s-new-for-visual-cpp-in-visual-studio.md
  docs/standard-library/chrono-functions.md
  docs/standard-library/month-weekday-last-class.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, standard-libraries/subsvc

#5239 Improve `<system_error>` functions page
  docs/standard-library/system-error-functions.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, standard-libraries/subsvc

#5238 Adjust `is_error_code_enum` and `is_error_condition_enum` syntax
  docs/standard-library/is-error-code-enum-class.md
  docs/standard-library/is-error-condition-enum-class.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, standard-libraries/subsvc

#5237 Remove extra period characters
  docs/cpp/microsoft-specific-modifiers.md
  docs/mfc/reference/cmdichildwndex-class.md
  docs/mfc/reference/cmfcribbonbar-class.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, mfc-library/subsvc

#5242 Remove more stray trailing escapes
  docs/assembler/masm/dot-code.md
  docs/build/reference/arch-arm64.md
  docs/build/reference/genprofile-fastgenprofile-generate-profiling-instrumented-build.md
  docs/build/reference/zc-tlsguards.md
  docs/c-runtime-library/reference/log-logf-log10-log10f.md
  docs/c-runtime-library/reference/strrchr-wcsrchr-mbsrchr-mbsrchr-l.md
  docs/code-quality/c28196.md
  docs/mfc/reference/cdockablepane-class.md
  docs/mfc/reference/cmfcpropertygridctrl-class.md
  docs/mfc/reference/cmfcpropertygridproperty-class.md
  docs/mfc/reference/cmfcribbonbar-class.md
  docs/mfc/reference/cmfctoolbar-class.md
  docs/mfc/reference/cwinappex-class.md
  docs/standard-library/unordered-map-class.md
Labels: Change sent to author, ready-to-merge, needs-human-review, visual-cpp/svc, standard-libraries/subsvc

#5244 Normalize C++ code block language to `cpp`
  docs/c-runtime-library/reference/floating-point-ordering.md
  docs/cpp/com-ptr-t-extractors.md
  docs/overview/cpp-conformance-improvements.md
Labels: Change sent to author, ready-to-merge, visual-cpp/svc, cpp-lang/subsvc

#5245 Update C2640 error reference
  docs/error-messages/compiler-errors-2/compiler-error-c2640.md
  docs/error-messages/compiler-errors-2/compiler-errors-c2600-through-c2699.md
Labels: Change sent to author, ready-to-merge, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#5243 Improve `<system_error>` operators reference
  docs/standard-library/system-error-operators.md
Labels: Change sent to author, ready-to-merge, needs-human-review, visual-cpp/svc, standard-libraries/subsvc

#5248 Fix "identifier" typos
  docs/error-messages/compiler-errors-1/compiler-error-c2283.md
  docs/error-messages/compiler-errors-1/compiler-errors-c2200-through-c2299.md
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4251.md
  docs/error-messages/compiler-warnings/compiler-warning-level-2-c4099.md
  docs/error-messages/compiler-warnings/compiler-warnings-c4000-through-c4199.md
  docs/error-messages/compiler-warnings/compiler-warnings-c4200-through-c4399.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, errors-warnings/subsvc

#5250 Update MSVC STL Changelog GitHub wiki links
  docs/overview/cpp-conformance-improvements.md
  docs/overview/what-s-new-for-visual-cpp-in-visual-studio.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, visual-cpp/svc, ide/subsvc

#5253 Update fopen-wfopen.md
  docs/c-runtime-library/reference/fopen-s-wfopen-s.md
  docs/c-runtime-library/reference/fopen-wfopen.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, ucrt/subsvc

#5254 Improve `/dynamicdeopt` compiler switch reference page
  docs/build/reference/dynamic-deopt.md
Labels: do-not-merge, Change sent to author, visual-cpp/svc, tools/subsvc

#5259 Update `__m64` reference page
  docs/cpp/m64.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, cpp-lang/subsvc

#5261 Add example for C28020 warning
  docs/code-quality/c28020.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, tools/subsvc

#5262 Remove escapes at the end of unordered list entries
  docs/c-runtime-library/ismbc-routines.md
  docs/c-runtime-library/language-strings.md
  docs/cpp/casting.md
  docs/cpp/modules-cpp.md
  docs/ide/navigate-code-cpp.md
  docs/mfc/windows-sockets-using-class-casyncsocket.md
  docs/sanitizers/asan-building.md
  docs/standard-library/wbuffer-convert-class.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, standard-libraries/subsvc

#5264 Clarify that arguments on the stack are 8-byte aligned.
  docs/build/x64-calling-convention.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, tools/subsvc

#5269 Tweak `/MD, /MT, /LD` reference title
  docs/build/reference/md-mt-ld-use-run-time-library.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, tools/subsvc

#5268 Fix empty `weekday_last` link in `<chrono>` functions page
  docs/standard-library/chrono-functions.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, standard-libraries/subsvc

#5267 Remove empty image in "Precompiled header files" article
  docs/build/creating-precompiled-header-files.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, tools/subsvc

#5266 Fix invalid `helpviewer_keywords` metadata for C6701 warning
  docs/code-quality/c6701.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, tools/subsvc

#5274 Clean up "Link options" reference
  docs/c-runtime-library/link-options.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, ucrt/subsvc

#5273 Adjust C4556 example
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4556.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#5272 Update C4799 warning page
  docs/error-messages/compiler-warnings/compiler-warning-level-1-c4799.md
  docs/error-messages/compiler-warnings/compiler-warnings-by-compiler-version.md
  docs/error-messages/compiler-warnings/compiler-warnings-c4600-through-c4799.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#5276 Disambiguate "Visual Studio Code" and "Visual Studio Code *"
  docs/code-quality/quick-start-code-analysis-for-c-cpp.md
  docs/code-quality/understanding-sal.md
  docs/code-quality/using-the-cpp-core-guidelines-checkers.md
  docs/embedded/toc.yml
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, tools/subsvc

#5277 Fix C2470 example
  docs/error-messages/compiler-errors-1/compiler-error-c2470.md
  docs/error-messages/compiler-errors-1/compiler-errors-c2400-through-c2499.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#5278 Augment C6296 warning reference
  docs/code-quality/c6296.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, tools/subsvc

#5279 Expand C2162 error page
  docs/error-messages/compiler-errors-1/compiler-error-c2162.md
  docs/error-messages/compiler-errors-1/compiler-errors-c2100-through-c2199.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#5282 Improve alert in "Declare Override Specifiers in Native Compilations"
  docs/dotnet/how-to-declare-override-specifiers-in-native-compilations-cpp-cli.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, cli-lang/subsvc

#5281 Update `CMFCPreviewCtrlImpl` class reference
  docs/mfc/reference/cmfcpreviewctrlimpl-class.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, needs-human-review, visual-cpp/svc, mfc-library/subsvc
