Repository MicrosoftDocs/cpp-docs, pull requests merged in 2025-02, with the labels that each got.

#5169 Update basic-string-class.md
  docs/standard-library/basic-string-class.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, visual-cpp/svc, standard-libraries/subsvc

#5170 Elide more extraneous periods
  docs/atl/reference/cw2wex-class.md
  docs/cpp/compiler-limits.md
  docs/cppcx/collections-c-cx.md
  docs/cppcx/platform-metadata-runtimeclassname.md
  docs/cppcx/value-classes-and-structs-c-cx.md
  docs/dotnet/deque-stl-clr.md
  docs/dotnet/how-to-do-ddx-ddv-data-binding-with-windows-forms.md
  docs/dotnet/list-stl-clr.md
  docs/dotnet/vector-stl-clr.md
  docs/mfc/reference/cd2dbitmap-class.md
  docs/mfc/reference/cmfcmenubar-class.md
  docs/mfc/reference/cmfcribbonfontcombobox-class.md
  docs/mfc/reference/cmousemanager-class.md
  docs/mfc/reference/coledocument-class.md
  docs/mfc/reference/coleserverdoc-class.md
  docs/mfc/reference/colestreamfile-class.md
  docs/mfc/reference/cspinbuttonctrl-class.md
  docs/parallel/concrt/reference/concurrency-namespace-functions.md
  docs/parallel/concrt/reference/concurrent-unordered-map-class.md
  docs/parallel/concrt/reference/concurrent-unordered-multimap-class.md
  docs/parallel/concrt/reference/concurrent-unordered-multiset-class.md
  docs/parallel/concrt/reference/concurrent-unordered-set-class.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, needs-human-review, visual-cpp/svc, parallel-programming/subsvc

#5175 Update stdcall.md
  docs/cpp/stdcall.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, visual-cpp/svc, cpp-lang/subsvc

#5176 Correct return value of `CTaskDialog::OnHelp()`
  docs/mfc/reference/ctaskdialog-class.md
Labels: Change sent to author, ready-to-merge, qualifies-for-auto-merge, visual-cpp/svc, mfc-library/subsvc

#5177 Update asan.md to remove PGO from supported optimization levels
  docs/sanitizers/asan.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, visual-cpp/svc, tools/subsvc

#5181 Clean up superfluous semicolons
  docs/standard-library/ctype-class.md
  docs/standard-library/raw-storage-iterator-class.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, visual-cpp/svc, standard-libraries/subsvc

#5179 Fix "the" typos
  docs/build/vscpp-step-2-build.md
  docs/mfc/reference/cd2dpathgeometry-class.md
  docs/mfc/reference/cmfcribbonbaseelement-class.md
  docs/overview/what-s-new-for-cpp-2017.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, visual-cpp/svc, ide/subsvc

#5180 Remove trailing comma in function prototypes
  docs/atl-mfc-shared/reference/cstringt-class.md
  docs/atl/reference/cstockpropimpl-class.md
  docs/c-runtime-library/reference/sopen-s-wsopen-s.md
  docs/intrinsics/arm-intrinsics.md
  docs/intrinsics/x86-intrinsics-list.md
  docs/mfc/reference/cgopherconnection-class.md
  docs/mfc/reference/cmfcdynamiclayout-class.md
  docs/standard-library/atomic-functions.md
  docs/standard-library/basic-string-class.md
  docs/standard-library/codecvt-class.md
  docs/standard-library/deque-functions.md
  docs/standard-library/insert-iterator-class.md
  docs/standard-library/queue-operators.md
  docs/standard-library/stack-operators.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, standard-libraries/subsvc

#5186 Address mistakes with italic inline code
  docs/c-runtime-library/reference/remquo-remquof-remquol.md
  docs/mfc/reference/cdc-class.md
  docs/mfc/reference/clistctrl-class.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, visual-cpp/svc, mfc-library/subsvc

#5190 Remove inadvertent newline in zc-lambda.md
  docs/build/reference/zc-lambda.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, visual-cpp/svc, tools/subsvc

#5189 Add example and augment C2200 page
  docs/error-messages/compiler-errors-1/compiler-error-c2200.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#5194 Correct mismatched quotes
  docs/assembler/masm/option-avxencoding-masm.md
  docs/atl-mfc-shared/reference/codesnippet/CPP/cfiledialog-class_3.cpp
  docs/error-messages/compiler-errors-1/compiler-error-c2394.md
  docs/error-messages/compiler-errors-1/compiler-fatal-errors-c999-through-c1999.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#5193 Add example for fatal error C1012
  docs/error-messages/compiler-errors-1/fatal-error-c1012.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, errors-warnings/subsvc

#5192 Fix typo
  docs/code-quality/build-reliable-secure-programs.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, visual-cpp/svc, tools/subsvc

#5197 Fix typo
  docs/build/vscpp-step-0-installation.md
  docs/build/vscpp-step-1-create.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, visual-cpp/svc, tools/subsvc

#5198 Prepend "C" to warning link texts
  docs/code-quality/c26450.md
  docs/code-quality/c26451.md
  docs/code-quality/c26452.md
  docs/code-quality/c26453.md
  docs/code-quality/c26454.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, visual-cpp/svc, tools/subsvc

#5199 Convert all right parenthesis in ordered lists to period
  docs/code-quality/c26488.md
  docs/code-quality/c26489.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, visual-cpp/svc, tools/subsvc

#5203 Tweaks for C6030 warning page
  docs/code-quality/c6030.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, visual-cpp/svc, tools/subsvc

#5202 Add missing space between asterisk and open parenthesis
  docs/c-runtime-library/heapset.md
  docs/c-runtime-library/reference/heapchk.md
  docs/c-runtime-library/reference/heapmin.md
  docs/cpp/unhook.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, visual-cpp/svc, cpp-lang/subsvc

#5205 Update guard-enable-control-flow-guard.md
  docs/build/reference/guard-enable-control-flow-guard.md
Labels: Change sent to author, ready-to-merge, needs-human-review, visual-cpp/svc, tools/subsvc

#5206 Fix typo
  docs/porting/build-system-changes.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, visual-cpp/svc, cpp-lang/subsvc

#5207 Fix typo
  docs/cppcx/delegates-c-cx.md
  docs/cppcx/platform-collections-namespace.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, visual-cpp/svc, cpp-cx-lang/subsvc

#5211 Update `CComCoClass` reference page
  docs/atl/reference/ccomcoclass-class.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge, visual-cpp/svc, atl-library/subsvc

#5212 Update error boilerplate include
  docs/error-messages/includes/error-boilerplate.md
Labels: ready-to-merge, review-team-triage, aq-pr-triaged, needs-human-review
