Repository MicrosoftDocs/cpp-docs, pull requests merged in 2025-04, with the labels that each got.

#5286 Remove trailing semicolon in `tuple_size` reference title and description
  docs/standard-library/tuple-size-class-tuple.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, standard-libraries/subsvc

#5285 Refresh "Inheritance (C++)"
  docs/cpp/inheritance-cpp.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review, visual-cpp/svc, cpp-lang/subsvc

#5284 Update ConcRT `transformer` class reference
  docs/parallel/concrt/reference/transformer-class.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, parallel-programming/subsvc

#5288 Fix typo
  docs/data/data-access-in-cpp.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, data-access/subsvc

#5290 Update walkthrough-using-msbuild-to-create-a-visual-cpp-project.md
  docs/build/walkthrough-using-msbuild-to-create-a-visual-cpp-project.md
Labels: Change sent to author, ready-to-merge, visual-cpp/svc, tools/subsvc

#5230 vsprintf articles update
  docs/c-runtime-library/reference/vsnprintf-s-vsnprintf-s-vsnprintf-s-l-vsnwprintf-s-vsnwprintf-s-l.md
  docs/c-runtime-library/reference/vsnprintf-vsnprintf-vsnprintf-l-vsnwprintf-vsnwprintf-l.md
  docs/c-runtime-library/reference/vsprintf-p-vsprintf-p-l-vswprintf-p-vswprintf-p-l.md
  docs/c-runtime-library/reference/vsprintf-vsprintf-l-vswprintf-vswprintf-l-vswprintf-l.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, ucrt/subsvc

#5296 Fix wrong image file name in get-started-linux-cmake.md
  docs/build/get-started-linux-cmake.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, tools/subsvc

#5299 cl.exe CLI clarify default for space being allowed between option and arg
  docs/build/reference/compiler-command-line-syntax.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, tools/subsvc

#5304 Fix invalid `/std` in `/Zc:alignedNew` reference
  docs/build/reference/zc-alignednew.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, tools/subsvc

#5303 Fix erroneous "C+AMP"
  docs/parallel/amp/using-accelerator-and-accelerator-view-objects.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, parallel-programming/subsvc

#5310 Fix malformed backticks in links
  docs/build/reference/ifc-map.md
  docs/cppcx/wrl/walkthrough-creating-a-windows-store-app-using-wrl-and-media-foundation.md
  docs/mfc/reference/cmfctoolbar-class.md
  docs/standard-library/range-adaptors.md
  docs/standard-library/utc-clock-class.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, standard-libraries/subsvc

#5313 Fix invalid range qualification
  docs/standard-library/range-adaptors.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, standard-libraries/subsvc

#5314 Fix misplaced forward slash in backtick enclosed flags
  docs/build/reference/keyfile-specify-key-or-key-pair-to-sign-an-assembly.md
  docs/build/reference/qspectre.md
  docs/build/reference/zc-ternary.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, tools/subsvc

#5315 Correct backticks wrongly including surrounding space
  docs/build/reference/idlout-name-midl-output-files.md
  docs/build/reference/pdb-use-program-database.md
  docs/build/reference/winmdfile-specify-winmd-file.md
  docs/build/understanding-manifest-generation-for-c-cpp-programs.md
  docs/standard-library/clock-time-conversion-struct.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, standard-libraries/subsvc

#5312 Resolve rogue ConcRT reference syntax
  docs/parallel/concrt/reference/concurrent-priority-queue-class.md
  docs/parallel/concrt/reference/concurrent-unordered-map-class.md
  docs/parallel/concrt/reference/concurrent-unordered-multimap-class.md
  docs/parallel/concrt/reference/concurrent-unordered-multiset-class.md
  docs/parallel/concrt/reference/concurrent-unordered-set-class.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, visual-cpp/svc, parallel-programming/subsvc
